<div style="background-color: #fff;">
  <div class="row" style="padding: 0 20px 0;">
    <nodestr></nodestr>
  </div>

  <hr class="mv10 clear">

  <div class="panel panel-primary">
    <div class="panel-time-task">
      <el-button class="btn btn-info panel-time-switch" type="submit" ng-click="historytimetask.handleOpen('switch')">
        {{'C3T.手动开关机'| translate }}
      </el-button>
      <div class="panel-time-task-right">
        <el-button class="btn btn-info panel-time-task-button" type="submit" ng-click="historytimetask.handleOpen('add')">
          {{'C3T.添加定时任务' |translate}}
        </el-button>
        <el-button class="btn btn-info panel-time-task-button" type="submit" ng-click="historytimetask.handleOpen('del')">
          {{'C3T.删除定时任务' | translate}}
        </el-button>
        <el-button class="btn btn-info panel-time-task-button" type="submit" ng-click="historytimetask.handleOpen('shield')">
          {{'C3T.临时屏蔽' | translate}}
        </el-button>
      </div>
    </div>
    <div class="panel-heading">
      <span class="panel-controls">
        <button class="btn btn-primary" uib-tooltip="{{'C3T.刷新'|translate}}" ng-click="historytimetask.reload()"><i
            class="fa fa-refresh fa-fw" ng-class="{'fa-spin':!historytimetask.loadover}"></i></button>
      </span>
      <h5>{{'C3T.定时任务列表'|translate}}</h5>
    </div>
    <div class="panel-body" ng-init='openc3_job_system_only=0'>
      <div class="panel-tabs" ng-init='calltype = { "page":"C3T.页面", "api":"API", "crontab":"C3T.计划任务" }'>
        <table ng-table="historytimetask.data_Table" class="table table-hover text-center table-condensed"  show-filter="true">
          <tr ng-repeat="ss in $data">
            <td data-title="'C3T.操作类型'|translate" filter="{ action: 'text'}">{{ss.action}}</td>
            <td data-title="'C3T.crontab时间格式'|translate" filter="{ crontab: 'text'}">{{ss.crontab}}</td>
            <td data-title="'C3T.执行节点'|translate" filter="{ node: 'text'}">{{ss.node}}</td>
            <td data-title="'C3T.编辑人'|translate" filter="{ editor: 'text'}">{{ss.editor}}</td>
            <td data-title="'C3T.开始时间'|translate" filter="{ start: 'text'}">
              <div ng-class="{'success': ss.startstat, 'error': !ss.startstat}">{{ss.start}}</div>
            </td>
            <td data-title="'C3T.结束时间'|translate" filter="{ end: 'text'}">
              <div ng-class="{'success': ss.endstat, 'error': !ss.endstat}">{{ss.end}}</div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>

</div>