<div class="modal-header">
    <h4  class="modal-title">添加到收藏夹</h4>
</div>
<div class="modal-body">
    <form class="form-horizontal" name="addForm" role="form">
        <div class="row">
            <div class="col-sm-10 form-group">
                <label class="col-sm-3 control-label">我给该流水线的别名</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="adduser" placeholder="流水线别名" ng-model="projectname" required>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-5 form-group pull-right">
                <button class="btn btn-primary" ng-disabled="addForm.$invalid" ng-click="addToFavorites.add()">确认</button>
                <button class="btn btn-warning" ng-click="addToFavorites.cancel()">取消</button>
            </div>
        </div>
    </form>

</div>

