<div class="modal-header">
    <h4  class="modal-title">{{'C3T.复制'|translate}} {{'C3T.流水线'|translate}}</h4>
</div>
<div class="modal-body">
    <form class="form-horizontal" name="addForm" role="form">
        <div class="row">
            <div class="col-sm-10 form-group">
                <label class="col-sm-3 control-label">{{'C3T.流水线名称'|translate}}</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="adduser" placeholder="{{'C3T.流水线名称'|translate}}" ng-model="projectname" required>
                </div>
            </div>
        </div>

        <div ng-if="!copyProject.toothertree" class="form-group admin-form">
            <label class="col-md-2 control-label fwbold" >{{'C3T.开关'|translate}}:</label>
            <div class="col-md-2">
                <label class="switch switch-system mt5">
                    <input type="checkbox" id="check_status" ng-model="copyProject.status">
                    <label for="check_status" data-on="ON" data-off="OFF"></label>
                </label>
            </div>
        </div>


        {{'C3T.克隆到其他服务树'|translate}}
        <a ng-if="copyProject.toothertree" class="fa fa-toggle-on fa-2x" data-toggle="tooltip" data-placement="left" uib-tooltip="复制流水线到其他服务树下" aria-hidden="true"style="padding-top: 11px;font-size: larger;" ng-click="copyProject.toothertree=0"></a>
        <a ng-if="!copyProject.toothertree" class="fa fa-toggle-off fa-2x" data-toggle="tooltip" data-placement="left" uib-tooltip="复制流水线到其他服务树下" aria-hidden="true"style="padding-top: 11px;font-size: larger;" ng-click="copyProject.toothertree=1"></a>


            <div ng-show="copyProject.toothertree" id="sidebar-scroll nav sidebar-menu">
                <div class="sidebar-content">
                    <div class="panel" style="margin: 0;">
                        <div class="panel-heading">
                            <span class="panel-title">TREE : {{'C3T.克隆到'|translate}} {{ copyProject.cloneNodeId }} : {{ copyProject.cloneNodeName }}</span>
                            <span class="panel-controls">
                                <a href="javascript:void(0)" ng-click="copyProject.focusCurrent()"><i class="fa fa-map-marker"></i></a>
                                <a href="javascript:void(0)" ng-click="copyProject.expandAll(true)"><i class="fa fa-plus"></i></a>
                                <a href="javascript:void(0)" ng-click="copyProject.expandAll(false)"><i class="fa fa-minus"></i></a>
                                <a href="javascript:void(0)" ng-click="copyProject.refresh()"><i class="treeFresh fa fa-refresh"></i></a>
                            </span>
                        </div>
                        <div class="panel-body prn" style=";padding: 0">
                            <perfect-scrollbar class="scroller" >
                                <ul class="ztree" id="openc3treeclone" ></ul>
                            </perfect-scrollbar>
                        </div>
                    </div>
                </div>
            </div>


        <div class="row">
            <div class="col-sm-5 form-group pull-right">
                <button class="btn btn-primary" ng-disabled="addForm.$invalid" ng-click="copyProject.add()">{{'C3T.确认'|translate}}</button>
                <button class="btn btn-warning" ng-click="copyProject.cancel()">{{'C3T.取消'|translate}}</button>
            </div>
        </div>
    </form>

</div>

