    <div class="row" style="padding: 10px 20px 0px;">
        <nodestr></nodestr> 
         <h4>({{runtask2ci.projectname}})</h4>
    </div>
    <div class="panel panel-primary" style="width: 100%">
        <div class="panel-body">
            <div class="form-horizontal">
                <form class="form-horizontal" name="runtask2ciForm"  role="form" novalidate>
                    <h3 style="margin: 0px" >机器列表</h3>
                    <div class="row" ng-repeat="group in runtask2ci.showIPstr">
                        <div class="col-sm-12 form-group">
                            <label class="col-sm-3 control-label">分组{{$index+1}}: ({{group.num}}台机器)
                            </label>
                            <div class="col-sm-9" style="padding-top: 10px">
                                <p ng-repeat="ip in group.infos">{{ip}}</p>
                           </div>
                       </div>
                   </div>

                   <hr style="margin: 5px">

                   <h3 style="margin: 0px" >发布步骤</h3>
                   <div class="row" ng-repeat="step in runtask2ci.jobStep" style="margin: 0px">
                        <div class="col-sm-12 form-group" style="margin-bottom: 0px" >
                            <label class="col-sm-3 control-label">第{{$index+1}}步:
                            </label>
                            <div class="col-sm-9" style="padding-top: 10px">
                                <p>{{step}}</p>
                           </div>
                       </div>
 
                   </div>

                   <hr style="margin: 5px">

                    <h3 ng-if="runtask2ci.noshowrollback === 0" >发布版本:
                        <a style="color: green;" >{{runtask2ci.version}}</a>
                    </h3>

                    <h3 ng-if="runtask2ci.noshowrollback > 0" >回滚版本:
                        <a style="color: red;" >{{runtask2ci.version}}</a>
                    </h3>

                    <div class="row" ng-if="runtask2ci.jobtype=='online' && runtask2ci.noshowrollback === 0 ">
                        <div ng-if="runtask2ci.lastversion.version" >
                             <label class="col-sm-9 control-label" style="padding: 1px" >最后一次成功发布的版本:{{runtask2ci.lastversion.version}} 时间: {{runtask2ci.lastversion.create_time}} 发布的任务 {{runtask2ci.lastversion.jobxuuid}} </label>
                             <div class="col-sm-3">
                                 <button class="btn btn-danger" style="padding: 0px" ng-disabled="runtask2ci.rollbacknoneeded" ng-click="runtask2ci.setRollbackVersion(runtask2ci.lastversion.version)">点击使用</button>
                             </div>
                        </div>
                        <div ng-if="!runtask2ci.lastversion.version" >
                             <label class="col-sm-9 control-label" style="padding: 1px" >没有发现可回滚版本，请手动填写回滚版本</label>
                        </div>
                        <div class="col-sm-10 form-group">
                                <label class="col-sm-3 control-label">回滚版本: &nbsp;</label>
                                <div class="col-sm-9"> <input type="text" class="form-control" ng-disabled="runtask2ci.rollbacknoneeded" ng-model="taskData.variable._rollbackVersion_" placeholder="回滚版本" required> </div>
                        </div>
                        <div class="col-sm-10 form-group admin-form">
                            <label class="col-sm-3 control-label fwbold" >无需回滚: &nbsp;</label>
                            <div class="col-sm-9">
                                <label class="switch switch-system mt5">
                                    <input type="checkbox" id="set_rollbacknoneeded" ng-model="runtask2ci.rollbacknoneeded" ng-click="runtask2ci.cleanRollbackVersion()">
                                    <label for="set_rollbacknoneeded" data-on="ON" data-off="OFF" ></label>
                                </label>
                            </div>
                        </div>
                    </div>
 
                    <div class="row" ng-repeat="ss in jobVar">
                        <div class="col-sm-10 form-group">
                            <div ng-if="ss.name != 'ip' && ss.name != 'version'" >
                                <label class="col-sm-3 control-label">{{ss.name}}: &nbsp;</label>
                                <div class="col-sm-9"> <input type="text" class="form-control" ng-model="taskData.variable[ss.name]" placeholder="填写任务变量" required> </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 form-group" style="margin-left: 40%;">
                            <button class="btn btn-primary" ng-disabled="runtask2ciForm.$invalid && !runtask2ci.rollbacknoneeded"  ng-click="runtask2ci.runTask()">确认</button>
                            <button class="btn btn-primary" ng-click="runtask2ci.cancel()">取消</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
