    <div class="row" style="padding: 10px 20px 0px;">
        <nodestr></nodestr> 
         <h4>({{runtask2ci.projectname}})</h4>
    </div>
    <div class="panel panel-primary" style="width: 100%">
        <div class="panel-body">
            <div class="form-horizontal">
                <form class="form-horizontal" name="runtask2ciForm"  role="form" novalidate>
                    <h3 style="margin: 0px" >{{'C3T.机器列表'|translate}}</h3>
                    <div ng-show="!taskData.variable._pip_" class="row" ng-repeat="group in runtask2ci.showIPstr">
                        <div class="col-sm-12 form-group">
                            <label class="col-sm-3 control-label">{{'C3T.分组'|translate}}{{$index+1}}: ({{group.num}}{{'C3T.台机器'|translate}})
                            </label>
                            <div class="col-sm-9" style="padding-top: 10px">
                                <p ng-repeat="ip in group.infos">{{ip}}</p>
                           </div>
                       </div>
                   </div>

                    <div ng-show="taskData.variable._pip_" class="row">
                        <div class="col-sm-12 form-group">
                            <label class="col-sm-3 control-label">{{'C3T.机器'|translate}}</label>
                            <div class="col-sm-9" style="padding-top: 10px">
                                <p>{{taskData.variable._pip_}}</p>
                            </div>
                       </div>
                   </div>

                   <hr style="margin: 5px">

                   <h3 style="margin: 0px" >{{'C3T.发布步骤'|translate}}</h3>
                   <div class="row" ng-repeat="step in runtask2ci.jobStep" style="margin: 0px">
                        <div class="col-sm-12 form-group" style="margin-bottom: 0px" >
                            <label class="col-sm-3 control-label">{{'C3T.步骤'|translate}} {{$index+1}}:
                            </label>
                            <div class="col-sm-9" style="padding-top: 10px">
                                <p>{{step}}</p>
                           </div>
                       </div>
 
                   </div>

                   <hr style="margin: 5px">

                    <h3 ng-if="runtask2ci.noshowrollback === 0 && runtask2ci.version" >{{'C3T.发布版本'|translate}}:
                        <a style="color: green;" >{{runtask2ci.version}}</a>
                    </h3>

                    <div class="col-sm-10 form-group" ng-if="!runtask2ci.version">
                            <label class="col-sm-3 control-label">{{'C3T.发布版本'|translate}}: &nbsp;</label>
                            <div class="col-sm-8"> <input type="text" class="form-control"  ng-model="runtask2ci.deployversioncurrent" placeholder="{{'C3T.发布版本'|translate}}" required> </div>
                            <div class="col-sm-1"> 
                            </div>
                    </div>

                    <div class="col-sm-10 form-group" ng-if="!runtask2ci.version">
                            <label class="col-sm-3 control-label">{{'C3T.版本描述'|translate}}: &nbsp;</label>
                            <div class="col-sm-8"> <input type="text" class="form-control"  ng-model="runtask2ci.describeversioncurrent" placeholder="{{'C3T.描述信息，可以写中文'|translate}}"> </div>
                            <div class="col-sm-1"> 
                            </div>
                    </div>


                    <h3 ng-if="runtask2ci.noshowrollback > 0" >{{'C3T.回滚版本'|translate}}:
                        <a style="color: red;" >{{runtask2ci.version}}</a>
                    </h3>

                    <div class="row" ng-if="runtask2ci.jobtype=='online' && runtask2ci.noshowrollback === 0 ">
                        <div ng-if="runtask2ci.lastversion.version" >
                             <label class="col-sm-9 control-label" style="padding: 1px" >{{'C3T.最后一次成功发布的版本'|translate}}:{{runtask2ci.lastversion.version}} {{'C3T.时间'|translate}}: {{runtask2ci.lastversion.create_time}} {{'C3T.发布的任务'|translate}} {{runtask2ci.lastversion.jobxuuid}} </label>
                             <div class="col-sm-3">
                                 <button class="btn btn-danger" style="padding: 0px" ng-disabled="runtask2ci.rollbacknoneeded" ng-click="runtask2ci.setRollbackVersion(runtask2ci.lastversion.version)">{{'C3T.点击使用'|translate}}</button>
                             </div>
                        </div>
                        <div ng-if="!runtask2ci.lastversion.version" >
                             <label class="col-sm-9 control-label" style="padding: 1px" >{{'C3T.没有发现可回滚版本，请手动填写回滚版本'|translate}}</label>
                        </div>

                        <div class="col-sm-10 form-group" ng-show="runtask2ci.advancedconfig==0">
                                <label class="col-sm-3 control-label">{{'C3T.回滚版本'|translate}}: &nbsp;</label>
                                <div class="col-sm-8"> 
                                    <select class="form-control" ng-disabled="runtask2ci.rollbacknoneeded" ng-model="taskData.variable._rollbackVersion_" >
                                         <option ng-repeat="x in runtask2ci.versionlist" value="{{x.name}}">{{x.create_time}} = {{x.name}} </option>
                                    </select>
                                </div>
                                <div class="col-sm-1"> 
                                    <a ng-if="runtask2ci.advancedconfig" class="fa fa-toggle-on fa-2x" data-toggle="tooltip" data-placement="left" uib-tooltip="{{'C3T.选择版本'|translate}}" aria-hidden="true"style="padding-top: 11px;font-size: larger;" ng-click="runtask2ci.advancedconfig=0"></a>
                                    <a ng-if="!runtask2ci.advancedconfig" class="fa fa-toggle-off fa-2x" data-toggle="tooltip" data-placement="left" uib-tooltip="{{'C3T.手写版本'|translate}}" aria-hidden="true"style="padding-top: 11px;font-size: larger;" ng-click="runtask2ci.advancedconfig=1"></a>
                                </div>
                        </div>
 
                        <div class="col-sm-10 form-group" ng-show="runtask2ci.advancedconfig==1">
                                <label class="col-sm-3 control-label">{{'C3T.回滚版本'|translate}}: &nbsp;</label>
                                <div class="col-sm-8"> <input type="text" class="form-control" ng-disabled="runtask2ci.rollbacknoneeded" ng-model="taskData.variable._rollbackVersion_" placeholder="{{'C3T.回滚版本'|translate}}" required> </div>
                                <div class="col-sm-1"> 
                                    <a ng-if="runtask2ci.advancedconfig" class="fa fa-toggle-on fa-2x" data-toggle="tooltip" data-placement="left" uib-tooltip="{{'C3T.选择版本'|translate}}" aria-hidden="true"style="padding-top: 11px;font-size: larger;" ng-click="runtask2ci.advancedconfig=0"></a>
                                    <a ng-if="!runtask2ci.advancedconfig" class="fa fa-toggle-off fa-2x" data-toggle="tooltip" data-placement="left" uib-tooltip="{{'C3T.手写版本'|translate}}" aria-hidden="true"style="padding-top: 11px;font-size: larger;" ng-click="runtask2ci.advancedconfig=1"></a>
                                </div>
 
                        </div>
                        <div class="col-sm-10 form-group admin-form">
                            <label class="col-sm-3 control-label fwbold" >{{'C3T.无需回滚'|translate}}: &nbsp;</label>
                            <div class="col-sm-9">
                                <label class="switch switch-system mt5">
                                    <input type="checkbox" id="set_rollbacknoneeded" ng-model="runtask2ci.rollbacknoneeded" ng-click="runtask2ci.cleanRollbackVersion()">
                                    <label for="set_rollbacknoneeded" data-on="ON" data-off="OFF" ></label>
                                </label>
                            </div>
                        </div>
                    </div>
 
                    <div class="row" ng-repeat="ss in jobVar">
                        <div ng-show="!runtask2ci.varsvalue[ss.name]" class="col-sm-10 form-group">
                            <div ng-if="ss.name != 'ip' && ss.name != 'version'" >
                                <label class="col-sm-3 control-label">{{ss.name}}: &nbsp;</label>
                                <div class="col-sm-9"> <input type="text" class="form-control" ng-model="taskData.variable[ss.name]" placeholder="{{ss.describe}}" ng-change="runtask2ci.checkinput(taskData.variable[ss.name],ss.name)" required> </div>
                            </div>

                        </div>
                        <div ng-show="runtask2ci.varsvalue[ss.name]" class="col-sm-10 form-group">
                            <div ng-if="ss.name != 'ip' && ss.name != 'version'" >
                                <label class="col-sm-3 control-label">{{ss.name}}: &nbsp;</label>
                                <div ng-show="!runtask2ci.handwritten[ss.name]" class="col-sm-8">
                                    <select  class="form-control " style="font-size: 15px;height: 42px"  ng-model="taskData.variable[ss.name]" ng-options="n for n in runtask2ci.varsvalue[ss.name]" required>
                                    </select>
                                </div>
                                <div ng-show="runtask2ci.handwritten[ss.name]" class="col-sm-8">
                                    <input type="text" class="form-control" ng-model="taskData.variable[ss.name]" placeholder="{{ss.describe}}" ng-change="runtask2ci.checkinput(taskData.variable[ss.name],ss.name)" required>
                                </div>
 
                                <div class="col-sm-1" ng-if="ss.name != 'tester' && ss.name != 'approver'"> 
                                    <a ng-if="runtask2ci.handwritten[ss.name]" class="fa fa-toggle-on fa-2x" data-toggle="tooltip" data-placement="left" uib-tooltip="{{'C3T.选择'|translate}}" aria-hidden="true"style="padding-top: 11px;font-size: larger;" ng-click="runtask2ci.handwritten[ss.name]=0"></a>
                                    <a ng-if="!runtask2ci.handwritten[ss.name]" class="fa fa-toggle-off fa-2x" data-toggle="tooltip" data-placement="left" uib-tooltip="{{'C3T.手写'|translate}}" aria-hidden="true"style="padding-top: 11px;font-size: larger;" ng-click="runtask2ci.handwritten[ss.name]=1"></a>
 
                               </div>
                            </div>

                        </div>
 
                        <div class="col-sm-10 form-group" ng-if=" runtask2ci.error[ss.name]">
                            <div ng-if="ss.name != 'ip' && ss.name != 'version'" >
                                <label class="col-sm-3 control-label"></label>
                                <div class="col-sm-9">
                                    <a style="color: red">{{'C3T.警告'|translate}}:{{runtask2ci.error[ss.name]}}</a>
                                </div>
                            </div>
                        </div>
 
                        <div class="col-sm-10 form-group">
                            <div ng-if="ss.name != 'ip' && ss.name != 'version'" >
                                <label class="col-sm-3 control-label"></label>
                                <div class="col-sm-9">
                                    <a style="color: #666">{{ss.describe}}</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-10 form-group">
                            <div ng-if="ss.name == '_pip_' " >
                                <label class="col-sm-3 control-label"></label>
                                <div class="col-sm-9">
                                    <button class="btn btn-primary ng-binding" ng-click="runtask2ci.choiceServer()">{{'C3T.选择服务器批次'|translate}} {{choiceServerNum}}</button>
                                    {{runtask2ci.machineList}}
                                </div>
                            </div>
                        </div>
 
                    </div>

                    <div class="row">
                        <div class="col-sm-3 form-group" style="margin-left: 40%;">
                            <button ng-if="!runtask2ci.loadover" class="btn btn-primary" ng-disabled="1" ><i class="fa fa-refresh fa-fw" ng-class="{'fa-spin':!runtask2ci.loadover}" ></i>{{'C3T.加载中'|translate}}...</button>
                            <button ng-if="runtask2ci.loadover"  class="btn btn-primary" ng-disabled="runtask2ciForm.$invalid" ng-click="runtask2ci.runTask()">{{'C3T.确认'|translate}}</button>
                            <button class="btn btn-primary" ng-click="runtask2ci.cancel()">{{'C3T.取消'|translate}}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
