    <div class="row" style="padding: 10px 20px 0px;">
        <nodestr></nodestr> 
         <h4>({{runtask2ci.projectname}})</h4>
    </div>
    <div class="panel panel-primary" style="width: 100%">
        <div class="panel-body">
            <div class="form-horizontal">
                <form class="form-horizontal" name="runtask2ciForm"  role="form" novalidate>
                    <div class="row">
                        <div class="col-sm-10 form-group">
                        </div>
                    </div>

                    <h3>机器列表</h3>
                    <div class="row" ng-repeat="group in runtask2ci.showIPstr">
                        <div class="col-sm-12 form-group">
                            <label class="col-sm-3 control-label">分组{{$index+1}}: ({{group.num}}台机器)
                            </label>
                            <div class="col-sm-9" style="padding-top: 10px">
                                <p ng-repeat="ip in group.infos">{{ip}}</p>
                           </div>
                       </div>
                   </div>

                   <hr>

                   <h3>发布步骤</h3>
                   <div class="row" ng-repeat="step in runtask2ci.jobStep">
                        <div class="col-sm-12 form-group">
                            <label class="col-sm-3 control-label">第{{$index+1}}步:
                            </label>
                            <div class="col-sm-9" style="padding-top: 10px">
                                <p>{{step}}</p>
                           </div>
                       </div>
 
                   </div>


                   <hr>

                    <div class="row" ng-if="runtask2ci.jobtype=='online'">
                        <div ng-repeat="version in runtask2ci.versions" class="col-lg-12 col-xs-12 ml0 pl0">
                           <h3>线上版本</h3>
                           <div class="panel panel-default" style="box-shadow: -2px 0 10px 3px rgba(0,0,0,.1);">
                               <div class="panel-body" style="margin-top: 20px">
                                   <div id="task{{version}}" style="height:150px"></div>
                               </div>
                            </div>
                        </div>
                    </div>


                    <h3>版本:{{runtask2ci.version}}</h3>
                    <div class="row" ng-if="runtask2ci.jobtype=='online'">
                        <div class="col-sm-10 form-group">
                                <label class="col-sm-3 control-label">回滚版本: &nbsp;</label>
                                <div class="col-sm-9"> <input type="text" class="form-control" ng-model="taskData.variable._rollbackVersion_" placeholder="回滚版本" required> </div>
                            </div>

                        </div>
                    </div>
 
                    <div class="row" ng-repeat="ss in jobVar">
                        <div class="col-sm-10 form-group">
                            <div ng-if="ss.name != 'ip' && ss.name != 'version'" >
                                <label class="col-sm-3 control-label">{{ss.name}}: &nbsp;</label>
                                <div class="col-sm-9"> <input type="text" class="form-control" ng-model="taskData.variable[ss.name]" placeholder="填写任务变量" required> </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 form-group" style="margin-left: 40%;">
                            <button class="btn btn-primary" ng-disabled="runtask2ciForm.$invalid"  ng-click="runtask2ci.runTask()">确认</button>
                            <button class="btn btn-primary" ng-click="runtask2ci.cancel()">取消</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
