<div class="row block">

    <div class="panel panel-primary">

        <div class="panel-heading">
            <h5> {{ showlog.nodeStr }}</h5>
        </div>


        <div class="panel-body">
                <textarea class="fluid-width" id="logDetail" style="height:400px;background:#000; color:#FFF" readonly="readonly" ng-model="showlog.logDetail"></textarea>
        </div>

        <div class="panel-footer text-right">
            <button class="btn btn-warning" ng-click="showlog.cancel()">关闭</button>
        </div>

    </div>

</div>

