<div class="row block">
    <h2>私有节点管理</h2>
    <hr class="mv20 clear">

    <div>
        <div style="float: right;">
            <form class="form-inline" name="myForm" novalidate>
                <button type="submit" class="btn btn-primary" style="padding: 10px 25px" ng-click="private.createPrivate()"><i class="fa fa-plusecircle fa-lg" aria-hidden="true"></i> 添加用户</button>
            </form>
        </div>
        <div style="clear: both;">&nbsp;</div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <span class="panel-controls">
                <button class="btn btn-primary" uib-tooltip="刷新" ng-click="private.reload()" ><i class="fa fa-refresh fa-fw" ng-class="{'fa-spin':!private.loadover}" ></i></button>
            </span>
            <h5>用户</h5>
        </div>

        <div class="panel-body">
            <div class="pt20" style="overflow: auto;">
                <table ng-table="private.dataTable" class="table table-scroll table-hover text-center table-condensed" show-filter="true">
                    <tr ng-repeat="m in $data">
                        <td width="60" class="textcenter" data-title="'ID'" filter="{ id: 'text'}" sortable="'id'"> {{m.id}} </td>
                        <td data-title="'用户'" width="80" filter="{ user: 'text'}" sortable="'user'">{{m.user}}</td>
                        <td data-title="'添加操作人'" width="80" filter="{ edit_user: 'text'}" sortable="'edit_user'">{{m.edit_user}}</td>
                        <td data-title="'添加时间'" width="80" filter="{ edit_time: 'text'}" sortable="'edit_time'">{{m.edit_time}}</td>
                        <td data-title="'操作'" width="80" >
                            <i class="fa fa-edit fa-2x" aria-hidden="true" ui-sref="home.business.machine({treeid: {{m.id}}})" uib-tooltip="机器管理" style="cursor:pointer;" >管理机器</i>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
