.configuration-table-style {
  margin: 0;
  &-td {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.configuration-create-button {
  margin-bottom: 20px
}

.operate-delete-danger {
  color: red;
}

.default-style {
  background-color: #d9edf7!important;
}