<div class="modal-header">
    <h4  class="modal-title">{{'C3T.填写空变量'|translate}}</h4>
</div>
<div>
    <form name="varForm">
    <div class="panel-tabs" style="width: 100%">
        <table class="table table-hover text-center table-condensed">
            <thead>
            <tr>
                <th style="text-align: center;">#</th>
                <th style="text-align: center;">{{'C3T.变量名'|translate}}</th>
                <th style="text-align: center;">{{'C3T.值'|translate}}</th>
                <th style="text-align: center;">{{'C3T.描述'|translate}}</th>
            </tr>
            </thead>
            <tr ng-repeat="ss in emptyvars.emptyVar">
                <td style="width: 5%">{{$index}}</td>
                <td ><input type="text" class="form-control input-global" ng-model="ss.name" readonly></td>
                <td ><input type="text" class="form-control input-global" ng-model="ss.value"  required></td>
                <td ><input type="text" class="form-control input-global" ng-model="ss.describe" readonly></td>
            </tr>
        </table>
    </div>
    <div class="row">
        <div class="col-sm-5 form-group pull-right">
            <button class="btn btn-primary" ng-disabled="varForm.$invalid" ng-click="emptyvars.inputOver()">{{'C3T.确认'|translate}}</button>
            <button class="btn btn-warning" ng-click="emptyvars.cancel()">{{'C3T.取消'|translate}}</button>
        </div>
    </div>
    </form>
</div>

