{
#  "extends": "eslint:recommended",
#  "plugins": ["angular"],
  "env": {
    "browser": true,
    "jasmine": true,
    "jquery": true,
    "es6": true
  },
  "globals": {
    "angular": true,
    "module": true,
    "inject": true
  }
}
