<div class="row block">

    <div class="col-lg-3 col-xs-12 ml0 pl0" style="padding-left: 0">
        <div class="panel panel-default" style="box-shadow: -2px 0 10px 3px rgba(0,0,0,.1);">
            <div class="panel-heading">
                <h4 class="kb_title">业务主机数</h4>
            </div>
            <div class="panel-body">
                <div style="font-size: 45px;font-weight: bold;text-align: center;height: 115px;">
                    <span>{{businessCount}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xs-12 ml0 pl0" style="padding-left: 0">
        <div class="panel panel-default" style="box-shadow: -2px 0 10px 3px rgba(0,0,0,.1);">
            <div class="panel-heading">
                <h4 style="font-weight: bold;color: #337ab7">常用作业数</h4>
            </div>
            <div class="panel-body">
                <div style="font-size: 45px;font-weight: bold;text-align: center;height: 115px;">
                    <span>{{commonCount}}</span>
                </div>

            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xs-12 ml0 pl0" style="padding-left: 0">
        <div class="panel panel-default" style="box-shadow: -2px 0 10px 3px rgba(0,0,0,.1);">
            <div class="panel-heading">
                <h4 style="font-weight: bold;color: #337ab7">本月执行任务数</h4>
            </div>
            <div class="panel-body" >
                <div style="font-size: 45px;font-weight: bold;text-align: center;">
                    <span>{{monthTask}}</span>
                </div>
                <div style="font-size: 12px;font-weight: bold;text-align: left;">
                    <p style="margin: 0;color: green;">成功：{{success}}</p>
                    <p style="margin: 0;color: red">失败：{{fail}}</p>
                    <p style="margin: 0;color: #f19e01">执行中：{{running}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xs-12 ml0 pl0" style="padding-left: 0">
        <div class="panel panel-default" style="box-shadow: -2px 0 10px 3px rgba(0,0,0,.1);">
            <div class="panel-heading">
                <h4 style="font-weight: bold;color: #337ab7">定时任务数</h4>
            </div>
            <div class="panel-body">
                <div style="font-size: 45px;font-weight: bold;text-align: center;height: 82px;">
                    <span>{{crontCount}}</span>
                </div>
                <div style="font-size: 12px;font-weight: bold;text-align: left;">
                    <p style="margin: 0;color: green">启动：{{available}}</p>
                    <p style="margin: 0;color: red">暂停：{{unavailable}}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12 col-xs-12 ml0 pl0" style="padding-left: 0">

        <div class="panel panel-default" style="box-shadow: -2px 0 10px 3px rgba(0,0,0,.1);">

            <div class="panel-heading">
                <h4 style="font-weight: bold;color: #337ab7">历史任务执行情况</h4>
            </div>

            <div class="panel-body" style="margin-top: 20px">
                <div id="container" style=""></div>
            </div>
        </div>
    </div>
    <div class="col-lg-5 col-xs-12 ml0 pl0" style="padding-left: 0">
        <div class="panel panel-default" style="box-shadow: -2px 0 10px 3px rgba(0,0,0,.1);">

            <div class="panel-heading">
                <h4 style="font-weight: bold;color: #337ab7">任务执行时长统计</h4>
            </div>

            <div class="panel-body">
                <div id="container2" style="min-width:400px;height:400px"></div>
            </div>
        </div>
    </div>

    <div class="col-lg-7 col-xs-12 ml0 pl0" style="padding-left: 0">
        <div class="panel panel-default" style="box-shadow: -2px 0 10px 3px rgba(0,0,0,.1);">

            <div class="panel-heading">
                <h4 style="font-weight: bold;color: #337ab7">最近任务执行记录</h4>
            </div>

            <div class="panel-body">
                <div style="height: 25px;">
                    <a style="right: 0;position: absolute;margin-right: 20px;" ui-sref="home.history.job({treeid: dashboard.treeid})"  class="animated animated-short fadeInUp">
                        <span>更多</span>
                    </a>
                </div>
                <div class="panel-tabs">
                    <table ng-table="dashboard.data_Table" class="table table-hover text-center table-condensed">
                        <tr ng-repeat="ss in $data" style="height: 35px;">
                            <td data-title="'执行用户'">{{ss.user}}</td>
                            <td data-title="'耗时'">{{dashboard.seftime(ss.starttime, ss.finishtime)}}</td>
                            <td data-title="'当前状态'">{{dashboard.statuszh[ss.status]}}</td>
                            <td data-title="'作业名称'">
                                <a ng-if="!dashboard.ciinfo[ss.name]">{{ss.name}}</a>
                                <a ng-if="dashboard.ciinfo[ss.name]" >{{dashboard.ciinfo[ss.name]}}</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>


</div>
