#footer {
    width: 100%;
    padding: 7px 20px;
    background-color: #f63;
    color: #FFFFFF;
    font-size: 12px;
    text-align: right;
    position: absolute;
    bottom:0;
    height:30px;
}

#totop {
    position: fixed;
    bottom: 40px;
    right: 1.5%;
    display: none;
    z-index: 9999;
    background: transparent;
    border: 3px solid #e52;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    text-align: center;
}
#totop i {
    color: #e52;
    line-height: 40px;
    font-size: 33px;
}
#totop:hover {
    background: #e52;
}
#totop:hover i {
    color: #ffffff;
}
