*.swp
.DS_Store
*.old
open-c3.sh
AGENT/conf/
AGENT/cripts/*.pub
JOB/conf/
JOBX/conf/
Connector/conf/
Connector/config.ini/2*
Connector/config.ini/current
CI/conf/
c3-front/node_modules/
c3-front/bower_components/
c3-front/coverage/
c3-front/.sass-cache/
c3-front/.idea/
c3-front/.tmp/
c3-front/dist/
c3-front/package-lock.json
Installer/JOB/mysql/db
Installer/JOB/JOB/auth
Installer/install-cache
