*.swp
.DS_Store
*.old
open-c3.sh
AGENT/conf/
AGENT/scripts/*.pub
AGENT/scripts/agent.udp.tar.gz
AGENT/scripts/agent.mon.tar.gz
AGENT/agent.mon/data/node_exporter
JOB/conf/
JOB/downloadpath/
JOBX/conf/
Connector/conf/
Connector/config.ini/2*
Connector/config.ini/current
Connector/.versionlog
Connector/.versionname
Connector/.versionuuid
Connector/.versiontime
CI/conf/
c3-front/node_modules/
c3-front/bower_components/
c3-front/coverage/
c3-front/.sass-cache/
c3-front/.idea/
c3-front/.tmp/
c3-front/dist/
c3-front/package-lock.json
approve-front/node_modules/
approve-front/bower_components/
approve-front/coverage/
approve-front/.sass-cache/
approve-front/.idea/
approve-front/.tmp/
approve-front/dist/
approve-front/package-lock.json
Installer/JOB/mysql/db
Installer/JOB/JOB/auth
Installer/install-cache
Installer/dev-cache
Installer/JOB/mysql/init/init.sql
Installer/C3/.env
MYDan/
Installer/C3/mysql/db/
Installer/C3/mysql/init/init.sql
web-shell/node_modules/
AGENT/scripts/installAgent.sh
AGENT/scripts/installProxy.sh
Installer/cluster/init/glusterfs/conf
Connector/mysql.config-*
Installer/C3/docker-compose-private.yml
prometheus/config/openc3_node_sd.yml
prometheus/config/prometheus.yml
prometheus/config/openc3_rule.yml
prometheus/config/openc3_carry.yml
alertmanager/config/alertmanager.yml
AGENT/sender/sender*
lua/config/lua/sso.lua
AGENT/config/mysql-exporter.conf
AGENT/config/redis-exporter.conf
prometheus/config/openc3_mysql_sd.yml
prometheus/config/openc3_mysql_sd_v3.yml
prometheus/config/openc3_redis_sd.yml
prometheus/config/openc3_redis_sd_v3.yml
lua/lualib
.uuid
lua/config/lua/sso.temp.lua
exporter/aliyun-exporter/conf/aliyun-exporter.yml
exporter/cloudeye-exporter/conf/clouds.yml
prometheus/config/openc3_cloudmon_sd.yml
prometheus/config/openc3_cloudmon_sd_prometheus-federate.yml
AGENT/c3demoslave/.env
Connector/local/
AGENT/device/run/
AGENT/device/conf/config.yml
AGENT/device/conf/account/
.idea
AGENT/lib/api/monitor/config/rule.tpl/usr.*
Installer/C3/cloudeye-exporter/clouds.yml
Installer/C3/cloudeye-exporter/temp
*.pyc
Connector/pp/agenti/.addr
Connector/pp/agenti/.version
Connector/pp/treex/data/*.csv
Connector/tt/tt-front/bower_components
Connector/tt/tt-front/node_modules
Connector/tt/tt-front/package-lock.json
Connector/tt/tt-front/dist
Connector/tt/tt-front/.tmp
Connector/tt/trouble-ticketing/trouble-ticketing
Connector/tt/trouble-ticketing/tmp
prometheus/config/targets/blackbox-exporter-http.yml
prometheus/config/openc3_mongodb_sd_v3.yml
Installer/C3/tencentcloud-exporter/temp
Installer/C3/pkg/tempdata
Installer/C3/pkg/perl/perl.tar.gz
Installer/C3/pkg/install-cache/install-cache
Installer/C3/pkg/install-cache/install-cache.tar.gz
Installer/C3/pkg/dev-cache/dev-cache
Installer/C3/pkg/dev-cache/dev-cache.tar.gz
Installer/C3/pkg/book/book
Installer/C3/pkg/book/book.tar.gz
Installer/C3/pkg/mysql/mysql
Installer/C3/pkg/python3/python3.tar.gz
Connector/pkg
