*.swp
.DS_Store
*.old
open-c3.sh
AGENT/conf/
AGENT/scripts/*.pub
JOB/conf/
JOB/downloadpath/
JOBX/conf/
Connector/conf/
Connector/config.ini/2*
Connector/config.ini/current
Connector/.versionlog
Connector/.versionname
CI/conf/
c3-front/node_modules/
c3-front/bower_components/
c3-front/coverage/
c3-front/.sass-cache/
c3-front/.idea/
c3-front/.tmp/
c3-front/dist/
c3-front/package-lock.json
Installer/JOB/mysql/db
Installer/JOB/JOB/auth
Installer/install-cache
Installer/dev-cache
Installer/JOB/mysql/init/init.sql
Installer/C3/.env
MYDan/
Installer/C3/mysql/db/
Installer/C3/mysql/init/init.sql
web-shell/node_modules/
AGENT/scripts/installAgent.sh
AGENT/scripts/installProxy.sh
Installer/cluster/init/glusterfs/conf
Connector/mysql.config-*
Installer/C3/docker-compose-private.yml
prometheus/config/openc3_node_sd.yml
prometheus/config/prometheus.yml
prometheus/config/openc3_rule.yml
prometheus/config/openc3_carry.yml
alertmanager/config/alertmanager.yml
AGENT/sender/sender*
