---
name: 工单处理
option:
  - describe: 域名
    name: domain
    type: text
    value: ""
  - describe: 原解析
    name: old_target
    type: text
    value: ""
  - describe: 解析目的(IP/线路/域名)
    name: new_target
    type: text
    value: ""
  - describe: 申请理由
    name: note
    type: text
    value: ""

template_argv:
  title:    "BPM/域名解析修改"
  content:  "域名:\n${domain}\n原解析:\n${old_target}\n解析目的(IP/线路/域名):\n${new_target}\n申请理由:\n${note}"
