<cmloading ng-if="createticket.loading"></cmloading>
<div class="row block">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <span class="panel-controls">
                <button class="btn btn-primary" uib-tooltip="关闭" ng-click="createticket.cancel()"><i class="fa fa-times" aria-hidden="true"></i></button>
            </span>
            <h5>{{createticket.title}}</h5>
        </div>
        <div class="panel-body">
            <div class="pt20">
                <div>
                    <div class="form-group admin-form">
                        <form class="form-horizontal" name="myForm" novalidate>
                               <div class="row" ng-if="!createticket.ciid">
                                    <div class="col-sm-10 form-group">
                                        <label class="col-sm-3 control-label">名称</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" name="addGroup" ng-minlength="2" ng-model="createticket.postData.name" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" ng-if="!createticket.ciid">
                                    <div class="col-sm-10 form-group">
                                        <label class="col-sm-3 control-label">描述</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" name="addGroup" ng-minlength="2" ng-model="createticket.postData.describe" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-10 form-group">
                                        <label class="col-sm-3 control-label">授权</label>
                                        <div class="col-sm-9">
                                            <div class="admin-form">
                                                <div class="option-group field" >
                                                    <label class="option option-primary">
                                                        <input type="radio" ng-model="createticket.postData.share" value="P" >
                                                        <span class="radio" style="padding-top: 0;min-height: 0"></span>仅个人可见
                                                    </label>
                                                    <label class="option option-primary">
                                                        <input type="radio" ng-model="createticket.postData.share" value="T" >
                                                        <span class="radio" style="padding-top: 0;min-height: 0"></span>读写共享给组内人员
                                                    </label>
                                                    <label class="option option-primary">
                                                        <input type="radio" ng-model="createticket.postData.share" value="O" >
                                                        <span class="radio" style="padding-top: 0;min-height: 0"></span>高级共享配置
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="row" ng-if="createticket.postData.share==='O'">
                                    <div>
                                        <div class="col-sm-10 form-group">
                                            <label class="col-sm-3 control-label">共享组</label>
                                            <div class="col-sm-4">
                                                <textarea ng-model="createticket.postData.share_T" style="width: 100%; height: 110px"></textarea>
                                                <span>读写权限</span>
                                            </div>
                                            <label class="col-sm-1 control-label"></label>
                                            <div class="col-sm-4">
                                                <textarea ng-model="createticket.postData.share_TR" style="width: 100%; height: 110px"></textarea>
                                                <span>只读权限</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row" ng-if="createticket.postData.share==='O'">
                                    <div>
                                        <div class="col-sm-10 form-group">
                                            <label class="col-sm-3 control-label">用户共享</label>
                                            <div class="col-sm-4">
                                                <textarea ng-model="createticket.postData.share_P" style="width: 100%; height: 110px"></textarea>
                                                <span>读写权限</span>
                                            </div>
                                            <label class="col-sm-1 control-label"></label>
                                            <div class="col-sm-4">
                                                <textarea ng-model="createticket.postData.share_PR" style="width: 100%; height: 110px"></textarea>
                                                <span>只读权限</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div ng-if="!createticket.point" class="row">
                                    <div class="col-sm-10 form-group">
                                        <label class="col-sm-3 control-label">类型</label>
                                        <div class="col-sm-9">
                                            <div class="admin-form">
                                                <div class="option-group field" >
                                                    <label class="option option-primary">
                                                        <input type="radio" ng-model="createticket.postData.type" value="SSHKey" >
                                                        <span class="radio" style="padding-top: 0;min-height: 0"></span>SSH Key
                                                    </label>
                                                    <label class="option option-primary">
                                                        <input type="radio" ng-model="createticket.postData.type" value="UsernamePassword" >
                                                        <span class="radio" style="padding-top: 0;min-height: 0"></span>用户名密码
                                                    </label>
                                                    <label class="option option-primary">
                                                        <input type="radio" ng-model="createticket.postData.type" value="JobBuildin" >
                                                        <span class="radio" style="padding-top: 0;min-height: 0"></span>插件
                                                    </label>
                                                    <label class="option option-primary">
                                                        <input type="radio" ng-model="createticket.postData.type" value="KubeConfig" >
                                                        <span class="radio" style="padding-top: 0;min-height: 0"></span>KubeConfig
                                                    </label>
                                                    <label class="option option-primary">
                                                        <input type="radio" ng-model="createticket.postData.type" value="Harbor" >
                                                        <span class="radio" style="padding-top: 0;min-height: 0"></span>Harbor镜像仓库
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div ng-switch="createticket.postData.type" class="row">
                                    <div ng-if="createticket.postData.type=='SSHKey'">
                                        <div class="col-sm-10 form-group">
                                            <label class="col-sm-3 control-label">SSH Key</label>
                                            <div class="col-sm-9">
                                                <textarea ng-model="createticket.postData.ticket.SSHKey" style="width: 100%; height: 110px"></textarea>
                                                <span>SSH Key 适用于git</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div ng-if="createticket.postData.type=='UsernamePassword'">
                                        <div class="col-sm-10 form-group">
                                            <label class="col-sm-3 control-label">用户名</label>
                                            <div class="col-sm-3"> <input ng-model="createticket.postData.ticket.Username"></input> </div>
                                            <label class="col-sm-3 control-label">密码</label>
                                            <div class="col-sm-3"> <input ng-model="createticket.postData.ticket.Password"></input> </div>
                                        </div>
                                        </div>
                                    </div>

                                    <div ng-if="createticket.postData.type=='JobBuildin'">
                                        <div class="col-sm-10 form-group">
                                            <label class="col-sm-3 control-label">内容</label>
                                            <div class="col-sm-9">
                                                <textarea ng-model="createticket.postData.ticket.JobBuildin" style="width: 100%; height: 110px"></textarea>
                                                <span>适用于作业内建插件或者构建触发脚本</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div ng-if="createticket.postData.type=='KubeConfig'">
                                        <div class="col-sm-10 form-group">
                                            <label class="col-sm-3 control-label">kubectl版本</label>
                                            <div class="col-sm-9">
                                                <select id="selectednameval" class="form-control" ng-model="createticket.postData.ticket.kubectlVersion">
                                                    <option value="v0.0.0">默认版本</option>
                                                    <option ng-repeat="x in createticket.kubectlVersion" value="{{x}}">{{x}}</option>
                                                </select>

                                            </div>
                                        </div>
 
                                        <div class="col-sm-10 form-group">
                                            <label class="col-sm-3 control-label">内容</label>
                                            <div class="col-sm-9">
                                                <textarea ng-model="createticket.postData.ticket.KubeConfig" style="width: 100%; height: 110px"></textarea>
                                                <span>~/.kube/config文件内容</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div ng-if="createticket.postData.type=='Harbor'">
                                        <div class="col-sm-10 form-group">
                                            <label class="col-sm-3 control-label">服务地址</label>
                                            <div class="col-sm-9"> <input  style="width: 100%;" ng-model="createticket.postData.ticket.Server"></input> </div>
                                        </div>
                                        <div class="col-sm-10 form-group">
                                            <label class="col-sm-1 control-label"></label>
                                            <label class="col-sm-9 control-label">例:https://harbor.xxx.org/api/v2.0/search</label>
                                        </div>
 
                                         <div class="col-sm-10 form-group">
                                            <label class="col-sm-3 control-label">用户名</label>
                                            <div class="col-sm-3"> <input ng-model="createticket.postData.ticket.Username"></input> </div>
                                        </div>
 
                                        <div class="col-sm-10 form-group">
                                            <label class="col-sm-3 control-label">密码</label>
                                            <div class="col-sm-3"> <input ng-model="createticket.postData.ticket.Password"></input> </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="row" ng-show="createticket.type!='show'">
                                    <div class="col-sm-5 form-group pull-right">
                                        <button ng-if="createticket.postData.type=='KubeConfig'" class="btn btn-info" ng-disabled="myForm.$invalid" ng-click="createticket.connectiontest()">连接测试</button>
                                        <button class="btn btn-primary" ng-disabled="myForm.$invalid" ng-click="createticket.saveTicket()">保存凭据</button>
                                    </div>
                                </div>
                         </form>
                  </div>
            </div>
        </div>
    </div>
</div>
