<div class="page-content animated fadeIn">
  <cmloading ng-if="c3index.loading"  class="home-page-loading"></cmloading>
  <!-- 时间选择 -->
  <div class="home-time">
    <!-- 时间选择 - 开始时间 -->
    <div class="input-group home-time-item">
      <input type="text" class="form-control" placeholder="起始（from）" uib-datepicker-popup="yyyy-MM-dd" is-open="c3indedx.dataOpen" ng-model="c3index.orderStart"/>
      <span class="input-group-btn">
        <button type="button" class="btn btn-default fluid-width" ng-click="c3indedx.dataOpen=1;">
          <i class="glyphicon glyphicon-calendar"></i>
        </button>
      </span>
    </div>
    <!-- 时间选择 - 结束时间 -->
    <div class="input-group home-time-item">
      <input type="text" class="form-control" placeholder="结束（to）" uib-datepicker-popup="yyyy-MM-dd" is-open="c3indedx.dataOpen2" ng-model="c3index.orderEnd"/>
      <span class="input-group-btn">
        <button type="button" class="btn btn-default fluid-width" ng-click="c3indedx.dataOpen2=1">
          <i class="glyphicon glyphicon-calendar"></i>
        </button>
      </span>
    </div>

    <!-- 本周 -->
    <button class="btn btn-primary home-time-item" ng-click="c3index.handleTimeRange('week')">{{'S.TT.the_week'| translate}}</button>
    <!-- 本月 -->
    <button class="btn btn-primary home-time-item" ng-click="c3index.handleTimeRange('month')">{{'S.TT.the_month'| translate}}</button>
    <!-- 本季度 -->
    <button class="btn btn-primary home-time-item" ng-click="c3index.handleTimeRange('quarter')">{{'S.TT.the_quarter'| translate}}</button>
  </div>

  <!-- 卡片展示 -->
  <div class="home-card">
    <div class="block home-card-items" ng-repeat="item in c3index.cardList" ng-click="c3index.handleJump(item)">
      <div class="home-card-items-image-container">
        <img ng-src="{{item.icon}}" />
      </div>
      <div class="home-card-items-text" ng-style="{color:item.color}">
        <div class="home-card-items-text-title">{{item.name | translate}}</div>
        <div ng-if="item.type !== 'create'" class="home-card-items-text-count">{{item.count|| 0}}</div>
      </div>
    </div>
  </div>
  <!-- 折线图 -->
  <div class="block" style="margin: 10px;">
    <div ng-show="c3index.weekData.length !== 0" id="line-container"></div>
    <div ng-show="c3index.weekData.length === 0" class="empty-week-data" id="line-container">{{'S.TT.empty_data'| translate}}</div>
  </div>
  <!-- 横向柱状图 -->
  <div class="home-histogram-content" style="margin: 10px;">
    <div ng-show="c3index.submitData.length !== 0" id="submit-container" class="block home-histogram-content-items" style="width: 33%;height: 320px;"></div>
    <div ng-show="c3index.submitData.length === 0" id="submit-container" class="block home-histogram-content-items empty-status-data" style="width: 33%;height: 320px;">{{'S.TT.empty_data'| translate}}</div>

    <div ng-show="c3index.upcomingData.length !== 0" id="upcoming-container" class="block home-histogram-content-items" style="width: 33%;height: 320px;"></div>
    <div ng-show="c3index.upcomingData.length === 0" id="upcoming-container" class="block home-histogram-content-items empty-status-data" style="width: 33%;height: 320px;">{{'S.TT.empty_data'| translate}}</div>

    <div ng-show="c3index.finishData.length !== 0" id="finish-container" class="block home-histogram-content-items" style="width: 33%;height: 320px;"></div>
    <div ng-show="c3index.finishData.length === 0" id="finish-container" class="block home-histogram-content-items empty-status-data" style="width: 33%;height: 320px;">{{'S.TT.empty_data'| translate}}</div>

  </div>
</div>