<div class="row block" >



<div>
    <div class="panel panel-primary">

        <div class="panel-heading">
            <span class="panel-controls">
                <button class="btn btn-primary" uib-tooltip="{{'C3T.刷新'|translate}}" ng-click="approval.reload()" ><i class="fa fa-refresh fa-fw" ng-class="{'fa-spin':!approval.loadover}" ></i></button>
            </span>
            <h5>{{'C3T.我的审批'|translate}}</h5>
        </div>

        <div class="panel-body" ng-init="ns = { 'null': 'C3T.未发送', 'sending': 'C3T.发送中', 'done':'C3T.完成', 'skip': 'C3T.忽略', 'fail': 'C3T.失败'}">
            <div class="panel-tabs">
                <table ng-table="approval.dataTable" class="table table-hover text-center table-condensed" show-filter="true">
                    <tr ng-repeat="d in $data">
                        <td style="width: 10%" data-title="'C3T.创建时间'|translate" filter="{ create_time: 'text'}" sortable="'create_time'">{{d.create_time}}</td>
                        <td style="width: 10%" data-title="'C3T.结束时间'|translate" filter="{ finishtime: 'text'}" sortable="'finishtime'">{{d.finishtime}}</td>
                        <td style="width: 10%" data-title="'C3T.耗时'|translate">{{ approval.seftime(d.create_time,d.finishtime)}}</td>
                        <td style="width: 10%" data-title="'C3T.提交人'|translate" filter="{ submitter: 'text'}" sortable="'submitter'">{{d.submitter}}</td>
                        <td style="width: 20%" data-title="'C3T.审批名称'|translate" filter="{ name: 'text'}" sortable="'name'">{{d.name}}</td>
                        <td style="width: 10%" data-title="'C3T.OA单号'|translate" filter="{ oauuid: 'text'}" sortable="'oauuid'">
                            <a ng-if="d.oauuid==0"> {{'C3T.尚未发送'|translate}}</a>
                            <a ng-if="d.oauuid==1"> {{'C3T.创建中'|translate}}</a>
                            <a ng-if="d.oauuid!=0 && d.oauuid!=1">{{d.oauuid}}</a>
                        </td>
                        <td style="width: 10%" data-title="'C3T.通知状态'|translate" >{{ns[d.notifystatus]|translate}}</td>
                        <td style="width: 10%" data-title="'C3T.审批状态'|translate" sortable="'opinion'">
                            <a ng-if="d.opinion == 'agree'" style="color: green"> {{'C3T.同意'|translate}} </a>
                            <a ng-if="d.opinion == 'unconfirmed'"> {{'C3T.未审批'|translate}} </a>
                            <a ng-if="d.opinion == 'refuse'" style="color: red"> {{'C3T.拒绝'|translate}} </a>
</td>
                        <td style="width: 10%" data-title="'C3T.操作'|translate">
                            <button ng-if="d.opinion=='unconfirmed'" class="btn btn-primary btn-sm" ng-click="approval.edit(d.uuid,1)">{{'C3T.审批'|translate}}</button>
                            <button ng-if="d.opinion!='unconfirmed'" class="btn btn-info btn-sm" ng-click="approval.edit(d.uuid,0)">{{'C3T.查看'|translate}}</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>



</div>
