.virtual-block, .block {
  box-shadow: none!important;
}

.tab-set {
  margin-top: 20px;
}
.tab-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  &-text {
    vertical-align: middle;
  }
  &-icon {
    margin-left: 10px;
    cursor:pointer;
  }
}

.tab-content {
  margin-top: 30px;
}

.machine-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 150px;
}