<div class="modal-header">
    <h4  class="modal-title">{{'C3T.分组机器列表'|translate}}</h4>
</div>
<div class="modal-body">
    <form class="form-horizontal" name="addForm" role="form">
        <div class="row" ng-repeat="group in showIPstr">
            <div class="col-sm-12 form-group">
                <label class="col-sm-2 control-label">{{'C3T.分组'|translate}}{{$index+1}}({{group.num}}{{'C3T.台机器'|translate}}):
                </label>
                <div class="col-sm-9" style="padding-top: 10px">
                    <p ng-repeat="ip in group.infos">{{ip}}</p>
                </div>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-sm-2 form-group pull-right">
            <button class="btn btn-warning" ng-click="showip.cancel()">{{'C3T.取消'|translate}}</button>
        </div>
    </div>

</div>

