<div>
    <div class="row" style="padding: 0 20px 0;">
        <nodestr></nodestr>
    </div>

    <hr class="mv10 clear">

    <div class="panel panel-primary">
        <div class="panel-heading">
            <span class="panel-controls">
                <a ng-if="historybpmdetail.advancedinfo" class="fa fa-toggle-on fa-2x" data-toggle="tooltip" data-placement="left" uib-tooltip="{{'C3T.隐藏详情'|translate}}" aria-hidden="true"style="padding-top: 11px;font-size: larger;" ng-click="historybpmdetail.advancedinfo=0"></a>
                <a ng-if="!historybpmdetail.advancedinfo" class="fa fa-toggle-off fa-2x" data-toggle="tooltip" data-placement="left" uib-tooltip="{{'C3T.显示详情'|translate}}" aria-hidden="true"style="padding-top: 11px;font-size: larger;" ng-click="historybpmdetail.advancedinfo=1"></a>
            </span>
            <h5>{{'C3T.表单信息'|translate}} / {{ historybpmdetail.bpmuuid }}</h5>
        </div>

        <div class="panel-body">

            <div class="form-horizontal">

                <form class="form-inline" name="searchForm" novalidate>
                    <div class="container-fluid">
                        <div class="row" style="padding: 5px;">
                            <div class="form-group col-sm-4" style="padding: 0">
                                <label style="line-height: 34px;min-width: 90px;text-align: right;">{{'C3T.流程名称'|translate}}：</label>
                                <span style="font-size: 15px">{{taskname}}</span>
                            </div>
                            <div class="form-group col-sm-4" style="padding: 0">
                                <label style="line-height: 34px;min-width: 90px;text-align: right;">{{'C3T.执行结果'|translate}}：</label>
                                <span style="font-size: 15px">{{historybpmdetail.statuszh[status]}}</span>
                                <i ng-if="status != 'success' && status != 'fail' && status != 'refuse'" class="fa fa-refresh fa-fw" ng-class="{'fa-spin':1}"></i>
                                <button ng-if="(status == 'running' || status == 'waiting') && historybpmdetail.advancedinfo == 1" class="btn btn-danger btn-sm" ng-click="historybpmdetail.killTask()" style="border-radius: 10%;padding: 1px 10px;">{{'C3T.终止任务'|translate}} </button>
                            </div>
                            <div class="form-group col-sm-4" style="padding: 0">
                                <label style="line-height: 34px;min-width: 90px;text-align: right;">{{'C3T.启动人'|translate}}：</label>
                                <span style="font-size: 15px">{{runuser}}</span>
                            </div>
                        </div>
                        <div class="row" style="padding: 5px;">
                            <div class="form-group col-sm-4" style="padding: 0">
                                <label style="line-height: 34px;min-width: 90px;text-align: right;">{{'C3T.开始时间'|translate}}：</label>
                                <span style="font-size: 15px">{{starttime}}</span>
                            </div>
                            <div class="form-group col-sm-4" style="padding: 0">
                                <label style="line-height: 34px;min-width: 90px;text-align: right;">{{'C3T.结束时间'|translate}}：</label>
                                <span style="font-size: 15px">{{finishtime}}</span>
                            </div>
                            <div class="form-group col-sm-4" style="padding: 0">
                                <label style="line-height: 34px;min-width: 90px;text-align: right;">{{'C3T.耗时'|translate}}：</label>
                                <span style="font-size: 15px">{{historybpmdetail.seftime(starttime,finishtime)}}</span>
                            </div>
                        </div>
                        <div ng-show="historybpmdetail.taskuuid && historybpmdetail.advancedinfo == 1" class="row" style="padding: 5px;">
                            <div class="form-group" style="padding: 0">
                                <label style="line-height: 34px;min-width: 90px;text-align: right;">{{'C3T.任务日志'|translate}}：</label>
                                <button class="btn btn-primary btn-sm" ng-click="historybpmdetail.taskLogDetail()">{{'C3T.执行详情'|translate}}</button>
                                <span ng-show="errreason" style="color: red;margin-left: 10px">{{'C3T.错误'|translate}}: &nbsp; {{errreason}}</span>
                            </div>
                        </div>
                        <div ng-show="historybpmdetail.bpmuuid && historybpmdetail.advancedinfo == 1" class="row" style="padding: 5px;">
                            <div class="form-group" style="padding: 0">
                                <label style="line-height: 34px;min-width: 90px;text-align: right;">{{'C3T.操作'|translate}}：</label>
                                <button class="btn btn-primary btn-sm" ng-click="historybpmdetail.editForm()">{{'C3T.重新编辑表单'|translate}}</button>
                            </div>
                        </div>
                        <div ng-if="variable" ng-show="historybpmdetail.taskuuid && historybpmdetail.advancedinfo == 1" class="row" style="padding: 5px;">
                            <div class="form-group" style="padding: 0">
                                <label style="line-height: 34px;min-width: 90px;text-align: right;">{{'C3T.调用变量'|translate}}：</label>
                                <span style="font-size: 15px">{{variable}}</span>
                            </div>
                        </div>
                    </div>
                </form>

            </div>

        </div>
    </div>

    <div class="panel panel-dark">

        <div class="panel-heading">

            <span class="panel-controls">
                <button class="btn btn-dark" uib-tooltip="{{'C3T.刷新'|translate}}" ng-click="historybpmdetail.reload()" ><i class="fa fa-refresh fa-fw" ng-class="{'fa-spin':!historybpmdetail.loadover}" ></i></button>
            </span>
            <h5>{{'C3T.步骤'|translate}} </h5>
        </div>

        <div class="panel-body">
            <div ng-repeat="item in historybpmdetail.allRuningData">
                <div ng-if="item.subtask_type == 'cmd'" class="panel panel-success">
                    <div class="panel-heading" style="height: 33px">
                        <h5>{{item.extended.name}} / {{historybpmdetail.statuszh[item.status]}}</h5>
                    </div>
                    <div ng-if="historybpmdetail.bpmlog[$index+1]"  class="panel-body" style="padding: 10px">
                        <div class="panel-tabs">
                            <table class="table table-hover text-center table-condensed" style="margin-bottom: 0">
                                <thead>
                                <tr>
                                    <th style="text-align: center;">{{'C3T.时间'|translate}}</th>
                                    <th style="text-align: center;">{{'C3T.日志'|translate}}</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in historybpmdetail.bpmlog[$index+1]" style="cursor: pointer">
                                        <td>{{item.time}}</td>
                                        <td>{{item.info}}</td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                    </div>
                    <div ng-if="historybpmdetail.advancedinfo == 1" class="panel-body" style="padding: 10px">
                        <div class="panel-tabs">
                            <table class="table table-hover text-center table-condensed" style="margin-bottom: 0">
                                <thead>
                                <tr>
                                    <th style="text-align: center;">{{'C3T.作业名称'|translate}}</th>
                                    <th style="text-align: center;">{{'C3T.开始时间'|translate}}</th>
                                    <th style="text-align: center;">{{'C3T.结束时间'|translate}}</th>
                                    <th style="text-align: center;">{{'C3T.耗时'|translate}}</th>
                                    <th style="text-align: center;">{{'C3T.状态'|translate}}</th>
                                    <th style="text-align: center;">{{'C3T.操作'|translate}}</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr ng-click="historybpmdetail.HideMsg($index)" style="cursor: pointer">
                                        <td>{{item.extended.name}}</td>
                                        <td>{{item.starttime}}</td>
                                        <td>{{item.finishtime}}</td>
                                        <td>{{historybpmdetail.seftime(item.starttime,item.finishtime)}}</td>
                                        <td ng-style="setStatuColor(item.status)">{{historybpmdetail.statuszh[item.status]}}</td>
                                        <td ng-if="item.status == 'success'">
                                            <button class="btn btn-warning btn-sm" onclick="event.cancelBubble=true" ng-click="historybpmdetail.runDetail($index)">{{'C3T.执行详情'|translate}}</button>
                                            <button ng-if="item.pause" class="btn btn-success btn-sm" onclick="event.cancelBubble=true" ng-click="historybpmdetail.runConfirm($index, item,item.pause)">{{'C3T.执行确认'|translate}}</button>
                                        </td>
                                        <td ng-if="item.status=='decision'">
                                            <button class="btn btn-warning btn-sm" onclick="event.cancelBubble=true" ng-click="historybpmdetail.runDetail($index)">{{'C3T.执行详情'|translate}}</button>
                                            <button class="btn btn-success btn-sm" onclick="event.cancelBubble=true" ng-click="historybpmdetail.Runnigs($index, item)">{{'C3T.重试'|translate}}</button>
                                            <button class="btn btn-danger btn-sm" onclick="event.cancelBubble=true" ng-click="historybpmdetail.runIgnore($index, item)">{{'C3T.忽略错误'|translate}}</button>
                                            <button class="btn btn-dark btn-sm" onclick="event.cancelBubble=true" ng-click="historybpmdetail.runShutTask($index, item)">{{'C3T.终止任务'|translate}} </button>

                                        </td>
                                        <td ng-if="item.status=='ignore'">
                                            <button class="btn btn-warning btn-sm" onclick="event.cancelBubble=true" ng-click="historybpmdetail.runDetail($index)">{{'C3T.执行详情'|translate}}</button>
                                            <button ng-if="item.pause" class="btn btn-success btn-sm" onclick="event.cancelBubble=true" ng-click="historybpmdetail.runConfirm($index, item,item.pause)">{{'C3T.执行确认'|translate}}</button>

                                        </td>
                                        <td ng-if="item.status=='running'">
                                            <button class="btn btn-warning btn-sm" onclick="event.cancelBubble=true" ng-click="historybpmdetail.runDetail($index)">{{'C3T.执行详情'|translate}}</button>
                                        </td>
                                        <td ng-if="item.status=='fail'">
                                            <button class="btn btn-warning btn-sm" onclick="event.cancelBubble=true" ng-click="historybpmdetail.runDetail($index)">{{'C3T.执行详情'|translate}}</button>
                                            <button ng-if="item.pause" class="btn btn-success btn-sm" ng-click="historybpmdetail.runConfirm($index, item,item.pause)">{{'C3T.执行确认'|translate}}</button>
                                        </td>
                                        <td ng-if="!item.status"> </td>
                                    </tr>
                                </tbody>

                            </table>
                            <div ng-if="historybpmdetail.show[$index]" style="border-top: 1px solid #ddd;">
                                <div class="form-horizontal">
                                    <form class="form-inline" name="searchForm" novalidate>
                                        <div class="container-fluid">
                                            <div class="row" style="padding: 5px;margin-left: 1%;">
                                                <div class="form-group col-sm-3" style="padding: 0">
                                                    <label style="line-height: 34px;min-width: 90px;text-align: right;">name:</label>
                                                    <span style="font-size: 15px">{{item.extended.name}}</span>
                                                </div>
                                                <div class="form-group col-sm-3" style="padding: 0">
                                                    <label style="line-height: 34px;min-width: 90px;text-align: right;">node_type:</label>
                                                    <span style="font-size: 15px">{{item.extended.node_type}}</span>
                                                </div>
                                                <div class="form-group col-sm-3" style="padding: 0">
                                                    <label style="line-height: 34px;min-width: 90px;text-align: right;">scripts_type:</label>
                                                    <span style="font-size: 15px">{{item.extended.scripts_type}}</span>
                                                </div>
                                                <div class="form-group col-sm-3" style="padding: 0">
                                                    <label style="line-height: 34px;min-width: 90px;text-align: right;">user:</label>
                                                    <span style="font-size: 15px">{{item.extended.user}}</span>
                                                </div>
                                            </div>
                                            <div class="row" style="padding: 5px;margin-left: 1%;">
                                                <div class="form-group col-sm-3" style="padding: 0">
                                                    <label style="line-height: 34px;min-width: 90px;text-align: right;">timeout:</label>
                                                    <span style="font-size: 15px">{{item.extended.timeout}}</span>
                                                </div>
                                                <div class="form-group col-sm-3" style="padding: 0">
                                                    <label style="line-height: 34px;min-width: 90px;text-align: right;">pause:</label>
                                                    <span style="font-size: 15px">{{item.extended.pause}}</span>
                                                </div>
                                            </div>
                                            <div class="row" style="padding: 5px;margin-left: 1%;">
                                                <div class="form-group " style="display:block;word-break: break-all;word-wrap: break-word;">
                                                    <label style="line-height: 34px;min-width: 90px;text-align: right;">node_cont:</label>
                                                    <span style="font-size: 15px">{{item.extended.node_cont}}</span>
                                                </div>
                                            </div>
                                            <div class="row" style="padding: 5px;margin-left: 1%;">
                                                <div class="form-group " style="padding: 0">
                                                    <label style="line-height: 34px;min-width: 90px;text-align: right;">scripts_cont:</label>
                                                    <span style="font-size: 15px">{{item.extended.scripts_cont}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="item.subtask_type == 'scp'" class="panel panel-primary">
                    <div class="panel-heading" style="height: 33px">
                        <h5>{{item.extended.name}} / {{historybpmdetail.statuszh[item.status]}}</h5>
                    </div>
                    <div ng-if="historybpmdetail.bpmlog[$index+1]"  class="panel-body" style="padding: 10px">
                        <div class="panel-tabs">
                            <table class="table table-hover text-center table-condensed" style="margin-bottom: 0">
                                <thead>
                                <tr>
                                    <th style="text-align: center;">{{'C3T.时间'|translate}}</th>
                                    <th style="text-align: center;">{{'C3T.日志'|translate}}</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in historybpmdetail.bpmlog[$index+1]" style="cursor: pointer">
                                        <td>{{item.time}}</td>
                                        <td>{{item.info}}</td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                    </div>
                    <div ng-if="historybpmdetail.advancedinfo == 1" class="panel-body"  style="padding: 10px">
                        <div class="panel-tabs">
                            <table class="table table-hover text-center table-condensed" style="margin-bottom: 0">
                                <thead>
                                    <tr>
                                        <th style="text-align: center;">{{'C3T.作业名称'|translate}}</th>
                                        <th style="text-align: center;">{{'C3T.开始时间'|translate}}</th>
                                        <th style="text-align: center;">{{'C3T.结束时间'|translate}}</th>
                                        <th style="text-align: center;">{{'C3T.耗时'|translate}}</th>
                                        <th style="text-align: center;">{{'C3T.状态'|translate}}</th>
                                        <th style="text-align: center;">{{'C3T.操作'|translate}}</th>
                                    </tr>
                                </thead>
                                <!--<table class="table table-hover text-center table-condensed">-->
                                <tbody>
                                <tr ng-click="historybpmdetail.HideMsg($index)" style="cursor: pointer">
                                    <td >{{item.extended.name}}</td>
                                    <td >{{item.starttime}}</td>
                                    <td >{{item.finishtime}}</td>
                                    <td >{{historybpmdetail.seftime(item.starttime,item.finishtime)}}</td>
                                    <td ng-style="setStatuColor(item.status, 'scp')">{{historybpmdetail.statuszh[item.status]}}</td>
                                    <td ng-if="item.status == 'success'">
                                        <button class="btn btn-warning btn-sm" onclick="event.cancelBubble=true" ng-click="historybpmdetail.runDetail($index)">{{'C3T.执行详情'|translate}}</button>
                                        <button ng-if="item.pause" class="btn btn-success btn-sm" onclick="event.cancelBubble=true" ng-click="historybpmdetail.runConfirm($index, item,item.pause)">{{'C3T.执行确认'|translate}}</button>
                                    </td>
                                    <td ng-if="item.status=='decision'">
                                        <button class="btn btn-warning btn-sm" onclick="event.cancelBubble=true" ng-click="historybpmdetail.runDetail($index)">{{'C3T.执行详情'|translate}}</button>
                                        <button class="btn btn-success btn-sm" onclick="event.cancelBubble=true" ng-click="historybpmdetail.Runnigs($index, item)">{{'C3T.重试'|translate}}</button>
                                        <button class="btn btn-danger btn-sm" onclick="event.cancelBubble=true" ng-click="historybpmdetail.runIgnore($index, item)">{{'C3T.忽略错误'|translate}}</button>
                                        <button class="btn btn-dark btn-sm" onclick="event.cancelBubble=true" ng-click="historybpmdetail.runShutTask($index, item)">{{'C3T.终止任务'|translate}}</button>
                                    </td>
                                    <td ng-if="item.status=='fail'">
                                        <button class="btn btn-warning btn-sm" onclick="event.cancelBubble=true" ng-click="historybpmdetail.runDetail($index)">{{'C3T.执行详情'|translate}}</button>
                                        <button ng-if="$index != historybpmdetail.tasklength  && status != 'fail'" class="btn btn-warning btn-sm" onclick="event.cancelBubble=true" ng-click="historybpmdetail.runConfirm($index, item,item.pause)">{{'C3T.下一步'|translate}}</button>
                                        <button ng-if="item.pause" class="btn btn-success btn-sm" onclick="event.cancelBubble=true" ng-click="historybpmdetail.runConfirm($index, item,item.pause)">{{'C3T.执行确认'|translate}}</button>
                                    </td>
                                    <td ng-if="item.status=='ignore'">
                                        <button class="btn btn-warning btn-sm" onclick="event.cancelBubble=true" ng-click="historybpmdetail.runDetail($index)">{{'C3T.执行详情'|translate}}</button>
                                        <button ng-if="item.pause" class="btn btn-success btn-sm" onclick="event.cancelBubble=true" ng-click="historybpmdetail.runConfirm($index, item,item.pause)">{{'C3T.执行确认'|translate}}</button>
                                    </td>
                                    <td ng-if="item.status=='running'">
                                        <button class="btn btn-warning btn-sm" onclick="event.cancelBubble=true" ng-click="historybpmdetail.runDetail($index)">{{'C3T.执行详情'|translate}}</button>
                                    </td>
                                    <td ng-if="!item.status"> </td>

                                </tr>
                                </tbody>
                            </table>
                            <div ng-if="historybpmdetail.show[$index]" style="border-top: 1px solid #ddd;">
                                <div class="form-horizontal">
                                    <form class="form-inline" name="searchForm" novalidate>
                                        <div class="container-fluid">
                                            <div class="row" style="padding: 5px;margin-left: 1%;">
                                                <div class="form-group col-sm-3" style="padding: 0">
                                                    <label style="line-height: 34px;min-width: 90px;text-align: right;">name:</label>
                                                    <span style="font-size: 15px">{{item.extended.name}}</span>
                                                </div>
                                                <div class="form-group col-sm-3" style="padding: 0">
                                                    <label style="line-height: 34px;min-width: 90px;text-align: right;">user:</label>
                                                    <span style="font-size: 15px">{{item.extended.user}}</span>
                                                </div>
                                                <div class="form-group col-sm-3" style="padding: 0">
                                                    <label style="line-height: 34px;min-width: 90px;text-align: right;">timeout:</label>
                                                    <span style="font-size: 15px">{{item.extended.timeout}}</span>
                                                </div>
                                                <div class="form-group col-sm-6" style="padding: 0">
                                                    <label style="line-height: 34px;min-width: 90px;text-align: right;">pause:</label>
                                                    <span style="font-size: 15px">{{item.extended.pause}}</span>
                                                </div>
                                            </div>
                                            <div class="row" style="padding: 5px;margin-left: 1%;">
                                                <div class="form-group col-sm-3" style="padding: 0">
                                                    <label style="line-height: 34px;min-width: 90px;text-align: right;">src:</label>
                                                    <span style="font-size: 15px">{{item.extended.src}}</span>
                                                </div>
                                                <div class="form-group col-sm-3" style="padding: 0">
                                                    <label style="line-height: 34px;min-width: 90px;text-align: right;">sp:</label>
                                                    <span style="font-size: 15px">{{item.extended.sp}}</span>
                                                </div>
                                                <div class="form-group col-sm-3" style="padding: 0">
                                                    <label style="line-height: 34px;min-width: 90px;text-align: right;">src_type:</label>
                                                    <span style="font-size: 15px">{{item.extended.src_type}}</span>
                                                </div>
                                            </div>

                                            <div class="row" style="padding: 5px;margin-left: 1%;">
                                                <div class="col-sm-6" style="display:block;word-break: break-all;word-wrap: break-word;">
                                                    <label style="line-height: 34px;min-width: 90px;text-align: right;">dst:</label>
                                                    <span style="font-size: 15px">{{item.extended.dst}}</span>
                                                </div>
                                                <div class="form-group col-sm-3" style="padding: 0">
                                                    <label style="line-height: 34px;min-width: 90px;text-align: right;">dp:</label>
                                                    <span style="font-size: 15px">{{item.extended.dp}}</span>
                                                </div>
                                                <div class="form-group col-sm-3" style="padding: 0">
                                                    <label style="line-height: 34px;min-width: 90px;text-align: right;">dst_type:</label>
                                                    <span style="font-size: 15px">{{item.extended.dst_type}}</span>
                                                </div>
                                            </div>
                                            <div class="row" style="padding: 5px;margin-left: 1%;">
                                                <div class="form-group col-sm-3" style="padding: 0">
                                                    <label style="line-height: 34px;min-width: 90px;text-align: right;">chmod:</label>
                                                    <span style="font-size: 15px">{{item.extended.chmod}}</span>
                                                </div>
                                                <div class="form-group col-sm-3" style="padding: 0">
                                                    <label style="line-height: 34px;min-width: 90px;text-align: right;">chown:</label>
                                                    <span style="font-size: 15px">{{item.extended.chown}}</span>
                                                </div>
                                            </div>

                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="item.subtask_type == 'approval'" class="panel panel-info">
                    <div class="panel-heading" style="height: 33px">
                        <h5>{{item.extended.name}} / {{historybpmdetail.statuszh[item.status]}}</h5>
                    </div>
                    <div ng-if="historybpmdetail.bpmlog[$index+1]"  class="panel-body" style="padding: 10px">
                        <div class="panel-tabs">
                            <table class="table table-hover text-center table-condensed" style="margin-bottom: 0">
                                <thead>
                                <tr>
                                    <th style="text-align: center;">{{'C3T.时间'|translate}}</th>
                                    <th style="text-align: center;">{{'C3T.日志'|translate}}</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in historybpmdetail.bpmlog[$index+1]" style="cursor: pointer">
                                        <td>{{item.time}}</td>
                                        <td>{{item.info}}</td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                    </div>
                    <div ng-if="historybpmdetail.advancedinfo == 1" class="panel-body"  style="padding: 10px">
                        <div class="panel-tabs">
                            <table class="table table-hover text-center table-condensed" style="margin-bottom: 0">
                                <thead>
                                    <tr>
                                        <th style="text-align: center;">{{'C3T.作业名称'|translate}}</th>
                                        <th style="text-align: center;">{{'C3T.审批人'|translate}}</th>
                                        <th style="text-align: center;">{{'C3T.开始时间'|translate}}</th>
                                        <th style="text-align: center;">{{'C3T.结束时间'|translate}}</th>
                                        <th style="text-align: center;">{{'C3T.耗时'|translate}}</th>
                                        <th style="text-align: center;">{{'C3T.状态'|translate}}</th>
                                        <th style="text-align: center;">{{'C3T.操作'|translate}}</th>
                                    </tr>
                                </thead>
                                <!--<table class="table table-hover text-center table-condensed">-->
                                <tbody>
                                <tr ng-click="historybpmdetail.HideMsg($index)" style="cursor: pointer">
                                    <td >{{item.extended.name}}</td>
                                    <td >{{item.extended.approver}}</td>
                                    <td >{{item.starttime}}</td>
                                    <td >{{item.finishtime}}</td>
                                    <td >{{historybpmdetail.seftime(item.starttime,item.finishtime)}}</td>
                                    <td ng-style="setStatuColor(item.status, 'scp')">{{historybpmdetail.statuszh[item.status]}}</td>
                                    <td ng-if="item.status == 'success'">
                                        <button class="btn btn-warning btn-sm" onclick="event.cancelBubble=true" ng-click="historybpmdetail.runDetail($index)">{{'C3T.执行详情'|translate}}</button>
                                        <button ng-if="item.pause" class="btn btn-success btn-sm" ng-click="historybpmdetail.runConfirm($index, item,item.pause)">{{'C3T.执行确认'|translate}}</button>
                                    </td>
                                    <td ng-if="item.status=='decision'">
                                        <button class="btn btn-warning btn-sm" onclick="event.cancelBubble=true" ng-click="historybpmdetail.runDetail($index)">{{'C3T.执行详情'|translate}}</button>
                                        <button class="btn btn-success btn-sm" onclick="event.cancelBubble=true" ng-click="historybpmdetail.Runnigs($index, item)">{{'C3T.重试'|translate}}</button>
                                        <button class="btn btn-danger btn-sm" onclick="event.cancelBubble=true" ng-click="historybpmdetail.runIgnore($index, item)">{{'C3T.忽略错误'|translate}}</button>
                                        <button class="btn btn-dark btn-sm" onclick="event.cancelBubble=true" ng-click="historybpmdetail.runShutTask($index, item)">{{'C3T.终止任务'|translate}}</button>
                                    </td>
                                    <td ng-if="item.status=='fail'">
                                        <button class="btn btn-warning btn-sm" onclick="event.cancelBubble=true" ng-click="historybpmdetail.runDetail($index)">{{'C3T.执行详情'|translate}}</button>
                                        <button ng-if="$index != historybpmdetail.tasklength  && status != 'fail'" class="btn btn-warning btn-sm" onclick="event.cancelBubble=true" ng-click="historybpmdetail.runConfirm($index, item,item.pause)">{{'C3T.下一步'|translate}}</button>
                                        <button ng-if="item.pause" class="btn btn-success btn-sm" onclick="event.cancelBubble=true" ng-click="historybpmdetail.runConfirm($index, item,item.pause)">{{'C3T.执行确认'|translate}}</button>
                                    </td>
                                    <td ng-if="item.status=='ignore'">
                                        <button class="btn btn-warning btn-sm" onclick="event.cancelBubble=true" ng-click="historybpmdetail.runDetail($index)">{{'C3T.执行详情'|translate}}</button>
                                        <button ng-if="item.pause" class="btn btn-success btn-sm" ng-click="historybpmdetail.runConfirm($index, item,item.pause)">{{'C3T.执行确认'|translate}}</button>
                                    </td>
                                    <td ng-if="item.status=='running'">
                                        <button class="btn btn-warning btn-sm" onclick="event.cancelBubble=true" ng-click="historybpmdetail.runDetail($index)">{{'C3T.执行详情'|translate}}</button>
                                    </td>

                                    <td ng-if="item.status=='refuse'">
                                        <button class="btn btn-warning btn-sm" onclick="event.cancelBubble=true" ng-click="historybpmdetail.runDetail($index)">{{'C3T.执行详情'|translate}}</button>
                                    </td>
                                    <td ng-if="!item.status"> </td>
                                </tr>
                                </tbody>
                            </table>
                            <div ng-if="historybpmdetail.show[$index]" style="border-top: 1px solid #ddd;">
                                <div class="form-horizontal">
                                    <form class="form-inline" name="searchForm" novalidate>
                                        <div class="container-fluid">
                                            <div class="row" style="padding: 5px;margin-left: 1%;">
                                                <div class="form-group col-sm-6" style="padding: 0">
                                                    <label style="line-height: 34px;min-width: 90px;text-align: right;">{{'C3T.审批内容'|translate}}:</label>
                                                    <span style="font-size: 15px">{{item.extended.cont}}</span>
                                                </div>
                                                <div class="form-group col-sm-3" style="padding: 0">
                                                    <label style="line-height: 34px;min-width: 90px;text-align: right;">pause:</label>
                                                    <span style="font-size: 15px">{{item.extended.pause}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div ng-if="item.jobtype" class="panel panel-primary">
                    <div class="panel-heading" style="height: 33px">
                        <h5>{{'C3T.作业日志'|translate}}</h5>
                    </div>

                    <job-subtask-log-area jobuuid="jobuuid" loguuid="loguuid" jobaddr="salve"  class="fluid-width"></job-subtask-log-area>

                </div>
            </div>

        </div>
    </div>

</div>
