<div class="modal-header">
    <h4  class="modal-title">确认信息</h4>
</div>
<div class="modal-body">
    <form class="form-horizontal" name="addForm" role="form">
        <div>
            <span>{{historyjobdetailconfirm.runmsg}}</span>
        </div>
        <div style="margin: 40px 0 15px 0;">
            <span>注：任务执行成功返回的确认信息。点击'确认'继续执行后面的任务。'取消'则不会继续执行以后的任务。</span>
        </div>
        <div class="row">
            <div class="col-sm-5 form-group pull-right">
                <button class="btn btn-primary" ng-click="historyjobdetailconfirm.Confirm()">确认,继续执行</button>
                <button class="btn btn-warning" ng-click="historyjobdetailconfirm.cancel()">取消</button>
            </div>
        </div>
    </form>

</div>

