<div class="row block" id="changewidth">

    <div class="panel panel-success">

        <div class="panel-heading">
            <span class="panel-controls">

                <button class="btn btn-success" ng-click="historyjobdetaillog.cancel()" uib-tooltip="关闭">
                    <i class="fa fa-times fa-fw"></i>
                </button>
            </span>
            <h5>任务执行日志</h5>
        </div>

        <div class="panel-body" style="padding: 10px">
            <div>
                <h5 class="fwbold">日志详情</h5>
                <job-task-log-area taskuuid="historyjobdetaillog.taskuuid" jobaddr="historyjobdetaillog.logaddr"  class="fluid-width"></job-task-log-area>
            </div>
        </div>

        <div class="panel-footer text-right">
            <button class="btn btn-warning" ng-click="historyjobdetaillog.cancel()">Cancel</button>
        </div>

    </div>

</div>
