#upstream agent_api{
#  server 127.0.0.1:8001;
#  server 127.0.0.1:8002;
#  server 127.0.0.1:8003;
#  server 127.0.0.1:8004;
#  server 127.0.0.1:8005;
#}
#
#upstream agent_api_slave_10.10.10.10 {
#  server 127.0.0.1:8006;
#  server 127.0.0.1:8007;
#  server 127.0.0.1:8008;
#  server 127.0.0.1:8009;
#  server 127.0.0.1:8010;
#}
#
server {
    listen       80;
    server_name  api.agent.open-c3.org;


    location  ^~  /slave/ {
        rewrite /slave/([0-9a-z\.-]+)/(.+)$ /$2 break;
        proxy_pass http://agent_api_slave_$1;

        proxy_redirect    off;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header Host $host:$server_port;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
    }

    location ^~ /scripts/ {
        alias /data/Software/mydan/AGENT/scripts/;
    }

    location /v3/node/metrics/ {
        rewrite /v3/node/metrics/([0-9a-z\.-]+)$ /query_$1_query break;
        proxy_pass http://127.0.0.1:65112;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $host:$server_port;
    }

    location /v3/mysql/metrics/ {
        rewrite /v3/mysql/metrics/([0-9a-z\.-:]+)$ /query_$1_query break;
        proxy_pass http://127.0.0.1:65113;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $host:$server_port;
    }

    location / {
        proxy_pass http://agent_api;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $host:$server_port;
    }

    location ~ ^/status/ {
        stub_status on;
        access_log off;
    }
}
