<div class="modal-header">
    <h4  class="modal-title">创建定时任务</h4>
</div>
<div class="modal-body">
    <form class="form-horizontal" role="form" name="myForm" novalidate>
        <div class="row">
            <div class="col-sm-10 form-group">
                <label class="col-sm-3 control-label">定时任务 <span style="color: red">*</span> :</label>
                <div class="col-sm-9">
                    <input type="text" name="cronTabname" class="form-control" ng-model="cronTabname" ng-minlength="3" required />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 form-group">
                <label class="col-sm-3 control-label" style="padding-top: 16px;">作业名称 <span style="color: red">*</span> :</label>
                <div class="col-sm-9">
                    <div class="admin-form">
                        <div style="padding-top: 10px; padding-left: 0;">
                            <select class="form-control"  ng-model="selectedjob" ng-options="s.uuid as s.name for s in allJobs" required/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 form-group">
                <label class="col-sm-3 control-label">规 则 <span style="color: red">*</span> :</label>
                <div class="col-sm-9">
                    <input type="text" name="cronRule" class="form-control" ng-model="cronrule" ng-minlength="3" required />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 form-group">
                <label class="col-sm-3 control-label">互斥锁:</label>
                <div class="col-sm-9" style="margin-top: 10px;">
                    <div class="admin-form" ng-disabled="unClick">
                        <div class="option-group field">
                            <input type="checkbox" name="cronlock" style="zoom: 1.3"  ng-model="cronlock" value="manual" >
                            <input ng-if="cronlock" type="text" name="mutex" class="form-control" ng-model="businesscrontabcreate.cronlockstr" ng-minlength="3" />

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-5 form-group pull-right">
                <button class="btn btn-primary" ng-disabled="myForm.$invalid" ng-click="businesscrontabcreate.createCron()">保 存</button>
                <button class="btn btn-warning" ng-click="businesscrontabcreate.cancel()">取 消</button>
            </div>
        </div>
    </form>

</div>

