.jsonView{
    background:none;
    margin:0px 10px;
    padding:0;
}
.jsonView .block{
    margin:1px;
    padding:3px;
}
.jsonView .deleteKeyBtn, .jsonView .moveArrayItemBtn{
    z-index:1;
}

.jsonView span.jsonObjectKey input, span.jsonObjectValue input{
    padding-left:4px;
    margin-bottom: 3px;
}
.jsonView span.jsonObjectKey input{
    margin-right:5px;
}

.jsonView span.jsonObjectKey input:focus, .jsonView span.jsonObjectValue input:focus{
    background-color: #ffffab;
}
.jsonView span.jsonObjectKey input:hover, .jsonView span.jsonObjectValue input:hover{
    background-color: #ffffab;
}

#i18n textarea{
    min-height:400px;
}
