<div class="modal-header">
    <h4 class="modal-title">{{createMonitorConfig.title|translate}} {{'C3T.监控指标采集'|translate}}</h4>
</div>
<div class="modal-body">

<form class="form-horizontal" >
    <div class="row">
        <div class="col-sm-10 form-group">
            <label class="col-sm-3 control-label">{{'C3T.类型'|translate}}</label>
            <div class="col-sm-9">
                <div class="admin-form">
                    <div class="option-group field" >
                        <label class="option option-primary">
                            <input type="radio" ng-model="createMonitorConfig.postData.type" ng-change="createMonitorConfig.changeType('tcp')" value="port" >
                            <span class="radio" style="padding-top: 0;min-height: 0"></span>{{'C3T.端口'|translate}}
                        </label>
                        <label class="option option-primary">
                             <input type="radio" ng-model="createMonitorConfig.postData.type" ng-change="createMonitorConfig.changeType('cmdline')" value="process" >
                             <span class="radio" style="padding-top: 0;min-height: 0"></span>{{'C3T.进程'|translate}}
                        </label>
                        <label class="option option-primary">
                             <input type="radio" ng-model="createMonitorConfig.postData.type" ng-change="createMonitorConfig.changeType('GET')" value="http" >
                             <span class="radio" style="padding-top: 0;min-height: 0"></span>HTTP
                        </label>
                        <label class="option option-primary">
                             <input type="radio" ng-model="createMonitorConfig.postData.type" ng-change="createMonitorConfig.changeType('file')" value="path" >
                             <span class="radio" style="padding-top: 0;min-height: 0"></span>{{'C3T.路径'|translate}}
                        </label>
                        <label class="option option-primary">
                             <input type="radio" ng-model="createMonitorConfig.postData.type" ng-change="createMonitorConfig.changeType('nodeext')" value="nodeext" >
                             <span class="radio" style="padding-top: 0;min-height: 0"></span>{{'C3T.外部数据'|translate}}
                        </label>
                        <label class="option option-primary">
                             <input type="radio" ng-model="createMonitorConfig.postData.type" ng-change="createMonitorConfig.changeType('push')" value="push" >
                             <span class="radio" style="padding-top: 0;min-height: 0"></span>PUSH
                        </label>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>

<div ng-if="createMonitorConfig.postData.type=='port'">
    <form class="form-horizontal" name="myForm" role="form">

        <div class="row">
            <div class="col-sm-10 form-group">
                <label class="col-sm-3 control-label">{{'C3T.协议'|translate}}</label>
                <div class="col-sm-9">
                    <div class="admin-form">
                        <div class="option-group field" >
                            <label class="option option-primary">
                                <input type="radio" ng-model="createMonitorConfig.postData.subtype" value="tcp" >
                                <span class="radio" style="padding-top: 0;min-height: 0"></span>TCP
                            </label>
                            <label class="option option-primary">
                                 <input type="radio" ng-model="createMonitorConfig.postData.subtype" value="udp" >
                                 <span class="radio" style="padding-top: 0;min-height: 0"></span>UDP
                            </label>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <div class="row">
            <div class="col-sm-10 form-group">
                <label class="col-sm-3 control-label">{{'C3T.端口'|translate}}</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="{{'C3T.要采集的端口，多个用英文逗号分隔'|translate}}" ng-model="createMonitorConfig.postData.content1" required>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-5 form-group pull-right">
                <button class="btn btn-primary" ng-disabled="myForm.$invalid" ng-click="createMonitorConfig.add()">{{'C3T.确认'|translate}}</button>
                <button class="btn btn-warning" ng-click="createMonitorConfig.cancel()">{{'C3T.取消'|translate}}</button>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-10 form-group">
                <label class="col-sm-3 control-label">{{'C3T.帮助'|translate}}</label>
                <div class="col-sm-9">

                    <textarea style="height: 550px" class="fluid-width" readonly>
{{'C3T.用途'|translate}}：{{'C3T.监控端口死活, 监控端口是否对外开放。'|translate}}
{{'C3T.指标'|translate}}：

node_port: {{'C3T.端口状态，有如下三种状态'|translate}}：

   0: {{'C3T.端口没在监听状态'|translate}}
   1: {{'C3T.有端口活动，可能监听的是127.0.0.1'|translate}}
   2: {{'C3T.端口监听在0.0.0.0上，对外开放'|translate}}

{{'C3T.例如'|translate}}：

udp:
node_port{port="53",protocol="udp"} 0

tcp:
node_port{port="22",protocol="tcp"} 2
node_port{port="80",protocol="tcp"} 1
node_port{port="8080",protocol="tcp"} 0

{{'C3T.说明'|translate}}：

{{'C3T.可以用ss -t -l -n查看tcp端口，ss -u -l -n 为udp。'|translate}}
{{'C3T.采集过程中把如 *:80 、:::8080 的状态设置为2。'|translate}}

                    </textarea>
                </div>
            </div>
        </div>
 

    </form>
</div>

<div ng-if="createMonitorConfig.postData.type=='process'">
    <form class="form-horizontal" name="myForm" role="form">
        <div class="row">
            <div class="col-sm-10 form-group">
                <label class="col-sm-3 control-label">{{'C3T.方式'|translate}}</label>
                <div class="col-sm-9">
                    <div class="admin-form">
                        <div class="option-group field" >
                            <label class="option option-primary">
                                <input type="radio" ng-model="createMonitorConfig.postData.subtype" value="name" >
                                <span class="radio" style="padding-top: 0;min-height: 0"></span>name[{{'C3T.进程名'|translate}}]
                            </label>

                            <label class="option option-primary">
                                 <input type="radio" ng-model="createMonitorConfig.postData.subtype" value="cmdline" >
                                 <span class="radio" style="padding-top: 0;min-height: 0"></span>cmdline[{{'C3T.启动命令行'|translate}}]
                            </label>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-sm-10 form-group">
                <label class="col-sm-3 control-label">{{'C3T.进程'|translate}}</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="{{'C3T.进程'|translate}}" ng-model="createMonitorConfig.postData.content1" required>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-5 form-group pull-right">
                <button class="btn btn-primary" ng-disabled="myForm.$invalid" ng-click="createMonitorConfig.add()">{{'C3T.确认'|translate}}</button>
                <button class="btn btn-warning" ng-click="createMonitorConfig.cancel()">{{'C3T.取消'|translate}}</button>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-10 form-group">
                <label class="col-sm-3 control-label">{{'C3T.帮助'|translate}}</label>
                <div class="col-sm-9">

                    <textarea style="height: 450px" class="fluid-width" readonly>
{{'C3T.用途'|translate}}：{{'C3T.进程死活监控，进程重启监控。'|translate}}
{{'C3T.指标'|translate}}：

node_process_count: {{'C3T.匹配到的进程的数量'|translate}}
node_process_etime: {{'C3T.进程已经运行的时间，单位秒。'|translate}}

{{'C3T.例如'|translate}}：
name[{{'C3T.进程名'|translate}}]{{'C3T.监控方式'|translate}}：
node_process_count{name="c3_api"} 2
node_process_etime{name="c3_api",pid="17706"} 52210
node_process_etime{name="c3_api",pid="17705"} 52210

cmdline[{{'C3T.启动命令行'|translate}}]{{'C3T.监控方式'|translate}}:
node_process_count{cmdline="openc3.node_query.65110"} 1
node_process_etime{cmdline="openc3.node_query.65110",pid="24137"} 2294903

{{'C3T.不同方式区别'|translate}}：
{{'C3T.name为进程名，可以通过 ps -p $pid -o comm查看。'|translate}}
{{'C3T.cmdline为启动命令行，可以通过ps -p $pid -o cmd查看。'|translate}}

{{'C3T.支持的字符'|translate}}：a-zA-Z0-9 .-_@
                    </textarea>
                </div>
            </div>
        </div>
 
    </form>
</div>

<div ng-if="createMonitorConfig.postData.type=='http'">
    <form class="form-horizontal" name="myForm" role="form">
        <div class="row">
            <div class="col-sm-10 form-group">
                <label class="col-sm-3 control-label">{{'C3T.协议'|translate}}</label>
                <div class="col-sm-9">
                    <div class="admin-form">
                        <div class="option-group field" >
                            <label class="option option-primary">
                                <input type="radio" ng-model="createMonitorConfig.postData.subtype" value="GET" >
                                <span class="radio" style="padding-top: 0;min-height: 0"></span>GET
                            </label>
                            <label class="option option-primary">
                                 <input type="radio" ng-model="createMonitorConfig.postData.subtype" value="POST" >
                                 <span class="radio" style="padding-top: 0;min-height: 0"></span>POST
                            </label>

                            <label class="option option-primary">
                                 <input type="radio" ng-model="createMonitorConfig.postData.subtype" value="HEAD" >
                                 <span class="radio" style="padding-top: 0;min-height: 0"></span>HEAD
                            </label>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-sm-10 form-group">
                <label class="col-sm-3 control-label">URL</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="{{'C3T.内容'|translate}}" ng-model="createMonitorConfig.postData.content1" required>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-10 form-group">
                <label class="col-sm-3 control-label">匹配</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="{{'C3T.匹配'|translate}}" ng-model="createMonitorConfig.postData.content2">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-5 form-group pull-right">
                <button class="btn btn-primary" ng-disabled="myForm.$invalid" ng-click="createMonitorConfig.add()">{{'C3T.确认'|translate}}</button>
                <button class="btn btn-warning" ng-click="createMonitorConfig.cancel()">{{'C3T.取消'|translate}}</button>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-10 form-group">
                <label class="col-sm-3 control-label">{{'C3T.帮助'|translate}}</label>
                <div class="col-sm-9">

                    <textarea style="height: 450px" class="fluid-width" readonly>
{{'C3T.用途'|translate}}：{{'C3T.监控HTTP服务。'|translate}}
{{'C3T.指标'|translate}}：

node_http_code: http {{'C3T.返回码'|translate}}
node_http_time: {{'C3T.请求耗时，单位为毫秒'|translate}}
node_http_content_check: {{'C3T.返回的内容和配置的是否匹配'|translate}}


{{'C3T.例如'|translate}}：

node_http_code{method="GET",url="http://127.0.0.1"} 200
node_http_code{method="GET",url="https://www.baidu.com"} 200

node_http_time{method="GET",url="http://127.0.0.1"} 2
node_http_time{method="GET",url="https://www.baidu.com"} 52

node_http_content_check{check="baidu",method="GET",url="https://www.baidu.com"} 1
                    </textarea>
                </div>
            </div>
        </div>
 

    </form>
</div>

<div ng-if="createMonitorConfig.postData.type=='path'">
    <form class="form-horizontal" name="myForm" role="form">
        <div class="row">
            <div class="col-sm-10 form-group">
                <label class="col-sm-3 control-label">{{'C3T.路径类型'|translate}}</label>
                <div class="col-sm-9">
                    <div class="admin-form">
                        <div class="option-group field" >
                            <label class="option option-primary">
                                <input type="radio" ng-model="createMonitorConfig.postData.subtype" value="file" >
                                <span class="radio" style="padding-top: 0;min-height: 0"></span>{{'C3T.文件'|translate}}
                            </label>
                            <label class="option option-primary">
                                 <input type="radio" ng-model="createMonitorConfig.postData.subtype" value="dir" >
                                 <span class="radio" style="padding-top: 0;min-height: 0"></span>{{'C3T.目录'|translate}}
                            </label>
                            <label class="option option-primary">
                                <input type="radio" ng-model="createMonitorConfig.postData.subtype" value="link" >
                                <span class="radio" style="padding-top: 0;min-height: 0"></span>{{'C3T.软链接'|translate}}
                            </label>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-sm-10 form-group">
                <label class="col-sm-3 control-label">{{'C3T.路径'|translate}}</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="{{'C3T.内容'|translate}}" ng-model="createMonitorConfig.postData.content1" required>
                </div>
            </div>
        </div>

        <div class="row" ng-if="createMonitorConfig.postData.subtype=='link'">
            <div class="col-sm-10 form-group">
                <label class="col-sm-3 control-label">{{'C3T.匹配'|translate}}</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="{{'C3T.匹配'|translate}}" ng-model="createMonitorConfig.postData.content2">
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-5 form-group pull-right">
                <button class="btn btn-primary" ng-disabled="myForm.$invalid" ng-click="createMonitorConfig.add()">{{'C3T.确认'|translate}}</button>
                <button class="btn btn-warning" ng-click="createMonitorConfig.cancel()">{{'C3T.取消'|translate}}</button>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-10 form-group">
                <label class="col-sm-3 control-label">{{'C3T.帮助'|translate}}</label>
                <div class="col-sm-9">

                    <textarea style="height: 450px" class="fluid-width" readonly>
{{'C3T.用途'|translate}}：{{'C3T.判断文件或者目录是否存在。判断软链接是否存在，判断软链接的内容是否匹配。'|translate}}
{{'C3T.指标'|translate}}：

node_path: {{'C3T.路径是否存在'|translate}}
node_path_check: {{'C3T.是否匹配'|translate}}


{{'C3T.例如'|translate}}：

node_path{type="file",path="/tmp/foo.txt"} 1
node_path{type="link",path="/tmp/bar.txt"} 0
node_path{type="dir",path="/tmp/bar.txt"} 0

node_path_check{check="v2.2.3",type="link",path="/tmp/bar.txt"} 1

                    </textarea>
                </div>
            </div>
        </div>
 

    </form>
</div>

<div ng-if="createMonitorConfig.postData.type=='nodeext'">
    <form class="form-horizontal" name="myForm" role="form">
        <div class="row">
            <div class="col-sm-10 form-group">
                <label class="col-sm-3 control-label">URI</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="URI {{'C3T.例如'|translate}}: :9100/metrics" ng-model="createMonitorConfig.postData.content1" required>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-5 form-group pull-right">
                <button class="btn btn-primary" ng-disabled="myForm.$invalid" ng-click="createMonitorConfig.add()">{{'C3T.确认'|translate}}</button>
                <button class="btn btn-warning" ng-click="createMonitorConfig.cancel()">{{'C3T.取消'|translate}}</button>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-10 form-group">
                <label class="col-sm-3 control-label">{{'C3T.帮助'|translate}}</label>
                <div class="col-sm-9">

                    <textarea style="height: 450px" class="fluid-width" readonly>
{{'C3T.用途'|translate}}：{{'C3T.采集主机上其他服务的metrics'|translate}}

{{'C3T.例如'|translate}}：
:9100/metrics

                    </textarea>
                </div>
            </div>
        </div>
 

    </form>
</div>

<div ng-if="createMonitorConfig.postData.type=='push'">
    <form class="form-horizontal" name="myForm" role="form">

        <div class="row">
            <div class="col-sm-10 form-group">
                <label class="col-sm-3 control-label">{{'C3T.帮助'|translate}}</label>
                <div class="col-sm-9">

                    <textarea style="height: 700px" class="fluid-width" readonly>
{{'C3T.用途'|translate}}：{{'C3T.收集用户自己上报的指标。'|translate}}

{{'C3T.用法'|translate}}：

{{'C3T.监控的AGENT安装后，会在本地监听65110端口。'|translate}}
{{'C3T.把要上报的数据上报到本地该端口，系统会定时收集。'|translate}}

{{'C3T.上报方式如下'|translate}}：

curl -X POST -d "[{\"metric\": \"test_metric\", \"endpoint\": \"test-endpoint\",\"value\": 1,\"tags\": \"idc=lg,project=xx\"}]" http://127.0.0.1:65110/v1/push


{{'C3T.上报后的数据如下'|translate}}：
test_metric{endpoint="test-endpoint",idc="lg",project="xx",source="apipush"} 1

endpoint {{'C3T.被当作一个普通的标签。'|translate}}
{{'C3T.source标签是系统默认添加的，用于区分是通过api push而来的数据。'|translate}}
{{'C3T.tags中的标签会变成一个或者多个标签。'|translate}}

{{'C3T.字段'|translate}}:
{{'C3T.metric和value是必要的，endpoint和tags非必要。'|translate}}

{{'C3T.兼容'|translate}} falcon:
ts=`date +%s`;
curl -X POST -d "[{\"metric\": \"test_metric\", \"endpoint\": \"test-endpoint\", \"timestamp\": $ts,\"step\": 60,\"value\": 1,\"counterType\": \"GAUGE\",\"tags\": \"idc=lg,project=xx\"}]" http://127.0.0.1:65110/v1/push

{{'C3T.注：push 方式60秒为周期，如果60秒内没有上报新的数据，本地AGENT会把该指标删除。'|translate}}
                    </textarea>
                </div>
            </div>
        </div>
 
    </form>
</div>

</div>
