<div class="modal-header">
    <h4 class="modal-title">{{createMonitorConfigRule.title|translate}} {{'C3T.监控策略'|translate}}</h4>
</div>
<div class="modal-body">

    <form class="form-horizontal" name="myForm" role="form">

        <div class="row">
            <div class="col-sm-10 form-group">
                <label class="col-sm-3 control-label">{{'C3T.监控名称'|translate}}<a style="color: red;">*</a></label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="{{'C3T.监控名称'|translate}}" ng-model="createMonitorConfigRule.postData.alert" required>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-10 form-group">
                <label class="col-sm-3 control-label">{{'C3T.模式'|translate}}<a style="color: red;">*</a></label>
                <div class="col-sm-9">
                    <div class="admin-form">
                        <div class="option-group field" >
                            <label class="option option-primary">
                                <input type="radio" ng-model="createMonitorConfigRule.postData.model" value="simple" >
                                <span class="radio" style="padding-top: 0;min-height: 0"></span>{{'C3T.简单'|translate}}
                            </label>
                            <label class="option option-primary">
                                <input type="radio" ng-model="createMonitorConfigRule.postData.model" value="bindtree" >
                                <span class="radio" style="padding-top: 0;min-height: 0"></span>{{'C3T.绑定服务树'|translate}}
                            </label>
                            <label class="option option-primary">
                                <input type="radio" ng-model="createMonitorConfigRule.postData.model" value="bindetree" >
                                <span class="radio" style="padding-top: 0;min-height: 0"></span>{{'C3T.绑定服务树'|translate}}【{{'C3T.继承关系解除'|translate}}】
                            </label>
                            <label class="option option-primary">
                                <input type="radio" ng-model="createMonitorConfigRule.postData.model" value="custom" >
                                <span class="radio" style="padding-top: 0;min-height: 0"></span>{{'C3T.自定义'|translate}}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" ng-if="createMonitorConfigRule.postData.model==='simple'">
            <div class="col-sm-10 form-group">
                <label class="col-sm-3 control-label">{{'C3T.条件'|translate}}<a style="color: red;">*</a></label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" placeholder="{{'C3T.指标名'|translate}}" ng-model="createMonitorConfigRule.postData.metrics">
                </div>
                <div class="col-sm-2">
                    <input type="text" class="form-control" placeholder="{{'C3T.比较'|translate}}" ng-model="createMonitorConfigRule.postData.method">
                </div>
                <div class="col-sm-2">
                    <input type="text" class="form-control" placeholder="{{'C3T.阈值'|translate}}" ng-model="createMonitorConfigRule.postData.threshold">
                </div>
                <div class="col-sm-2"style="float: right;" ng-init="job= [ { name: '', alias: '全部'} , { name: 'openc3', alias: '主机'} , { name: 'openc3-mysql-v3', alias: 'Mysql'}, { name: 'openc3-redis-v3', alias: 'redis' }, { name: 'openc3-mongodb-v3', alias: 'mongodb' } ]">
                    <select class="form-control"  ng-model="createMonitorConfigRule.postData.job"  ng-options="o.name as o.alias for o in job"  > </select>
                </div>
            </div>
        </div>

        <div class="row" ng-if="createMonitorConfigRule.postData.model==='bindtree' || createMonitorConfigRule.postData.model==='bindetree'">
            <div class="col-sm-10 form-group">
                <label class="col-sm-3 control-label">{{'C3T.表达式'|translate}}<a style="color: red;">*</a></label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="{{'C3T.普罗米修斯表达式'|translate}}" ng-model="createMonitorConfigRule.postData.bindtreesql">
                </div>
            </div>
        </div>

        <div class="row" ng-if="createMonitorConfigRule.postData.model==='custom'">
            <div class="col-sm-10 form-group">
                <label class="col-sm-3 control-label">{{'C3T.表达式'|translate}}<a style="color: red;">*</a></label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="{{'C3T.普罗米修斯表达式'|translate}}" ng-model="createMonitorConfigRule.postData.expr">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-10 form-group">
                <label class="col-sm-3 control-label">{{'C3T.告警级别'|translate}}<a style="color: red;">*</a></label>
                <div class="col-sm-9">
                    <div class="admin-form">
                        <div class="option-group field" >
                            <label class="option option-primary">
                                <input type="radio" ng-model="createMonitorConfigRule.postData.severity" value="level1" >
                                <span class="radio" style="padding-top: 0;min-height: 0"></span>{{'C3T.一级'|translate}}({{'C3T.电话'|translate}}+{{'C3T.短信'|translate}}+{{'C3T.邮件'|translate}})
                            </label>
                            <label class="option option-primary">
                                <input type="radio" ng-model="createMonitorConfigRule.postData.severity" value="level2" >
                                <span class="radio" style="padding-top: 0;min-height: 0"></span>{{'C3T.二级'|translate}}({{'C3T.短信'|translate}}+{{'C3T.邮件'|translate}})
                            </label>
                             <label class="option option-primary">
                                <input type="radio" ng-model="createMonitorConfigRule.postData.severity" value="level3" >
                                <span class="radio" style="padding-top: 0;min-height: 0"></span>{{'C3T.三级'|translate}}({{'C3T.邮件'|translate}})
                            </label>
                            <label class="option option-primary">
                                <input type="radio" ng-model="createMonitorConfigRule.postData.severity" value="level4" >
                                <span class="radio" style="padding-top: 0;min-height: 0"></span>{{'C3T.四级'|translate}}({{'C3T.仅用于展示'|translate}})
                            </label>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-sm-10 form-group">
                <label class="col-sm-3 control-label">{{'C3T.持续时间'|translate}}</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="{{'C3T.持续时间'|translate}}，{{'C3T.例子'|translate}} 30s ，5m" ng-model="createMonitorConfigRule.postData.for">
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-10 form-group">
                <label class="col-sm-3 control-label">{{'C3T.概要'|translate}}</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="{{'C3T.例如'|translate}}：load1 :\{\{$labels.alertname}}" ng-model="createMonitorConfigRule.postData.summary">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-10 form-group">
                <label class="col-sm-3 control-label">{{'C3T.描述'|translate}}</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="{{'C3T.业务500报警'|translate}}: \{\{ $value }}" ng-model="createMonitorConfigRule.postData.description">
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-10 form-group">
                <label class="col-sm-3 control-label">{{'C3T.值'|translate}}</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="{{'C3T.告警显示的值'|translate}}：{{'C3T.例如'|translate}} \{\{ $value }} " ng-model="createMonitorConfigRule.postData.value">
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-5 form-group pull-right">
                <button class="btn btn-primary" ng-disabled="myForm.$invalid" ng-click="createMonitorConfigRule.add()">{{'C3T.确认'|translate}}</button>
                <button class="btn btn-warning" ng-click="createMonitorConfigRule.cancel()">{{'C3T.取消'|translate}}</button>
            </div>
        </div>
    </form>

</div>
