.form-confirm-info {
  color: red;
  font-size: 16px;
  margin: 15px auto;
  &-project {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    line-height: 32px;
    margin: 10px auto;
    &-label {
      text-align: left;
      margin-right: 10px;
    }

    &-name {
      font-weight: 600;
    }
  }
}

.form-input-message {
  color: red;
}