---
name: 工单处理
option:
  - describe: 域名
    name: domain
    type: text
    value: ""
  - describe: 是否被注册
    name: registered
    type: select
    option: ["是", "否"]
    value: ""
  - describe: 域名所属业务使用范围
    name: scope
    type: select
    option:
      - '海外'
      - '国内'
      - '海外&国内'
    value: ""
  - describe: 备案主体
    name: belonger
    type: input
    value: ""
    required: true
  - describe: 所属业务
    name: belong
    type: input
    value: ""
  - describe: 申请理由
    name: note
    type: text
    value: ""

template_argv:
  title:    "BPM/${_bpmuuid_}/注册域名"
  content: |
    BPM标题: 注册域名
    BPM地址: ${_caseurl_}

    域名: ${domain}
    是否被注册: ${registered}
    域名所属业务使用范围: ${scope}
    备案主体: ${belonger}
    所属业务: ${belong}
    申请理由: ${note}
