<div>
    <nodestr></nodestr>
    <hr class="mv20 clear">
    <div>
        <div style="float: right;">
            <form class="form-inline" name="myForm" novalidate>
                <div class="form-group" ng-init="username=''">
                    <input type="text" class="form-control" ng-model="nodename"  placeholder="{{'C3T.机器IP'|translate}}" required>
                </div>
                <button type="submit" ng-disabled="myForm.$invalid" class="btn btn-primary" ng-click="connectornode.addNode()"><i class="fa fa-desktop fa-lg" aria-hidden="true"></i>{{'C3T.添加机器'|translate}}</button>
            </form>
        </div>
        <div style="clear: both;">&nbsp;</div>
    </div>
    <div class="panel panel-primary">

        <div class="panel-heading">
            <span class="panel-controls">
                <button class="btn btn-primary" uib-tooltip="刷新" ng-click="connectornode.reload()" ><i class="fa fa-refresh fa-fw" ng-class="{'fa-spin':!connectornode.loadover}" ></i></button>
            </span>
            <h5>{{'C3T.服务器资源'|translate}}</h5>
        </div>

        <div class="panel-body">
            <div class="panel-tabs">
                <table ng-table="connectornode.nodeTable" class="table table-hover text-center table-condensed" show-filter="true">
                    <tr ng-repeat="m in $data">
                        <td style="width: 10%" data-title="'C3T.机器名称'|translate" filter="{ name: 'text'}" sortable="'name'">{{m.name}}</td>
                        <td style="width: 10%" data-title="'C3T.创建人'|translate" filter="{ create_user: 'text'}" sortable="'create_user'">{{m.create_user}}</td>
                        <td style="width: 10%" data-title="'C3T.内网IP'|translate" filter="{ inip: 'text'}" sortable="'inip'">{{m.inip}}</td>
                        <td style="width: 10%" data-title="'C3T.外网IP'|translate" filter="{ exip: 'text'}" sortable="'exip'">{{m.exip}}</td>
                        <td style="width: 10%" data-title="'C3T.创建时间'|translate" filter="{ create_time: 'text'}" sortable="'create_time'">{{m.create_time}}</td>
                        <td style="width: 10%" data-title="'C3T.操作'|translate">
                            <button class="btn btn-primary btn-md" ng-click="connectornode.delete(m.id)">{{'C3T.删除'|translate}}</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
