<div>
    <nodestr></nodestr>
    <hr class="mv20 clear">

    <div class="panel panel-primary">

        <div class="panel-heading">
            <h5>{{'C3T.查询条件'|translate}}</h5>
        </div>

        <div class="panel-body">
            <div class="form-horizontal">

                <form class="form-inline" name="searchForm" novalidate>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="form-group col-sm-4" style="padding: 0">
                                <label style="float: left;line-height: 34px;min-width: 90px;text-align: right;">{{'C3T.通知人名称'|translate}}：</label>
                                <input type="text" class="form-control" ng-model="notify.username" placeholder="{{'C3T.通知人名称'|translate}}">
                                <button type="submit" class="btn btn-default" ng-click="notify.getMe()">{{'C3T.我'|translate}}</button>
                            </div>
                        </div>
                    </div>
                </form>

                    <hr class="mv20 clear" style="margin-top: 30px!important;">
                    <div class="col-md-10">
                        <button class="btn btn-primary" ng-click="notify.reload()">
                            <i class="fa fa-search fa-fw"></i>{{'C3T.查询'|translate}}
                        </button>
                        <button class="btn btn-success" ng-click="notify.Reset()">
                            <i class="fa fa-refresh fa-fw"></i>{{'C3T.重置'|translate}}
                        </button>
                    </div>

                </div>
        </div>
    </div>


    <div>
        <div style="float: right;">
            <form class="form-inline" name="myForm" novalidate>
                <div class="form-group" ng-init="newUser=''">
                    <input type="text" class="form-control" ng-model="newUser"  placeholder="{{'C3T.添加报警人'|translate}}" required>
                </div>
                <button type="submit" ng-disabled="myForm.$invalid" class="btn btn-primary" ng-click="notify.createUser()"><i class="fa fa-user fa-lg" aria-hidden="true"></i>{{'C3T.添加报警人'|translate}}</button>
            </form>
        </div>
        <div style="clear: both;">&nbsp;</div>
    </div>

    <div class="panel panel-dark">

        <div class="panel-heading">
            <span class="panel-controls">
                <button class="btn btn-dark" uib-tooltip="{{'C3T.刷新'|translate}}" ng-click="notify.reload()" ><i class="fa fa-refresh fa-fw" ng-class="{'fa-spin':!notify.loadover}" ></i></button>
            </span>
            <h5>{{'C3T.通知用户'|translate}}</h5>
        </div>

        <div class="panel-body">
            <div class="panel-tabs">

            <table ng-table="notify.notify_Table" class="table table-hover text-center table-condensed">
                <tr ng-repeat="ss in $data">
                    <td data-title="'C3T.账户名'|translate" >{{ss.user}}</td>
                    <td data-title="'C3T.创建人'|translate">{{ss.create_user}}</td>
                    <td data-title="'C3T.创建时间'|translate">{{ss.create_time}}</td>
                    <td data-title="'C3T.操作'|translate">
                        <button class="btn btn-primary btn-sm" ng-click="notify.delete(ss.id)">{{'C3T.删除'|translate}}</button>
                    </td>
                </tr>
            </table>
            </div>
        </div>
    </div>

