.select-service-tree {
  &-source {
    margin: 20px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &-label  {
      font-weight: 600;
    }
    &-text {
      margin-left: 30px;
    }
  }
  &-target {
    margin: 20px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}
.confirm-btn {
  margin-top: 20px;
}

.mark-select {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.ui-select-bootstrap>.ui-select-choices,
.ui-select-bootstrap>.ui-select-no-choice {
  width: 100%;
  height: auto;
  overflow-x: hidden;
  margin-top: -1px;
  max-height: 400px !important;
}

.ui-select-bootstrap>.ui-select-match>.form-control {
  width: 100%;
  min-width: 100px;
}