<div class="row block">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <span class="panel-controls">
                <button class="btn btn-primary" uib-tooltip="修改记录" ng-click="agent.showctrlLog()">{{'C3T.修改记录'|translate}}</button>
                <button class="btn btn-primary" uib-tooltip="刷新" ng-click="agent.reload()" ><i class="fa fa-refresh fa-fw" ng-class="{'fa-spin':!agent.loadover}" ></i></button>
                <button class="btn btn-primary" uib-tooltip="添加" ng-click="agent.addregion()"><i class="fa fa-plus"></i></button>
            </span>
            <h5>{{ agent.nodeStr }}</h5>
        </div>

        <div class="admin-form row">
            <label class="col-md-2 control-label fwbold" style="padding-left: 27px;padding-right: 27px;padding-top: 6px;">{{'C3T.状态自动监测更新'|translate}}</label>
            <div class="col-md-1" style="padding: 0;">
                <label class="switch switch-system mt5">
                    <input type="checkbox" id="check_status" ng-model="agent.checknewstatus">
                    <label for="check_status" data-on="ON" data-off="OFF"></label>
                </label>
            </div>
            <div class="col-md-1" style="padding: 0;">
                <button class="btn btn-primary" ng-if="agent.checkoldstatus!=agent.checknewstatus" uib-tooltip="添加机器" ng-click="agent.savecheckstatus()">{{'C3T.保存新状态'|translate}}</button>
            </div>
        </div>


        <div class="panel-body" ng-if="agent.checkstatusloadover" >
            <div style="padding: 10px">
                <span style="font-size: 14px;font-weight: bold; color: #626262">{{'C3T.安装代理'|translate}}:</span>
                <span style="color: red">curl -L {{agent.siteaddr}}/api/scripts/installProxy.sh |sudo OPEN_C3_ADDR={{agent.siteaddr}} bash</span>
            </div>
            <div style="padding: 10px">
                <span style="font-size: 14px;font-weight: bold; color: #626262">{{'C3T.安装AGENT'|translate}}:</span>
                <span style="color: red">curl -L {{agent.siteaddr}}/api/scripts/installAgent.sh |sudo OPEN_C3_ADDR={{agent.siteaddr}} bash</span>
            </div>
            <div style="padding: 10px">
                <span style="font-size: 14px;font-weight: bold; color: #626262">{{'C3T.指定AGENT启动用户'|translate}}:</span>
                <span>OPEN_C3_AGENT_USER=worker</span>
            </div>

            <div style="padding: 10px">
                <span style="font-size: 14px;font-weight: bold; color: #626262">{{'C3T.强制重装'|translate}}:</span>
                <span>OPEN_C3_AGENT_FORCE_INSTALL=1</span>
            </div>
            <div style="padding: 10px">
                <span style="font-size: 14px;font-weight: bold; color: #626262">{{'C3T.卸载命令【目录删除后AGENT会自动退出】'|translate}}:</span>
                <span>rm -rf /opt/mydan /data/mydan /etc/cron.d/mydan_bootstrap_cron_7d29f42</span>
            </div>
            <div style="padding-left: 93%">
                <a style="font-size: 14px;font-weight: bold" class="btn btn-primary" href="{{agent.siteaddr}}/api/agent/proxy/{{agent.treeid}}" target="_blank">{{'C3T.代理接口'|translate}}</a>
            </div>

            <hr>

            <div style="padding: 10px">
                <span style="font-size: 14px;font-weight: bold; color: #626262">{{'C3T.安装'|translate}} AGENT MON:</span>
                <span style="color: red">curl -L {{agent.siteaddr}}/api/scripts/installAgentMon.sh |sudo OPEN_C3_ADDR={{agent.siteaddr}} bash</span>
            </div>
 
            <div style="padding: 10px">
                <span style="font-size: 14px;font-weight: bold; color: #626262">{{'C3T.部署windowns_exporter服务(window系统)'|translate}}:</span>
                <span>
<br>
{{'C3T.一、下载最新版'|translate}}：<br>
Release v0.20.0 · prometheus-community/windows_exporter<br>
<br>
{{'C3T.二、安装（默认端口9128，这里可以通过此方法在安装的时候指定端口）'|translate}}<br>
cd C:\Users\Administrator\Downloads<br>
msiexec /i windows_exporter-0.20.0-amd64.msi LISTEN_PORT=65110<br>
<br>
{{'C3T.三、验证服务'|translate}}<br>
netstat -ano {{'C3T.检查65110端口是否启动'|translate}}<br>
service.msc {{'C3T.查看服务名为windowns_exporter的服务是否启动'|translate}}<br>
http://localhost:65110/metrics {{'C3T.浏览器访问测试一下'|translate}}<br>
</span>
            </div>
 
            <hr>

            <div style="padding: 10px">
                <span style="font-size: 14px;font-weight: bold; color: #626262">{{'C3T.安装'|translate}} MysqlQuery【{{'C3T.端口'|translate}} 65113】:</span>
                <span style="color: red">curl -L {{agent.siteaddr}}/api/scripts/installMysqlQuery.sh |sudo OPEN_C3_ADDR={{agent.siteaddr}} bash</span>
            </div>

             <div style="padding: 10px">
                <span style="font-size: 14px;font-weight: bold; color: #626262">{{'C3T.安装'|translate}} RedisQuery【{{'C3T.端口'|translate}} 65114】:</span>
                <span style="color: red">curl -L {{agent.siteaddr}}/api/scripts/installRedisQuery.sh |sudo OPEN_C3_ADDR={{agent.siteaddr}} bash</span>
            </div>

            <div style="padding: 10px">
                <span style="font-size: 14px;font-weight: bold; color: #626262">{{'C3T.安装'|translate}} MongodbQuery【{{'C3T.端口'|translate}} 65115】:</span>
                <span style="color: red">curl -L {{agent.siteaddr}}/api/scripts/installMongodbQuery.sh |sudo OPEN_C3_ADDR={{agent.siteaddr}} bash</span>
            </div>

         </div>

        <br>
        <br>
        <div class="panel-body">
            <div class="pt20">
                <table ng-table="agent.activeRegionTable" class="table table-hover text-center table-condensed">
                    <tr ng-repeat="m in $data">
                        <td data-title="'ID'">{{m.id}}</td>
                        <td data-title="'C3T.区域'|translate"><font size="5">{{m.region}}</font></td>
                        <td data-title="'C3T.代理'|translate">
                            <font size="3" color="green">{{'C3T.正常'|translate}}：{{m.proxy.success||0}}</font><br><font size="3" color="red">{{'C3T.异常'|translate}}：{{m.proxy.fail||0}}</font><br>
                            <button class="btn btn-primary" ng-if="m.regionprojectid == agent.treeid" uib-tooltip="添加代理" ng-click="agent.addproxy( m.id, m.region )"><i class="fa fa-plus"></i></button></td>
                        <td data-title="'C3T.网段'|translate">
                            <font size="3" color="green">{{'C3T.正常'|translate}}：{{m.agent.success||0}}</font><br><font size="3" color="red">{{'C3T.异常'|translate}}：{{m.agent.fail||0}}</font><br>
                            <button class="btn btn-primary" ng-if="m.proxy.success || m.agent.success > 0 || m.agent.fail > 0 " uib-tooltip="添加网段" ng-click="agent.addagent(m.id,m.region)"><i class="fa fa-plus"></i></button></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
