    <div class="row" style="padding: 10px 20px 0px;">
        <nodestr></nodestr>
    </div>
    <div class="panel panel-primary" style="width: 100%">
        <div class="panel-body">
            <div class="form-horizontal">
                <form class="form-horizontal" name="runtaskForm"  role="form" novalidate>
                    <div class="row">
                        <div class="col-sm-10 form-group">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-10 form-group">
                            <label class="col-sm-3 control-label">作业: &nbsp;
                                <i ng-if="!runtask.jobsloadover" class="fa fa-refresh fa-fw" ng-class="{'fa-spin':!runtask.jobsloadover}" ></i>
                            </label>
                            <div class="col-sm-6">
                                <select  class="form-control " style="font-size: 15px;height: 42px"  ng-model="choiceJob" ng-options="s.alias for s in allJobs" required>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="runtask.showjobxgroup == 1" >
                        <div class="col-sm-10 form-group">
                            <label class="col-sm-3 control-label">分组: &nbsp;</label>
                            <div class="col-sm-6"> <select  class="form-control " style="font-size: 15px;height: 42px"  ng-model="taskData.group" ng-options="s.name as s.alias for s in allGroups" required> </select> </div>
                        </div>
                    </div>
 
                    <div class="row" ng-repeat="ss in jobVar">

                        <div ng-show="!runtask.varsvalue[ss.name] && ss.name=='C3TEXT'" class="col-sm-10 form-group">
                            <div>
                                <label class="col-sm-3 control-label">{{ss.name}}: &nbsp;</label>
                                <div class="col-sm-6"> 
                                    <textarea type="text" rows="5" cols="1"  class="form-control" ng-model="ss.value" placeholder="内容" required> </textarea>
                                </div>
                                <label class="col-sm-3" style="color: gray" >{{ss.describe}}</label>
                            </div>
                        </div>

                        <div ng-show="!runtask.varsvalue[ss.name] && ss.name=='C3SUBTREE'" class="col-sm-10 form-group">
                            <div>
                                <label class="col-sm-3 control-label">{{ss.name}}: &nbsp;
                                    <i ng-if="!runtask.c3subtreeloadover" class="fa fa-refresh fa-fw" ng-class="{'fa-spin':!runtask.c3subtreeloadover}" ></i>
                                </label>
                                <div class="col-sm-6">
                                    <select  class="form-control " style="font-size: 15px;height: 42px"  ng-model="ss.value" required>
                                        <option ng-repeat="x in runtask.c3subtree" value="{{x.id}}">{{x.name}}</option>
                                    </select>
                                </div>
                                <label class="col-sm-3" style="color: gray" >{{ss.describe}}</label>
                            </div>
                        </div>

                        <div ng-show="!runtask.varsvalue[ss.name] && ss.name!='C3TEXT' && ss.name!='C3SUBTREE'" class="col-sm-10 form-group">
                            <div>
                                <label class="col-sm-3 control-label">{{ss.name}}: &nbsp;</label>
                                <div class="col-sm-6"> <input type="text" class="form-control" ng-model="ss.value" placeholder="填写任务变量" required> </div>
                                <label class="col-sm-3" style="color: gray" >{{ss.describe}}</label>
                            </div>

                        </div>

                        <div ng-show="runtask.varsvalue[ss.name]" class="col-sm-10 form-group">
                            <div ng-show="runtask.handwritten[ss.name]">
                                <label class="col-sm-3 control-label">{{ss.name}}: &nbsp;</label>
                                <div class="col-sm-6"> <input type="text" class="form-control" ng-model="ss.value" placeholder="填写任务变量" typeahead="name for name in runtask.varsvalue[ss.name].sort()|filter:$viewValue| limitTo:8" required> </div>
                                <label class="col-sm-3" style="color: gray" >{{ss.describe}}</label>
                            </div>

                            <div ng-show="!runtask.handwritten[ss.name]">
                                <label class="col-sm-3 control-label">{{ss.name}}: &nbsp;</label>
                                <div class="col-sm-6">
                                    <select  class="form-control " style="font-size: 15px;height: 42px"  ng-model="ss.value" ng-options="n for n in runtask.varsvalue[ss.name]" required>
                                    </select>
                                </div>
                                <label class="col-sm-3" style="color: gray" >{{ss.describe}}</label>
                            </div>

                            <div class="col-sm-1" ng-if="ss.name != 'tester' && ss.name != 'approver'">
                                <a ng-if="runtask.handwritten[ss.name]" class="fa fa-toggle-on fa-2x" data-toggle="tooltip" data-placement="left" uib-tooltip="选择" aria-hidden="true"style="padding-top: 11px;font-size: larger;" ng-click="runtask.handwritten[ss.name]=0">选择</a>
                                <a ng-if="!runtask.handwritten[ss.name]" class="fa fa-toggle-off fa-2x" data-toggle="tooltip" data-placement="left" uib-tooltip="手写" aria-hidden="true"style="padding-top: 11px;font-size: larger;" ng-click="runtask.handwritten[ss.name]=1">过滤</a>
                            </div>

                        </div>
 
                    </div>
                    <div ng-if="choiceJob" class="row">
                        <div class="col-sm-3 form-group" style="margin-left: 40%;">
                            <button ng-if="!runtask.loadover" class="btn btn-primary" ng-disabled="1" ><i class="fa fa-refresh fa-fw" ng-class="{'fa-spin':!runtask.loadover}" ></i>加载中...</button>
                            <button ng-if="runtask.loadover"  class="btn btn-primary" ng-disabled="runtaskForm.$invalid" ng-click="runtask.runTask()">确认</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
