<div class="block-section" style="height:300px;overflow-y:auto;" ng-class="{'solution-highlight':(ttshow.ticket.root_cause==''||ttshow.ticket.solution=='') && ttshow.ticket.status=='resolved'}">

    <div class="form-group" style="margin:5px 0;">
        <label class="control-label col-md-2" translate="D.Base.root_cause"></label>
        <div class="tteditor" contenteditable ng-model="ttshow.ticket.root_cause" style="height:90px;"></div>
    </div>

    <div class="form-group" style="margin:5px 0;">
        <label class="control-label col-md-2" translate="D.Base.solution"></label>
        <div class="tteditor" contenteditable ng-model="ttshow.ticket.solution" style="height:190px;"></div>
    </div>

</div>
