# my global config
global:
  scrape_interval:     60s # Set the scrape interval to every 15 seconds. Default is every 1 minute.
  evaluation_interval: 60s # Evaluate rules every 15 seconds. The default is every 1 minute.
  # scrape_timeout is set to the global default (10s).
  external_labels:
    monitor: 'openc3-monitor'

# Alertmanager configuration
alerting:
  alertmanagers:
  - static_configs:
    - targets:
       - OPENC3_ALERTMANAGER_IP:9093

# Load rules once and periodically evaluate them according to the global 'evaluation_interval'.
rule_files:
  # - "first_rules.yml"
  # - "second_rules.yml"
  - openc3_rule.yml

# A scrape configuration containing exactly one endpoint to scrape:
# Here it's Prometheus itself.
scrape_configs:
  - job_name: 'openc3'
    file_sd_configs:
      - files:
        - openc3_node_sd.yml

  - job_name: 'openc3-mysql-v3'
    file_sd_configs:
      - files:
        -  openc3_mysql_sd_v3.yml

  - job_name: 'openc3-redis-v3'
    file_sd_configs:
      - files:
        -  openc3_redis_sd_v3.yml

  - job_name: 'openc3-mongodb-v3'
    file_sd_configs:
      - files:
        -  openc3_mongodb_sd_v3.yml
 
  - job_name: 'cloudmon'
    scrape_interval: 60s
    scrape_timeout: 60s
    file_sd_configs:
      - files:
        - openc3_cloudmon_sd.yml

  - job_name: 'cloudmon-prometheus-federate'
    scrape_interval: 15s
    scrape_timeout: 15s
    honor_labels: true
    metrics_path: '/federate'
    params:
      'match[]':
        - '{job!="xx"}'
    file_sd_configs:
      - files:
        - openc3_cloudmon_sd_prometheus-federate.yml

  - job_name: 'openc3-mysql'
    file_sd_configs:
      - files:
        - openc3_mysql_sd.yml

  - job_name: 'openc3-redis'
    file_sd_configs:
      - files:
        - openc3_redis_sd.yml

  - job_name: 'openc3-treeinfo'
    scrape_interval: 60s
    scrape_timeout: 60s
    metrics_path: /treeinfo.txt
    honor_labels: true
    static_configs:
    - targets: ['OPENC3_SERVER_IP:38080']

  - job_name: 'openc3-devicetreeinfo'
    scrape_interval: 60s
    scrape_timeout: 60s
    metrics_path: /devicetreeinfo.txt
    honor_labels: true
    static_configs:
    - targets: ['OPENC3_SERVER_IP:38080']

  - job_name: 'openc3-devicesyncinfo'
    scrape_interval: 60s
    scrape_timeout: 60s
    metrics_path: /devicesyncinfo.txt
    honor_labels: true
    static_configs:
    - targets: ['OPENC3_SERVER_IP:38080']

  - job_name: 'openc3-deviceextmetrics'
    scrape_interval: 60s
    scrape_timeout: 60s
    metrics_path: /deviceextmetrics.txt
    honor_labels: true
    static_configs:
    - targets: ['OPENC3_SERVER_IP:38080']

  - job_name: 'openc3-devicesynctime'
    scrape_interval: 60s
    scrape_timeout: 60s
    metrics_path: /devicesynctime.txt
    honor_labels: true
    static_configs:
    - targets: ['OPENC3_SERVER_IP:38080']

  - job_name: 'openc3-system'
    scrape_interval: 60s
    scrape_timeout: 60s
    metrics_path: /api/jobx/monitor/metrics
    honor_labels: true
    static_configs:
    - targets: ['openc3-server']
 
  - job_name: 'blackbox'
    metrics_path: /probe
    params:
      module: [http_2xx]  # Look for a HTTP 200 response.
    file_sd_configs:
    - refresh_interval: 2m
      files:
      - targets/blackbox-exporter-http.yml
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: openc3-blackbox_exporter:9115  # The blackbox exporter's real hostname:port.

