<div class="modal-header">
    <h4 class="modal-title">{{'C3T.编辑监控报警组成员'|translate}}</h4>
</div>
<div class="modal-body">

    <form class="form-horizontal" name="myForm" role="form">

        <div class="row">
          <div style="float: right;">
            <div class="col-sm-10 form-group">
                <div class="col-sm-8">
                    <input type="text" class="form-control" placeholder="报警组成员帐号" ng-model="createMonitorGroupUser.user" required>
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-primary" ng-disabled="myForm.$invalid" ng-click="createMonitorGroupUser.add()"><i class="fa fa-user fa-lg" aria-hidden="true"></i>{{'C3T.添加报警人'|translate}}</button>
                </div>
 
            </div>
          </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <span class="panel-controls">
                    <button class="btn btn-primary" uib-tooltip="刷新" ng-click="createMonitorGroupUser.reload()" ><i class="fa fa-refresh fa-fw" ng-class="{'fa-spin':!createMonitorGroupUser.loadover}" ></i></button>
                </span>
                <h5>{{'C3T.监控组成员'|translate}}</h5>
            </div>

            <div class="panel-body flowline">
                <div class="pt20" style="overflow: auto;">
                    <table ng-table="createMonitorGroupUser.groupuserTable" class="table table-scroll table-hover text-center table-condensed" show-filter="true">
                        <tr ng-repeat="m in $data">
                            <td data-title="'C3T.编号'|translate" sortable="'id'">{{m.id}}</td>
                            <td data-title="'C3T.成员'|translate" sortable="'user'">{{m.user}}</td>
                            <td data-title="'C3T.编辑者'|translate" sortable="'edit_user'">{{m.edit_user}}</td>
                            <td data-title="'C3T.编辑时间'|translate" sortable="'edit_time'">{{m.edit_time}}</td>
                            <td class="textcenter"  data-title="'C3T.操作'|translate">
                                <nobr>
                                    <i class="fa fa-times-circle fa-2x" aria-hidden="true" ng-click="createMonitorGroupUser.deleteUser(m.id)" uib-tooltip="删除" style="cursor:pointer;color: red;" ></i>
                                </nobr>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-5 form-group pull-right">
                <button class="btn btn-warning" ng-click="createMonitorGroupUser.cancel()">{{'C3T.取消'|translate}}</button>
            </div>
        </div>
    </form>

</div>
