<div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <span class="panel-controls">
                <button class="btn btn-primary" uib-tooltip="保存" ng-click="sysctl.save()"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
                <button class="btn btn-primary" uib-tooltip="刷新" ng-click="sysctl.reload()" ><i class="fa fa-refresh fa-fw" ng-class="{'fa-spin':!sysctl.loadover}" ></i></button>
            </span>
            <h5>系统参数管理</h5>
        </div>


        <div class="panel-body">
            <div class="form-horizontal">
                <div class="container-fluid">
                  <h4>CI(持续构建)</h4>
                    <div class="row">
                        <div class="col-sm-10 form-group">
                            <label class="col-sm-2 control-label">自动构建</label>
                            <div class="col-sm-2" ng-init="autobuildlist = [0,1]" >
                                <select id="selecteddataval" class="form-control"  ng-model="sysctl.sysctl['ci.autobuild']" >
                                    <option ng-repeat="x in autobuildlist" value="{{x}}">{{x}}</option>
                                </select>
                            </div>
                            <label class="col-sm-4 control-label">默认是1。如果是0时，发现的tag都不进行自动构建。</label>
                        </div>

                        <div class="col-sm-10 form-group">
                            <label class="col-sm-2 control-label">默认tagger</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" ng-model="sysctl.sysctl.cidefaulttagger" required />
                            </div>
                        </div>
                        <div class="col-sm-10 form-group">
                            <label class="col-sm-2 control-label">findtags并发数</label>
                            <div class="col-sm-9" ng-init="cifindtagsconcurrencylist = [1,2,3,4,5,6,7,8,9,10,15,20,30,40,50,60,70,80,90,100]" >
                                <select id="selecteddataval" class="form-control"  ng-model="sysctl.sysctl['ci.findtags.concurrency']" style="width: 20%" >
                                    <option ng-repeat="x in cifindtagsconcurrencylist" value="{{x}}">{{x}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-10 form-group">
                            <label class="col-sm-2 control-label">findtags间隔（秒）</label>
                            <div class="col-sm-2" ng-init="cifindtagsintervallist = [0,30, 60, 90,120, 180, 300]" >
                                <select id="selecteddataval" class="form-control"  ng-model="sysctl.sysctl['ci.findtags.interval']" >
                                    <option ng-repeat="x in cifindtagsintervallist" value="{{x}}">{{x}}</option>
                                </select>
                            </div>
                            <label class="col-sm-4 control-label">当时间间隔为0时表示不开启该服务</label>
                        </div>

                        <div class="col-sm-10 form-group">
                            <label class="col-sm-2 control-label">单个构建默认CPU限制(核)</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" ng-model="sysctl.sysctl['ci.default.cpulimit']" required />
                            </div>
                            <label class="col-sm-4 control-label">最多使用的cpu核数，可以是小数，如 1.5 </label>
                        </div>
 
                        <div class="col-sm-10 form-group">
                            <label class="col-sm-2 control-label">单个构建默认内存限制(m)</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" ng-model="sysctl.sysctl['ci.default.memlimit']" required />
                            </div>
                            <label class="col-sm-4 control-label">单个构建中最多使用的内存,单位是兆</label>
                        </div>

                        <div class="col-sm-10 form-group">
                            <label class="col-sm-2 control-label">可以分配给构建任务的所有内存(m)</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" ng-model="sysctl.sysctl['ci.available.mem']" required />
                            </div>
                            <label class="col-sm-4 control-label">内存会被分配给任务，内存不够分配时，构建任务会排队等待</label>
                        </div>

                    </div>
                </div>

<hr>

                <div class="container-fluid">
                  <h4>系统备份</h4>
                    <div class="row">
                        <div class="col-sm-10 form-group">
                            <label class="col-sm-2 control-label">名称</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="sysctl.sysctl['sys.backup.name']" required />
                            </div>
                        </div>
                        <div class="col-sm-10 form-group">
                            <label class="col-sm-2 control-label">上传地址url</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="sysctl.sysctl['sys.backup.url']" required />
                            </div>
                        </div>
                        <div class="col-sm-10 form-group">
                            <label class="col-sm-2 control-label">上传地址token</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="sysctl.sysctl['sys.backup.token']" required />
                            </div>
                        </div>
                    </div>
                </div>

<hr>
                <div class="container-fluid">
                  <h4>QA系统联动</h4>
                    <div class="row">
                        <div class="col-sm-10 form-group">
                            <label class="col-sm-2 control-label">回调地址</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="sysctl.sysctl['external.qa.sys.callback.url']" required />
                            </div>
                        </div>
                        <div class="col-sm-10 form-group">
                            <label class="col-sm-2 control-label">返回结果匹配内容</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="sysctl.sysctl['external.qa.sys.callback.match']" required />
                            </div>
                        </div>
 
                    </div>
                </div>

<hr>
                <div class="container-fluid">
                  <h4>集群设置</h4>
                    <div class="row">
                        <div class="col-sm-10 form-group">
                            <label class="col-sm-2 control-label">域名</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="sysctl.sysctl['sys.cluster.domain']"/>
                            </div>
                        </div>
                        <div class="col-sm-10 form-group">
                            <label class="col-sm-2 control-label">slave列表</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="sysctl.sysctl['sys.cluster.slave']"/>
                            </div>
                        </div>
 
                    </div>
                </div>

<hr>
                <div class="container-fluid">
                  <h4>登录</h4>
                    <div class="row">
                        <div class="col-sm-10 form-group">
                            <label class="col-sm-2 control-label">登录验证方式</label>
                            <div class="col-sm-9" ng-init="logintypelist = ['mysql','ldap']" >
                                <select id="selecteddataval" class="form-control"  ng-model="sysctl.sysctl['sys.login.type']" style="width: 20%" >
                                    <option ng-repeat="x in logintypelist" value="{{x}}">{{x}}</option>
                                </select>
                            </div>
                        </div>

                        <div ng-if="sysctl.sysctl['sys.login.type'] == 'ldap'" >

                        <div class="col-sm-10 form-group">
                            <label class="col-sm-2 control-label">ldap主机名</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="sysctl.sysctl['sys.login.ldap.host']" required />
                            </div>
                        </div>

                        <div class="col-sm-10 form-group">
                            <label class="col-sm-2 control-label">ldap端口</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="sysctl.sysctl['sys.login.ldap.port']" required />
                            </div>
                        </div>

                        <div class="col-sm-10 form-group">
                            <label class="col-sm-2 control-label">admin用户</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="sysctl.sysctl['sys.login.ldap.admin.user']" required />
                            </div>
                        </div>

                        <div class="col-sm-10 form-group">
                            <label class="col-sm-2 control-label">admin密码</label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control" ng-model="sysctl.sysctl['sys.login.ldap.admin.pass']" required />
                            </div>
                        </div>

                        <div class="col-sm-10 form-group">
                            <label class="col-sm-2 control-label">基础DN</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="sysctl.sysctl['sys.login.ldap.dn']" required />
                            </div>
                        </div>

                        <div class="col-sm-10 form-group">
                            <label class="col-sm-2 control-label">组角色ID【管理员】</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="sysctl.sysctl['sys.login.ldap.role.admin']" required />
                            </div>
                        </div>

                        <div class="col-sm-10 form-group">
                            <label class="col-sm-2 control-label">组角色ID【运维】</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="sysctl.sysctl['sys.login.ldap.role.ops']" required />
                            </div>
                        </div>

                        <div class="col-sm-10 form-group">
                            <label class="col-sm-2 control-label">组角色ID【研发】</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="sysctl.sysctl['sys.login.ldap.role.dev']" required />
                            </div>
                        </div>
 
                        </div>

                    </div>
                </div>

<hr>

                <div class="container-fluid">
                  <h4>连接器缓存</h4>
                    <div class="row">
                        <div class="col-sm-10 form-group">
                            <label class="col-sm-2 control-label">nodeinfo缓存超时</label>
                            <div class="col-sm-9">
                                <select id="selecteddataval" class="form-control"  ng-model="sysctl.sysctl['sys.cache.nodeinfo.timeout']" style="width: 20%" >
                                    <option ng-repeat="x in [0, 30, 60, 120, 300, 3600, 86400, 604800, 31536000]" value="{{x}}">{{x}}</option>
                                </select>
 
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-10 form-group">
                            <label class="col-sm-2 control-label">treemap缓存超时</label>
                            <div class="col-sm-9">
                                <select id="selecteddataval" class="form-control"  ng-model="sysctl.sysctl['sys.cache.treemap.timeout']" style="width: 20%" >
                                    <option ng-repeat="x in [0, 30, 60, 120, 300, 3600, 86400, 604800, 31536000]" value="{{x}}">{{x}}</option>
                                </select>
 
                            </div>
                        </div>
                    </div>
 
                </div>
 
<hr>
                <div class="container-fluid">
                  <h4>监控系统设置</h4>
                    <div class="row">
                        <div class="col-sm-10 form-group">
                            <label class="col-sm-2 control-label">监控模式</label>
                            <div class="col-sm-9" >
                                <select id="selecteddataval" class="form-control"  ng-model="sysctl.sysctl['sys.monitor.mode']" style="width: 20%" >
                                    <option ng-repeat="x in [{'k':'禁用','v': 'off'},{'k': '单机版模式', 'v': 'single'},{ 'k': 'prometheus','v': 'prometheus' },{'k': 'thanos','v':'thanos'}]" value="{{x.v}}">{{x.k}}</option>
                                </select>
                            </div>
                        </div>

                        <div ng-if="sysctl.sysctl['sys.monitor.mode'] !== 'off'" >

                        <div class="col-sm-10 form-group">
                            <label class="col-sm-2 control-label">服务树过滤</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="sysctl.sysctl['sys.monitor.grep.tree']" required />
                            </div>
                        </div>
 
                        <div class="col-sm-10 form-group">
                            <label class="col-sm-2 control-label">主机ip过滤</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="sysctl.sysctl['sys.monitor.grep.node']" required />
                            </div>
                        </div>
 
                        </div>

                        <div ng-if="sysctl.sysctl['sys.monitor.mode'] == 'prometheus'" >

                        <div class="col-sm-10 form-group">
                            <label class="col-sm-2 control-label">prometheus副本数</label>
                            <div class="col-sm-9"  >
                                <select id="selecteddataval" class="form-control"  ng-model="sysctl.sysctl['sys.monitor.prometheus.prometheus.replica']" style="width: 20%" >
                                    <option ng-repeat="x in [1,2,3,4]" value="{{x}}">{{x}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-10 form-group">
                            <label class="col-sm-2 control-label">alertmanager副本数</label>
                            <div class="col-sm-9"  >
                                <select id="selecteddataval" class="form-control"  ng-model="sysctl.sysctl['sys.monitor.prometheus.alertmanager.replica']" style="width: 20%" >
                                    <option ng-repeat="x in [1,2,3,4]" value="{{x}}">{{x}}</option>
                                </select>
                            </div>
                        </div>

                        </div>


                        <div ng-if="sysctl.sysctl['sys.monitor.mode'] == 'thanos'" >

                        <div class="col-sm-10 form-group">
                            <label class="col-sm-2 control-label">thanos web地址</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="sysctl.sysctl['sys.monitor.thanos.thanos.web.addr']" required />
                            </div>
                        </div>
 

                        <div class="col-sm-10 form-group">
                            <label class="col-sm-2 control-label">对象存储类型</label>
                            <div class="col-sm-9" >
                                <select id="selecteddataval" class="form-control"  ng-model="sysctl.sysctl['sys.monitor.thanos.objstore.mode']" style="width: 20%" >
                                    <option ng-repeat="x in ['S3','null']" value="{{x}}">{{x}}</option>
                                </select>
                            </div>
                        </div>


                        <div ng-if="sysctl.sysctl['sys.monitor.thanos.objstore.mode'] == 'S3'" >

                        <div class="col-sm-10 form-group">
                            <label class="col-sm-2 control-label">bucket</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="sysctl.sysctl['sys.monitor.thanos.objstore.S3.bucket']" required />
                            </div>
                        </div>
                        <div class="col-sm-10 form-group">
                            <label class="col-sm-2 control-label">access_key</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="sysctl.sysctl['sys.monitor.thanos.objstore.S3.access_key']" required />
                            </div>
                        </div>

                        <div class="col-sm-10 form-group">
                            <label class="col-sm-2 control-label">secret_key</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="sysctl.sysctl['sys.monitor.thanos.objstore.S3.secret_key']" required />
                            </div>
                        </div>
                        <div class="col-sm-10 form-group">
                            <label class="col-sm-2 control-label">endpoint</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="sysctl.sysctl['sys.monitor.thanos.objstore.S3.endpoint']" required />
                            </div>
                        </div>

                        </div>
 
                        <div class="col-sm-10 form-group">
                            <label class="col-sm-2 control-label">alertmanager副本数</label>
                            <div class="col-sm-9"  >
                                <select id="selecteddataval" class="form-control"  ng-model="sysctl.sysctl['sys.monitor.thanos.alertmanager.replica']" style="width: 20%" >
                                    <option ng-repeat="x in [1,2,3,4]" value="{{x}}">{{x}}</option>
                                </select>
                            </div>
                        </div>

                        </div>

                    </div>
                </div>



             </div>
        </div>
    </div>
</div>


