<div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <span class="panel-controls">
                <button class="btn btn-primary" uib-tooltip="保存" ng-click="sysctl.save()"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
                <button class="btn btn-primary" uib-tooltip="刷新" ng-click="sysctl.reload()" ><i class="fa fa-refresh fa-fw" ng-class="{'fa-spin':!sysctl.loadover}" ></i></button>
            </span>
            <h5>系统参数管理</h5>
        </div>


        <div class="panel-body">
            <div class="form-horizontal">
                <div class="container-fluid">
                  <h4>CI(持续构建)</h4>
                    <div class="row">
                        <div class="col-sm-10 form-group">
                            <label class="col-sm-2 control-label">默认tagger</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="sysctl.sysctl.cidefaulttagger" required />
                            </div>
                        </div>
                        <div class="col-sm-10 form-group">
                            <label class="col-sm-2 control-label">findtags并发数</label>
                            <div class="col-sm-9" ng-init="cifindtagsconcurrencylist = [1,2,3,4,5,6,7,8,9,10,15,20,30,40,50,60,70,80,90,100]" >
                                <select id="selecteddataval" class="form-control"  ng-model="sysctl.sysctl['ci.findtags.concurrency']" style="width: 20%" >
                                    <option ng-repeat="x in cifindtagsconcurrencylist" value="{{x}}">{{x}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-10 form-group">
                            <label class="col-sm-2 control-label">findtags间隔（秒）</label>
                            <div class="col-sm-2" ng-init="cifindtagsintervallist = [0,30, 60, 90,120, 180, 300]" >
                                <select id="selecteddataval" class="form-control"  ng-model="sysctl.sysctl['ci.findtags.interval']" >
                                    <option ng-repeat="x in cifindtagsintervallist" value="{{x}}">{{x}}</option>
                                </select>
                            </div>
                            <label class="col-sm-4 control-label">当时间间隔为0时表示不开启该服务</label>
                        </div>
                    </div>
                </div>


                <div class="container-fluid">
                  <h4>系统备份</h4>
                    <div class="row">
                        <div class="col-sm-10 form-group">
                            <label class="col-sm-2 control-label">名称</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="sysctl.sysctl['sys.backup.name']" required />
                            </div>
                        </div>
                        <div class="col-sm-10 form-group">
                            <label class="col-sm-2 control-label">上传地址url</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="sysctl.sysctl['sys.backup.url']" required />
                            </div>
                        </div>
                        <div class="col-sm-10 form-group">
                            <label class="col-sm-2 control-label">上传地址token</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="sysctl.sysctl['sys.backup.token']" required />
                            </div>
                        </div>
                    </div>
                </div>


             </div>
        </div>
    </div>
</div>


