<div class="row block" id="changewidth">

    <div class="panel panel-primary">

        <div class="panel-heading">
            <span class="panel-controls">

                <button class="btn btn-primary" uib-tooltip="{{'C3T.刷新'|translate}}" ng-click="approvaledit.reload()" ><i class="fa fa-refresh fa-fw" ng-class="{'fa-spin':!approvaledit.loadover}" ></i></button>
                <button class="btn btn-primary" ng-click="approvaledit.cancel()" uib-tooltip="{{'C3T.关闭'|translate}}">
                    <i class="fa fa-times fa-fw"></i>
                </button>
            </span>
            <h5>{{'C3T.审批'|translate}}:{{approvaledit.data.name}}</h5>
        </div>

        <div class="panel-body" ng-init="ns = { 'null': 'C3T.未发送', 'sending': 'C3T.发送中', 'done':'C3T.完成', 'skip': 'C3T.忽略', 'fail': 'C3T.失败'}">
            <div class="panel-tabs">
                <table ng-table="approvaledit.dataTable" class="table table-hover text-center table-condensed">
                    <tr ng-repeat="d in $data">
                        <td style="width: 10%" data-title="'C3T.审批人'|translate">{{d.user}}</td>
                        <td style="width: 10%" data-title="'C3T.耗时'|translate">{{approvaledit.seftime(d.create_time,d.finishtime)}}</td>
                        <td style="width: 10%" data-title="'C3T.OA单号'|translate">{{d.oauuid}}</td>
                        <td style="width: 10%" data-title="'C3T.通知状态'|translate" >{{ns[d.notifystatus]|translate}}</td>
                        <td style="width: 10%" data-title="'C3T.审批状态'|translate">
                            <a ng-if="d.opinion == 'agree'" style="color: green"> {{'C3T.同意'|translate}} </a>
                            <a ng-if="d.opinion == 'unconfirmed'"> {{'C3T.未审批'|translate}} </a>
                            <a ng-if="d.opinion == 'refuse'" style="color: red"> {{'C3T.拒绝'|translate}} </a>
                       </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="table-responsive" style="width: 100%">
            <table class="table table-bordered" style="font-weight: bold;border: 0px;">
                <tbody>
                    <tr>
                        <td>{{'C3T.创建时间'|translate}}</td>
                        <td>{{approvaledit.data.create_time}}</td>
                        <td>{{'C3T.审批名称'|translate}}</td>
                        <td>{{approvaledit.data.name}}</td>
                        <td>{{'C3T.提交人'|translate}}</td>
                        <td>{{approvaledit.data.submitter}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <a><pre>{{'C3T.审批内容'|translate}}: {{approvaledit.data.cont}}</pre></a>

        <div class="panel-footer text-right">
            <button class="btn btn-success" ng-disabled="!approvaledit.show" ng-click="approvaledit.edit('agree')">{{'C3T.同意'|translate}}</button>
            <button class="btn btn-danger" ng-disabled="!approvaledit.show" ng-click="approvaledit.edit('refuse')">{{'C3T.拒绝'|translate}}</button>
        </div>

    </div>

</div>
