.select-service-tree {
  &-source {
    margin: 20px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &-label  {
      font-weight: 600;
    }
    &-text {
      margin-left: 30px;
    }
  }
  &-target {
    margin: 20px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}
.confirm-btn {
  margin-top: 20px;
}