<div class="row block">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <span class="panel-controls">
                <button class="btn btn-primary" uib-tooltip="{{'C3T.刷新'|translate}}" ng-click="config.reload()" ><i class="fa fa-refresh fa-fw" ng-class="{'fa-spin':!config.loadover}" ></i></button>
                <button class="btn btn-primary" uib-tooltip="{{'C3T.保存'|translate}}" ng-click="config.save()"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
                <button class="btn btn-primary" uib-tooltip="{{'C3T.关闭'|translate}}" ng-click="config.cancel()"><i class="fa fa-times" aria-hidden="true"></i></button>
            </span>
            <h5>{{ config.name }}</h5>
        </div>

        <div class="panel-body">
            <div class="pt20">
                <div>
                    <div class="form-group admin-form">
                        <div class="row">
                            <label class="col-md-2 control-label fwbold" >{{'C3T.开关'|translate}}:</label>
                            <div class="col-md-5">
                                <label class="switch switch-system mt5">
                                    <input type="checkbox" id="check_status" ng-model="config.status">
                                    <label for="check_status" data-on="ON" data-off="OFF"></label>
                                </label>
                            </div>
                            <label class="col-md-2 control-label fwbold" >{{'C3T.审计范围内'|translate}}:</label>
                            <div class="col-md-2">
                                <label class="switch switch-system mt5">
                                    <input type="checkbox" id="check_audit_level" ng-model="config.audit_level">
                                    <label for="check_audit_level" data-on="是" data-off="否"></label>
                                </label>
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-md-2 control-label fwbold" >{{'C3T.定时发现tags'|translate}}:</label>
                            <div class="col-md-10">
                                <label class="switch switch-system mt5">
                                    <input type="checkbox" id="check_autofindtags" ng-model="config.autofindtags">
                                    <label for="check_autofindtags" data-on="ON" data-off="OFF"></label>
                                </label>
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-md-2 control-label fwbold" >{{'C3T.自动构建'|translate}}:</label>
                            <div class="col-md-10">
                                <label class="switch switch-system mt5">
                                    <input type="checkbox" id="check_autobuild" ng-model="config.autobuild">
                                    <label for="check_autobuild" data-on="ON" data-off="OFF"></label>
                                </label>
                            </div>
                        </div>


                        <div class="row">
                            <label class="col-md-2 control-label fwbold">{{'C3T.代码地址'|translate}}:</label>
                            <div class="col-md-8"> <input class="form-control" ng-model="config.project.addr" ng-change="config.changeaddr()" placeholder="{{'C3T.git地址、svn地址、openc3文件'|translate}}" ng-mouseenter="config.addrdemoin()" ng-mouseleave="config.addrdemoout()"/> </div>
                            <a class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" target='_blank' ng-href="/book/流水线多种代码来源/" uib-tooltip="{{'C3T.查看代码地址帮助'|translate}}" aria-hidden="true" style="padding-top: 11px;font-size: larger;"></a>
                        </div>

                        <div class="row">
                            <label class="col-md-2 control-label fwbold">{{'C3T.tag正则'|translate}}:</label>
                            <div class="col-md-6"> <input class="form-control" ng-model="config.project.tag_regex" placeholder="{{'C3T.tag的正则表达式,空的情况下会拉取所有的tag'|translate}}"/> </div>
                        </div>
                    </div>

                   <div class="row" >
                        <label class="col-md-2 control-label fwbold">{{'C3T.代码仓库凭据'|translate}}</label>
                        <div class="col-md-6 form-inline">
                            <select class="form-control"  ng-model="config.project.ticketid" > 
                                 <option ng-repeat="x in config.ticketinfogit" value="{{x.id}}">{{x.name}}</option>
                            </select>
                        </div>
                    </div>


                    <div class="form-group admin-form row">
                        <label class="col-md-2 control-label fwbold" >{{'C3T.依赖'|translate}}:</label>
                        <div class="col-md-2">
                            <label class="switch switch-system mt5">
                                <input type="checkbox" id="check_rely" ng-model="config.rely">
                                <label for="check_rely" data-on="ON" data-off="OFF"></label>
                            </label>
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-primary" ng-if="config.rely" ng-click="config.editrely( '' )" style="float: right" ><i class="fa fa-cogs fa-1x" >{{'C3T.编辑依赖'|translate}}</i></button>
                        </div>
                    </div>

                    <div class="form-group admin-form row">
                        <label class="col-md-2 control-label fwbold" >webhook:</label>
                        <div class="col-md-2">
                            <label class="switch switch-system mt5">
                                <input type="checkbox" id="check_webhook" ng-model="config.webhook">
                                <label for="check_webhook" data-on="ON" data-off="OFF"></label>
                            </label>
                        </div>
                        <div ng-show="config.webhook" class="col-md-4">
                            <input type="text" class="form-control" ng-model="config.project.webhook_password" placeholder="webhook {{'C3T.密码'|translate}}">{{'C3T.密码'|translate}}</input>
                        </div>
                        <div ng-show="config.webhook" class="col-md-4">
                            <input type="text" class="form-control" ng-model="config.project.webhook_release" placeholder="{{'C3T.多个分支用逗号分开'|translate}}">{{'C3T.匹配分支'|translate}}</input>
                        </div>
 
                    </div>
                    <div ng-show="config.webhook" class="form-group admin-form row">
                        <div class="col-md-4"> </div>
                        <div class="col-md-8">
                            {{'C3T.回调地址'|translate}}:{{config.siteaddr}}/api/ci/webhooks
                        </div>
                    </div>

                   <div class="row" >

                        <label class="col-md-2 control-label fwbold">{{'C3T.build镜像'|translate}}:</label>

                        <div class="col-md-6 form-inline">

                            <select class="form-control"  ng-model="config.project.buildimage" > 
                                 <option ng-repeat="x in config.dockerimage" value="{{x.id}}">{{x.name}}</option>
                            </select>
                            <a ng-show="config.project.buildimage" class="btn btn-system" target='_blank' ng-href="/api/ci/dockershell?image={{config.project.buildimage}}&projectid={{config.projectid}}&siteaddr={{config.siteaddr}}">调试</a>
                            <a class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" target='_blank' ng-href="/book/我的镜像/" uib-tooltip="{{'C3T.查看镜像生成方式'|translate}}" aria-hidden="true" style="padding-top: 11px;font-size: larger;"></a>
                        </div>
                    </div>
                    <div class="row" ng-if="config.project.buildimage" >
                        <label class="col-md-2 control-label fwbold">{{'C3T.缓存目录'|translate}}</label>
                        <div class="col-md-10">
                            <input class="form-control" ng-model="config.project.buildcachepath"/> 
                            <span class="help-block">{{'C3T.构建过程中需要缓存的目录,目录相对路径为/build/data'|translate}}</span>
                            <span class="help-block">{{'C3T.如nodejs项目构建时可以写“node_modules”,构建时容器中会映射目录/build/data/node_modules'|translate}}</span>
                        </div>
                    </div>
                    <div class="row" ng-if="config.project.buildimage" class="form-group">
                        <label class="col-md-2 control-label fwbold">{{'C3T.构建脚本'|translate}}</label>
                        <div class="col-md-10">
                            <pre style="min-height: 100px;" ng-click="dataEdit=true" ng-show="!dataEdit" class="text-left"  ng-bind-html="config.project.buildscripts| highlight"></pre>
                            <textarea style="min-height: 100px;" ng-blur="dataEdit=false" ng-show="dataEdit" class="form-control" rows="20" cols="20" ng-model="config.project.buildscripts" > </textarea>
                            <span class="help-block">{{'C3T.构建时候执行的脚本.将构建成功后的文件移动到打包目录内.脚本运行结束后dist目录存在即算构建成功'|translate}}</span>
                            <span class="help-block">{{'C3T.当前脚本:/build/run.项目路径:/build/data.打包目录:/build/dist'|translate}}</span>
                        </div>
                    </div>

                    <hr style="margin: 5px" >
                    <div class="row">
                        <label class="col-md-2 control-label fwbold">{{'C3T.发布类型配置'|translate}}:</label>
                        <a ng-if="config.project.ci_type_open === '1'" class="fa fa-toggle-on fa-2x" data-toggle="tooltip" data-placement="left" uib-tooltip="{{'C3T.隐藏高级配置'|translate}}" aria-hidden="true"style="padding-top: 11px;font-size: larger;" ng-click="config.project.ci_type_open='0'"></a>
                        <a ng-if="!(config.project.ci_type_open === '1' )" class="fa fa-toggle-off fa-2x" data-toggle="tooltip" data-placement="left" uib-tooltip="{{'C3T.显示高级配置'|translate}}" aria-hidden="true"style="padding-top: 11px;font-size: larger;" ng-click="config.project.ci_type_open='1'"></a>

                        <button ng-if="config.project.ci_type_open === '1'" class="btn btn-primary" ng-disabled="config.project.ci_type !== 'kubernetes'" uib-tooltip="{{'C3T.自定义'|translate}}" ng-click="config.setcitype('default')" style="float: right" ><i class="fa fa-cogs fa-1x" > {{'C3T.通用发布'|translate}}</i></button>
                        <button ng-if="config.project.ci_type_open === '1'" class="btn btn-primary" ng-disabled="config.project.ci_type === 'kubernetes'" uib-tooltip="{{'C3T.发布kubernetes服务'|translate}}" ng-click="config.setcitype('kubernetes')" style="float: right" ><i class="fa fa-cogs fa-1x" >  Kubernetes</i></button>
                    </div>
 
<div ng-if="config.project.ci_type_open === '1' && config.project.ci_type !== 'kubernetes'">
                    <div class="row">
                        <label class="col-md-2 control-label fwbold">{{'C3T.触发脚本'|translate}}:</label>
                        <div class="col-md-8"> <input class="form-control" ng-model="config.project.follow_up" placeholder="{{'C3T.构建完成后触发脚本'|translate}}"/> </div>
                        <a class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" target='_blank' ng-href="/book/构建触发脚本/" uib-tooltip="{{'C3T.查看脚本帮助'|translate}}" aria-hidden="true" style="padding-top: 11px;font-size: larger;"></a>
                    </div>
                    <div class="row" >
                        <label class="col-md-2 control-label fwbold">{{'C3T.脚本凭据'|translate}}</label>
                        <div class="col-md-6 form-inline">
                            <select class="form-control"  ng-model="config.project.follow_up_ticketid" > 
                                 <option ng-repeat="x in config.ticketinfoall" value="{{x.id}}">{{x.name}}</option>
                            </select>
                        </div>
                        <a class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="left" target='_blank' ng-href="/book/凭据/" uib-tooltip="{{'C3T.查看凭据帮助'|translate}}" aria-hidden="true" style="padding-top: 11px;font-size: larger;"></a>
                    </div>

</div>
<div ng-if="config.project.ci_type_open === '1' && config.project.ci_type === 'kubernetes'">

<br>

                    <div class="row" ng-init="searchcluster=0">
                        <label class="col-md-2 control-label fwbold">{{'C3T.k8s集群'|translate}}</label>
                        <div class="col-md-6" ng-show="searchcluster===0">
                            <select class="form-control"  ng-model="config.project.ci_type_ticketid" ng-change="config.changeCluster()" > 
                                 <option ng-repeat="x in config.clusterlist" value="{{x.id}}">{{x.name}}</option>
                            </select>
                        </div>

                        <div class="col-md-6" ng-show="searchcluster===1">
                            <input type="text" class="form-control" ng-model="ffff" placeholder="{{'C3T.集群关键字'|translate}}" >
                            <ul>
                                <li ng-repeat="x in config.clusterlist | filter:ffff">
                                    <a ng-show="x.id==config.project.ci_type_ticketid" style="cursor: pointer;color: green;" ng-click="config.setcid(x.id)">{{x.name}}</a>
                                    <a ng-show="x.id!=config.project.ci_type_ticketid" style="cursor: pointer;" ng-click="config.setcid(x.id)">{{x.name}}</a>
                                </li>
                            </ul>

                        </div>

                        <div class="col-md-2">
                            <button ng-show="searchcluster===0" class="btn btn-primary" uib-tooltip="{{'C3T.搜索集群'|translate}}" ng-click="searchcluster=1"><i class="fa fa-search fa-1x" >{{'C3T.搜索'|translate}}</i></button>
                            <button ng-show="searchcluster===1" class="btn btn-primary" uib-tooltip="{{'C3T.取消搜索'|translate}}" ng-click="searchcluster=0"><i class="fa fa-close fa-1x" >{{'C3T.不搜索'|translate}}</i></button>
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-primary" uib-tooltip="{{'C3T.导入集群'|translate}}" ng-click="config.addCluster()"><i class="fa fa-plus fa-1x" >{{'C3T.添加'|translate}}</i></button>
                        </div>
                    </div>

                    <div class="row">
                        <label class="col-md-2 control-label fwbold">Namespace</label>
                        <div class="col-md-6">
                            <select class="form-control"  ng-model="config.project.ci_type_namespace" ng-change="config.changeNamespace()"> 
                                 <option ng-repeat="x in config.namespacelist" value="{{x.NAME}}">{{x.NAME}}</option>
                            </select>
                        </div>
                        <div class="col-md-2"> </div>
                        <div class="col-md-2">
                            <button class="btn btn-primary" uib-tooltip="{{'C3T.创建命名空间'|translate}}" ng-click="config.addNamespace()"><i class="fa fa-plus fa-1x" >{{'C3T.创建'|translate}}</i></button>
                        </div>
 
                    </div>

                    <div class="row">
                        <label class="col-md-2 control-label fwbold">Kind</label>
                        <div class="col-md-6">
                            <select class="form-control"  ng-model="config.project.ci_type_kind" ng-change="config.changeKind()"> 
                                 <option value="deployment">deployment</option>
                                 <option value="daemonset" >daemonset</option>
                                 <option value="statefulset" >statefulset</option>
                            </select>
                        </div>
                    </div>

                    <div class="row" ng-if="!config.isArray(config.project.ci_type_name)">
                        <label class="col-md-2 control-label fwbold">{{'C3T.应用名称'|translate}}</label>
                        <div class="col-md-6">
                             {{config.project.ci_type_name}}
                            <select class="form-control"  ng-model="config.project.ci_type_name" ng-change="config.changeDeployment()"> 
                                 <option ng-repeat="x in config.deploymentlist" value="{{x.NAME}}">{{x.NAME}}</option>
                            </select>
                        </div>
 
                        <div class="col-md-2">
                            <a ng-if="config.isArray(config.project.ci_type_name)" class="fa fa-toggle-on fa-2x" data-toggle="tooltip" data-placement="left" uib-tooltip="{{'C3T.发布单个应用'|translate}}" aria-hidden="true"style="padding-top: 11px;font-size: larger;" ng-click="config.switchMultiple(false)">{{'C3T.多应用'|translate}}</a>
                            <a ng-if="!config.isArray(config.project.ci_type_name)" class="fa fa-toggle-off fa-2x" data-toggle="tooltip" data-placement="left" uib-tooltip="{{'C3T.发布多个应用'|translate}}" aria-hidden="true"style="padding-top: 11px;font-size: larger;" ng-click="config.switchMultiple(true)">{{'C3T.多应用'|translate}}</a>
                        </div>
 
                        <div class="col-md-2">
                            <button class="btn btn-primary" uib-tooltip="{{'C3T.创建应用'|translate}}" ng-click="config.createDeployment()"><i class="fa fa-plus fa-1x" >{{'C3T.创建'|translate}}</i></button>
                        </div>
                    </div>

                    <div class="row" ng-if="config.isArray(config.project.ci_type_name)" >
                        <label class="col-md-2 control-label fwbold">{{'C3T.多应用'|translate}}</label>
                        <div class="col-md-6">
                             {{config.project.ci_type_name}}
                            <select class="form-control"  ng-model="config.project.ci_type_name" ng-change="config.changeDeployment()" multiple="multiple"> 
                                 <option ng-repeat="x in config.deploymentlist" value="{{x.NAME}}">{{x.NAME}}</option>
                            </select>
                        </div>
 
                        <div class="col-md-2">
                            <a ng-if="config.isArray(config.project.ci_type_name)" class="fa fa-toggle-on fa-2x" data-toggle="tooltip" data-placement="left" uib-tooltip="{{'C3T.发布单个应用'|translate}}" aria-hidden="true"style="padding-top: 11px;font-size: larger;" ng-click="config.switchMultiple(false)">{{'C3T.多应用'|translate}}</a>
                            <a ng-if="!config.isArray(config.project.ci_type_name)" class="fa fa-toggle-off fa-2x" data-toggle="tooltip" data-placement="left" uib-tooltip="{{'C3T.发布多个应用'|translate}}" aria-hidden="true"style="padding-top: 11px;font-size: larger;" ng-click="config.switchMultiple(true)">{{'C3T.多应用'|translate}}</a>
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-primary" uib-tooltip="{{'C3T.创建应用'|translate}}" ng-click="config.createDeployment()"><i class="fa fa-plus fa-1x" >{{'C3T.创建'|translate}}</i></button>
                        </div>
                        <div class="col-md-2">
                            <input type="number" class="form-control" ng-model="config.project.ci_type_concurrent" placeholder="1">{{'C3T.并发数'|translate}}</input>
                        </div>
                    </div>



                    <div class="row">
                        <label class="col-md-2 control-label fwbold">Container</label>
                        <div class="col-md-6">
                            <select class="form-control"  ng-model="config.project.ci_type_container"> 
                                 <option value="__app_name__">{{'C3T.和应用名称同名(系统内置)'|translate}}</option>
                                 <option ng-repeat="x in config.containerlist" value="{{x.container}}">{{x.container}}</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                        </div>
                    </div>

                    <div class="row" ng-show="config.project.ci_type_dockerfile!=='_buildin_'" >
                        <label class="col-md-2 control-label fwbold">{{'C3T.dockerfile路径'|translate}}</label>
                        <div class="col-md-6"> <input class="form-control" ng-model="config.project.ci_type_dockerfile" placeholder="dockerfile {{'C3T.路径'|translate}}"/> </div>
                        <div class="col-md-2">
                            <button class="btn btn-primary" uib-tooltip="{{'C3T.切换，运维配置dockerfile'|translate}}" ng-click="config.project.ci_type_dockerfile='_buildin_'"><i class="fa fa-cogs fa-1x" >{{'C3T.切换'|translate}}</i></button>
                        </div>
 
                    </div>

                    <div class="row" ng-show="config.project.ci_type_dockerfile==='_buildin_'" >
                        <label class="col-md-2 control-label fwbold">{{'C3T.dockerfile内容'|translate}}</label>
                        <div class="col-md-6">

                            <textarea style="min-height: 100px;" ng-blur="dataEdit=false" ng-show="config.project.ci_type_dockerfile==='_buildin_'" class="form-control" rows="5" cols="20" ng-model="config.project.ci_type_dockerfile_content" > </textarea>
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-primary" uib-tooltip="{{'C3T.切换，使用代码仓库中的dockerfile'|translate}}" ng-click="config.project.ci_type_dockerfile='Dockerfile'"><i class="fa fa-cogs fa-1x" >{{'C3T.切换'|translate}}</i></button>
                        </div>
 
                    </div>


                    <div class="row" >
                        <label class="col-md-2 control-label fwbold">{{'C3T.镜像凭据'|translate}}</label>
                        <div class="col-md-6 form-inline">
                            <select class="form-control"  ng-model="config.project.follow_up_ticketid" > 
                                 <option ng-repeat="x in config.ticketinfok8s" value="{{x.id}}">{{x.name}}</option>
                            </select>
                        </div>
                        <a class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="left" target='_blank' ng-href="/book/凭据/" uib-tooltip="{{'C3T.查看凭据帮助'|translate}}" aria-hidden="true" style="padding-top: 11px;font-size: larger;"></a>


                        <div class="col-md-2">
                            <button class="btn btn-primary" uib-tooltip="{{'C3T.新建Harbor凭据'|translate}}" ng-click="config.addHarbor()"><i class="fa fa-plus fa-1x" >&nbsp{{'C3T.添加'|translate}}</i></button>
                        </div>
                    </div>

                    <div ng-if="!config.followupopen == 1" class="row">
                        <label class="col-md-2 control-label fwbold">{{'C3T.镜像类型'|translate}}</label>
                        <div class="col-md-6">
                            <select class="form-control"  ng-model="config.project.follow_up" > 
                                 <option value="harbor_push_image.pl">Harbor</option>
                                 <option value="awsecr_push_image.pl">ECR</option>
                                 <option value="no_push_image.pl">{{'C3T.不构建上传镜像'|translate}}</option>
                            </select>
                        </div>

                        <div class="col-md-2">
                            <a ng-if="config.followupopen == 1" class="fa fa-toggle-on fa-2x" data-toggle="tooltip" data-placement="left" uib-tooltip="{{'C3T.重定义触发脚本'|translate}}" aria-hidden="true"style="padding-top: 11px;font-size: larger;" ng-click="config.followupopen=0">{{'C3T.自定义'|translate}}</a>
                            <a ng-if="!config.followupopen == 1" class="fa fa-toggle-off fa-2x" data-toggle="tooltip" data-placement="left" uib-tooltip="{{'C3T.重定义触发脚本'|translate}}" aria-hidden="true"style="padding-top: 11px;font-size: larger;" ng-click="config.followupopen=1">{{'C3T.自定义'|translate}}</a>
                        </div>
 
                    </div>

                    <div ng-if="config.followupopen == 1"  class="row">
                        <label class="col-md-2 control-label fwbold">{{'C3T.触发脚本'|translate}}:</label>
                        <div class="col-md-6"> <input class="form-control" ng-model="config.project.follow_up" placeholder="{{'C3T.构建完成后触发脚本'|translate}}"/> </div>
                        <a class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" target='_blank' ng-href="/book/构建触发脚本/" uib-tooltip="{{'C3T.查看脚本帮助'|translate}}" aria-hidden="true" style="padding-top: 11px;font-size: larger;"></a>

                        <div class="col-md-2">
                            <a ng-if="config.followupopen == 1" class="fa fa-toggle-on fa-2x" data-toggle="tooltip" data-placement="left" uib-tooltip="{{'C3T.重定义触发脚本'|translate}}" aria-hidden="true"style="padding-top: 11px;font-size: larger;" ng-click="config.followupopen=0">{{'C3T.自定义'|translate}}</a>
                            <a ng-if="!config.followupopen == 1" class="fa fa-toggle-off fa-2x" data-toggle="tooltip" data-placement="left" uib-tooltip="{{'C3T.重定义触发脚本'|translate}}" aria-hidden="true"style="padding-top: 11px;font-size: larger;" ng-click="config.followupopen=1">{{'C3T.自定义'|translate}}</a>
                        </div>
                    </div>


                    <div class="row">
                        <label class="col-md-2 control-label fwbold">{{'C3T.镜像地址'|translate}}</label>
                        <div class="col-md-6"> <input class="form-control" ng-model="config.project.ci_type_repository" placeholder="ci_type_repository"/> </div>
                        <div class="col-md-2">
                            <button class="btn btn-primary" ng-disabled="!config.project.ci_type_container" uib-tooltip="{{'C3T.从容器中提取镜像信息'|translate}}" ng-click="config.addImageAddr()"><i class="fa fa-cogs fa-1x" >{{'C3T.提取'|translate}}</i></button>
                        </div>
                        <div class="col-md-2" ng-if="config.project.follow_up === 'harbor_push_image.pl'" >
                            <button class="btn btn-primary" ng-disabled="!config.project.follow_up_ticketid" uib-tooltip="{{'C3T.从凭据中提取镜像信息'|translate}}" ng-click="config.addImageAddrByTicket()"><i class="fa fa-cogs fa-1x" >{{'C3T.提取'|translate}}</i></button>
                        </div>
 
                    </div>

                    <div class="row">
                        <label class="col-md-2 control-label fwbold">{{'C3T.发布审批人'|translate}}</label>
                        <div class="col-md-6"> <input class="form-control" ng-model="config.project.ci_type_approver2" ng-disabled="config.project.ci_type_approver1" placeholder="foo@openc3.com"/> </div>
                        <div class="col-md-4">
                            <a ng-if="config.project.ci_type_approver1" class="fa fa-toggle-on fa-2x" data-toggle="tooltip" data-placement="left" uib-tooltip="{{'C3T.自定义步骤'|translate}}" aria-hidden="true"style="padding-top: 11px;font-size: larger;" ng-click="config.project.ci_type_approver1=''">{{'C3T.自定义发布过程'|translate}}</a>
                            <a ng-if="!config.project.ci_type_approver1" class="fa fa-toggle-off fa-2x" data-toggle="tooltip" data-placement="left" uib-tooltip="{{'C3T.自定义步骤'|translate}}" aria-hidden="true"style="padding-top: 11px;font-size: larger;" ng-click="config.project.ci_type_approver1=1">{{'C3T.自定义发布过程'|translate}}</a>
                        </div>
                    </div>

                    <div class="row">
                        <label class="col-md-2 control-label fwbold">{{'C3T.测试环境发布对象'|translate}}</label>
                        <div class="col-md-6"> <input class="form-control" ng-model="config.k8sdefaultnodetestenv" placeholder="f1212121;f1212121;fx"/> </div>
                    </div>

                    <div class="row">
                        <label class="col-md-2 control-label fwbold">{{'C3T.线上环境发布对象'|translate}}</label>
                        <div class="col-md-6"> <input class="form-control" ng-model="config.k8sdefaultnodeonlineenv" placeholder="f1212121;f1212121;fx"/> </div>
                    </div>


</div>
                    <hr style="margin: 5px" >
                    <div class="row">
                        <label class="col-md-2 control-label fwbold">{{'C3T.消息通知人'|translate}}:</label>
                        <div class="col-md-8"> <input class="form-control" ng-model="config.project.notify" placeholder="{{'C3T.构建和发布情况通知人，多个人用逗号分隔'|translate}}"/> </div>
                    </div>
                    <hr style="margin: 5px" >
                    <div class="row">
                        <label class="col-md-2 control-label fwbold">{{'C3T.资源限制'|translate}}:</label>
                        <label class="col-md-1 control-label fwbold">CPU:</label>
                        <div class="col-md-2"> <input class="form-control" ng-model="config.project.cpulimit" placeholder="{{'C3T.默认'|translate}}:2"/> </div>
                        <label class="col-md-1 control-label fwbold">({{'C3T.核'|translate}})</label>
                        <label class="col-md-1 control-label fwbold">{{'C3T.内存'|translate}}:</label>
                        <div class="col-md-2"> <input class="form-control" ng-model="config.project.memlimit" placeholder="{{'C3T.默认'|translate}}:2048"/> </div>
                        <label class="col-md-1 control-label fwbold">({{'C3T.兆'|translate}})</label>
                    </div>

                    <hr style="margin: 5px" >
                    <div class="row">
                        <label class="col-md-2 control-label fwbold">{{'C3T.高级设置'|translate}}:</label>
                        <a ng-if="config.professional == '1'" class="fa fa-toggle-on fa-2x" data-toggle="tooltip" data-placement="left" uib-tooltip="{{'C3T.隐藏配置'|translate}}" aria-hidden="true"style="padding-top: 11px;font-size: larger;" ng-click="config.professional='0'"></a>
                        <a ng-if="!(config.professional == '1' )" class="fa fa-toggle-off fa-2x" data-toggle="tooltip" data-placement="left" uib-tooltip="{{'C3T.显示配置'|translate}}" aria-hidden="true"style="padding-top: 11px;font-size: larger;" ng-click="config.professional='1'"></a>

                    </div>
 
                    <div class="row" ng-if="config.professional == '1'" >
                        <label class="col-md-2 control-label fwbold">{{'C3T.构建保存成目录'|translate}}:</label>
                        <a ng-if="config.project.saveasdir == '1'" class="fa fa-toggle-on fa-2x" data-toggle="tooltip" data-placement="left" uib-tooltip="{{'C3T.点击存成文件'|translate}}" aria-hidden="true"style="padding-top: 11px;font-size: larger;" ng-click="config.project.saveasdir='0'">{{'C3T.当前选择为保存成目录'|translate}}</a>
                        <a ng-if="!(config.project.saveasdir == '1' )" class="fa fa-toggle-off fa-2x" data-toggle="tooltip" data-placement="left" uib-tooltip="{{'C3T.点击存成目录'|translate}}" aria-hidden="true"style="padding-top: 11px;font-size: larger;" ng-click="config.project.saveasdir='1'">{{'C3T.保存成tar包【常规】'|translate}}</a>

                    </div>
 
                    <div class="row" ng-if="config.professional == '1'" >
                        <label class="col-md-2 control-label fwbold">{{'C3T.git使用缓存目录'|translate}}:</label>
                        <a ng-if="config.project.gitclonebycache == '1'" class="fa fa-toggle-on fa-2x" data-toggle="tooltip" data-placement="left" uib-tooltip="{{'C3T.点击不使用缓存目录'|translate}}" aria-hidden="true"style="padding-top: 11px;font-size: larger;" ng-click="config.project.gitclonebycache='0'">{{'C3T.当前选择为使用缓存目录'|translate}}</a>
                        <a ng-if="!(config.project.gitclonebycache == '1' )" class="fa fa-toggle-off fa-2x" data-toggle="tooltip" data-placement="left" uib-tooltip="{{'C3T.点击使用缓存目录'|translate}}" aria-hidden="true"style="padding-top: 11px;font-size: larger;" ng-click="config.project.gitclonebycache='1'">{{'C3T.当前选择为不使用缓存目录【常规】'|translate}}</a>

                    </div>
 

                    <div class="row" ng-if="config.professional == '1'" >
                        <label class="col-md-2 control-label fwbold">{{'C3T.构建不发邮件'|translate}}:</label>
                        <a ng-if="config.project.nomail == '1'" class="fa fa-toggle-on fa-2x" data-toggle="tooltip" data-placement="left" uib-tooltip="{{'C3T.点击不发送邮件'|translate}}" aria-hidden="true"style="padding-top: 11px;font-size: larger;" ng-click="config.project.nomail='0'">{{'C3T.当前选择为不发邮件'|translate}}</a>
                        <a ng-if="!(config.project.nomail == '1' )" class="fa fa-toggle-off fa-2x" data-toggle="tooltip" data-placement="left" uib-tooltip="{{'C3T.点击发起发送邮件'|translate}}" aria-hidden="true"style="padding-top: 11px;font-size: larger;" ng-click="config.project.nomail='1'">{{'C3T.当前选择为发送邮件【常规】'|translate}}</a>

                    </div>
 

                    <div class="row" ng-if="config.professional == '1'" >
                        <label class="col-md-2 control-label fwbold">{{'C3T.构建不发短信'|translate}}:</label>
                        <a ng-if="config.project.nomesg == '1'" class="fa fa-toggle-on fa-2x" data-toggle="tooltip" data-placement="left" uib-tooltip="{{'C3T.点击不发送短信'|translate}}" aria-hidden="true"style="padding-top: 11px;font-size: larger;" ng-click="config.project.nomesg='0'">{{'C3T.当前选择为不发短信'|translate}}</a>
                        <a ng-if="!(config.project.nomesg == '1' )" class="fa fa-toggle-off fa-2x" data-toggle="tooltip" data-placement="left" uib-tooltip="{{'C3T.点击发起发送短信'|translate}}" aria-hidden="true"style="padding-top: 11px;font-size: larger;" ng-click="config.project.nomesg='1'">{{'C3T.当前选择为发送短信【常规】'|translate}}</a>

                    </div>
 

                    <div class="row" ng-if="config.professional == '1'" >
                        <label class="col-md-2 control-label fwbold">CI{{'C3T.消息通知人'|translate}}:</label>
                        <div class="col-md-8"> <input class="form-control" ng-model="config.project.notifyci" placeholder="{{'C3T.CI情况通知人，多个人用逗号分隔'|translate}}"/> </div>
                    </div>
 
                    <div class="row" ng-if="config.professional == '1'" >
                        <label class="col-md-2 control-label fwbold">CD{{'C3T.消息通知人'|translate}}:</label>
                        <div class="col-md-8"> <input class="form-control" ng-model="config.project.notifycd" placeholder="{{'C3T.CD情况通知人，多个人用逗号分隔'|translate}}"/> </div>
                    </div>
 
                   <div class="row" ng-if="config.professional == '1'" >
                        <label class="col-md-2 control-label fwbold">Slave</label>
                        <div class="col-md-6 form-inline">
                            <select class="form-control"  ng-model="config.project.cislave"  ng-change="config.handleSlave()"> 
                                 <option ng-repeat="x in config.cislavenode" value="{{x.host}}">{{x.alias}}</option>
                            </select>
                        </div>
                    </div>

<div ng-if="config.project.ci_type === 'kubernetes'">
                    <hr style="margin: 5px" >
                    <div class="row">
                        <label class="col-md-12 control-label fwbold">{{'C3T.发布配置'|translate}}:</label>
                    </div>
 
                    <div class="form-group admin-form row">
                        <label class="col-md-3 control-label fwbold" >{{'C3T.自动触发线上发布'|translate}}:</label>
                        <div class="col-md-2">
                            <label class="switch switch-system mt5">
                                <input type="checkbox" id="check_online" ng-model="config.callonlineenv">
                                <label for="check_online" data-on="ON" data-off="OFF"></label>
                            </label>
                        </div>
                        <label class="col-md-3 control-label fwbold" >{{'C3T.自动触发测试发布'|translate}}:</label>
                        <div class="col-md-2">
                            <label class="switch switch-system mt5">
                                <input type="checkbox" id="check_test" ng-model="config.calltestenv">
                                <label for="check_test" data-on="ON" data-off="OFF"></label>
                            </label>
                        </div>
                    </div>
</div>
<!--  TODO OPENC3 这里判断太多次-->
                    <hr style="margin: 5px" ng-if="config.project.ci_type !== 'kubernetes'">

                    <div class="form-group admin-form row" ng-if="config.project.ci_type !== 'kubernetes'" >
                        <button class="btn btn-primary" uib-tooltip="{{'C3T.编辑测试分组'|translate}}" ng-click="config.editgroup('test')" style="float: right" ><i class="fa fa-cogs fa-1x" > {{'C3T.测试分组'|translate}}</i></button>
                        <div class="col-md-2" style="float: right" >
                            <label class="switch switch-system mt5">
                                <input type="checkbox" id="check_test" ng-model="config.calltestenv">
                                <label for="check_test" data-on="ON" data-off="OFF"></label>
                            </label>
                        </div>
                        <label class="col-md-3 control-label fwbold" style="float: right" >{{'C3T.构建后自动触发发布'|translate}}:</label>
                    </div>
                    <div class="row" ng-repeat="group in showIPstr.test" ng-if="config.project.ci_type !== 'kubernetes'" >
                        <div class="col-sm-12 form-group">
                            <label class="col-sm-2 control-label">{{'C3T.分组'|translate}}{{$index+1}}: ({{group.num}}{{'C3T.台机器'|translate}})
                            </label>
                            <div class="col-sm-9" style="padding-top: 10px">
                                <p ng-repeat="ip in group.infos">{{ip}}
                                    <a ng-click="config.nodecheck('call',ip)" style="cursor:pointer;background-color: #98b266;margin-bottom: 5px" >{{'C3T.检查机器状态'|translate}}</a>
                                </p>
                           </div>
                       </div>
                   </div>

                   <hr style="margin: 5px" ng-if="config.project.ci_type !== 'kubernetes'">

                   <div class="form-group admin-form row" ng-if="config.project.ci_type !== 'kubernetes'">
                       <button class="btn btn-primary" uib-tooltip="{{'C3T.编辑线上分组'|translate}}" ng-click="config.editgroup('online')" style="float: right" ><i class="fa fa-cogs fa-1x" >{{'C3T.线上分组'|translate}}</i></button>
                        <div class="col-md-2" style="float: right" >
                            <label class="switch switch-system mt5">
                                <input type="checkbox" id="check_online" ng-model="config.callonlineenv">
                                <label for="check_online" data-on="ON" data-off="OFF"></label>
                            </label>
                        </div>
                        <label class="col-md-3 control-label fwbold" style="float: right" >{{'C3T.构建后自动触发发布'|translate}}:</label>
                   </div>
                   <div class="row" ng-repeat="group in showIPstr.online" ng-if="config.project.ci_type !== 'kubernetes'">
                       <div class="col-sm-12 form-group" style="margin: 0px">
                           <label class="col-sm-2 control-label">{{'C3T.分组'|translate}}{{$index+1}}: ({{group.num}}{{'C3T.台机器'|translate}})
                          </label>
                          <div class="col-sm-9" style="padding-top: 10px">
                             <p ng-repeat="ip in group.infos">{{ip}}
                                 <a ng-click="config.nodecheck('call',ip)" style="cursor:pointer;background-color: #98b266;margin-bottom: 5px" >{{'C3T.检查机器状态'|translate}}</a>
                                 <!-- <a ng-click="config.nodecheck('sync',ip)" >检查</a> -->
                             </p>
                         </div>
                      </div>
                   </div>

                   <hr style="margin: 5px">

                    <div class="row" ng-if="!(config.project.ci_type === 'kubernetes' && !(config.project.ci_type_approver1) )" >
                        <button class="btn btn-primary" uib-tooltip="{{'C3T.编辑作业'|translate}}" ng-click="config.editjob()" style="float: right" ><i class="fa fa-cogs fa-1x" >{{'C3T.作业步骤'|translate}}</i></button>
                    </div>
                   <div class="row" ng-repeat="step in config.jobStep">
                       <div class="col-sm-12 form-group" style="margin: 0px">
                           <label class="col-sm-12 control-label">{{'C3T.步骤'|translate}}{{$index+1}}:({{step.name}})
                               <span ng-if="step.batches==='firsttime'" style="color: gray" >[{{'C3T.仅第一组'|translate}}]</span>
                               <span ng-if="step.batches==='thelasttime'" style="color: gray" >[{{'C3T.仅最后一组'|translate}}]</span>
                               <span ng-if="step.batches==='notfirsttime'" style="color: gray" >[{{'C3T.非第一组'|translate}}]</span>
                               <span ng-if="step.batches==='notthelasttime'" style="color: gray" >[{{'C3T.非最后一组'|translate}}]</span>
                               <span ng-if="step.deployenv==='test'" style="color: gray" >[{{'C3T.仅测试'|translate}}]</span>
                               <span ng-if="step.deployenv==='online'" style="color: gray" >[{{'C3T.仅线上'|translate}}]</span>
                               <span ng-if="step.action==='deploy'" style="color: gray" >[{{'C3T.仅发布'|translate}}]</span>
                               <span ng-if="step.action==='rollback'" style="color: gray">[{{'C3T.仅回滚'|translate}}]</span>
                               <span ng-if="step.pause" style="color: #98b266">[{{'C3T.暂停检查'|translate}}]</span>
                          </label>
                      </div>
                   </div>

                </div>

            </div>

        </div>
        <div class="panel-footer text-right">
            <button class="btn btn-primary" ng-click="config.save()">{{'C3T.保存'|translate}}</button>
            <button class="btn btn-warning" ng-click="config.cancel()">{{'C3T.关闭'|translate}}</button>
        </div>

    </div>

</div>
