<div class="row block">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <span class="panel-controls">
                <button class="btn btn-primary" uib-tooltip="刷新" ng-click="config.reload()" ><i class="fa fa-refresh fa-fw" ng-class="{'fa-spin':!config.loadover}" ></i></button>
                <button class="btn btn-primary" uib-tooltip="保存" ng-click="config.save()"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
                <button class="btn btn-primary" uib-tooltip="关闭" ng-click="config.cancel()"><i class="fa fa-times" aria-hidden="true"></i></button>
            </span>
            <h5>{{ config.name }}</h5>
        </div>

        <div class="panel-body">
            <div class="pt20">
                <div>
                    <div class="form-group admin-form">
                        <div class="row">
                            <label class="col-md-2 control-label fwbold" >开关:</label>
                            <div class="col-md-5">
                                <label class="switch switch-system mt5">
                                    <input type="checkbox" id="check_status" ng-model="config.status">
                                    <label for="check_status" data-on="ON" data-off="OFF"></label>
                                </label>
                            </div>
                            <label class="col-md-2 control-label fwbold" >审计范围内:</label>
                            <div class="col-md-2">
                                <label class="switch switch-system mt5">
                                    <input type="checkbox" id="check_audit_level" ng-model="config.audit_level">
                                    <label for="check_audit_level" data-on="是" data-off="否"></label>
                                </label>
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-md-2 control-label fwbold" >定时发现tags:</label>
                            <div class="col-md-10">
                                <label class="switch switch-system mt5">
                                    <input type="checkbox" id="check_autofindtags" ng-model="config.autofindtags">
                                    <label for="check_autofindtags" data-on="ON" data-off="OFF"></label>
                                </label>
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-md-2 control-label fwbold" >自动构建:</label>
                            <div class="col-md-10">
                                <label class="switch switch-system mt5">
                                    <input type="checkbox" id="check_autobuild" ng-model="config.autobuild">
                                    <label for="check_autobuild" data-on="ON" data-off="OFF"></label>
                                </label>
                            </div>
                        </div>


                        <div class="row">
                            <label class="col-md-2 control-label fwbold">代码地址:</label>
                            <div class="col-md-8"> <input class="form-control" ng-model="config.project.addr" ng-change="config.changeaddr()" placeholder="git地址、svn地址、openc3文件" ng-mouseenter="config.addrdemoin()" ng-mouseleave="config.addrdemoout()"/> </div>
                            <a class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" target='_blank' ng-href="/book/流水线多种代码来源/" uib-tooltip="查看代码地址帮助" aria-hidden="true" style="padding-top: 11px;font-size: larger;"></a>
                        </div>

                        <div class="row">
                            <label class="col-md-2 control-label fwbold">tag正则:</label>
                            <div class="col-md-6"> <input class="form-control" ng-model="config.project.tag_regex" placeholder="tag的正则表达式,空的情况下会拉取所有的tag"/> </div>
                        </div>
                    </div>

                   <div class="row" >
                        <label class="col-md-2 control-label fwbold">代码仓库凭据</label>
                        <div class="col-md-6 form-inline">
                            <select class="form-control"  ng-model="config.project.ticketid" > 
                                 <option ng-repeat="x in config.ticketinfogit" value="{{x.id}}">{{x.name}}</option>
                            </select>
                        </div>
                    </div>


                    <div class="form-group admin-form row">
                        <label class="col-md-2 control-label fwbold" >依赖:</label>
                        <div class="col-md-2">
                            <label class="switch switch-system mt5">
                                <input type="checkbox" id="check_rely" ng-model="config.rely">
                                <label for="check_rely" data-on="ON" data-off="OFF"></label>
                            </label>
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-primary" ng-if="config.rely" ng-click="config.editrely( '' )" style="float: right" ><i class="fa fa-cogs fa-1x" >编辑依赖</i></button>
                        </div>
                    </div>


                   <div class="row" >

                        <label class="col-md-2 control-label fwbold">build镜像:</label>

                        <div class="col-md-6 form-inline">

                            <select class="form-control"  ng-model="config.project.buildimage" > 
                                 <option ng-repeat="x in config.dockerimage" value="{{x.id}}">{{x.name}}</option>
                            </select>
                            <a ng-show="config.project.buildimage" class="btn btn-system" target='_blank' ng-href="/api/ci/dockershell?image={{config.project.buildimage}}&projectid={{config.projectid}}&siteaddr={{config.siteaddr}}">调试</a>
                            <a class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" target='_blank' ng-href="/book/我的镜像/" uib-tooltip="查看镜像生成方式" aria-hidden="true" style="padding-top: 11px;font-size: larger;"></a>
                        </div>
                    </div>

                    <div class="row" ng-if="config.project.buildimage" class="form-group">
                        <label class="col-md-2 control-label fwbold">构建脚本</label>
                        <div class="col-md-10">
                            <pre style="min-height: 100px;" ng-click="dataEdit=true" ng-show="!dataEdit" class="text-left"  ng-bind-html="config.project.buildscripts| highlight"></pre>
                            <textarea style="min-height: 100px;" ng-blur="dataEdit=false" ng-show="dataEdit" class="form-control" rows="20" cols="20" ng-model="config.project.buildscripts" > </textarea>
                            <span class="help-block">构建时候执行的脚本.将构建成功后的文件移动到打包目录内.脚本运行结束后dist目录存在即算构建成功</span>
                            <span class="help-block">当前脚本:/build/run.项目路径:/build/data.打包目录:/build/dist</span>
                        </div>
                    </div>

                    <hr style="margin: 5px" >
                    <div class="row">
                        <label class="col-md-2 control-label fwbold">发布类型配置:</label>
                        <a ng-if="config.project.ci_type_open === '1'" class="fa fa-toggle-on fa-2x" data-toggle="tooltip" data-placement="left" uib-tooltip="隐藏高级配置" aria-hidden="true"style="padding-top: 11px;font-size: larger;" ng-click="config.project.ci_type_open='0'"></a>
                        <a ng-if="!(config.project.ci_type_open === '1' )" class="fa fa-toggle-off fa-2x" data-toggle="tooltip" data-placement="left" uib-tooltip="显示高级配置" aria-hidden="true"style="padding-top: 11px;font-size: larger;" ng-click="config.project.ci_type_open='1'"></a>

                        <button ng-if="config.project.ci_type_open === '1'" class="btn btn-primary" ng-disabled="config.project.ci_type !== 'kubernetes'" uib-tooltip="自定义" ng-click="config.setcitype('default')" style="float: right" ><i class="fa fa-cogs fa-1x" >  通用发布</i></button>
                        <button ng-if="config.project.ci_type_open === '1'" class="btn btn-primary" ng-disabled="config.project.ci_type === 'kubernetes'" uib-tooltip="发布kubernetes服务" ng-click="config.setcitype('kubernetes')" style="float: right" ><i class="fa fa-cogs fa-1x" >  Kubernetes</i></button>
                    </div>
 
<div ng-if="config.project.ci_type_open === '1' && config.project.ci_type !== 'kubernetes'">
                    <div class="row">
                        <label class="col-md-2 control-label fwbold">触发脚本:</label>
                        <div class="col-md-8"> <input class="form-control" ng-model="config.project.follow_up" placeholder="构建完成后触发脚本"/> </div>
                        <a class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" target='_blank' ng-href="/book/构建触发脚本/" uib-tooltip="查看脚本帮助" aria-hidden="true" style="padding-top: 11px;font-size: larger;"></a>
                    </div>
                    <div class="row" >
                        <label class="col-md-2 control-label fwbold">脚本凭据</label>
                        <div class="col-md-6 form-inline">
                            <select class="form-control"  ng-model="config.project.follow_up_ticketid" > 
                                 <option ng-repeat="x in config.ticketinfoall" value="{{x.id}}">{{x.name}}</option>
                            </select>
                        </div>
                        <a class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="left" target='_blank' ng-href="/book/凭据/" uib-tooltip="查看凭据帮助" aria-hidden="true" style="padding-top: 11px;font-size: larger;"></a>
                    </div>

</div>
<div ng-if="config.project.ci_type_open === '1' && config.project.ci_type === 'kubernetes'">

<br>
                    <div class="row">
                        <label class="col-md-2 control-label fwbold">k8s集群</label>
                        <div class="col-md-6">
                            <select class="form-control"  ng-model="config.project.ci_type_ticketid" ng-change="config.changeCluster()" > 
                                 <option ng-repeat="x in config.clusterlist" value="{{x.id}}">{{x.name}}</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-primary" uib-tooltip="导入集群" ng-click="config.addCluster()"><i class="fa fa-plus fa-1x" >添加</i></button>
                        </div>
                    </div>

                    <div class="row">
                        <label class="col-md-2 control-label fwbold">Namespace</label>
                        <div class="col-md-6">
                            <select class="form-control"  ng-model="config.project.ci_type_namespace" ng-change="config.changeNamespace()"> 
                                 <option ng-repeat="x in config.namespacelist" value="{{x.NAME}}">{{x.NAME}}</option>
                            </select>
                        </div>
                        <div class="col-md-2"> </div>
                        <div class="col-md-2">
                            <button class="btn btn-primary" uib-tooltip="创建命名空间" ng-click="config.addNamespace()"><i class="fa fa-plus fa-1x" >创建</i></button>
                        </div>
 
                    </div>

                    <div class="row">
                        <label class="col-md-2 control-label fwbold">Kind</label>
                        <div class="col-md-6">
                            <select class="form-control"  ng-model="config.project.ci_type_kind" > 
                                 <option value="deployment">deployment</option>
                            </select>
                        </div>
                    </div>

                    <div class="row" ng-if="!config.isArray(config.project.ci_type_name)">
                        <label class="col-md-2 control-label fwbold">应用名称</label>
                        <div class="col-md-6">
                             {{config.project.ci_type_name}}
                            <select class="form-control"  ng-model="config.project.ci_type_name" ng-change="config.changeDeployment()"> 
                                 <option ng-repeat="x in config.deploymentlist" value="{{x.NAME}}">{{x.NAME}}</option>
                            </select>
                        </div>
 
                        <div class="col-md-2">
                            <a ng-if="config.isArray(config.project.ci_type_name)" class="fa fa-toggle-on fa-2x" data-toggle="tooltip" data-placement="left" uib-tooltip="发布单个应用" aria-hidden="true"style="padding-top: 11px;font-size: larger;" ng-click="config.switchMultiple(false)">多应用</a>
                            <a ng-if="!config.isArray(config.project.ci_type_name)" class="fa fa-toggle-off fa-2x" data-toggle="tooltip" data-placement="left" uib-tooltip="发布多个应用" aria-hidden="true"style="padding-top: 11px;font-size: larger;" ng-click="config.switchMultiple(true)">多应用</a>
                        </div>
 
                        <div class="col-md-2">
                            <button class="btn btn-primary" uib-tooltip="创建应用" ng-click="config.createDeployment()"><i class="fa fa-plus fa-1x" >创建</i></button>
                        </div>
                    </div>

                    <div class="row" ng-if="config.isArray(config.project.ci_type_name)" >
                        <label class="col-md-2 control-label fwbold">多应用</label>
                        <div class="col-md-6">
                             {{config.project.ci_type_name}}
                            <select class="form-control"  ng-model="config.project.ci_type_name" ng-change="config.changeDeployment()" multiple="multiple"> 
                                 <option ng-repeat="x in config.deploymentlist" value="{{x.NAME}}">{{x.NAME}}</option>
                            </select>
                        </div>
 
                        <div class="col-md-2">
                            <a ng-if="config.isArray(config.project.ci_type_name)" class="fa fa-toggle-on fa-2x" data-toggle="tooltip" data-placement="left" uib-tooltip="发布单个应用" aria-hidden="true"style="padding-top: 11px;font-size: larger;" ng-click="config.switchMultiple(false)">多应用</a>
                            <a ng-if="!config.isArray(config.project.ci_type_name)" class="fa fa-toggle-off fa-2x" data-toggle="tooltip" data-placement="left" uib-tooltip="发布多个应用" aria-hidden="true"style="padding-top: 11px;font-size: larger;" ng-click="config.switchMultiple(true)">多应用</a>
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-primary" uib-tooltip="创建应用" ng-click="config.createDeployment()"><i class="fa fa-plus fa-1x" >创建</i></button>
                        </div>
                        <div class="col-md-2">
                            <input type="number" class="form-control" ng-model="config.project.ci_type_concurrent" placeholder="1">并发数</input>
                        </div>
                    </div>



                    <div class="row">
                        <label class="col-md-2 control-label fwbold">Container</label>
                        <div class="col-md-6">
                            <select class="form-control"  ng-model="config.project.ci_type_container"> 
                                 <option value="__app_name__">和应用名称同名(系统内置)</option>
                                 <option ng-repeat="x in config.containerlist" value="{{x.container}}">{{x.container}}</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                        </div>
                    </div>

                    <div class="row" ng-show="config.project.ci_type_dockerfile!=='_buildin_'" >
                        <label class="col-md-2 control-label fwbold">dockerfile路径</label>
                        <div class="col-md-6"> <input class="form-control" ng-model="config.project.ci_type_dockerfile" placeholder="dockerfile路径"/> </div>
                        <div class="col-md-2">
                            <button class="btn btn-primary" uib-tooltip="切换，运维配置dockerfile" ng-click="config.project.ci_type_dockerfile='_buildin_'"><i class="fa fa-cogs fa-1x" >切换</i></button>
                        </div>
 
                    </div>

                    <div class="row" ng-show="config.project.ci_type_dockerfile==='_buildin_'" >
                        <label class="col-md-2 control-label fwbold">dockerfile内容</label>
                        <div class="col-md-6">

                            <textarea style="min-height: 100px;" ng-blur="dataEdit=false" ng-show="config.project.ci_type_dockerfile==='_buildin_'" class="form-control" rows="5" cols="20" ng-model="config.project.ci_type_dockerfile_content" > </textarea>
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-primary" uib-tooltip="切换，使用代码仓库中的dockerfile" ng-click="config.project.ci_type_dockerfile='Dockerfile'"><i class="fa fa-cogs fa-1x" >切换</i></button>
                        </div>
 
                    </div>


                    <div class="row" >
                        <label class="col-md-2 control-label fwbold">镜像凭据</label>
                        <div class="col-md-6 form-inline">
                            <select class="form-control"  ng-model="config.project.follow_up_ticketid" > 
                                 <option ng-repeat="x in config.ticketinfok8s" value="{{x.id}}">{{x.name}}</option>
                            </select>
                        </div>
                        <a class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="left" target='_blank' ng-href="/book/凭据/" uib-tooltip="查看凭据帮助" aria-hidden="true" style="padding-top: 11px;font-size: larger;"></a>


                        <div class="col-md-2">
                            <button class="btn btn-primary" uib-tooltip="新建Harbor凭据" ng-click="config.addHarbor()"><i class="fa fa-plus fa-1x" >&nbsp添加</i></button>
                        </div>
                    </div>

                    <div class="row">
                        <label class="col-md-2 control-label fwbold">镜像类型</label>
                        <div class="col-md-6">
                            <select class="form-control"  ng-model="config.project.follow_up" > 
                                 <option value="harbor_push_image.pl">Harbor</option>
                                 <option value="awsecr_push_image.pl">ECR</option>
                            </select>
                        </div>
                    </div>


                    <div class="row">
                        <label class="col-md-2 control-label fwbold">镜像地址</label>
                        <div class="col-md-6"> <input class="form-control" ng-model="config.project.ci_type_repository" placeholder="ci_type_repository"/> </div>
                        <div class="col-md-2">
                            <button class="btn btn-primary" ng-disabled="!config.project.ci_type_container" uib-tooltip="从容器中提取镜像信息" ng-click="config.addImageAddr()"><i class="fa fa-cogs fa-1x" >提取</i></button>
                        </div>
                        <div class="col-md-2" ng-if="config.project.follow_up === 'harbor_push_image.pl'" >
                            <button class="btn btn-primary" ng-disabled="!config.project.follow_up_ticketid" uib-tooltip="从凭据中提取镜像信息" ng-click="config.addImageAddrByTicket()"><i class="fa fa-cogs fa-1x" >提取</i></button>
                        </div>
 
                    </div>

                    <div class="row">
                        <label class="col-md-2 control-label fwbold">发布审批人</label>
                        <div class="col-md-6"> <input class="form-control" ng-model="config.project.ci_type_approver2" placeholder="foo@openc3.com"/> </div>
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-2">
                        </div>
 
                    </div>


</div>
                    <hr style="margin: 5px" >
                    <div class="row">
                        <label class="col-md-2 control-label fwbold">消息通知人:</label>
                        <div class="col-md-8"> <input class="form-control" ng-model="config.project.notify" placeholder="构建情况通知人，多个人用逗号分隔"/> </div>
                    </div>

<div ng-if="config.project.ci_type === 'kubernetes'">
                    <hr style="margin: 5px" >
                    <div class="row">
                        <label class="col-md-12 control-label fwbold">发布配置:</label>
                    </div>
 
                    <div class="form-group admin-form row">
                        <label class="col-md-3 control-label fwbold" >自动触发线上发布:</label>
                        <div class="col-md-2">
                            <label class="switch switch-system mt5">
                                <input type="checkbox" id="check_online" ng-model="config.callonlineenv">
                                <label for="check_online" data-on="ON" data-off="OFF"></label>
                            </label>
                        </div>
                        <label class="col-md-3 control-label fwbold" >自动触发测试发布:</label>
                        <div class="col-md-2">
                            <label class="switch switch-system mt5">
                                <input type="checkbox" id="check_test" ng-model="config.calltestenv">
                                <label for="check_test" data-on="ON" data-off="OFF"></label>
                            </label>
                        </div>
                    </div>
</div>
<!--  TODO OPENC3 这里判断太多次-->
                    <hr style="margin: 5px" ng-if="config.project.ci_type !== 'kubernetes'">

                    <div class="form-group admin-form row" ng-if="config.project.ci_type !== 'kubernetes'" >
                        <button class="btn btn-primary" uib-tooltip="编辑测试分组" ng-click="config.editgroup('test')" style="float: right" ><i class="fa fa-cogs fa-1x" >  测试分组</i></button>
                        <div class="col-md-2" style="float: right" >
                            <label class="switch switch-system mt5">
                                <input type="checkbox" id="check_test" ng-model="config.calltestenv">
                                <label for="check_test" data-on="ON" data-off="OFF"></label>
                            </label>
                        </div>
                        <label class="col-md-3 control-label fwbold" style="float: right" >构建后自动触发发布:</label>
                    </div>
                    <div class="row" ng-repeat="group in showIPstr.test" ng-if="config.project.ci_type !== 'kubernetes'" >
                        <div class="col-sm-12 form-group">
                            <label class="col-sm-2 control-label">分组{{$index+1}}: ({{group.num}}台机器)
                            </label>
                            <div class="col-sm-9" style="padding-top: 10px">
                                <p ng-repeat="ip in group.infos">{{ip}}
                                    <a ng-click="config.nodecheck('call',ip)" style="cursor:pointer;background-color: #98b266;margin-bottom: 5px" >检查机器状态</a>
                                </p>
                           </div>
                       </div>
                   </div>

                   <hr style="margin: 5px" ng-if="config.project.ci_type !== 'kubernetes'">

                   <div class="form-group admin-form row" ng-if="config.project.ci_type !== 'kubernetes'">
                       <button class="btn btn-primary" uib-tooltip="编辑线上分组" ng-click="config.editgroup('online')" style="float: right" ><i class="fa fa-cogs fa-1x" >  线上分组</i></button>
                        <div class="col-md-2" style="float: right" >
                            <label class="switch switch-system mt5">
                                <input type="checkbox" id="check_online" ng-model="config.callonlineenv">
                                <label for="check_online" data-on="ON" data-off="OFF"></label>
                            </label>
                        </div>
                        <label class="col-md-3 control-label fwbold" style="float: right" >构建后自动触发发布:</label>
                   </div>
                   <div class="row" ng-repeat="group in showIPstr.online" ng-if="config.project.ci_type !== 'kubernetes'">
                       <div class="col-sm-12 form-group" style="margin: 0px">
                           <label class="col-sm-2 control-label">分组{{$index+1}}: ({{group.num}}台机器)
                          </label>
                          <div class="col-sm-9" style="padding-top: 10px">
                             <p ng-repeat="ip in group.infos">{{ip}}
                                 <a ng-click="config.nodecheck('call',ip)" style="cursor:pointer;background-color: #98b266;margin-bottom: 5px" >检查机器状态</a>
                                 <!-- <a ng-click="config.nodecheck('sync',ip)" >检查</a> -->
                             </p>
                         </div>
                      </div>
                   </div>

                   <hr style="margin: 5px">

                    <div class="row" ng-if="config.project.ci_type !== 'kubernetes'" >
                        <button class="btn btn-primary" uib-tooltip="编辑作业" ng-click="config.editjob()" style="float: right" ><i class="fa fa-cogs fa-1x" >  作业步骤</i></button>
                    </div>
                   <div class="row" ng-repeat="step in config.jobStep">
                       <div class="col-sm-12 form-group" style="margin: 0px">
                           <label class="col-sm-12 control-label">第{{$index+1}}步:({{step}})
                          </label>
                      </div>
                   </div>

                </div>

            </div>

        </div>
        <div class="panel-footer text-right">
            <button class="btn btn-primary" ng-click="config.save()">保存</button>
            <button class="btn btn-warning" ng-click="config.cancel()">关闭</button>
        </div>

    </div>

</div>
