<div class="row block">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <span class="panel-controls">
                <button class="btn btn-primary" uib-tooltip="{{'C3T.立马重新检测'|translate}}" ng-click="findtag.findtags_at_once()" ><i class="fa fa-refresh fa-fw" ng-class="{'fa-spin':!findtag.loadfindtags_at_onceover}" ></i></button>
                <button class="btn btn-primary" uib-tooltip="{{'C3T.关闭'|translate}}" ng-click="findtag.cancel()"><i class="fa fa-times" aria-hidden="true"></i></button>
            </span>
            <h5>{{ findtag.nodeStr }} => {{ findtag.project.name }}</h5>
        </div>

        <div class="panel-body">
            <textarea class="fluid-width" id="logDetail" style="height:400px;background:#000; color:#FFF" readonly="readonly" ng-model="findtag.logDetail"></textarea>
        </div>
    </div>

</div>
