<div class="row block" id="changewidth" style="background: #fff;margin:0;padding:0;height:100%;width:100%;position:absolute;">
    <div class="panel panel-primary">

        <div class="panel-heading">
            <span class="panel-controls">
                <button class="btn btn-primary" uib-tooltip="{{'C3T.刷新'|translate}}" ng-click="quickapproval.reload()" ><i class="fa fa-refresh fa-fw" ng-class="{'fa-spin':!( quickapproval.loadoverA && quickapproval.loadoverB ) }" ></i></button>
            </span>
            <h5>{{'C3T.审批'|translate}}:{{quickapproval.data.name}}</h5>
        </div>

        <div class="panel-body">
            <div class="panel-tabs">
                <table ng-table="quickapproval.dataTable" class="table table-hover text-center table-condensed">
                    <tr ng-repeat="d in $data">
                        <td style="width: 10%" data-title="'C3T.审批人'|translate">{{d.user}}</td>
                        <td style="width: 10%" data-title="'C3T.耗时'|translate">{{quickapproval.seftime(d.create_time,d.finishtime)}}</td>
                        <td style="width: 10%" data-title="'C3T.审批状态'|translate">
                            <a ng-if="d.opinion == 'agree'" style="color: green"> {{'C3T.同意'|translate}} </a>
                            <a ng-if="d.opinion == 'unconfirmed'"> {{'C3T.未审批'|translate}} </a>
                            <a ng-if="d.opinion == 'refuse'" style="color: red"> {{'C3T.拒绝'|translate}} </a>
                       </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row" >
            <label class="col-md-2 control-label fwbold">{{'C3T.创建时间'|translate}}</label>
            <label class="col-md-4 control-label fwbold">{{quickapproval.data.create_time}}</label>
        </div>

        <div class="row" >
            <label class="col-md-2 control-label fwbold">{{'C3T.提交人'|translate}}</label>
            <label class="col-md-4 control-label fwbold">{{quickapproval.data.submitter}}</label>
        </div>

        <div class="row" >
            <label class="col-md-2 control-label fwbold">{{'C3T.审批内容'|translate}}</label>
            <label class="col-md-4 control-label fwbold">{{quickapproval.data.cont}}</label>
        </div>


        <div class="panel-footer text-right">
            <button class="btn btn-success" ng-disabled="quickapproval.stat.opinion != 'unconfirmed'" ng-click="quickapproval.edit('agree')">{{'C3T.同意'|translate}}</button>
            <button class="btn btn-danger" ng-disabled="quickapproval.stat.opinion != 'unconfirmed'" ng-click="quickapproval.edit('refuse')">{{'C3T.拒绝'|translate}}</button>
        </div>

    </div>

</div>
