<div class="modal-header">
    <h4 class="modal-title">保存为模板</h4>
</div>
<div class="modal-body">

    <form class="form-horizontal" name="myForm" role="form">

        <div class="row">
            <div class="col-sm-10 form-group">
                <label class="col-sm-3 control-label">名称<a style="color: red;">*</a></label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="名称" ng-model="tplSaveMonitorConfigRule.name" required/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-5 form-group pull-right">
                <button class="btn btn-primary" ng-disabled="myForm.$invalid" ng-click="tplSaveMonitorConfigRule.add()">保存</button>
                <button class="btn btn-warning" ng-click="tplSaveMonitorConfigRule.cancel()">取消</button>
            </div>
        </div>
    </form>

</div>
