<cmloading ng-if="!historyttgoto.loadover"></cmloading>
<div>
    <hr class="mv10 clear">

    <div class="panel panel-dark">

        <div class="panel-heading">

            <span class="panel-controls">
                <button class="btn btn-dark" uib-tooltip="{{'C3T.刷新'|translate}}" ng-click="historyttgoto.reload()" ><i class="fa fa-refresh fa-fw" ng-class="{'fa-spin':!historyttgoto.loadover}" ></i></button>
            </span>
            <h5>Open TT Case</h5>
        </div>

        <div class="panel-body">
        </div>
    </div>

</div>
