---
name: 申请idc服务器
option:
  - name: purpose
    describe: 业务用途
    type: text
    value: ""

  - name: idc
    describe: IDC
    type: input
    value: ""

  - name: operating_system
    describe: 操作系统
    type: input
    value: ""

  - name: product_owner
    describe: 业务负责人
    type: input
    value: ""

  - name: ops_owner
    describe: 运维负责人
    type: input
    value: ""

  - name: cpu_cors
    describe: CPU (核数)
    type: number
    value: ""

  - name: memory
    describe: 内存 (GB)
    type: number
    value: ""

  - name: disk_size
    describe: 硬盘 (GB)
    type: number
    value: ""

  - name: count
    describe: 数量
    type: number
    value: ""

  - name: note
    describe: 申请理由
    type: text
    value: ""

template_argv:
  title:    "BPM/申请idc服务器"
  content:  |
    业务用途: ${purpose}
    IDC: ${idc}
    操作系统: ${operating_system}
    业务负责人: ${product_owner}
    运维负责人: ${ops_owner}
    CPU (核数): ${cpu_cors}
    内存 (GB): ${memory}
    硬盘 (GB): ${disk_size}
    数量: ${count}
    申请理由: ${note}
