$openc3-color: #f63; 
/*openc3 #f63*/
/*juyun #24293e*/
$openc3-color1: #e52;
/* openc3 #e52*/
/* juyun #293fbb*/

/* in navbar */

/*==================================================
Theme Skin - Controlled by skin settings.less
==================================================== */
/* BACKGROUND CONTEXTUALS
 */
.bg-primary {
    background-color: #4a89dc;
    background-color: #4a89dc !important;
    color: #f5f8fd;
}
a.bg-primary:hover,
a.bg-primary:focus {
    background-color: #276ecc;
}
a.bg-primary:hover {
    background-color: #276ecc !important;
}
.bg-primary .text-muted {
    color: #c5dcfa;
}
.bg-primary .text-darken {
    color: #276ecc;
}
.bg-primary.light {
    background-color: #649ae1 !important;
}
.bg-primary.lighter {
    background-color: #75a5e4 !important;
}
.bg-primary.dark {
    background-color: #3078d7 !important;
}
.bg-primary.darker {
    background-color: #276ecc !important;
}
.bg-primary .open > a,
.bg-primary .open > a:hover,
.bg-primary .open > a:focus {
    color: #fff;
}
.bg-success {
    background-color: #70ca63;
    background-color: #70ca63 !important;
    color: #fcfefb;
}
a.bg-success:hover,
a.bg-success:focus {
    background-color: #4fbb3f;
}
a.bg-success:hover {
    background-color: #4fbb3f !important;
}
.bg-success .text-muted {
    color: #d6f5d1;
}
.bg-success .text-darken {
    color: #4fbb3f;
}
.bg-success.light {
    background-color: #85d27a !important;
}
.bg-success.lighter {
    background-color: #93d789 !important;
}
.bg-success.dark {
    background-color: #5bc24c !important;
}
.bg-success.darker {
    background-color: #4fbb3f !important;
}
.bg-success .open > a,
.bg-success .open > a:hover,
.bg-success .open > a:focus {
    color: #fff;
}
.bg-info {
    background-color: #3bafda;
    background-color: #3bafda !important;
    color: #e7f5fa;
}
a.bg-info:hover,
a.bg-info:focus {
    background-color: #2494be;
}
a.bg-info:hover {
    background-color: #2494be !important;
}
.bg-info .text-muted {
    color: #b6e6f8;
}
.bg-info .text-darken {
    color: #2494be;
}
.bg-info.light {
    background-color: #55badf !important;
}
.bg-info.lighter {
    background-color: #66c1e2 !important;
}
.bg-info.dark {
    background-color: #27a2cf !important;
}
.bg-info.darker {
    background-color: #2494be !important;
}
.bg-info .open > a,
.bg-info .open > a:hover,
.bg-info .open > a:focus {
    color: #fff;
}
.bg-warning {
    background-color: #f6bb42;
    background-color: #f6bb42 !important;
    color: #ffffff;
}
a.bg-warning:hover,
a.bg-warning:focus {
    background-color: #f4a911;
}
a.bg-warning:hover {
    background-color: #f4a911 !important;
}
.bg-warning .text-muted {
    color: #fff0d2;
}
.bg-warning .text-darken {
    color: #f4a911;
}
.bg-warning.light {
    background-color: #f7c65f !important;
}
.bg-warning.lighter {
    background-color: #f8cd73 !important;
}
.bg-warning.dark {
    background-color: #f5b025 !important;
}
.bg-warning.darker {
    background-color: #f4a911 !important;
}
.bg-warning .open > a,
.bg-warning .open > a:hover,
.bg-warning .open > a:focus {
    color: #fff;
}
.bg-danger {
    background-color: #e9573f;
    background-color: #e9573f !important;
    color: #fef7f6;
}
a.bg-danger:hover,
a.bg-danger:focus {
    background-color: #dc3519;
}
a.bg-danger:hover {
    background-color: #dc3519 !important;
}
.bg-danger .text-muted {
    color: #fdccc4;
}
.bg-danger .text-darken {
    color: #dc3519;
}
.bg-danger.light {
    background-color: #ec6f5a !important;
}
.bg-danger.lighter {
    background-color: #ee7f6d !important;
}
.bg-danger.dark {
    background-color: #e63f24 !important;
}
.bg-danger.darker {
    background-color: #dc3519 !important;
}
.bg-danger .open > a,
.bg-danger .open > a:hover,
.bg-danger .open > a:focus {
    color: #fff;
}
.bg-alert {
    background-color: #967adc;
    background-color: #967adc !important;
    color: #ffffff;
}
a.bg-alert:hover,
a.bg-alert:focus {
    background-color: #7652d1;
}
a.bg-alert:hover {
    background-color: #7652d1 !important;
}
.bg-alert .text-muted {
    color: #f5f2fd;
}
.bg-alert .text-darken {
    color: #7652d1;
}
.bg-alert.light {
    background-color: #a992e2 !important;
}
.bg-alert.lighter {
    background-color: #b6a2e7 !important;
}
.bg-alert.dark {
    background-color: #8362d6 !important;
}
.bg-alert.darker {
    background-color: #7652d1 !important;
}
.bg-alert .open > a,
.bg-alert .open > a:hover,
.bg-alert .open > a:focus {
    color: #fff;
}
.bg-system {
    background-color: #37bc9b;
    background-color: #37bc9b !important;
    color: #cef1e8;
}
a.bg-system:hover,
a.bg-system:focus {
    background-color: #2b957a;
}
a.bg-system:hover {
    background-color: #2b957a !important;
}
.bg-system .text-muted {
    color: #9eeeda;
}
.bg-system .text-darken {
    color: #2b957a;
}
.bg-system.light {
    background-color: #48c9a9 !important;
}
.bg-system.lighter {
    background-color: #58ceb1 !important;
}
.bg-system.dark {
    background-color: #30a487 !important;
}
.bg-system.darker {
    background-color: #2b957a !important;
}
.bg-system .open > a,
.bg-system .open > a:hover,
.bg-system .open > a:focus {
    color: #fff;
}
.bg-dark {
    background-color: #3b3f4f;
    background-color: #3b3f4f !important;
    color: #9fa4b7;
}
a.bg-dark:hover,
a.bg-dark:focus {
    background-color: #252832;
}
a.bg-dark:hover {
    background-color: #252832 !important;
}
.bg-dark .text-muted {
    color: #717eb2;
}
.bg-dark .text-darken {
    color: #252832;
}
.bg-dark.light {
    background-color: #484d61 !important;
}
.bg-dark.lighter {
    background-color: #51566c !important;
}
.bg-dark.dark {
    background-color: #2e313d !important;
}
.bg-dark.darker {
    background-color: #252832 !important;
}
.bg-dark .open > a,
.bg-dark .open > a:hover,
.bg-dark .open > a:focus {
    color: #fff;
}
.bg-light {
    background-color: #FAFAFA;
    color: #666;
}
a.bg-light:hover {
    background-color: #e8e8e8 !important;
}
.bg-light .text-muted {
    color: #999;
}
.bg-light .text-darken {
    color: #222;
}
.bg-light.light {
    background-color: #FEFEFE;
}
.bg-light.lighter {
    background-color: #FFF;
}
.bg-light.dark {
    background-color: #F2F2F2;
}
.bg-light.darker {
    background-color: #E7E7E7;
}
.bg-white {
    background-color: #FAFAFA;
    color: #666;
    background-color: #FFF !important;
}
a.bg-white:hover {
    background-color: #ededed !important;
}
.bg-white .text-muted {
    color: #999;
}
.bg-white .text-darken {
    color: #222;
}
.bg-white.light {
    background-color: #FEFEFE;
}
.bg-white.lighter {
    background-color: #FFF;
}
.bg-white.dark {
    background-color: #F2F2F2;
}
.bg-white.darker {
    background-color: #E7E7E7;
}


.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 19px;
    border: 1px solid transparent;
}
@media (min-width: 480px) {
    .navbar {
        border-radius: 1px;
    }
}
@media (min-width: 480px) {
    .navbar-header {
        float: left;
    }
}
@media (min-width: 480px) {
    .navbar-fixed-top .navbar-collapse,
    .navbar-static-top .navbar-collapse,
    .navbar-fixed-bottom .navbar-collapse {
        padding-left: 0;
        padding-right: 0;
    }
}
.navbar-fixed-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {
    max-height: 340px;
}
@media (max-device-width: 480px) and (orientation: landscape) {
    .navbar-fixed-top .navbar-collapse,
    .navbar-fixed-bottom .navbar-collapse {
        max-height: 200px;
    }
}
.container > .navbar-header,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-collapse {
    margin-right: -11px;
    margin-left: -11px;
}
@media (min-width: 480px) {
    .container > .navbar-header,
    .container-fluid > .navbar-header,
    .container > .navbar-collapse,
    .container-fluid > .navbar-collapse {
        margin-right: 0;
        margin-left: 0;
    }
}
.navbar-static-top {
    z-index: 1000;
    border-width: 0 0 1px;
}
@media (min-width: 480px) {
    .navbar-static-top {
        border-radius: 0;
    }
}
.navbar-fixed-top,
.navbar-fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}
@media (min-width: 480px) {
    .navbar-fixed-top,
    .navbar-fixed-bottom {
        border-radius: 0;
    }
}
.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}
.navbar-fixed-bottom {
    bottom: 0;
    margin-bottom: 0;
    border-width: 1px 0 0;
}
@media (min-width: 480px) {
    .navbar > .container .navbar-brand,
    .navbar > .container-fluid .navbar-brand {
        margin-left: -11px;
    }
}
.navbar-toggle {
    position: relative;
    float: right;
    margin-right: 11px;
    padding: 9px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 1px;
}
.navbar-toggle:focus {
    outline: 0;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}
.navbar-toggle .icon-bar + .icon-bar {
    margin-top: 4px;
}
@media (min-width: 480px) {
    .navbar-toggle {
        display: none;
    }
}
.navbar-nav {
    margin: 7.75px -11px;
}
.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 19px;
}
@media (max-width: 479px) {
    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        box-shadow: none;
    }
    .navbar-nav .open .dropdown-menu > li > a,
    .navbar-nav .open .dropdown-menu .dropdown-header {
        padding: 5px 15px 5px 25px;
    }
    .navbar-nav .open .dropdown-menu > li > a {
        line-height: 19px;
    }
    .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-nav .open .dropdown-menu > li > a:focus {
        background-image: none;
    }
}
@media (min-width: 480px) {
    .navbar-nav {
        float: left;
        margin: 0;
    }
    .navbar-nav > li {
        float: left;
    }
    .navbar-nav > li > a {
        padding-top: 15.5px;
        padding-bottom: 15.5px;
    }
}
.navbar-form {
    margin-left: -11px;
    margin-right: -11px;
    padding: 10px 11px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
    margin-top: 5.5px;
    margin-bottom: 5.5px;
}
@media (min-width: 768px) {
    .navbar-form .form-group {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
    }
    .navbar-form .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle;
    }
    .navbar-form .form-control-static {
        display: inline-block;
    }
    .navbar-form .input-group {
        display: inline-table;
        vertical-align: middle;
    }
    .navbar-form .input-group .input-group-addon,
    .navbar-form .input-group .input-group-btn,
    .navbar-form .input-group .form-control {
        width: auto;
    }
    .navbar-form .input-group > .form-control {
        width: 100%;
    }
    .navbar-form .control-label {
        margin-bottom: 0;
        vertical-align: middle;
    }
    .navbar-form .radio,
    .navbar-form .checkbox {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
        vertical-align: middle;
    }
    .navbar-form .radio label,
    .navbar-form .checkbox label {
        padding-left: 0;
    }
    .navbar-form .radio input[type="radio"],
    .navbar-form .checkbox input[type="checkbox"] {
        position: relative;
        margin-left: 0;
    }
    .navbar-form .has-feedback .form-control-feedback {
        top: 0;
    }
}
@media (max-width: 479px) {
    .navbar-form .form-group {
        margin-bottom: 5px;
    }
    .navbar-form .form-group:last-child {
        margin-bottom: 0;
    }
}
@media (min-width: 480px) {
    .navbar-form {
        width: auto;
        border: 0;
        margin-left: 0;
        margin-right: 0;
        padding-top: 0;
        padding-bottom: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}
.navbar-nav > li > .dropdown-menu {
    margin-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.navbar-fixed-bottom .navbar-nav > li > .dropdown-menu {
    margin-bottom: 0;
    border-top-right-radius: 1px;
    border-top-left-radius: 1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.navbar-btn {
    margin-top: 5.5px;
    margin-bottom: 5.5px;
}
.navbar-btn.btn-sm {
    margin-top: 10px;
    margin-bottom: 10px;
}
.navbar-btn.btn-xs {
    margin-top: 14px;
    margin-bottom: 14px;
}
.navbar-text {
    margin-top: 15.5px;
    margin-bottom: 15.5px;
}
@media (min-width: 480px) {
    .navbar-text {
        float: left;
        margin-left: 11px;
        margin-right: 11px;
    }
}
@media (min-width: 480px) {
    .navbar-left {
        float: left !important;
    }
    .navbar-right {
        float: right !important;
        margin-right: -11px;
    }
    .navbar-right ~ .navbar-right {
        margin-right: 0;
    }
}
.navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}
.navbar-default .navbar-brand {
    color: #777;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5e5e5e;
    background-color: transparent;
}
.navbar-default .navbar-text {
    color: #777;
}
.navbar-default .navbar-nav > li > a {
    color: #777;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #333;
    background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #e7e7e7;
}
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
}
.navbar-default .navbar-toggle {
    border-color: #ddd;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #ddd;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #888;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #e7e7e7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    background-color: #e7e7e7;
    color: #555;
}
@media (max-width: 479px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
        background-color: transparent;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #555;
        background-color: #e7e7e7;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #ccc;
        background-color: transparent;
    }
}
.navbar-default .navbar-link {
    color: #777;
}
.navbar-default .navbar-link:hover {
    color: #333;
}
.navbar-default .btn-link {
    color: #777;
}
.navbar-default .btn-link:hover,
.navbar-default .btn-link:focus {
    color: #333;
}
.navbar-default .btn-link[disabled]:hover,
fieldset[disabled] .navbar-default .btn-link:hover,
.navbar-default .btn-link[disabled]:focus,
fieldset[disabled] .navbar-default .btn-link:focus {
    color: #ccc;
}
.navbar-inverse {
    background-color: #222;
    border-color: #080808;
}
.navbar-inverse .navbar-brand {
    color: #777777;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    color: #fff;
    background-color: transparent;
}
.navbar-inverse .navbar-text {
    color: #777777;
}
.navbar-inverse .navbar-nav > li > a {
    color: #777777;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: #fff;
    background-color: transparent;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #080808;
}
.navbar-inverse .navbar-nav > .disabled > a,
.navbar-inverse .navbar-nav > .disabled > a:hover,
.navbar-inverse .navbar-nav > .disabled > a:focus {
    color: #444;
    background-color: transparent;
}
.navbar-inverse .navbar-toggle {
    border-color: #333;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #333;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    border-color: #101010;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #080808;
    color: #fff;
}
@media (max-width: 479px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
        border-color: #080808;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
        background-color: #080808;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #777777;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #fff;
        background-color: transparent;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #fff;
        background-color: #080808;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #444;
        background-color: transparent;
    }
}
.navbar-inverse .navbar-link {
    color: #777777;
}
.navbar-inverse .navbar-link:hover {
    color: #fff;
}
.navbar-inverse .btn-link {
    color: #777777;
}
.navbar-inverse .btn-link:hover,
.navbar-inverse .btn-link:focus {
    color: #fff;
}
.navbar-inverse .btn-link[disabled]:hover,
fieldset[disabled] .navbar-inverse .btn-link:hover,
.navbar-inverse .btn-link[disabled]:focus,
fieldset[disabled] .navbar-inverse .btn-link:focus {
    color: #444;
}
.clearfix:before,
.clearfix:after,
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-header:before,
.modal-header:after,
.modal-footer:before,
.modal-footer:after,
#topbar:before,
#topbar:after {
    content: " ";
    display: table;
}
.clearfix:after,
.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-header:after,
.modal-footer:after,
#topbar:after {
    clear: both;
}
.navbar-fixed-top,
.navbar-fixed-bottom {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.navbar-form.navbar-right:last-child {
    margin-right: -11px;
}
.navbar-btn {
    margin-top: 15px;
    margin-bottom: 15px;
}
.navbar-menus > div > button > span,
.navbar-menus > div > button > i {
    font-size: 15px;
    vertical-align: middle;
}

/* Transitions */
body.onload-check .navbar,
body.onload-check .navbar-branding,
body.onload-check #sidebar_left,
body.onload-check #sidebar_right,
body.onload-check #content_wrapper,
body.onload-check #topbar {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.navbar.navbar-fixed-top + #sidebar_left + #content_wrapper {
    padding-top: 60px;
}

/* ==============================================
 *    Navbar
 *    ================================================= */
.navbar {
    z-index: 1030;
    margin-bottom: 0;
    height: 60px;
    color: #666;
    background-color: #FFF;
    border-radius: 0;
    border: 0;
    border-bottom: 0;
    box-shadow: 0 1px 0 0 #e0e0e0;
    /* Navbar shadow option - Only allowed on default white navbar */
}
.navbar.navbar-shadow {
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.08), 0px 2px 0px 0px rgba(0, 0, 0, 0.02);
}
.navbar.navbar-gradient {
    background-color: transparent ;
    background-repeat: repeat-x;
    background-image: -webkit-linear-gradient(top, #ffffff 1%, #f3f3f3 100%);
    background-image: linear-gradient(to bottom, #ffffff 1%, #f3f3f3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f3f3f3', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
/* Navbar Nav Item Containers */
.navbar .nav {
    margin: 0;
    /* Nav Items */
    /* Nav Links */
    /* Nav Item/Link States */
    /* Nav Item - Open Dropdown */
    /* Menu Item Divider - Small Circle */
}
.navbar .nav > li {
    float: left;
}
.navbar .nav > li > a {
    color: #666;
    font-size: 13px;
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 59px;
    max-height: 59px;
    padding-left: 10px!important;
    padding-right: 10px!important;
}
.navbar .nav > li.open > a,
.navbar .nav > li:hover > a,
.navbar .nav > li:focus > a,
.navbar .nav > li.active > a,
.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus {
    color: #222;
    background-color: #f7f7f7;
}
.navbar .nav > li.dropdown.open .dropdown-menu {
    padding: 0;
    margin-top: 10px;
    border-radius: 2px;
    border-top: 3px solid transparent;
    /* Dropdown Links */
    /* Dropdown Top Arrow */
}
.navbar .nav > li.dropdown.open .dropdown-menu > a {
    font-weight: 600;
}
.navbar .nav > li.dropdown.open .dropdown-menu:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    right: 11px;
    bottom: 100%;
    border-width: 0 10px 10px;
    border-bottom-color: #4a89dc;
}

.navbar .nav > li.dropdown.open .dropdown-menu-right {
  padding: 0;
  margin-top: 10px;
  border-radius: 2px;
  left: 0;
  border-top: 3px solid transparent;
}
.navbar .nav > li.dropdown.open .dropdown-menu-right:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  right: 11px;
  left: 11px;
  bottom: 100%;
  border-width: 0 10px 10px;
  border-bottom-color: #4a89dc;
}

.navbar .nav .menu-divider {
    color: rgba(0, 0, 0, 0.15);
    font-size: 8px;
    padding: 25px 10px;
}
/* Dropdown Helper - Item Divider */
.navbar .dropdown-menu .menu-divider {
    color: rgba(0, 0, 0, 0.2);
    font-size: 8px;
    padding: 25px 10px;
}
/* Dropdown Helper - Header Item */
.navbar .dropdown-menu > li.dropdown-header {
    padding: 8px;
    background: #fafafa;
    border-bottom: 1px solid #e5e5e5;
    /* Header Item - Title */
    /* Header Item - Label */
}
.navbar .dropdown-menu > li.dropdown-header .dropdown-title {
    color: #666;
    font-size: 13px;
    font-weight: 600;
    padding-left: 5px;
    line-height: 30px;
}
.navbar .dropdown-menu > li.dropdown-header .label {
    font-size: 75%;
    padding: .1em .6em .2em;
    float: right;
    height: 20px;
    line-height: 20px;
    margin-top: 5px;
    margin-right: 5px;
}
/*==========================================================
 *   Navbar Misc Utility Styles 
 *   =========================================================== */
/* define height for panels with scrollers */
.scroller-navbar {
    max-height: 250px;
}
/* Negative margin helper to negate panel scroller padding */
.scroller-nm {
    margin: -12px;
}
/* Navbar Left Settings */
.navbar-left > li.dropdown.open:first-child .dropdown-menu:after,
.navbar-left > li.dropdown:first-child > .open .dropdown-menu:after {
    left: 10px;
    right: auto;
}
/*==========================================================
 *   Navbar Dropdown Carets
 *   =========================================================== */
.navbar .caret {
    position: relative;
    top: -1px;
    margin-left: 3px;
}
/* Alt Caret Style */
.navbar .caret.alt {
    width: 20px;
    height: 20px;
    text-align: center;
    color: inherit;
    margin: 0;
    border: 0;
}
.navbar li.dropdown .caret.alt:after {
    opacity: 0.75;
    font-size: 14px;
    display: inline-block;
    content: "\f107";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
.navbar li.dropdown.open .caret.alt:after {
    opacity: 1;
}
/*==========================================================
 *   Navbar Advanced Dropdown - Button Dropdowns
 *   =========================================================== */
.navbar .navbar-btn {
    padding: 0 5px;
    /* split button mod */
    /* btn badges */
}
.navbar .navbar-btn.btn-group > .btn + .dropdown-toggle {
    border-left: 0;
}
.navbar .navbar-btn > .btn > span.ad,
.navbar .navbar-btn > .btn > span.fa,
.navbar .navbar-btn > .btn > span.glyphicon,
.navbar .navbar-btn > .btn > span.glyphicons {
    position: relative;
    top: -1px;
    font-size: 14px;
    vertical-align: middle;
}
.navbar .navbar-btn.btn-group > .btn {
    color: #888;
    border-color: rgba(0, 0, 0, 0.15);
    background-color: #f2f2f2;
    background-color: rgba(0, 0, 0, 0.045);
}
.navbar .navbar-btn.btn-group > .btn:hover {
    color: #333;
    border-color: rgba(0, 0, 0, 0.2);
}
.navbar .navbar-btn.btn-group.open > .btn,
.navbar .navbar-btn.btn-group > .btn.active {
    color: #222;
}
.navbar .navbar-btn .badge {
    position: absolute;
    top: -7px;
    right: -5px;
    padding: 3px 6px;
    opacity: 0.95;
}
/* Modify buttons dropdown menus */
.navbar .nav > li.dropdown > .open .dropdown-menu {
    color: #222;
    padding: 0;
    margin-top: 25px;
    border-radius: 2px;
    border-top: 3px solid transparent;
}
.navbar .nav > li.dropdown > .open .dropdown-menu:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    right: 11px;
    bottom: 100%;
    border-width: 0 10px 10px;
    border-bottom-color: #4a89dc;
}
/* Modify buttons inside contextuals navbars (bg-primary, etc) */
.navbar[class*='bg-'] .navbar-btn.btn-group > .btn {
    color: #BBB;
    color: rgba(255, 255, 255, 0.8);
    border-color: transparent;
    background-color: #f2f2f2;
    background-color: rgba(255, 255, 255, 0.2);
}
.navbar[class*='bg-'] .navbar-btn.btn-group > .btn:hover {
    color: #fff;
    color: #ffffff;
}
.navbar[class*='bg-'] .navbar-btn.btn-group.open > .btn,
.navbar[class*='bg-'] .navbar-btn.btn-group > .btn.active {
    color: #FFF;
    color: #ffffff;
}
/*==========================================================
 *   Navbar Dropdown Menu Helpers
 *   =========================================================== */
/* Both the Menu Merge & the Disable Arrow Settings 
 *  * do not use the top margin for dropdowns */
.navbar .nav > li.dropdown.menu-merge,
.navbar .nav > li.dropdown.disable-arrow {
    /* For btn dropdowns */
    /* For normal dropdowns */
}
.navbar .nav > li.dropdown.menu-merge > .navbar-btn.open .dropdown-menu,
.navbar .nav > li.dropdown.disable-arrow > .navbar-btn.open .dropdown-menu {
    margin-top: 15px;
}
.navbar .nav > li.dropdown.menu-merge.open .dropdown-menu,
.navbar .nav > li.dropdown.disable-arrow.open .dropdown-menu {
    margin-top: 1px;
}
/* Modify for style when in contextual navbars (bg-primary, etc) */
.navbar[class*='bg-'] .nav > li.dropdown.menu-merge.open .dropdown-menu,
.navbar[class*='bg-'] .nav > li.dropdown.menu-merge > .navbar-btn.open .dropdown-menu {
    border-top: 0;
}
.navbar[class*='bg-'] .nav > li.dropdown.menu-merge.open .dropdown-menu:after,
.navbar[class*='bg-'] .nav > li.dropdown.menu-merge > .navbar-btn.open .dropdown-menu:after {
    border-bottom-color: #fafafa;
}
/* Disable Arrow Setting */
.navbar .nav > li.dropdown.disable-arrow.open .dropdown-menu:after,
.navbar .nav > li.dropdown.disable-arrow > .navbar-btn.open .dropdown-menu:after {
    display: none;
}
/* Modify for style when in contextual navbars (bg-primary, etc) */
.navbar[class*='bg-'] .nav > li.dropdown.disable-arrow.open .dropdown-menu,
.navbar[class*='bg-'] .nav > li.dropdown.disable-arrow > .navbar-btn.open .dropdown-menu {
    border-top: 0;
}
/*==========================================================
 *   Navbar Advanced Dropdown - Media Lists
 *   =========================================================== */
.navbar .media-list > li.media {
    margin: 0;
    padding: 10px;
    /* Media Item - Top Border */
    /* Media Item - Image */
    /* Media Item - Heading, small */
}
.navbar .media-list > li.media + li.media {
    border-top: 1px solid #EEE;
}
.navbar .media-list > li.media > a {
    padding: 0;
    padding-right: 10px;
    display: table-cell;
}
.navbar .media-list > li.media .media-heading small {
    color: #AAA;
}
/*==========================================================
 *   Navbar Advanced Dropdown - List Group
 *   =========================================================== */
.navbar .nav .list-group > li.list-group-item {
    padding: 0;
    /* List-Group Link */
    /* List-Group Label */
    /* List-Group Icon */
}
.navbar .nav .list-group > li.list-group-item > a {
    padding: 12px;
}
.navbar .nav .list-group > li.list-group-item > a .label {
    font-size: 75%;
    padding: .1em .65em .2em;
    float: right;
    height: 20px;
    line-height: 20px;
}
.navbar .nav .list-group > li.list-group-item > a .fa,
.navbar .nav .list-group > li.list-group-item > a .glyphicon,
.navbar .nav .list-group > li.list-group-item > a .glyphicons {
    padding-right: 5px;
}
/* Dropdown Header - Remove top border */
.navbar .list-group > li.dropdown-header + li.list-group-item {
    border-top: 0;
}
/* Dropdown Footer */
.navbar .dropdown-menu > li.dropdown-footer a {
    text-align: center;
    padding: 8px 10px 9px;
    border-top: 1px solid #e5e5e5;
    background-color: #fafafa;
    -webkit-transition: background-color 0.4s ease;
    transition: background-color 0.4s ease;
}
.navbar .dropdown-menu > li.dropdown-footer a:hover {
    background-color: #FFFEF0;
}
/*==========================================================
 *   Navbar Advanced Dropdown - Panels
 *   =========================================================== */
/* Panel menu - modify spacing and remove top border */
.navbar .nav > li.dropdown {
    /* Panel Heading - remove top border */
    /* Panel menu - modify spacing and remove top border */
}
.navbar .nav > li.dropdown .panel-heading {
    border-top: 0;
}
.navbar .nav > li.dropdown .panel-menu {
    color: #666;
    padding: 9px 12px 10px;
    border-top: 0;
}
/*==========================================================
 *   Navbar Branding - Logo/Text
 *   =========================================================== */
.navbar-branding {
    position: relative;
    overflow: hidden;
    float: left;
    width: 240px;
    height: 60px;
    // margin-right: 10px;
    background-color: transparent;
    /* Logo */
}
.navbar-branding .navbar-brand {
    color: #666;
    height: 60px;
    line-height: 58px;
    padding: 0;
    padding-left: 10px;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.5px;
}
.navbar-branding .navbar-brand b {
    font-weight: bold;
    margin-right: 3px;
}
.navbar-branding .navbar-brand > img {
    display: inline-block;
    width: 30px;
    height: 30px;
}
/*==========================================================
 *   Navbar Left/Right Containers
 *   =========================================================== */
/* Navbar Left */
.navbar-nav.navbar-left {
    float: left;
    position: relative;
    max-height: 60px;
}
.navbar-nav.navbar-left > li > a {
    padding-right: 10px!important;
    padding-left: 10px!important;
}
/* Navbar Right */
.navbar-nav.navbar-right,
.navbar-nav.navbar-right:last-child {
    float: right;
    margin: 0 15px 0 0;
}
/*==========================================================
 *   Navbar Forms - Specifically Search Form
 *   =========================================================== */
.navbar-form {
    margin-top: 17px;
    margin-bottom: 17px;
}
.navbar-form.navbar-search input {
    height: 26px;
    padding: 0 12px;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    box-shadow: none;
    border-radius: 20px;
    border-color: #EEE;
}
.navbar-form.navbar-search input:focus {
    background-color: #f8f8f8;
    border-color: #f0f0f0;
}
.navbar-form.navbar-search.square input {
    height: 30px;
    border-radius: 3px;
    margin-top: -2px;
    margin-bottom: -2px;
}
/*==========================================================
 *   Navbar UserMenu Dropdown (last dropdown item)
 *   =========================================================== */
.navbar .dropdown.open .btn-group.open .multiselect-container.dropdown-menu {
    margin-top: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1) !important;
    border-color: rgba(0, 0, 0, 0.1);
}
.navbar .dropdown.open .btn-group.open .multiselect-container.dropdown-menu:after {
    display: none;
}
#user-role + .btn-group > button.multiselect {
    overflow: hidden;
    text-overflow: ellipsis;
}
#user-status + .btn-group .multiselect-container.dropdown-menu {
    right: auto !important;
    left: 0 !important;
}
#user-status + .btn-group .multiselect-container.dropdown-menu,
#user-role + .btn-group .multiselect-container.dropdown-menu {
    top: 0 !important;
    position: relative !important;
    margin-top: 9px;
    margin-bottom: 3px;
    width: 212px;
}
#user-status + .btn-group .multiselect-container.dropdown-menu > li:first-child,
#user-role + .btn-group .multiselect-container.dropdown-menu > li:first-child,
#user-status + .btn-group .multiselect-container.dropdown-menu > li:first-child label,
#user-role + .btn-group .multiselect-container.dropdown-menu > li:first-child label {
    cursor: pointer;
    position: relative;
}
#user-status + .btn-group .multiselect-container.dropdown-menu > li:first-child:after,
#user-role + .btn-group .multiselect-container.dropdown-menu > li:first-child:after {
    content: "\f00d";
    font-family: "FontAwesome";
    position: absolute;
    width: 15px;
    height: 15px;
    top: 6px;
    right: 8px;
    font-size: 13px;
    font-weight: 600;
    color: #AAA;
    -webkit-transition: color 0.15s ease;
    transition: color 0.15s ease;
}
#user-status + .btn-group .multiselect-container.dropdown-menu > li:first-child:hover:after,
#user-role + .btn-group .multiselect-container.dropdown-menu > li:first-child:hover:after {
    color: #4a89dc;
}
.navbar.bg-primary {
    background-color: #4a89dc;
}
.navbar.bg-primary .nav > li.open > a,
.navbar.bg-primary .nav > li:hover > a,
.navbar.bg-primary .nav > li:focus > a,
.navbar.bg-primary .nav > li.active > a,
.navbar.bg-primary .nav > li > a:hover,
.navbar.bg-primary .nav > li > a:focus {
    color: #FFF;
    background-color: #3078d7;
}
.navbar.bg-primary .nav > li.dropdown.open .dropdown-menu,
.navbar.bg-primary .nav > li.dropdown .open .dropdown-menu {
    border-top-color: #4a89dc;
}
.navbar.bg-primary .nav > li.dropdown.open .dropdown-menu:after,
.navbar.bg-primary .nav > li.dropdown .open .dropdown-menu:after {
    border-bottom-color: #4a89dc;
}
.navbar.bg-primary .nav > li.dropdown.open .dropdown-menu:after,
.navbar.bg-primary .nav > li.dropdown .open .dropdown-menu:after {
    border-bottom-color: #4a89dc;
}
.navbar.bg-primary .nav > li .dropdown-toggle + .dropdown-menu > .active > a,
.navbar.bg-primary .nav > li .dropdown-toggle + .dropdown-menu > .active > a:hover,
.navbar.bg-primary .nav > li .dropdown-toggle + .dropdown-menu > .active > a:focus {
    color: #FFF;
    background-color: #4a89dc;
}
.navbar.bg-success {
    background-color: #70ca63;
}
.navbar.bg-success .nav > li.open > a,
.navbar.bg-success .nav > li:hover > a,
.navbar.bg-success .nav > li:focus > a,
.navbar.bg-success .nav > li.active > a,
.navbar.bg-success .nav > li > a:hover,
.navbar.bg-success .nav > li > a:focus {
    color: #FFF;
    background-color: #5bc24c;
}
.navbar.bg-success .nav > li.dropdown.open .dropdown-menu,
.navbar.bg-success .nav > li.dropdown .open .dropdown-menu {
    border-top-color: #70ca63;
}
.navbar.bg-success .nav > li.dropdown.open .dropdown-menu:after,
.navbar.bg-success .nav > li.dropdown .open .dropdown-menu:after {
    border-bottom-color: #70ca63;
}
.navbar.bg-success .nav > li.dropdown.open .dropdown-menu:after,
.navbar.bg-success .nav > li.dropdown .open .dropdown-menu:after {
    border-bottom-color: #70ca63;
}
.navbar.bg-success .nav > li .dropdown-toggle + .dropdown-menu > .active > a,
.navbar.bg-success .nav > li .dropdown-toggle + .dropdown-menu > .active > a:hover,
.navbar.bg-success .nav > li .dropdown-toggle + .dropdown-menu > .active > a:focus {
    color: #FFF;
    background-color: #70ca63;
}
.navbar.bg-info {
    background-color: #3bafda;
}
.navbar.bg-info .nav > li.open > a,
.navbar.bg-info .nav > li:hover > a,
.navbar.bg-info .nav > li:focus > a,
.navbar.bg-info .nav > li.active > a,
.navbar.bg-info .nav > li > a:hover,
.navbar.bg-info .nav > li > a:focus {
    color: #FFF;
    background-color: #27a2cf;
}
.navbar.bg-info .nav > li.dropdown.open .dropdown-menu,
.navbar.bg-info .nav > li.dropdown .open .dropdown-menu {
    border-top-color: #3bafda;
}
.navbar.bg-info .nav > li.dropdown.open .dropdown-menu:after,
.navbar.bg-info .nav > li.dropdown .open .dropdown-menu:after {
    border-bottom-color: #3bafda;
}
.navbar.bg-info .nav > li.dropdown.open .dropdown-menu:after,
.navbar.bg-info .nav > li.dropdown .open .dropdown-menu:after {
    border-bottom-color: #3bafda;
}
.navbar.bg-info .nav > li .dropdown-toggle + .dropdown-menu > .active > a,
.navbar.bg-info .nav > li .dropdown-toggle + .dropdown-menu > .active > a:hover,
.navbar.bg-info .nav > li .dropdown-toggle + .dropdown-menu > .active > a:focus {
    color: #FFF;
    background-color: #3bafda;
}
.navbar.bg-warning {
    background-color: #f6bb42;
}
.navbar.bg-warning .nav > li.open > a,
.navbar.bg-warning .nav > li:hover > a,
.navbar.bg-warning .nav > li:focus > a,
.navbar.bg-warning .nav > li.active > a,
.navbar.bg-warning .nav > li > a:hover,
.navbar.bg-warning .nav > li > a:focus {
    color: #FFF;
    background-color: #f5b025;
}
.navbar.bg-warning .nav > li.dropdown.open .dropdown-menu,
.navbar.bg-warning .nav > li.dropdown .open .dropdown-menu {
    border-top-color: #f6bb42;
}
.navbar.bg-warning .nav > li.dropdown.open .dropdown-menu:after,
.navbar.bg-warning .nav > li.dropdown .open .dropdown-menu:after {
    border-bottom-color: #f6bb42;
}
.navbar.bg-warning .nav > li.dropdown.open .dropdown-menu:after,
.navbar.bg-warning .nav > li.dropdown .open .dropdown-menu:after {
    border-bottom-color: #f6bb42;
}
.navbar.bg-warning .nav > li .dropdown-toggle + .dropdown-menu > .active > a,
.navbar.bg-warning .nav > li .dropdown-toggle + .dropdown-menu > .active > a:hover,
.navbar.bg-warning .nav > li .dropdown-toggle + .dropdown-menu > .active > a:focus {
    color: #FFF;
    background-color: #f6bb42;
}
.navbar.bg-danger {
    background-color: $openc3-color;
    background-color: $openc3-color !important;
}
.navbar.bg-danger .nav > li.open > a,
.navbar.bg-danger .nav > li:hover > a,
.navbar.bg-danger .nav > li:focus > a,
.navbar.bg-danger .nav > li.active > a,
.navbar.bg-danger .nav > li > a:hover,
.navbar.bg-danger .nav > li > a:focus {
    color: #FFF;
    background-color: $openc3-color1;
}
.navbar.bg-danger .nav > li.dropdown.open .dropdown-menu,
.navbar.bg-danger .nav > li.dropdown .open .dropdown-menu {
    border-top-color: $openc3-color;
}
.navbar.bg-danger .nav > li.dropdown.open .dropdown-menu:after,
.navbar.bg-danger .nav > li.dropdown .open .dropdown-menu:after {
    border-bottom-color: $openc3-color;
}
.navbar.bg-danger .nav > li.dropdown.open .dropdown-menu:after,
.navbar.bg-danger .nav > li.dropdown .open .dropdown-menu:after {
    border-bottom-color: $openc3-color;
}
.navbar.bg-danger .nav > li .dropdown-toggle + .dropdown-menu > .active > a,
.navbar.bg-danger .nav > li .dropdown-toggle + .dropdown-menu > .active > a:hover,
.navbar.bg-danger .nav > li .dropdown-toggle + .dropdown-menu > .active > a:focus {
    color: #FFF;
    background-color: $openc3-color;
}
.navbar.bg-alert {
    background-color: #967adc;
}
.navbar.bg-alert .nav > li.open > a,
.navbar.bg-alert .nav > li:hover > a,
.navbar.bg-alert .nav > li:focus > a,
.navbar.bg-alert .nav > li.active > a,
.navbar.bg-alert .nav > li > a:hover,
.navbar.bg-alert .nav > li > a:focus {
    color: #FFF;
    background-color: #8362d6;
}
.navbar.bg-alert .nav > li.dropdown.open .dropdown-menu,
.navbar.bg-alert .nav > li.dropdown .open .dropdown-menu {
    border-top-color: #967adc;
}
.navbar.bg-alert .nav > li.dropdown.open .dropdown-menu:after,
.navbar.bg-alert .nav > li.dropdown .open .dropdown-menu:after {
    border-bottom-color: #967adc;
}
.navbar.bg-alert .nav > li.dropdown.open .dropdown-menu:after,
.navbar.bg-alert .nav > li.dropdown .open .dropdown-menu:after {
    border-bottom-color: #967adc;
}
.navbar.bg-alert .nav > li .dropdown-toggle + .dropdown-menu > .active > a,
.navbar.bg-alert .nav > li .dropdown-toggle + .dropdown-menu > .active > a:hover,
.navbar.bg-alert .nav > li .dropdown-toggle + .dropdown-menu > .active > a:focus {
    color: #FFF;
    background-color: #967adc;
}
.navbar.bg-system {
    background-color: #37bc9b;
}
.navbar.bg-system .nav > li.open > a,
.navbar.bg-system .nav > li:hover > a,
.navbar.bg-system .nav > li:focus > a,
.navbar.bg-system .nav > li.active > a,
.navbar.bg-system .nav > li > a:hover,
.navbar.bg-system .nav > li > a:focus {
    color: #FFF;
    background-color: #30a487;
}
.navbar.bg-system .nav > li.dropdown.open .dropdown-menu,
.navbar.bg-system .nav > li.dropdown .open .dropdown-menu {
    border-top-color: #37bc9b;
}
.navbar.bg-system .nav > li.dropdown.open .dropdown-menu:after,
.navbar.bg-system .nav > li.dropdown .open .dropdown-menu:after {
    border-bottom-color: #37bc9b;
}
.navbar.bg-system .nav > li.dropdown.open .dropdown-menu:after,
.navbar.bg-system .nav > li.dropdown .open .dropdown-menu:after {
    border-bottom-color: #37bc9b;
}
.navbar.bg-system .nav > li .dropdown-toggle + .dropdown-menu > .active > a,
.navbar.bg-system .nav > li .dropdown-toggle + .dropdown-menu > .active > a:hover,
.navbar.bg-system .nav > li .dropdown-toggle + .dropdown-menu > .active > a:focus {
    color: #FFF;
    background-color: #37bc9b;
}
.navbar.bg-dark {
    background-color: #3b3f4f;
}
.navbar.bg-dark .nav > li.open > a,
.navbar.bg-dark .nav > li:hover > a,
.navbar.bg-dark .nav > li:focus > a,
.navbar.bg-dark .nav > li.active > a,
.navbar.bg-dark .nav > li > a:hover,
.navbar.bg-dark .nav > li > a:focus {
    color: #FFF;
    background-color: #2e313d;
}
.navbar.bg-dark .nav > li.dropdown.open .dropdown-menu,
.navbar.bg-dark .nav > li.dropdown .open .dropdown-menu {
    border-top-color: #3b3f4f;
}
.navbar.bg-dark .nav > li.dropdown.open .dropdown-menu:after,
.navbar.bg-dark .nav > li.dropdown .open .dropdown-menu:after {
    border-bottom-color: #3b3f4f;
}
.navbar.bg-dark .nav > li.dropdown.open .dropdown-menu:after,
.navbar.bg-dark .nav > li.dropdown .open .dropdown-menu:after {
    border-bottom-color: #3b3f4f;
}
.navbar.bg-dark .nav > li .dropdown-toggle + .dropdown-menu > .active > a,
.navbar.bg-dark .nav > li .dropdown-toggle + .dropdown-menu > .active > a:hover,
.navbar.bg-dark .nav > li .dropdown-toggle + .dropdown-menu > .active > a:focus {
    color: #FFF;
    background-color: #3b3f4f;
}
/* If Navbar has a contextual class we need to modify 
 *  * several elements so there are not color conflictions
 *   */
.navbar[class*='bg-'] {
    border-bottom-color: transparent;
    box-shadow: none;
    /* Disable navbar shadow option for navbar bgs */
}
.navbar[class*='bg-'] .navbar-brand {
    color: #fff;
}
.navbar[class*='bg-'] .nav > li > a {
    color: #fff;
    color: rgba(255, 255, 255, 0.9);
}
.navbar[class*='bg-'] .nav > li.open > a {
    color: #fff;
    color: #ffffff;
}
.navbar[class*='bg-'] .caret.caret-tp {
    border-top-color: rgba(255, 255, 255, 0.3);
}
.navbar[class*='bg-'] #toggle_sidemenu_l,
.navbar[class*='bg-'] #toggle_sidemenu_l:hover,
.navbar[class*='bg-'] #toggle_sidemenu_l:focus {
    color: #FFF;
}
.navbar[class*='bg-'] #toggle_sidemenu_t {
    color: rgba(255, 255, 255, 0.5);
    -webkit-transition: color 0.2s ease;
    transition: color 0.2s ease;
}
.navbar[class*='bg-'] #toggle_sidemenu_t:hover,
.navbar[class*='bg-'] #toggle_sidemenu_t:focus {
    color: #ffffff;
}
.navbar[class*='bg-'] .navbar-search input,
.navbar[class*='bg-'] .navbar-search input:focus {
    border-color: transparent;
}
.navbar[class*='bg-'] .navbar-search.alt input {
    color: #BBB;
    color: rgba(255, 255, 255, 0.8);
    background-color: #BBB;
    background-color: rgba(255, 255, 255, 0.2);
    border-color: transparent;
}
.navbar[class*='bg-'] .navbar-search.alt input:focus {
    border-color: transparent;
}
.navbar[class*='bg-'].navbar-shadow {
    border-bottom: 1px solid transparent;
    box-shadow: none;
}
/*==========================================================
 *   Navbar Bug Fixes - Added via Update v1.2.
 *   =========================================================== */
/* Modify whitespace for user menu dropdown - Firefox alignment bug fix */
.navbar .navbar-right > li:last-child > .dropdown-menu > li > a {
    white-space: inherit;
}
/*==========================================================
 *   Navbar Responsive Settings - Added via Update v1.2.
 *   =========================================================== */
@media (max-width: 900px) {
    .navbar .navbar-right:last-child {
        margin-right: 5px;
    }
    .navbar .navbar-right > li:last-child > a > img {
        margin-right: 5px !important;
    }
    .navbar .navbar-right > li:last-child > a > span {
        display: none;
    }
    .navbar .navbar-right > li:last-child > a > span.caret {
        display: inline-block;
    }
    .navbar-form.navbar-search {
        padding: 18px 8px;
        font-size: 16px;
        margin: 0;
        cursor: pointer;
        width: auto;
        float: left;
    }
    .navbar-form.navbar-search .form-group {
        margin: 0 !important;
    }
    .navbar-form.navbar-search:after {
        content: "\f002";
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        position: relative;
        line-height: 1;
        display: inline-block;
        text-decoration: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        text-rendering: auto;
        transform: translate(0, 0);
    }
    .navbar-form.navbar-search input {
        opacity: 0;
        z-index: -1;
        visibility: hidden;
        position: absolute;
        top: -60px;
        left: 0;
        width: 100%;
        height: 60px;
        margin: 0;
        font-size: 24px;
        color: #AAA;
        border-radius: 0;
        border: 0;
        text-align: center;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    .navbar-form.navbar-search.square input {
        height: 62px;
    }
    .navbar-form.navbar-search input:focus,
    .navbar.bg-light .navbar-form.navbar-search input:focus {
        background-color: #FFF;
    }
    .navbar-form.navbar-search.search-open input {
        z-index: 1040;
        opacity: 1 !important;
        visibility: visible;
        top: 0;
        color: #666 !important;
        border-bottom: 0;
        background-color: #FFF !important;
        -webkit-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.08), 0px 2px 0px 0px rgba(0, 0, 0, 0.02) !important;
        box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.08), 0px 2px 0px 0px rgba(0, 0, 0, 0.02) !important;
    }
    .navbar-form.navbar-search.search-open input:focus {
        border-bottom-color: #DDD;
    }
    .navbar-form.navbar-search .search-remove {
        display: none;
        z-index: 1040;
        position: absolute;
        color: #AAA;
        top: 0;
        right: 0;
        height: 60px;
        line-height: 59px;
        padding-left: 15px;
        padding-right: 25px;
    }
    .navbar-form.navbar-search .search-remove:after {
        position: relative;
        content: "\e014";
        font-family: 'Glyphicons Halflings';
        text-align: center;
        font-size: 20px;
    }
    .navbar-form.navbar-search.search-open .search-remove:hover {
        color: #ee7f6d;
    }
}
/* Force Navbar Dropdowns to float and
 *  * to occupy 100% width at low resolutions 
 *   */
@media (max-width: 599px) {
    .sb-l-m .navbar > .navbar-right,
    .navbar .navbar-nav > li.dropdown,
    .navbar .navbar-nav > li.dropdown .navbar-btn {
        position: static !important;
    }
    .navbar .navbar-right:last-child {
        margin-right: 0;
    }
    .navbar .nav > li.dropdown.open .dropdown-menu:after,
    .navbar .nav > li.dropdown > .open .dropdown-menu:after {
        display: none;
    }
    .navbar-left .dropdown-menu,
    .navbar-right .dropdown-menu,
    .navbar-left .open .dropdown-menu,
    .navbar-right .open .dropdown-menu {
        z-index: 1000;
        margin-top: 0 !important;
        float: left;
        position: absolute;
        top: 100%;
        left: -1px;
        min-width: 101%;
        list-style: none;
        background-color: #FFF;
        border: 1px solid rgba(0, 0, 0, 0.15);
        background-clip: padding-box;
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    }
    #user-status + .btn-group .multiselect-container.dropdown-menu,
    #user-role + .btn-group .multiselect-container.dropdown-menu {
        top: 34px !important;
        position: absolute !important;
        right: 0;
        left: auto;
    }
}
.navbar[class*='bg-'] + #sidebar_left + #content_wrapper > #topbar-dropmenu {
    top: 0;
}
/*==========================================================
Navbar Toggle Buttons - Collapses Sidebars
=========================================================== */
#toggle_sidemenu_l,
#toggle_sidemenu_t {
    color: #666;
    float: right;
    cursor: pointer;
    font-size: 16px;
    line-height: 58px;
    max-height: 60px;
    width: 60px;
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#toggle_sidemenu_t {
    display: none;
    width: 31px;
    height: 60px;
    line-height: 58px;
    margin-left: 10px;
    background-color: rgba(0, 0, 0, 0.06);
    border-left: 1px solid rgba(0, 0, 0, 0.08);
    -webkit-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
}
#toggle_sidemenu_t:hover {
    background-color: rgba(0, 0, 0, 0.09);
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}
#toggle_sidemenu_t .fa-caret-up {
    position: relative;
    font-size: 13px;
    border: 1px solid;
    border-top: 3px solid;
    padding: 0px 3px 1px 3px;
    margin-bottom: 2px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
body.sb-top #toggle_sidemenu_t {
    display: block;
}
/* Adjust Primary Content Container - Sidebar Minified */
body.sb-l-m #content_wrapper {
    margin-left: 60px;
}
/* Primary Content Container - Sidebar Hidden */
body.sb-l-c.sb-l-m #content_wrapper {
    margin-left: 0;
}
/* Adjust Navbar Logo/Branding - Sidebar Minified */
body.sb-l-m .navbar-branding {
    width: 60px;
}
/* Adjust Navbar Logo/Branding - Sidebar Hidden */
body.sb-l-m .navbar-brand {
    display: none;
}
.nav-padding {
  padding-left: 0;
  padding-right: 0;
}
.navbar-scroll {
  height: 80vh;
  overflow-y: auto;
}
