<div class="row block">
    <div class="modal-header">
        <h4 class="modal-title">创建dockerconfigjson</h4>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" name="myForm" role="form">

            <div ng-if="!kubernetescreatesecret.namespacetemp" class="row">
                <div class="col-sm-10 form-group">
                    <label class="col-sm-3 control-label">*命名空间</label>
                    <div class="col-sm-9">
                        <select id="selectednameval" class="form-control"  ng-model="kubernetescreatesecret.namespace" required>
                             <option ng-repeat="x in kubernetescreatesecret.namespaces" value="{{x.NAME}}">{{x.NAME}}</option>
                        </select>
                    </div>
                </div>
            </div>
 
            <div ng-if="kubernetescreatesecret.namespacetemp" class="row">
                <div class="col-sm-10 form-group">
                    <label class="col-sm-3 control-label">*命名空间</label>
                    <div class="col-sm-9">
                        <input type="text" ng-disabled="1" class="form-control" placeholder="" ng-model="kubernetescreatesecret.namespace" required>
                    </div>
                </div>
            </div>
 
            <div class="row">
                <div class="col-sm-10 form-group">
                    <label class="col-sm-3 control-label">*名称</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" placeholder="名称,必填项，允许小写字母/数字/短横线组成" ng-model="kubernetescreatesecret.name" required>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-10 form-group">
                    <label class="col-sm-3 control-label">*域名</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" placeholder="域名,请勿以http或https开头，直接填写域名或IP即可" ng-model="kubernetescreatesecret.server" required>
                    </div>
                </div>
            </div>

             <div class="row">
                <div class="col-sm-10 form-group">
                    <label class="col-sm-3 control-label">*用户名</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" placeholder="用户名" ng-model="kubernetescreatesecret.username" required>
                    </div>
                </div>
            </div>
 
            <div class="row">
                <div class="col-sm-10 form-group">
                    <label class="col-sm-3 control-label">*密码</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" placeholder="密码" ng-model="kubernetescreatesecret.password" required>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-10 form-group">
                    <label class="col-sm-3 control-label">邮箱</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" placeholder="邮箱" ng-model="kubernetescreatesecret.email">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-5 form-group pull-right">
                    <button class="btn btn-info" ng-disabled="myForm.$invalid" ng-click="kubernetescreatesecret.assignment()">操作协助</button>
                    <button class="btn btn-primary" ng-disabled="myForm.$invalid" ng-click="kubernetescreatesecret.deleteapp()">确认添加</button>
                    <button class="btn btn-warning" ng-click="kubernetescreatesecret.cancel()">取消</button>
                </div>
            </div>
        </form>
    </div>

</div>

<style>.modal-dialog {width: 60%;} </style>
