<div class="row block">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <span class="panel-controls">
                <button class="btn btn-primary" uib-tooltip="刷新" ng-click="kubernetescreatesecretopaque.reload()" ><i class="fa fa-refresh fa-fw" ng-class="{'fa-spin':!kubernetescreatesecretopaque.loadover}" ></i></button>
                <button class="btn btn-primary" uib-tooltip="关闭" ng-click="kubernetescreatesecretopaque.cancel()"><i class="fa fa-times" aria-hidden="true"></i></button>
            </span>
            <h5>Secret {{kubernetescreatesecretopaque.type}}</h5>
        </div>

        <div class="panel-body" ng-if="editstep===0">
  
            <div class="pt20">
                <table class="textdiff">
                    <tr>
                        <td>
                            <textarea style="width: 100%;overflow: auto;word-break: break-all;height: 1000px;" ng-model="kubernetescreatesecretopaque.newyaml"> </textarea>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="row">
                <div class="col-sm-2 form-group pull-right">
                    <button class="btn btn-primary" ng-disabled="myForm.$invalid" ng-click="kubernetescreatesecretopaque.gotostep1()">{{'C3T.下一步'|translate}}</button>
                </div>
            </div>

        </div>

        <div class="panel-body" ng-if="editstep===1" >

            <div class="row">
                <div class="col-sm-2 form-group pull-right">
                    <button class="btn btn-info" ng-disabled="myForm.$invalid" ng-click="kubernetescreatesecretopaque.gotostep0()">{{'C3T.导入'|translate}} YAML</button>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 form-group">
                    <label class="col-sm-1 control-label">{{'C3T.名称'|translate}}</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" name="adduser" placeholder="{{'C3T.名称'|translate}}" ng-disabled="kubernetescreatesecretopaque.tasktype==='apply'" ng-model="kubernetescreatesecretopaque.editData.metadata.name" ng-mouseenter="kubernetescreatesecretopaque.namedemoin()" ng-mouseleave="kubernetescreatesecretopaque.namedemoout()" required>
                    </div>
                    <label class="col-sm-1 control-label">{{'C3T.命名空间'|translate}}</label>
                    <div class="col-sm-3">
                        <input ng-if="kubernetescreatesecretopaque.tasktype==='apply'"  ng-disabled="1" type="text" class="form-control" name="adduser" placeholder="{{'C3T.命名空间'|translate}}" ng-disabled="kubernetescreatesecretopaque.tasktype==='apply'" ng-model="kubernetescreatesecretopaque.editData.metadata.namespace" required>
                        <select id="selectednameval" class="form-control" ng-if="kubernetescreatesecretopaque.tasktype!=='apply'"  ng-model="kubernetescreatesecretopaque.editData.metadata.namespace" required>
                             <option ng-repeat="x in kubernetescreatesecretopaque.namespaces" value="{{x.NAME}}">{{x.NAME}}</option>
                        </select>
                    </div>
 
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 form-group">
                    <label class="col-sm-1 control-label">{{'C3T.描述'|translate}}</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" name="adduser" placeholder="{{'C3T.描述'|translate}}" ng-model="kubernetescreatesecretopaque.editData.metadata.annotations.describe" ng-mouseenter="kubernetescreatesecretopaque.describedemoin()" ng-mouseleave="kubernetescreatesecretopaque.describedemoout()"required>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 form-group">
                    <label class="col-sm-1 control-label">{{'C3T.标签'|translate}}</label>
                    <div class="col-sm-6">
                            <i class="fa fa-plus-circle fa-2x" aria-hidden="true" ng-click="kubernetescreatesecretopaque.addLabel()" uib-tooltip="添加" style="cursor:pointer;color: #339094;" ></i>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-sm-12 form-group">
                    <label class="col-sm-1 control-label"></label>
                    <div class="col-sm-6">
                        <table  border="0" style="width: 800px">
                            <tr ng-repeat="(id, x) in labels">
                                <td><input type="text" class="form-control"  ng-model="x.K"></td>
                                <td style="width: 20px">=</td>
                                <td><input type="text" class="form-control"  ng-model="x.V"></td>
                                <td style="width: 50px">
                                    <i class="fa fa-minus-circle fa-2x" aria-hidden="true" ng-click="kubernetescreatesecretopaque.delLabel(id)" uib-tooltip="删除" style="cursor:pointer;color: #f63;" ></i>
                                </td>
                            </tr>
                       </table>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 form-group">
                    <label class="col-sm-1 control-label">annotations</label>
                    <div class="col-sm-6">
                            <i class="fa fa-plus-circle fa-2x" aria-hidden="true" ng-click="kubernetescreatesecretopaque.addAnnotations()" uib-tooltip="添加" style="cursor:pointer;color: #339094;" ></i>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-sm-12 form-group">
                    <label class="col-sm-1 control-label"></label>
                    <div class="col-sm-6">
                        <table  border="0" style="width: 800px">
                            <tr ng-repeat="(id, x) in annotations">
                                <td><input type="text" class="form-control"  ng-model="x.K"></td>
                                <td style="width: 20px">=</td>
                                <td><input type="text" class="form-control"  ng-model="x.V"></td>
                                <td style="width: 50px">
                                    <i class="fa fa-minus-circle fa-2x" aria-hidden="true" ng-click="kubernetescreatesecretopaque.delAnnotations(id)" uib-tooltip="删除" style="cursor:pointer;color: #f63;" ></i>
</td>
                            </tr>
                       </table>
                    </div>
                </div>
            </div>

<hr>

            <div class="row">
                <div class="col-sm-12 form-group">
                    <label class="col-sm-1 control-label">{{'C3T.数据'|translate}}</label>
                    <div class="col-sm-6">
                            <i class="fa fa-plus-circle fa-2x" aria-hidden="true" ng-click="kubernetescreatesecretopaque.addDatabase64()" uib-tooltip="添加数据" style="cursor:pointer;color: #339094;" ></i>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 form-group">
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-6">
                        <table  border="0" style="width: 100%">
                            <tr ng-repeat="(id, x) in database64">
                                <td >


                                    <div class="row">
                                        <div class="col-sm-12 form-group">
                                            <label class="col-sm-1 control-label">{{'C3T.名称'|translate}}</label>
                                            <div class="col-sm-3">
                                                <input type="text" class="form-control" placeholder="{{'C3T.名称'|translate}}" ng-model="x.K" required>
                                           </div>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-sm-12 form-group">
                                            <label class="col-sm-1 control-label">{{'C3T.内容'|translate}}</label>
                                            <div class="col-sm-11">
                                                <textarea ng-if="x.K !== 'namespace'"  style="min-height: 100px;" class="form-control" rows="5" cols="100" ng-model="x.V" > </textarea>
                                                <input ng-if="x.K === 'namespace'" type="text" class="form-control" placeholder="{{'C3T.内容'|translate}}" ng-model="x.V" required>
                                           </div>
 
                                        </div>
                                    </div>



                                </td>
                                <td style="width: 50px">
                                    <i class="fa fa-minus-circle fa-2x" aria-hidden="true" ng-click="kubernetescreatesecretopaque.delDatabase64(id)" uib-tooltip="删除" style="cursor:pointer;color: #f63;" ></i>
                                </td>
                            </tr>
                       </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 form-group pull-right">
                    <button class="btn btn-primary" ng-disabled="myForm.$invalid" ng-click="kubernetescreatesecretopaque.gotostep2()">{{'C3T.下一步'|translate}}</button>
                </div>
            </div>

        </div>

        <div class="panel-body" ng-if="editstep===2">
            <div class="row">
                <div class="col-sm-2 form-group pull-right">
                    <button class="btn btn-primary" ng-disabled="myForm.$invalid" ng-click="kubernetescreatesecretopaque.gotostep1()">{{'C3T.返回上一步'|translate}}</button>
                </div>
            </div>
            <div class="pt20">
                <table class="textdiff">
                    <tr>
                        <td>
                            <textarea style="width: 100%;overflow: auto;word-break: break-all;height: 1000px;" ng-model="kubernetescreatesecretopaque.newyaml" ng-change="kubernetescreatesecretopaque.diff()"> </textarea>
                        </td>
                        <td><pre style="height: 1000px;"  id="diffresultstring" ></pre></td>
                    </tr>
                </table>
            </div>
            <div class="row">
                <div class="col-sm-2 form-group pull-right">
                    <button class="btn btn-info" ng-disabled="myForm.$invalid" ng-click="kubernetescreatesecretopaque.assignment()">{{'C3T.操作协助'|translate}}</button>
                    <button class="btn btn-primary" ng-disabled="myForm.$invalid" ng-click="kubernetescreatesecretopaque.apply()">{{'C3T.提交变更'|translate}}</button>
                </div>
            </div>
        </div>


    </div>
</div>

<style>.modal-dialog {width: 90%;} </style>
<script src="assets/js/diff.js"></script>
<link rel="stylesheet" href="assets/css/style.css"/>
