<div class="row block">
    <div class="modal-header">
        <h4 ng-if="kubernetescreatehpa.full === 1" class="modal-title">{{'C3T.添加'|translate}} HPA: {{kubernetescreatehpa.type}}/{{kubernetescreatehpa.namespace}}/{{kubernetescreatehpa.name}}</h4>
        <h4 ng-if="kubernetescreatehpa.full !== 1" class="modal-title">{{'C3T.添加'|translate}} HPA</h4>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" name="myForm" role="form">
<div ng-if="kubernetescreatehpa.full !== 1" >
            <div class="row">
                <div class="col-sm-10 form-group">
                    <label class="col-sm-3 control-label">{{'C3T.类型'|translate}}</label>
                    <div class="col-sm-9">
                        <select id="selectednameval" class="form-control" ng-model="kubernetescreatehpa.type" ng-change="kubernetescreatehpa.change()" required>
                             <option value="deployment">Deployment</option>
                             <option value="replicaset">ReplicaSet</option>
                        </select>
                    </div>
 
                </div>
            </div>

            <div class="row">
                <div class="col-sm-10 form-group">
                    <label class="col-sm-3 control-label">{{'C3T.命名空间'|translate}}</label>
                    <div class="col-sm-9" ng-if="kubernetescreatehpa.selectnamespace !== 1" >
                        <input type="text" class="form-control" placeholder="{{'C3T.命名空间'|translate}}" ng-model="kubernetescreatehpa.namespace" ng-disabled="1" required>
                    </div>
                    <div class="col-sm-9" ng-if="kubernetescreatehpa.selectnamespace === 1">
                        <select id="selectednameval" class="form-control" ng-model="kubernetescreatehpa.namespace" ng-change="kubernetescreatehpa.change()" required>
                             <option ng-repeat="x in kubernetescreatehpa.namespaces" value="{{x.NAME}}">{{x.NAME}}</option>
                        </select>
                    </div>
 
                </div>
            </div>

            <div class="row">
                <div class="col-sm-10 form-group">
                    <label class="col-sm-3 control-label">{{'C3T.名称'|translate}}</label>
                    <div class="col-sm-9">
                        <select id="selectednameval" class="form-control" ng-model="kubernetescreatehpa.name" required>
                             <option ng-repeat="x in kubernetescreatehpa.names" value="{{x}}">{{x}}</option>
                        </select>
                    </div>
 
                </div>
            </div>
</div>

            <div class="row">
                <div class="col-sm-10 form-group">
                    <label class="col-sm-3 control-label">CPU {{'C3T.阈值'|translate}}</label>
                    <div class="col-sm-9">
                        <input type="number" class="form-control" placeholder="CPU {{'C3T.百分比'|translate}}" ng-model="kubernetescreatehpa.cpu" required>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-10 form-group">
                    <label class="col-sm-3 control-label">{{'C3T.副本数'|translate}}</label>
                    <div class="col-sm-3">
                        <input type="number" class="form-control" placeholder="{{'C3T.副本数'|translate}}" ng-model="kubernetescreatehpa.min" required>
                    </div>
                    <label class="col-sm-1 control-label">-</label>
                    <div class="col-sm-3">
                        <input type="number" class="form-control" placeholder="{{'C3T.副本数'|translate}}" ng-model="kubernetescreatehpa.max" required>
                    </div>
 
                </div>
            </div>

            <div class="row">
                <div class="col-sm-5 form-group pull-right">
                    <button class="btn btn-info" ng-disabled="myForm.$invalid" ng-click="kubernetescreatehpa.assignment()">{{'C3T.操作协助'|translate}}</button>
                    <button class="btn btn-primary" ng-disabled="myForm.$invalid" ng-click="kubernetescreatehpa.add()">{{'C3T.确认添加'|translate}}</button>
                    <button class="btn btn-warning" ng-click="kubernetescreatehpa.cancel()">{{'C3T.取消'|translate}}</button>
                </div>
            </div>
        </form>
    </div>
</div>
<style>.modal-dialog {width: 30%;} </style>
