<div class="row block">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <span class="panel-controls">
                <button class="btn btn-primary" uib-tooltip="刷新" ng-click="kubernetescreateservice.reload()" ><i class="fa fa-refresh fa-fw" ng-class="{'fa-spin':!kubernetescreateservice.loadover}" ></i></button>
                <button class="btn btn-primary" uib-tooltip="关闭" ng-click="kubernetescreateservice.cancel()"><i class="fa fa-times" aria-hidden="true"></i></button>
            </span>
            <h5>Service</h5>
        </div>

        <div class="panel-body" ng-if="editstep===0">
  
            <div class="pt20">
                <table class="textdiff">
                    <tr>
                        <td>
                            <textarea style="width: 100%;overflow: auto;word-break: break-all;height: 1000px;" ng-model="kubernetescreateservice.newyaml"> </textarea>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="row">
                <div class="col-sm-2 form-group pull-right">
                    <button class="btn btn-primary" ng-disabled="myForm.$invalid" ng-click="kubernetescreateservice.gotostep1()">下一步</button>
                </div>
            </div>
        </div>

        <div class="panel-body" ng-if="editstep===1" >
            <div class="row">
                <div class="col-sm-2 form-group pull-right">
                    <button class="btn btn-info" ng-disabled="myForm.$invalid" ng-click="kubernetescreateservice.gotostep0()">导入YAML</button>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 form-group">
                    <label class="col-sm-1 control-label">名称</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" name="adduser" placeholder="名称" ng-disabled="kubernetescreateservice.tasktype==='apply'" ng-model="kubernetescreateservice.editData.metadata.name" ng-mouseenter="kubernetescreateservice.namedemoin()" ng-mouseleave="kubernetescreateservice.namedemoout()" required>
                    </div>
                    <label class="col-sm-1 control-label">命名空间</label>
                    <div class="col-sm-3">
                        <input ng-if="kubernetescreateservice.tasktype==='apply'"  ng-disabled="1" type="text" class="form-control" name="adduser" placeholder="名称" ng-disabled="kubernetescreateservice.tasktype==='apply'" ng-model="kubernetescreateservice.editData.metadata.namespace" required>
                        <select ng-change="kubernetescreateservice.namespacechange( kubernetescreateservice.editData.metadata.namespace )" id="selectednameval" class="form-control" ng-if="kubernetescreateservice.tasktype!=='apply'"  ng-model="kubernetescreateservice.editData.metadata.namespace" required>
                             <option ng-repeat="x in kubernetescreateservice.namespaces" value="{{x.NAME}}">{{x.NAME}}</option>
                        </select>
                    </div>
 
                </div>
            </div>

<!--
            <div class="row">
                <div class="col-sm-12 form-group">
                    <label class="col-sm-1 control-label">描述</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" name="adduser" placeholder="描述" ng-model="kubernetescreateservice.editData.metadata.annotations.describe" ng-mouseenter="kubernetescreateservice.describedemoin()" ng-mouseleave="kubernetescreateservice.describedemoout()"required>
                    </div>
                </div>
            </div>
-->
            <div class="row">
                <div class="col-sm-12 form-group">
                    <label class="col-sm-1 control-label">标签</label>
                    <div class="col-sm-1">
                        <i class="fa fa-plus-circle fa-2x" aria-hidden="true" ng-click="kubernetescreateservice.addLabel()" uib-tooltip="添加" style="cursor:pointer;color: #339094;" ></i>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 form-group">
                    <label class="col-sm-1 control-label"></label>
                    <div class="col-sm-7">
                        <table  border="0" style="width: 100%">
                            <tr ng-repeat="(id, x) in labels">
                                <td><input type="text" class="form-control"  ng-model="x.K"></td>
                                <td style="width: 20px">=</td>
                                <td><input type="text" class="form-control"  ng-model="x.V"></td>
                                <td style="width: 50px">
                                    <i class="fa fa-minus-circle fa-2x" aria-hidden="true" ng-click="kubernetescreateservice.delLabel(id)" uib-tooltip="删除" style="cursor:pointer;color: #f63;" ></i>
                               </td>
                            </tr>
                       </table>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 form-group">
                    <label class="col-sm-1 control-label">annotations</label>
                    <div class="col-sm-1">
                        <i ng-if="annotations.length == 0" class="fa fa-plus-circle fa-2x" aria-hidden="true" ng-click="kubernetescreateservice.addAnnotations()" uib-tooltip="添加" style="cursor:pointer;color: #339094;" ></i>
                    </div>
                    <div ng-repeat="id in ['QCloud_lb','QCloud_ipv4','QCloud_ipv6','AWS_nlb']" style="float: left;margin-right: 4px;">
                        <i class="fa fa-plus-circle fa-2x" aria-hidden="true" ng-click="kubernetescreateservice.addAnnotationsByType(id)" uib-tooltip="添加" style="cursor:pointer;color: #339094;" >{{id}}</i>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-sm-12 form-group">
                    <label class="col-sm-1 control-label"></label>
                    <div class="col-sm-7">
                        <table  border="0" style="width: 100%">
                            <tr ng-repeat="(id, x) in annotations">
                                <td><input type="text" class="form-control"  ng-model="x.K"></td>
                                <td style="width: 20px">=</td>
                                <td> <input type="text" class="form-control" style="color: {{kubernetescreateservice.inputTodo(x.V)}}" ng-model="x.V"> </td>
                                <td style="width: 50px">
                                    <i class="fa fa-minus-circle fa-2x" aria-hidden="true" ng-click="kubernetescreateservice.delAnnotations(id)" uib-tooltip="删除" style="cursor:pointer;color: #f63;" ></i>
                               </td>
                            </tr>
                       </table>
                    </div>
                </div>
            </div>
            <div class="row" ng-if="annotations.length > 0">
                <div class="col-sm-12 form-group">
                    <label class="col-sm-4 control-label"></label>
                    <div class="col-sm-1">
                        <i class="fa fa-plus-circle fa-2x" aria-hidden="true" ng-click="kubernetescreateservice.addAnnotations()" uib-tooltip="添加" style="cursor:pointer;color: #339094;" ></i>
                    </div>
                </div>

            </div>


<hr>

            <div class="row">
                <div class="col-sm-12 form-group">
                    <label class="col-sm-1 control-label">开放端口</label>
                    <div class="col-sm-6">
                        <i class="fa fa-plus-circle fa-2x" aria-hidden="true" ng-click="kubernetescreateservice.addPorts()" uib-tooltip="添加端口" style="cursor:pointer;color: #339094;" ></i>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 form-group">
                    <label class="col-sm-1 control-label"></label>
                    <div class="col-sm-9">
                        <table  border="0" style="width: 100%">
                            <tr ng-repeat="(id, x) in kubernetescreateservice.editData.spec.ports">
                                <td >


                                    <div class="row">
                                        <div class="col-sm-12 form-group">
                                            <label class="col-sm-1 control-label">名称</label>
                                            <div class="col-sm-2">
                                                <input type="text" class="form-control" placeholder="名称" ng-model="x.name" required>
                                           </div>
                                            <label class="col-sm-1 control-label">端口</label>
                                            <div class="col-sm-2">
                                                <input type="number" class="form-control" placeholder="端口" ng-model="x.port" required>
                                           </div>
                                            <label class="col-sm-1 control-label">容器端口</label>
                                            <div class="col-sm-2">
                                                <input type="number" class="form-control" placeholder="端口" ng-model="x.targetPort" required>
                                           </div>
                                           <label class="col-sm-1 control-label">协议</label>
                                            <div class="col-sm-2">
                                                <select id="selectednameval" class="form-control" ng-model="x.protocol" required>
                                                    <option value="TCP">TCP</option>
                                                    <option value="UDP">UDP</option>
                                                </select>
                                           </div>
                                        </div>
                                    </div>


                                </td>
                                <td style="width: 50px">
                                    <i class="fa fa-minus-circle fa-2x" aria-hidden="true" ng-click="kubernetescreateservice.delPorts(id)" uib-tooltip="删除" style="cursor:pointer;color: #f63;" ></i>
                                </td>
                            </tr>
                       </table>
                    </div>
                </div>
            </div>
<hr>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <label class="col-sm-1 control-label">selector</label>
                    <div class="col-sm-6">
                        <i class="fa fa-plus-circle fa-2x" aria-hidden="true" ng-click="kubernetescreateservice.addSelector()" uib-tooltip="添加" style="cursor:pointer;color: #339094;" ></i>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 form-group">
                    <label class="col-sm-1 control-label"></label>
                    <div class="col-sm-7">
                        <table  border="0" style="width: 100%">
                            <tr ng-repeat="(id, x) in selector">
                                <td>
                                     <select id="selecteddataval" class="form-control"  ng-model="x.K" >
                                          <option ng-repeat="x in kubernetescreateservice.deploymentlabel.key" value="{{x}}">{{x}}</option>
                                     </select>
                                </td>
                                <td style="width: 20px">=</td>
                                <td>
                                    <select id="selecteddataval" class="form-control"  ng-model="x.V">
                                         <option ng-repeat="x in kubernetescreateservice.deploymentlabel.value[x.K]" value="{{x}}">{{x}}</option>
                                    </select>
                                </td>
                                <td style="width: 50px">
                                    <i class="fa fa-minus-circle fa-2x" aria-hidden="true" ng-click="kubernetescreateservice.delSelector(id)" uib-tooltip="删除" style="cursor:pointer;color: #f63;" ></i>
                                </td>
                            </tr>
                       </table>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2 form-group pull-right">
                    <button class="btn btn-primary" ng-disabled="myForm.$invalid" ng-click="kubernetescreateservice.gotostep2()">下一步</button>
                </div>
            </div>

        </div>

        <div class="panel-body" ng-if="editstep===2">
            <div class="row">
                <div class="col-sm-2 form-group pull-right">
                    <button class="btn btn-primary" ng-disabled="myForm.$invalid" ng-click="kubernetescreateservice.gotostep1()">返回上一步</button>
                </div>
            </div>
            <div class="pt20">
                <table class="textdiff">
                    <tr>
                        <td>
                            <textarea style="width: 100%;overflow: auto;word-break: break-all;height: 1000px;" ng-model="kubernetescreateservice.newyaml" ng-change="kubernetescreateservice.diff()"> </textarea>
                        </td>
                        <td><pre style="height: 1000px;"  id="diffresultstring" ></pre></td>
                    </tr>
                </table>
            </div>
            <div class="row">
                <div class="col-sm-2 form-group pull-right">
                    <button class="btn btn-info" ng-disabled="myForm.$invalid" ng-click="kubernetescreateservice.assignment()">操作协助</button>
                    <button class="btn btn-primary" ng-disabled="myForm.$invalid" ng-click="kubernetescreateservice.apply()">提交变更</button>
                </div>
            </div>
        </div>

    </div>
</div>

<style>.modal-dialog {width: 90%;} </style>
<script src="assets/js/diff.js"></script>
<link rel="stylesheet" href="assets/css/style.css"/>
