<div class="row block">
    <div class="modal-header">
        <h4 class="modal-title">{{'C3T.删除'|translate}}: {{kubernetesdeleteapp.type}}/{{kubernetesdeleteapp.name}}</h4>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" name="myForm" role="form">
            <div class="row">
                <div class="col-sm-10 form-group">
                    <label class="col-sm-3 control-label">{{'C3T.名称'|translate}} {{'C3T.确认'|translate}}</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" placeholder="{{'C3T.输入删除的名称'|translate}}:{{kubernetesdeleteapp.name}}" ng-model="kubernetesdeleteapp.deletename" required>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-5 form-group pull-right">
                    <button class="btn btn-info" ng-disabled="myForm.$invalid" ng-click="kubernetesdeleteapp.assignment()">{{'C3T.操作协助'|translate}}</button>
                    <button class="btn btn-primary" ng-disabled="myForm.$invalid" ng-click="kubernetesdeleteapp.deleteapp()">{{'C3T.确认'|translate}} {{'C3T.删除'|translate}}</button>
                    <button class="btn btn-warning" ng-click="kubernetesdeleteapp.cancel()">{{'C3T.取消'|translate}}</button>
                </div>
            </div>
        </form>
    </div>

</div>

<style>.modal-dialog {width: 30%;} </style>
