<div class="row block">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <span class="panel-controls">
                <button class="btn btn-primary" uib-tooltip="{{'C3T.刷新'|translate}}" ng-click="kubernetesdescribeingress.reload()" ><i class="fa fa-refresh fa-fw" ng-class="{'fa-spin':!kubernetesdescribeingress.loadover}" ></i></button>
                <button class="btn btn-primary" uib-tooltip="{{'C3T.关闭'|translate}}" ng-click="kubernetesdescribeingress.cancel()"><i class="fa fa-times" aria-hidden="true"></i></button>
            </span>
            <h5>ingress describe {{'C3T.信息'|translate}}</h5>
        </div>

        <div class="panel-body">
            <div class="pt20">
                <div>
                    <div class="panel-body" style="margin-top: 2px">
                        <div class="pt20" style="overflow: auto;">
                            <table ng-table="kubernetesdescribeingress.serviceTable" class="table table-scroll table-hover text-left table-condensed" show-filter="true">
                                <tr ng-repeat="m in $data">
                                    <td data-title="'C3T.域名'|translate" width="80">{{m.host}}</td>
                                    <td data-title="'C3T.路径'|translate" width="80">{{m.path}}</td>
                                    <td data-title="'C3T.路径类型'|translate" width="80">{{m.pathType}}</td>
                                    <td data-title="'service'" width="80">
                                        <i class="fa fa-search fa-2x" aria-hidden="true" ng-click="kubernetesdescribeingress.describexxservice('service',m.servicename)" uib-tooltip="{{'C3T.查看'|translate}}" style="cursor:pointer;color: #339094;" ></i>
                                        {{m.servicename}}
                                    </td>
                                    <td data-title="'C3T.端口'|translate" width="80">{{m.port}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="row" class="form-group">
                        <div class="col-md-12">
                            <pre style="min-height: 100px;" ng-dblclick="dataEdit=true" class="text-left"  ng-bind-html="kubernetesdescribeingress.describe"></pre>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>

</div>

<style>.modal-dialog {width: 60%;} </style>
