<div class="row block">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <span class="panel-controls">
                <button class="btn btn-primary" uib-tooltip="刷新" ng-click="kubernetesdescribedeployment.reload()" ><i class="fa fa-refresh fa-fw" ng-class="{'fa-spin':!kubernetesdescribedeployment.loadover}" ></i></button>
                <button class="btn btn-primary" uib-tooltip="关闭" ng-click="kubernetesdescribedeployment.cancel()"><i class="fa fa-times" aria-hidden="true"></i></button>
            </span>
            <h5>deployment describe 信息</h5>
        </div>

        <div class="panel-body">
            <div class="pt20">
                <div>
                    <div class="panel-body" style="margin-top: 2px">
                        <div class="pt20" style="overflow: auto;">
                            <table ng-table="kubernetesdescribedeployment.newpodTable" class="table table-scroll table-hover text-left table-condensed" show-filter="true">
                                <tr ng-repeat="m in $data">
                                    <td data-title="'新容器'" width="80">
                                        <i class="fa fa-television fa-2x" aria-hidden="true" ng-click="kubernetesdescribedeployment.openOneTab(m,'sh')" uib-tooltip="进入POD虚拟终端" style="cursor:pointer;color: #339094;" ></i>
                                        <i class="fa fa-file-text-o fa-2x" aria-hidden="true" ng-click="kubernetesdescribedeployment.openOneTab(m,'log')" uib-tooltip="查看POD日志" style="cursor:pointer;color: #339094;" ></i>
                                        {{m.NAME}}
                                    </td>
                                    <td data-title="'READY'" width="80">{{m.READY}}</td>
                                    <td data-title="'STATUS'" width="80">
                                        <a ng-if="m.STATUS==='Running'" style="color: green;">{{m.STATUS}}</a>
                                        <a ng-if="m.STATUS!=='Running'" style="color: red;" >{{m.STATUS}}</a>
                                    </td>

                                    <td data-title="'RESTARTS'" width="80">{{m.RESTARTS}}</td>
                                    <td data-title="'AGE'" width="80">{{m.AGE}}</td>
                                    <td data-title="'操作'" width="80" >
                                        <i class="fa fa-search fa-2x" aria-hidden="true" ng-click="kubernetesdescribedeployment.describexx('pod',m.NAME)" uib-tooltip="查看" style="cursor:pointer;color: #339094;" ></i>
                                    </td> 
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="panel-body" style="margin-top: 2px">
                        <div class="pt20" style="overflow: auto;">
                            <table ng-table="kubernetesdescribedeployment.oldpodTable" class="table table-scroll table-hover text-left table-condensed" show-filter="true">
                                <tr ng-repeat="m in $data">
                                    <td data-title="'旧容器'" width="80" filter="{ NAME: 'text'}" sortable="'NAME'">
                                        <i class="fa fa-television fa-2x" aria-hidden="true" ng-click="kubernetesdescribedeployment.openOneTab(m,'sh')" uib-tooltip="进入POD虚拟终端" style="cursor:pointer;color: #339094;" ></i>
                                        <i class="fa fa-file-text-o fa-2x" aria-hidden="true" ng-click="kubernetesdescribedeployment.openOneTab(m,'log')" uib-tooltip="查看POD日志" style="cursor:pointer;color: #339094;" ></i>
                                        {{m.NAME}}
                                    </td>
                                    <td data-title="'READY'" width="80" filter="{ READY: 'text'}" sortable="'READY'">{{m.READY}}</td>
                                    <td data-title="'STATUS'" width="80" filter="{ STATUS: 'text'}" sortable="'STATUS'">
                                        <a ng-if="m.STATUS==='Running'" style="color: green;">{{m.STATUS}}</a>
                                        <a ng-if="m.STATUS!=='Running'" style="color: red;" >{{m.STATUS}}</a>
                                    </td>
                                    <td data-title="'RESTARTS'" width="80" filter="{ RESTARTS: 'text'}" sortable="'RESTARTS'">{{m.RESTARTS}}</td>
                                    <td data-title="'AGE'" width="80" filter="{ AGE: 'text'}" sortable="'AGE'">{{m.AGE}}</td>
                                    <td data-title="'操作'" width="80" >
                                        <i class="fa fa-search fa-2x" aria-hidden="true" ng-click="kubernetesdescribedeployment.describexx('pod',m.NAME)" uib-tooltip="查看" style="cursor:pointer;color: #339094;" ></i>
                                    </td> 
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="row" class="form-group">
                        <div class="col-md-12">
                            <pre style="min-height: 100px;" ng-dblclick="dataEdit=true" class="text-left"  ng-bind-html="kubernetesdescribedeployment.describe"></pre>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>

</div>
<style>.modal-dialog {width: 60%;} </style>
