<div class="row block">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <span class="panel-controls">
                <button class="btn btn-primary" uib-tooltip="刷新" ng-click="kubernetesedithpa.reload()" ><i class="fa fa-refresh fa-fw" ng-class="{'fa-spin':!kubernetesedithpa.loadover}" ></i></button>
                <button class="btn btn-primary" uib-tooltip="关闭" ng-click="kubernetesedithpa.cancel()"><i class="fa fa-times" aria-hidden="true"></i></button>
            </span>
            <h5>HPA {{'C3T.编辑'|translate}}</h5>
        </div>

        <div class="panel-body" ng-if="editstep===0">
  
            <div class="pt20">
                <table class="textdiff">
                    <tr>
                        <td>
                            <textarea style="width: 100%;overflow: auto;word-break: break-all;height: 1000px;" ng-model="kubernetesedithpa.newyaml"> </textarea>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="row">
                <div class="col-sm-2 form-group pull-right">
                    <button class="btn btn-primary" ng-disabled="myForm.$invalid" ng-click="kubernetesedithpa.gotostep1()">{{'C3T.下一步'|translate}}</button>
                </div>
            </div>
        </div>

        <div class="panel-body" ng-if="editstep===1" >

            <div class="row">
                <div class="col-sm-12 form-group">
                    <label class="col-sm-1 control-label">{{'C3T.命名空间'|translate}}</label>
                    <div class="col-sm-6">
                        <input ng-disabled="1" type="text" class="form-control" name="adduser" placeholder="{{'C3T.命名空间'|translate}}" ng-disabled="kubernetesedithpa.tasktype==='apply'" ng-model="kubernetesedithpa.editData.metadata.namespace" required>
                    </div>
 
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 form-group">
                    <label class="col-sm-1 control-label">{{'C3T.名称'|translate}}</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="adduser" placeholder="{{'C3T.名称'|translate}}" ng-disabled="kubernetesedithpa.tasktype==='apply'" ng-model="kubernetesedithpa.editData.metadata.name" ng-mouseenter="kubernetesedithpa.namedemoin()" ng-mouseleave="kubernetesedithpa.namedemoout()" required>
                    </div>
 
                </div>
            </div>


           <div class="row">
                <div class="col-sm-12 form-group">
                    <label class="col-sm-1 control-label">CPU {{'C3T.阈值'|translate}}</label>
                    <div class="col-sm-1">
                        <input type="number" class="form-control" name="adduser" placeholder="CPU {{'C3T.阈值'|translate}}" ng-model="kubernetesedithpa.editData.spec.targetCPUUtilizationPercentage" required>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 form-group">
                    <label class="col-sm-1 control-label">{{'C3T.副本数量'|translate}}</label>
                    <div class="col-sm-1">
                        <input type="number" class="form-control" name="adduser" placeholder="{{'C3T.最小'|translate}} {{'C3T.副本数量'|translate}}" ng-model="kubernetesedithpa.editData.spec.minReplicas" required>
                    </div>
                    <label class="col-sm-1 control-label">-</label>
                    <div class="col-sm-1">
                        <input type="number" class="form-control" name="adduser" placeholder="{{'C3T.最大'|translate}} {{'C3T.副本数量'|translate}}" ng-model="kubernetesedithpa.editData.spec.maxReplicas" required>
                    </div>
 
                </div>
            </div>

<hr>

            <div class="row">
                <div class="col-sm-2 form-group pull-right">
                    <button class="btn btn-primary" ng-disabled="myForm.$invalid" ng-click="kubernetesedithpa.gotostep2()">{{'C3T.下一步'|translate}}</button>
                </div>
            </div>

        </div>

        <div class="panel-body" ng-if="editstep===2">
            <div class="row">
                <div class="col-sm-2 form-group pull-right">
                    <button class="btn btn-primary" ng-disabled="myForm.$invalid" ng-click="kubernetesedithpa.gotostep1()">{{'C3T.返回上一步'|translate}}</button>
                </div>
            </div>
            <div class="pt20">
                <table class="textdiff">
                    <tr>
                        <td>
                            <textarea style="width: 100%;overflow: auto;word-break: break-all;height: 1000px;" ng-model="kubernetesedithpa.newyaml" ng-change="kubernetesedithpa.diff()"> </textarea>
                        </td>
 
                        <td>
                            <pre style="height: 1000px;"  id="diffresultstring" ></pre>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="row">
                <div class="col-sm-2 form-group pull-right">
                    <button class="btn btn-info" ng-disabled="myForm.$invalid" ng-click="kubernetesedithpa.assignment()">{{'C3T.操作协助'|translate}}</button>
                    <button class="btn btn-primary" ng-disabled="myForm.$invalid" ng-click="kubernetesedithpa.apply()">{{'C3T.提交变更'|translate}}</button>
                </div>
            </div>
        </div>

    </div>
</div>

<style>.modal-dialog {width: 60%;} </style>
<script src="assets/js/diff.js"></script>
<link rel="stylesheet" href="assets/css/style.css"/>
