<div class="row block">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <span class="panel-controls">
                <button class="btn btn-primary" uib-tooltip="刷新" ng-click="kubernetesedityaml.reload()" ><i class="fa fa-refresh fa-fw" ng-class="{'fa-spin':!kubernetesedityaml.loadover}" ></i></button>
                <button class="btn btn-primary" uib-tooltip="关闭" ng-click="kubernetesedityaml.cancel()"><i class="fa fa-times" aria-hidden="true"></i></button>
            </span>
            <h5>{{'C3T.编辑'|translate}} YAML</h5>
        </div>

        <div class="panel-body">

            <div class="row">
                <div class="col-sm-3 form-group pull-left">
                    <input type="text" class="form-control" name="src" placeholder="源字符串" ng-model="kubernetesedityaml.replace1">
                </div>
                <div class="col-sm-3 form-group pull-left">
                    <input type="text" class="form-control" name="dst" placeholder="目标字符串" ng-model="kubernetesedityaml.replace2">
                </div>
                 <div class="col-sm-1 form-group pull-left">
                    <button class="btn btn-primary" ng-disabled="!(kubernetesedityaml.replace1 && kubernetesedityaml.replace2)" ng-click="kubernetesedityaml.replaceyaml()">{{'C3T.文本替换'|translate}}</button>
                </div>
 
            </div>

            <div class="pt20">
                <table class="textdiff">
                    <tr>
                        <td>
                            <textarea style="width: 100%;overflow: auto;word-break: break-all;height: 1000px;" ng-model="kubernetesedityaml.newyaml" ng-change="kubernetesedityaml.diff()"> </textarea>
                        </td>
                        <td><pre style="height: 1000px;"  id="diffresultstring" ></pre></td>
                    </tr>
                </table>
            </div>

            <div class="row">
                <div class="col-sm-2 form-group pull-right">
                    <button class="btn btn-info" ng-disabled="myForm.$invalid" ng-click="kubernetesedityaml.assignment()">{{'C3T.操作协助'|translate}}</button>
                    <button class="btn btn-primary" ng-disabled="myForm.$invalid" ng-click="kubernetesedityaml.apply()">{{'C3T.提交变更'|translate}}</button>
                    <button class="btn btn-warning" ng-click="kubernetesedityaml.cancel()">{{'C3T.关闭'|translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>

<style>.modal-dialog {width: 90%;} </style>
<script src="assets/js/diff.js"></script>
<link rel="stylesheet" href="assets/css/style.css"/>
