<div class="row block">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <span class="panel-controls">
                <button class="btn btn-primary" uib-tooltip="刷新" ng-click="kubernetesharborimage.reload()" ><i class="fa fa-refresh fa-fw" ng-class="{'fa-spin':!kubernetesharborimage.loadover}" ></i></button>
                <button class="btn btn-primary" uib-tooltip="关闭" ng-click="kubernetesharborimage.cancel()"><i class="fa fa-times" aria-hidden="true"></i></button>
            </span>
            <h5>Harbor镜像仓库选择</h5>
        </div>

        <div class="panel-body" style="margin-top: 2px">

            <div ng-if="kubernetesharborimage.tickethas===''" class="row">
                <div class="col-sm-10 form-group">
                    <label class="col-sm-3 control-label">凭据</label>
                    <div class="col-sm-9">
                        <select id="selectednameval" class="form-control"  ng-model="kubernetesharborimage.ticketid" ng-change="kubernetesharborimage.reload()" required>
                             <option ng-repeat="x in kubernetesharborimage.tickets" value="{{x.id}}">{{x.name}}</option>
                        </select>
                    </div>
                </div>
            </div>

            <div ng-if="kubernetesharborimage.nodeTable" class="pt20" style="overflow: auto;">
                <table ng-table="kubernetesharborimage.nodeTable" class="table table-scroll table-hover text-left table-condensed" show-filter="true">
                    <tr ng-repeat="m in $data">
                        <td data-title="'名称'" width="80" filter="{ repo: 'text'}" sortable="'repo'"> {{m.repo}} </td>
                        <td data-title="'类型'" width="80" filter="{ type: 'text'}" sortable="'type'"> {{m.type}} </td>
                        <td data-title="'artifact_count'" width="80" filter="{ artifact_count: 'text'}" sortable="'artifact_count'"> {{m.artifact_count}} </td>
                        <td data-title="'pull_count'" width="80" filter="{ pull_count: 'text'}" sortable="'pull_count'"> {{m.pull_count}} </td>
                        <td data-title="'操作'" width="80" >
                            <i class="fa fa-check-circle fa-2x" aria-hidden="true" ng-click="kubernetesharborimage.selectRepo(m.repo)" uib-tooltip="选择该仓库" style="cursor:pointer;color: #339094;" ></i>
                        </td> 
                    </tr>
                </table>
            </div>
        </div>

    </div>

</div>

<style>.modal-dialog {width: 60%;} </style>
