<div class="row block">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <span class="panel-controls">
                <button class="btn btn-primary" uib-tooltip="刷新" ng-click="kubernetesk8sbackup.reload()" ><i class="fa fa-refresh fa-fw" ng-class="{'fa-spin':!kubernetesk8sbackup.loadover}" ></i></button>
                <button class="btn btn-primary" uib-tooltip="关闭" ng-click="kubernetesk8sbackup.cancel()"><i class="fa fa-times" aria-hidden="true"></i></button>
            </span>
            <h5>备份管理 集群: {{kubernetesk8sbackup.clusterinfo.name}}</h5>
        </div>


        <div class="panel-body" style="margin-top: 2px">
             <button class="btn btn-info" uib-tooltip="点击立即备份" ng-click="kubernetesk8sbackup.backup()"><i class="fa fa-cubes" aria-hidden="true">点击立即备份</i></button>

            <div class="pt20" style="overflow: auto;">
                <table ng-table="kubernetesk8sbackup.nodeTable" class="table table-scroll table-hover text-left table-condensed" show-filter="true">
                    <tr ng-repeat="m in $data">
                        <td data-title="'名称'" width="80" filter="{ NAME: 'text'}" sortable="'NAME'">
                            {{m.NAME}}
                        </td>
                        <td data-title="'操作'" width="80" >
                            <i class="fa fa-download fa-1x" aria-hidden="true" ng-click="kubernetesk8sbackup.downloadfile(m.NAME)" uib-tooltip="下载" style="cursor:pointer;color: #f63;" >下载</i>
                        </td> 
                    </tr>
                </table>
            </div>
        </div>

    </div>

</div>

<style>.modal-dialog {width: 40%;} </style>
