<cmloading ng-if="(!kubernetesmanage.loadoverA ) || (!kubernetesmanage.loadoverB) || (!kubernetesmanage.loadoverC) || (!kubernetesmanage.loadoverD)"></cmloading>
<div class="row block">
    <div class="col-lg-12 col-xs-12 ml0 pl0" style="padding-left: 0">

        <div class="panel panel-default" style="box-shadow: -2px 0 10px 3px rgba(0,0,0,.1);">

            <div class="panel-heading">
            <span class="panel-controls">

                <button class="btn btn-info" uib-tooltip="刷新" ng-click="kubernetesmanage.reload()" ><i class="fa fa-refresh fa-fw" ng-class="{'fa-spin':(!kubernetesmanage.loadoverA ) || (!kubernetesmanage.loadoverB) || (!kubernetesmanage.loadoverC)}" ></i>刷新</button>
            </span>

                <h4 style="font-weight: bold;color: #337ab7">集群({{clusterCount||0}})</h4>
            </div>

            <div class="panel-body" style="margin-top: 20px">
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <label class="col-sm-1 control-label">集群</label>
                        <div class="col-sm-4">
                            <select id="selecteddataval" class="form-control"  ng-model="choiceClusterId" >
                                 <option ng-repeat="x in kubernetesmanage.clusterlist" value="{{x.id}}">{{x.name}} 详情: {{x.describe}} 操作权限: {{x.auth}}</option>
                            </select>
                        </div>
                        <div class="col-sm-1">
                            <button class="btn btn-info" uib-tooltip="添加集群" ng-click="kubernetesmanage.addCluster()"><i class="fa fa-plus" aria-hidden="true">添加</i></button>
                        </div>
 
                    </div>
                </div>


                <div class="row">
                    <div class="col-sm-12 form-group">
                        <label class="col-sm-1 control-label">命名空间</label>
                        <div class="col-sm-4">
                            <select id="selectednameval" class="form-control"  ng-model="choiceNamespace" >
                                 <option value="">全部</option>
                                 <option ng-repeat="x in kubernetesmanage.namespace" value="{{x.NAME}}">{{x.NAME}} 状态: {{x.STATUS}} 年龄: {{x.AGE}}</option>
                            </select>
                        </div>
                        <div class="col-sm-1">
                            <button class="btn btn-info" uib-tooltip="添加命名空间" ng-click="kubernetesmanage.addNamespace()"><i class="fa fa-plus" aria-hidden="true">添加</i></button>
                        </div>
 
                    </div>
                </div>


                <div class="row">
                    <div class="col-sm-12 form-group">
                        <label class="col-sm-1 control-label">状态</label>
                        <div class="col-sm-2">
                            <select id="selectedprojectval" class="form-control"  ng-model="choiceStat" style="width: 40%" >
                                 <option value="">全部</option>
                                 <option value="fail">异常</option>
                            </select>
                        </div>
                    </div>
                </div>


                <div ng-if="choiceClusterId" class="row">
                    <button style="float: right;margin-right: 4px;" class="btn btn-info" uib-tooltip="新建应用" ng-click="kubernetesmanage.apply()"><i class="fa fa-rocket" aria-hidden="true">创建应用</i></button>
                    <button class="btn btn-info" uib-tooltip="测试能否连接上集群" ng-click="kubernetesmanage.connectiontest()"><i class="fa fa-cubes" aria-hidden="true">连接测试</i></button>
                    <button class="btn btn-info" uib-tooltip="管理集群节点" ng-click="kubernetesmanage.node()"><i class="fa fa-cubes" aria-hidden="true">Node管理</i></button>
                    <button class="btn btn-info" uib-tooltip="管理集群Secret" ng-click="kubernetesmanage.secret()"><i class="fa fa-cubes" aria-hidden="true">Secret管理</i></button>
                    <button class="btn btn-info" uib-tooltip="管理集群ConfigMap" ng-click="kubernetesmanage.configMap()"><i class="fa fa-cubes" aria-hidden="true">ConfigMap管理</i></button>
                </div>
            </div>
        </div>
    </div>












    <div class="col-lg-12 col-xs-12 ml0 pl0" style="padding-left: 0">
        <div class="panel panel-default" style="box-shadow: -2px 0 10px 3px rgba(0,0,0,.1);">

            <div class="panel-heading">
                <span class="panel-controls">
                    <button class="btn btn-info" uib-tooltip="刷新" ng-click="kubernetesmanage.reload()" ><i class="fa fa-refresh fa-fw" ng-class="{'fa-spin':(!kubernetesmanage.loadoverA ) || (!kubernetesmanage.loadoverB) || (!kubernetesmanage.loadoverC) || (!kubernetesmanage.loadoverD) }" ></i>刷新</button>
                <button class="btn btn-info" uib-tooltip="创建Ingress" ng-click="kubernetesmanage.createIngress('','')"><i class="fa fa-plus" aria-hidden="true">创建</i></button>
                </span>
                <h4 style="font-weight: bold;color: #337ab7">Ingress({{kubernetesmanage.ingressCount||0}})
                </h4>

            </div>
            <div class="panel-body" style="margin-top: 2px">
              <div class="pt20" style="overflow: auto;">
                <table ng-table="kubernetesmanage.ingressTable" class="table table-scroll table-hover text-left table-condensed" show-filter="true">
                    <tr ng-repeat="m in $data">
                        <td data-title="'命名空间'" width="80" filter="{ NAMESPACE: 'text'}" sortable="'NAMESPACE'">{{m.NAMESPACE}}</td>
                        <td data-title="'名称'" width="80" filter="{ NAME: 'text'}" sortable="'NAME'">
                            <i class="fa fa-cog fa-2x" aria-hidden="true" ng-click="kubernetesmanage.createIngress(m.NAMESPACE,m.NAME)" uib-tooltip="编辑" style="cursor:pointer;color: #339094;" ></i>
                            {{m.NAME}}
                        </td>
                        <td data-title="'CLASS'" width="80" filter="{ CLASS: 'text'}" sortable="'CLASS'">{{m.CLASS}}</td>
                        <td data-title="'HOSTS'" width="80" filter="{ HOSTS: 'text'}" sortable="'HOSTS'">{{m.HOSTS}}</td>
                        <td data-title="'ADDRESS'" width="80" filter="{ ADDRESS: 'text'}" sortable="'ADDRESS'">
                            <a ng-if="!m.ADDRESS" style="color: red" >null<a>
                            <a ng-if="m.ADDRESS">{{m.ADDRESS}}<a>
                        </td>
                        <td data-title="'PORTS'" width="80" filter="{ PORTS: 'text'}" sortable="'PORTS'">{{m.PORTS}}</td>
                        <td data-title="'AGE'" width="80" filter="{ AGE: 'text'}" sortable="'AGE'">{{m.AGE}}</td>
                        <td data-title="'操作'" width="80" >
                            <i class="fa fa-search fa-2x" aria-hidden="true" ng-click="kubernetesmanage.describe('ingress',m.NAME,m.NAMESPACE)" uib-tooltip="查看" style="cursor:pointer;color: #339094;" ></i>
                            <i class="fa fa-edit fa-2x" aria-hidden="true" ng-click="kubernetesmanage.edityaml('ingress',m.NAME,m.NAMESPACE)" uib-tooltip="编辑yaml" style="cursor:pointer;color: #339094;" ></i>
                            <i class="fa fa-minus-circle fa-2x" aria-hidden="true" ng-click="kubernetesmanage.deleteApp('ingress',m.NAME,m.NAMESPACE)" uib-tooltip="删除" style="cursor:pointer;color: #f63;" ></i>
                        </td> 
                    </tr>
                </table>
              </div>
            </div>
        </div>
    </div>




    <div class="col-lg-12 col-xs-12 ml0 pl0" style="padding-left: 0">
        <div class="panel panel-default" style="box-shadow: -2px 0 10px 3px rgba(0,0,0,.1);">

            <div class="panel-heading">
                <span class="panel-controls">
                    <button class="btn btn-info" uib-tooltip="刷新" ng-click="kubernetesmanage.reload()" ><i class="fa fa-refresh fa-fw" ng-class="{'fa-spin':(!kubernetesmanage.loadoverA ) || (!kubernetesmanage.loadoverB) || (!kubernetesmanage.loadoverC) || (!kubernetesmanage.loadoverD) }" ></i>刷新</button>
                <button class="btn btn-info" uib-tooltip="创建Service" ng-click="kubernetesmanage.createService('','')"><i class="fa fa-plus" aria-hidden="true">创建</i></button>
                </span>
                <h4 style="font-weight: bold;color: #337ab7">Service({{kubernetesmanage.serviceCount||0}})</h4>
            </div>
            <div class="panel-body" style="margin-top: 2px">
              <div class="pt20" style="overflow: auto;">
                <table ng-table="kubernetesmanage.serviceTable" class="table table-scroll table-hover text-left table-condensed" show-filter="true">
                    <tr ng-repeat="m in $data">
                        <td data-title="'命名空间'" width="80" filter="{ NAMESPACE: 'text'}" sortable="'NAMESPACE'">{{m.NAMESPACE}}</td>
                        <td data-title="'名称'" width="80" filter="{ NAME: 'text'}" sortable="'NAME'">
                            <i class="fa fa-cog fa-2x" aria-hidden="true" ng-click="kubernetesmanage.createService(m.NAMESPACE,m.INAME)" uib-tooltip="编辑" style="cursor:pointer;color: #339094;" ></i>
                            {{m.NAME}}
                        </td>
                        <td data-title="'TYPE'" width="80" filter="{ TYPE: 'text'}" sortable="'TYPE'">{{m.TYPE}}</td>
                        <td data-title="'CLUSTER-IP'" width="80" filter="{ CLUSTER_IP: 'text'}" sortable="'CLUSTER_IP'">{{m.CLUSTER_IP}}</td>
                        <td data-title="'EXTERNAL-IP'" width="80" filter="{ EXTERNAL_IP: 'text'}" sortable="'EXTERNAL_IP'">{{m.EXTERNAL_IP}}</td>
                        <td data-title="'PORT(S)'" width="80" filter="{ PORT_S_: 'text'}" sortable="'PORT_S_'">{{m.PORT_S_}}</td>
                        <td data-title="'AGE'" width="80" filter="{ AGE: 'text'}" sortable="'AGE'">{{m.AGE}}</td>
                        <td data-title="'SELECTOR'" width="80" filter="{ SELECTOR: 'text'}" sortable="'SELECTOR'">{{m.SELECTOR}}</td>
                        <td data-title="'操作'" width="80" >
                            <i class="fa fa-search fa-2x" aria-hidden="true" ng-click="kubernetesmanage.describe('service',m.INAME,m.NAMESPACE)" uib-tooltip="查看" style="cursor:pointer;color: #339094;" ></i>
                            <i class="fa fa-edit fa-2x" aria-hidden="true" ng-click="kubernetesmanage.edityaml('service',m.INAME,m.NAMESPACE)" uib-tooltip="编辑yaml" style="cursor:pointer;color: #339094;" ></i>
                            <i class="fa fa-minus-circle fa-2x" aria-hidden="true" ng-click="kubernetesmanage.deleteApp('service',m.INAME,m.NAMESPACE)" uib-tooltip="删除" style="cursor:pointer;color: #f63;" ></i>
                        </td> 
                    </tr>
                </table>
              </div>
            </div>
        </div>
    </div>






    <div class="col-lg-12 col-xs-12 ml0 pl0" style="padding-left: 0">
        <div class="panel panel-default" style="box-shadow: -2px 0 10px 3px rgba(0,0,0,.1);">

            <div class="panel-heading">
            <span class="panel-controls">
                <button class="btn btn-info" uib-tooltip="刷新" ng-click="kubernetesmanage.reload()" ><i class="fa fa-refresh fa-fw" ng-class="{'fa-spin':(!kubernetesmanage.loadoverA ) || (!kubernetesmanage.loadoverB) || (!kubernetesmanage.loadoverC) || (!kubernetesmanage.loadoverD)}" ></i>刷新</button>
                <button class="btn btn-info" uib-tooltip="创建无状态应用" ng-click="kubernetesmanage.createDeployment('','')"><i class="fa fa-plus" aria-hidden="true">创建</i></button>
            </span>


                <h4 style="font-weight: bold;color: #337ab7">Deployment({{kubernetesmanage.deploymentCount||0}})<a>:READY({{ kubernetesmanage.deploymentReady||0}}) </a></h4>
            </div>
            <div class="panel-body" style="margin-top: 2px">
              <div class="pt20" style="overflow: auto;">

                <table ng-table="kubernetesmanage.deploymentTable" class="table table-scroll table-hover text-left table-condensed" show-filter="true">
                    <tr ng-repeat="m in $data">
                        <td data-title="'命名空间'" width="80" filter="{ NAMESPACE: 'text'}" sortable="'NAMESPACE'">{{m.NAMESPACE}}</td>
                        <td data-title="'名称'" width="80" filter="{ NAME: 'text'}" sortable="'NAME'">

                            <i class="fa fa-location-arrow fa-2x" aria-hidden="true" ng-click="kubernetesmanage.setimage('deployment',m.INAME,m.NAMESPACE,m.IMAGES,m.CONTAINERS)" uib-tooltip="升级" style="cursor:pointer;color: #339094;" ></i>
                            <i class="fa fa-life-ring fa-2x" aria-hidden="true" ng-click="kubernetesmanage.rollback('deployment',m.INAME,m.NAMESPACE,m.IMAGES,m.CONTAINERS)" uib-tooltip="回滚" style="cursor:pointer;color: #339094;" ></i>
                            <i class="fa fa-sort-numeric-asc fa-2x" aria-hidden="true" ng-click="kubernetesmanage.setreplicas('deployment',m.INAME,m.NAMESPACE,m.AVAILABLE)" uib-tooltip="扩缩容" style="cursor:pointer;color: #339094;" ></i>
                            <i class="fa fa-cog fa-2x" aria-hidden="true" ng-click="kubernetesmanage.createDeployment(m.NAMESPACE,m.INAME)" uib-tooltip="编辑" style="cursor:pointer;color: #339094;" ></i>
                            {{m.NAME}}
                        </td>
                        <td data-title="'READY'" width="80" filter="{ READY: 'text'}" sortable="'READY'">
                            <a ng-if="m.IREADY" >{{m.READY}}<a>
                            <a ng-if="!m.IREADY" style="color: red;" >{{m.READY}}<a>
                        </td>
                        <td data-title="'UP-TO-DATE'" width="80" filter="{ UP_TO_DATE: 'text'}" sortable="'UP_TO_DATE'">{{m.UP_TO_DATE}}</td>
                        <td data-title="'AVAILABLE'" width="80" filter="{ AVAILABLE: 'text'}" sortable="'AVAILABLE'">{{m.AVAILABLE}}</td>
                        <td data-title="'AGE'" width="80" filter="{ AGE: 'text'}" sortable="'AGE'">{{m.AGE}}</td>
                        <td data-title="'HPA'" width="80" class="text-center">
                            <a ng-if="kubernetesmanage.hpa[m.NAMESPACE][m.NAME]" >{{kubernetesmanage.hpa[m.NAMESPACE][m.NAME]['describe']}}</a>
                            <i ng-if="!kubernetesmanage.hpa[m.NAMESPACE][m.NAME]" class="fa fa-plus-circle fa-2x" aria-hidden="true" ng-click="kubernetesmanage.createHpa('deployment',m.INAME,m.NAMESPACE)" uib-tooltip="添加HPA" style="cursor:pointer;color: #339094;" ></i>

                            <i ng-if="kubernetesmanage.hpa[m.NAMESPACE][m.NAME]" class="fa fa-search fa-2x" aria-hidden="true" ng-click="kubernetesmanage.describe('hpa',m.INAME,m.NAMESPACE)" uib-tooltip="查看" style="cursor:pointer;color: #339094;" ></i>

                            <i ng-if="kubernetesmanage.hpa[m.NAMESPACE][m.NAME]" class="fa fa-edit fa-2x" aria-hidden="true" ng-click="kubernetesmanage.edityaml('hpa',m.INAME,m.NAMESPACE)" uib-tooltip="编辑" style="cursor:pointer;color: #339094;" ></i>

                            <i ng-if="kubernetesmanage.hpa[m.NAMESPACE][m.NAME]" class="fa fa-minus-circle fa-2x" aria-hidden="true" ng-click="kubernetesmanage.deleteApp('hpa',m.INAME,m.NAMESPACE)" uib-tooltip="删除" style="cursor:pointer;color: #f63;" ></i>
                        </td>
                        <td data-title="'发布流水线'" width="80" class="text-center">
                            <div ng-repeat="xx in kubernetesmanage.flowlineinfo['deployment'][m.NAMESPACE][m.INAME]">
                                {{xx.name}}
                                <i class="fa fa-search fa-2x" aria-hidden="true" ng-click="kubernetesmanage.gotoflowline(xx.groupid, xx.id)" uib-tooltip="查看" style="cursor:pointer;color: #339094;" ></i>
                                <i class="fa fa-edit fa-2x" aria-hidden="true" ng-click="kubernetesmanage.editconfig(xx.groupid,xx.id,xx.name)" uib-tooltip="编辑" style="cursor:pointer;color: #339094;" ></i>
                                <i class="fa fa-minus-circle fa-2x" aria-hidden="true" ng-click="kubernetesmanage.deleteProject(xx.groupid,xx.id)" uib-tooltip="删除" style="cursor:pointer;color: #f63;" ></i>
                            </div>
                            <i class="fa fa-plus-circle fa-2x" aria-hidden="true" ng-click="kubernetesmanage.copyProjectByTemplate(m.INAME, 'deployment',m.INAME,m.NAMESPACE )" uib-tooltip="创建流水线" style="cursor:pointer;color: #339094;" ></i>
                        </td>
                        <td data-title="'CONTAINERS'" width="80" filter="{ CONTAINERS: 'text'}" sortable="'CONTAINERS'">{{m.CONTAINERS}}</td>
                        <td data-title="'IMAGES'" width="80" filter="{ IMAGES: 'text'}" sortable="'IMAGES'">{{m.IMAGES}}</td>
                        <td data-title="'SELECTOR'" width="80" filter="{ SELECTOR: 'text'}" sortable="'SELECTOR'">{{m.SELECTOR}}</td>
                        <td data-title="'操作'" width="80" >
                            <i class="fa fa-search fa-2x" aria-hidden="true" ng-click="kubernetesmanage.describedeployment('deployment',m.INAME,m.NAMESPACE)" uib-tooltip="查看" style="cursor:pointer;color: #339094;" ></i>
                            <i class="fa fa-edit fa-2x" aria-hidden="true" ng-click="kubernetesmanage.edityaml('deployment',m.INAME,m.NAMESPACE)" uib-tooltip="编辑yaml" style="cursor:pointer;color: #339094;" ></i>
                            <i class="fa fa-minus-circle fa-2x" aria-hidden="true" ng-click="kubernetesmanage.deleteApp('deployment',m.INAME,m.NAMESPACE)" uib-tooltip="删除" style="cursor:pointer;color: #f63;" ></i>
                        </td> 
                    </tr>
                </table>
              </div>
            </div>
        </div>
    </div>


    <div class="col-lg-12 col-xs-12 ml0 pl0" style="padding-left: 0">
        <div class="panel panel-default" style="box-shadow: -2px 0 10px 3px rgba(0,0,0,.1);">

            <div class="panel-heading">
                <span class="panel-controls">
                    <button class="btn btn-info" uib-tooltip="刷新" ng-click="kubernetesmanage.reload()" ><i class="fa fa-refresh fa-fw" ng-class="{'fa-spin':(!kubernetesmanage.loadoverA ) || (!kubernetesmanage.loadoverB) || (!kubernetesmanage.loadoverC) || (!kubernetesmanage.loadoverD) }" ></i>刷新</button>
                    <button class="btn btn-info" uib-tooltip="创建守护进程集" ng-click="kubernetesmanage.createDaemonSet('','')"><i class="fa fa-plus" aria-hidden="true">创建</i></button>
                </span>


                <h4 style="font-weight: bold;color: #337ab7">DaemonSet({{kubernetesmanage.daemonsetCount||0}})
                    <a>READY(</a>
                    <a ng-if="kubernetesmanage.daemonsetCount == kubernetesmanage.daemonsetReady" >{{kubernetesmanage.daemonsetReady||0}}</a>
                    <a ng-if="kubernetesmanage.daemonsetCount != kubernetesmanage.daemonsetReady" style="color: red;" >{{kubernetesmanage.daemonsetReady||0}}</a>
                    <a>)</a>
                </h4>

            </div>
            <div class="panel-body" style="margin-top: 2px">
              <div class="pt20" style="overflow: auto;">
                <table ng-table="kubernetesmanage.daemonsetTable" class="table table-scroll table-hover text-left table-condensed" show-filter="true">
                    <tr ng-repeat="m in $data">
                        <td data-title="'命名空间'" width="80" filter="{ NAMESPACE: 'text'}" sortable="'NAMESPACE'">{{m.NAMESPACE}}</td>
                        <td data-title="'名称'" width="80" filter="{ NAME: 'text'}" sortable="'NAME'">

                            <i class="fa fa-cog fa-2x" aria-hidden="true" ng-click="kubernetesmanage.createDaemonSet(m.NAMESPACE,m.INAME)" uib-tooltip="编辑" style="cursor:pointer;color: #339094;" ></i>
                            {{m.NAME}}
                        </td>
                        <td data-title="'DESIRED'" width="80" filter="{ DESIRED: 'text'}" sortable="'DESIRED'">{{m.DESIRED}}</td>
                        <td data-title="'CURRENT'" width="80" filter="{ CURRENT: 'text'}" sortable="'CURRENT'">{{m.CURRENT}}</td>
                        <td data-title="'READY'" width="80" filter="{ READY: 'text'}" sortable="'READY'">{{m.READY}}</td>
                        <td data-title="'UP-TO-DATE'" width="80" filter="{ UP_TO_DATE: 'text'}" sortable="'UP_TO_DATE'">{{m.UP_TO_DATE}}</td>
                        <td data-title="'AVAILABLE'" width="80" filter="{ AVAILABLE: 'text'}" sortable="'AVAILABLE'">{{m.AVAILABLE}}</td>
                        <td data-title="'AGE'" width="80" filter="{ AGE: 'text'}" sortable="'AGE'">{{m.AGE}}</td>
                        <td data-title="'CONTAINERS'" width="80" filter="{ CONTAINERS: 'text'}" sortable="'CONTAINERS'">{{m.CONTAINERS}}</td>
                        <td data-title="'IMAGES'" width="80" filter="{ IMAGES: 'text'}" sortable="'IMAGES'">{{m.IMAGES}}</td>
                        <td data-title="'SELECTOR'" width="80" filter="{ SELECTOR: 'text'}" sortable="'SELECTOR'">{{m.SELECTOR}}</td>
                        <td data-title="'操作'" width="80" >
                            <i class="fa fa-search fa-2x" aria-hidden="true" ng-click="kubernetesmanage.describe('daemonset',m.INAME,m.NAMESPACE)" uib-tooltip="查看" style="cursor:pointer;color: #339094;" ></i>
                            <i class="fa fa-edit fa-2x" aria-hidden="true" ng-click="kubernetesmanage.edityaml('daemonset',m.INAME,m.NAMESPACE)" uib-tooltip="编辑yaml" style="cursor:pointer;color: #339094;" ></i>
                            <i class="fa fa-minus-circle fa-2x" aria-hidden="true" ng-click="kubernetesmanage.deleteApp('daemonset',m.INAME,m.NAMESPACE)" uib-tooltip="删除" style="cursor:pointer;color: #f63;" ></i>
                        </td> 
                    </tr>
                </table>
              </div>
            </div>
        </div>
    </div>



    <div class="col-lg-12 col-xs-12 ml0 pl0" style="padding-left: 0">
        <div class="panel panel-default" style="box-shadow: -2px 0 10px 3px rgba(0,0,0,.1);">

            <div class="panel-heading">
                <span class="panel-controls">
                    <button class="btn btn-info" uib-tooltip="刷新" ng-click="kubernetesmanage.reload()" ><i class="fa fa-refresh fa-fw" ng-class="{'fa-spin':(!kubernetesmanage.loadoverA ) || (!kubernetesmanage.loadoverB) || (!kubernetesmanage.loadoverC) || (!kubernetesmanage.loadoverD) }" ></i>刷新</button>
                </span>

                <h4 style="font-weight: bold;color: #337ab7">Pod({{kubernetesmanage.podCount||0}})
                    <a>READY(</a>
                    <a ng-if="kubernetesmanage.podCount == kubernetesmanage.podReady" >{{kubernetesmanage.podReady||0}}</a>
                    <a ng-if="kubernetesmanage.podCount != kubernetesmanage.podReady" style="color: red;" >{{kubernetesmanage.podReady||0}}</a>
                    <a>)</a>
                    <a>Running(</a>
                    <a ng-if="kubernetesmanage.podCount == kubernetesmanage.podRunning" >{{kubernetesmanage.podRunning||0}}</a>
                    <a ng-if="kubernetesmanage.podCount != kubernetesmanage.podRunning" style="color: red;" >{{kubernetesmanage.podRunning||0}}</a>
                    <a>)</a>
                </h4>
            </div>
            <div class="panel-body" style="margin-top: 2px">
              <div class="pt20" style="overflow: auto;">
                <table ng-table="kubernetesmanage.podTable" class="table table-scroll table-hover text-left table-condensed" show-filter="true">
                    <tr ng-repeat="m in $data">
                        <td data-title="'命名空间'" width="80" filter="{ NAMESPACE: 'text'}" sortable="'NAMESPACE'">{{m.NAMESPACE}}</td>
                        <td data-title="'名称'" width="80" filter="{ NAME: 'text'}" sortable="'NAME'">
                            <i class="fa fa-television fa-2x" aria-hidden="true" ng-click="kubernetesmanage.openOneTab(m,'sh')" uib-tooltip="进入POD虚拟终端" style="cursor:pointer;color: #339094;" ></i>
                            <i class="fa fa-file-text-o fa-2x" aria-hidden="true" ng-click="kubernetesmanage.openOneTab(m,'log')" uib-tooltip="查看POD日志" style="cursor:pointer;color: #339094;" ></i>
                            {{m.NAME}}
                        </td>
                        <td data-title="'READY'" width="80" filter="{ READY: 'text'}" sortable="'READY'">
                            <a ng-if="m.IREADY" >{{m.READY}}<a>
                            <a ng-if="!m.IREADY" style="color: red;" >{{m.READY}}<a>
                        </td>
                        <td data-title="'STATUS'" width="80" filter="{ STATUS: 'text'}" sortable="'STATUS'">
                            <a ng-if="m.STATUS=='Running'" >{{m.STATUS}}<a>
                            <a ng-if="m.STATUS!='Running'" style="color: red;" >{{m.STATUS}}<a>
                        </td>
                        <td data-title="'RESTARTS'" width="80" filter="{ RESTARTS: 'text'}" sortable="'RESTARTS'">{{m.RESTARTS}}</td>
                        <td data-title="'AGE'" width="80" filter="{ AGE: 'text'}" sortable="'AGE'">{{m.AGE}}</td>
                        <td data-title="'IP'" width="80" filter="{ IP: 'text'}" sortable="'IP'">{{m.IP}}</td>
                        <td data-title="'NODE'" width="80" filter="{ NODE: 'text'}" sortable="'NODE'">{{m.NODE}}</td>
                        <td data-title="'NOMINATED NODE'" width="80" filter="{ NOMINATED_NODE: 'text'}" sortable="'NOMINATED_NODE'">{{m.NOMINATED_NODE}}</td>
                        <td data-title="'READINESS GATES'" width="80" filter="{ READINESS_GATES: 'text'}" sortable="'READINESS_GATES'">{{m.READINESS_GATES}}</td>
                        <td data-title="'操作'" width="80" >
                            <i class="fa fa-search fa-2x" aria-hidden="true" ng-click="kubernetesmanage.describe('pod',m.INAME,m.NAMESPACE)" uib-tooltip="查看" style="cursor:pointer;color: #339094;" ></i>

                            <i class="fa fa-edit fa-2x" aria-hidden="true" ng-click="kubernetesmanage.edityaml('pod',m.INAME,m.NAMESPACE)" uib-tooltip="编辑yaml" style="cursor:pointer;color: #339094;" ></i>
                            <i class="fa fa-minus-circle fa-2x" aria-hidden="true" ng-click="kubernetesmanage.deleteApp('pod',m.INAME,m.NAMESPACE)" uib-tooltip="删除" style="cursor:pointer;color: #f63;" ></i>
                        </td> 
                    </tr>
                </table>
              </div>
            </div>
        </div>
    </div>



    <div class="col-lg-12 col-xs-12 ml0 pl0" style="padding-left: 0">
        <div class="panel panel-default" style="box-shadow: -2px 0 10px 3px rgba(0,0,0,.1);">

            <div class="panel-heading">
                <span class="panel-controls">
                    <button class="btn btn-info" uib-tooltip="刷新" ng-click="kubernetesmanage.reload()" ><i class="fa fa-refresh fa-fw" ng-class="{'fa-spin':(!kubernetesmanage.loadoverA ) || (!kubernetesmanage.loadoverB) || (!kubernetesmanage.loadoverC) || (!kubernetesmanage.loadoverD) }" ></i>刷新</button>
                </span>
                <h4 style="font-weight: bold;color: #337ab7">Replicaset({{kubernetesmanage.replicasetCount||0}})
                    <a>READY(</a>
                    <a ng-if="kubernetesmanage.replicasetCount == kubernetesmanage.replicasetReady" >{{kubernetesmanage.replicasetReady||0}}</a>
                    <a ng-if="kubernetesmanage.replicasetCount != kubernetesmanage.replicasetReady" style="color: red;" >{{kubernetesmanage.replicasetReady||0}}</a>
                    <a>)</a>
                </h4>

            </div>
            <div class="panel-body" style="margin-top: 2px">
              <div class="pt20" style="overflow: auto;">
                <table ng-table="kubernetesmanage.replicasetTable" class="table table-scroll table-hover text-left table-condensed" show-filter="true">
                    <tr ng-repeat="m in $data">
                        <td data-title="'命名空间'" width="80" filter="{ NAMESPACE: 'text'}" sortable="'NAMESPACE'">{{m.NAMESPACE}}</td>
                        <td data-title="'名称'" width="80" filter="{ NAME: 'text'}" sortable="'NAME'">{{m.NAME}}</td>
                        <td data-title="'DESIRED'" width="80" filter="{ DESIRED: 'text'}" sortable="'DESIRED'">{{m.DESIRED}}</td>
                        <td data-title="'CURRENT'" width="80" filter="{ CURRENT: 'text'}" sortable="'CURRENT'">{{m.CURRENT}}</td>
                        <td data-title="'READY'" width="80" filter="{ READY: 'text'}" sortable="'READY'">{{m.READY}}</td>
                        <td data-title="'AGE'" width="80" filter="{ AGE: 'text'}" sortable="'AGE'">{{m.AGE}}</td>
                        <td data-title="'CONTAINERS'" width="80" filter="{ CONTAINERS: 'text'}" sortable="'CONTAINERS'">{{m.CONTAINERS}}</td>
                        <td data-title="'IMAGES'" width="80" filter="{ IMAGES: 'text'}" sortable="'IMAGES'">{{m.IMAGES}}</td>
                        <td data-title="'SELECTOR'" width="80" filter="{ SELECTOR: 'text'}" sortable="'SELECTOR'">{{m.SELECTOR}}</td>
                        <td data-title="'操作'" width="80" >
                            <i class="fa fa-search fa-2x" aria-hidden="true" ng-click="kubernetesmanage.describe('replicaset',m.INAME,m.NAMESPACE)" uib-tooltip="查看" style="cursor:pointer;color: #339094;" ></i>
                            <i class="fa fa-edit fa-2x" aria-hidden="true" ng-click="kubernetesmanage.edityaml('replicaset',m.INAME,m.NAMESPACE)" uib-tooltip="编辑yaml" style="cursor:pointer;color: #339094;" ></i>
                            <i class="fa fa-minus-circle fa-2x" aria-hidden="true" ng-click="kubernetesmanage.deleteApp('replicaset',m.INAME,m.NAMESPACE)" uib-tooltip="删除" style="cursor:pointer;color: #f63;" ></i>
                        </td> 
                    </tr>
                </table>
              </div>
            </div>
        </div>
    </div>






    <div class="col-lg-12 col-xs-12 ml0 pl0" style="padding-left: 0">
        <div class="panel panel-default" style="box-shadow: -2px 0 10px 3px rgba(0,0,0,.1);">

            <div class="panel-heading">
                <span class="panel-controls">
                    <button class="btn btn-info" uib-tooltip="刷新" ng-click="kubernetesmanage.reload()" ><i class="fa fa-refresh fa-fw" ng-class="{'fa-spin':(!kubernetesmanage.loadoverA ) || (!kubernetesmanage.loadoverB) || (!kubernetesmanage.loadoverC) || (!kubernetesmanage.loadoverD) }" ></i>刷新</button>
                </span>
                <h4 style="font-weight: bold;color: #337ab7">HPA({{kubernetesmanage.hpaCount||0}})
                </h4>

            </div>
            <div class="panel-body" style="margin-top: 2px">
              <div class="pt20" style="overflow: auto;">
                <table ng-table="kubernetesmanage.hpaTable" class="table table-scroll table-hover text-left table-condensed" show-filter="true">
                    <tr ng-repeat="m in $data">
                        <td data-title="'命名空间'" width="80" filter="{ NAMESPACE: 'text'}" sortable="'NAMESPACE'">{{m.NAMESPACE}}</td>
                        <td data-title="'名称'" width="80" filter="{ NAME: 'text'}" sortable="'NAME'">{{m.NAME}}</td>
                        <td data-title="'REFERENCE'" width="80" filter="{ REFERENCE: 'text'}" sortable="'REFERENCE'">{{m.REFERENCE}}</td>
                        <td data-title="'TARGETS'" width="80" filter="{ TARGETS: 'text'}" sortable="'TARGETS'">{{m.TARGETS}}</td>
                        <td data-title="'MINPODS'" width="80" filter="{ MINPODS: 'text'}" sortable="'MINPODS'">{{m.MINPODS}}</td>
                        <td data-title="'MAXPODS'" width="80" filter="{ MAXPODS: 'text'}" sortable="'MAXPODS'">{{m.MAXPODS}}</td>
                        <td data-title="'REPLICAS'" width="80" filter="{ REPLICAS: 'text'}" sortable="'REPLICAS'">{{m.REPLICAS}}</td>
                        <td data-title="'AGE'" width="80" filter="{ AGE: 'text'}" sortable="'AGE'">{{m.AGE}}</td>
                        <td data-title="'操作'" width="80" >
                            <i class="fa fa-search fa-2x" aria-hidden="true" ng-click="kubernetesmanage.describe('hpa',m.INAME,m.NAMESPACE)" uib-tooltip="查看" style="cursor:pointer;color: #339094;" ></i>
                            <i class="fa fa-edit fa-2x" aria-hidden="true" ng-click="kubernetesmanage.edityaml('hpa',m.INAME,m.NAMESPACE)" uib-tooltip="编辑yaml" style="cursor:pointer;color: #339094;" ></i>
                            <i class="fa fa-minus-circle fa-2x" aria-hidden="true" ng-click="kubernetesmanage.deleteApp('hpa',m.INAME,m.NAMESPACE)" uib-tooltip="删除" style="cursor:pointer;color: #f63;" ></i>
                        </td> 
                    </tr>
                </table>
              </div>
            </div>
        </div>
    </div>






    <div class="col-lg-12 col-xs-12 ml0 pl0" style="padding-left: 0">
        <div class="panel panel-default" style="box-shadow: -2px 0 10px 3px rgba(0,0,0,.1);">

            <div class="panel-heading">
                <span class="panel-controls">
                    <button class="btn btn-info" uib-tooltip="刷新" ng-click="kubernetesmanage.reload()" ><i class="fa fa-refresh fa-fw" ng-class="{'fa-spin':(!kubernetesmanage.loadoverA ) || (!kubernetesmanage.loadoverB) || (!kubernetesmanage.loadoverC) || (!kubernetesmanage.loadoverD) }" ></i>刷新</button>
                </span>
                <h4 style="font-weight: bold;color: #337ab7">Endpoint({{kubernetesmanage.endpointCount||0}})
                </h4>

            </div>
            <div class="panel-body" style="margin-top: 2px">
              <div class="pt20" style="overflow: auto;">
                <table ng-table="kubernetesmanage.endpointTable" class="table table-scroll table-hover text-left table-condensed" show-filter="true">
                    <tr ng-repeat="m in $data">
                        <td data-title="'命名空间'" width="80" filter="{ NAMESPACE: 'text'}" sortable="'NAMESPACE'">{{m.NAMESPACE}}</td>
                        <td data-title="'名称'" width="80" filter="{ NAME: 'text'}" sortable="'NAME'">{{m.NAME}}</td>
                        <td data-title="'ENDPOINTS'" width="80" filter="{ ENDPOINTS: 'text'}" sortable="'ENDPOINTS'">
                            <a ng-if="m.ENDPOINTS==='<none>'" style="color: red" >{{m.ENDPOINTS}}<a>
                            <a ng-if="m.ENDPOINTS!=='<none>'">{{m.ENDPOINTS}}<a>
                        </td>
                        <td data-title="'AGE'" width="80" filter="{ AGE: 'text'}" sortable="'AGE'">{{m.AGE}}</td>
                        <td data-title="'操作'" width="80" >
                            <i class="fa fa-search fa-2x" aria-hidden="true" ng-click="kubernetesmanage.describe('endpoints',m.NAME,m.NAMESPACE)" uib-tooltip="查看" style="cursor:pointer;color: #339094;" ></i>
                            <i class="fa fa-edit fa-2x" aria-hidden="true" ng-click="kubernetesmanage.edityaml('endpoints',m.NAME,m.NAMESPACE)" uib-tooltip="编辑yaml" style="cursor:pointer;color: #339094;" ></i>
                            <i class="fa fa-minus-circle fa-2x" aria-hidden="true" ng-click="kubernetesmanage.deleteApp('endpoints',m.NAME,m.NAMESPACE)" uib-tooltip="删除" style="cursor:pointer;color: #f63;" ></i>
                        </td> 
                    </tr>
                </table>
              </div>
            </div>
        </div>
    </div>




    <div class="col-lg-12 col-xs-12 ml0 pl0" style="padding-left: 0">
        <div class="panel panel-default" style="box-shadow: -2px 0 10px 3px rgba(0,0,0,.1);">

            <div class="panel-heading">
                <span class="panel-controls">
                    <button class="btn btn-info" uib-tooltip="刷新" ng-click="kubernetesmanage.reload()" ><i class="fa fa-refresh fa-fw" ng-class="{'fa-spin':(!kubernetesmanage.loadoverA ) || (!kubernetesmanage.loadoverB) || (!kubernetesmanage.loadoverC) || (!kubernetesmanage.loadoverD) }" ></i>刷新</button>
                </span>
                <h4 style="font-weight: bold;color: #337ab7">Job.Batch({{kubernetesmanage.jobbatchCount||0}})
                </h4>

            </div>
            <div class="panel-body" style="margin-top: 2px">
              <div class="pt20" style="overflow: auto;">
                <table ng-table="kubernetesmanage.jobbatchTable" class="table table-scroll table-hover text-left table-condensed" show-filter="true">
                    <tr ng-repeat="m in $data">
                        <td data-title="'命名空间'" width="80" filter="{ NAMESPACE: 'text'}" sortable="'NAMESPACE'">{{m.NAMESPACE}}</td>
                        <td data-title="'名称'" width="80" filter="{ NAME: 'text'}" sortable="'NAME'">{{m.NAME}}</td>
                        <td data-title="'COMPLETIONS'" width="80" filter="{ COMPLETIONS: 'text'}" sortable="'COMPLETIONS'">{{m.COMPLETIONS}}</td>
                        <td data-title="'DURATION'" width="80" filter="{ DURATION: 'text'}" sortable="'DURATION'">{{m.DURATION}}</td>
                        <td data-title="'AGE'" width="80" filter="{ AGE: 'text'}" sortable="'AGE'">{{m.AGE}}</td>
                        <td data-title="'CONTAINERS'" width="80" filter="{ CONTAINERS: 'text'}" sortable="'CONTAINERS'">{{m.CONTAINERS}}</td>
                        <td data-title="'IMAGES'" width="80" filter="{ IMAGES: 'text'}" sortable="'IMAGES'">{{m.IMAGES}}</td>
                        <td data-title="'SELECTOR'" width="80" filter="{ SELECTOR: 'text'}" sortable="'SELECTOR'">{{m.SELECTOR}}</td>
                        <td data-title="'操作'" width="80" >
                            <i class="fa fa-search fa-2x" aria-hidden="true" ng-click="kubernetesmanage.describe('job',m.INAME,m.NAMESPACE)" uib-tooltip="查看" style="cursor:pointer;color: #339094;" ></i>
                            <i class="fa fa-edit fa-2x" aria-hidden="true" ng-click="kubernetesmanage.edityaml('job',m.INAME,m.NAMESPACE)" uib-tooltip="编辑yaml" style="cursor:pointer;color: #339094;" ></i>
                            <i class="fa fa-minus-circle fa-2x" aria-hidden="true" ng-click="kubernetesmanage.deleteApp('job',m.INAME,m.NAMESPACE)" uib-tooltip="删除" style="cursor:pointer;color: #f63;" ></i>
                        </td> 
                    </tr>
                </table>
              </div>
            </div>
        </div>
    </div>




    <div class="col-lg-12 col-xs-12 ml0 pl0" style="padding-left: 0">
        <div class="panel panel-default" style="box-shadow: -2px 0 10px 3px rgba(0,0,0,.1);">

            <div class="panel-heading">
                <span class="panel-controls">
                    <button class="btn btn-info" uib-tooltip="刷新" ng-click="kubernetesmanage.reload()" ><i class="fa fa-refresh fa-fw" ng-class="{'fa-spin':(!kubernetesmanage.loadoverA ) || (!kubernetesmanage.loadoverB) || (!kubernetesmanage.loadoverC) || (!kubernetesmanage.loadoverD) }" ></i>刷新</button>
                </span>
                <h4 style="font-weight: bold;color: #337ab7">StatefulSet({{kubernetesmanage.statefulsetCount||0}})
                </h4>

            </div>
            <div class="panel-body" style="margin-top: 2px">
              <div class="pt20" style="overflow: auto;">
                <table ng-table="kubernetesmanage.statefulsetTable" class="table table-scroll table-hover text-left table-condensed" show-filter="true">
                    <tr ng-repeat="m in $data">
                        <td data-title="'命名空间'" width="80" filter="{ NAMESPACE: 'text'}" sortable="'NAMESPACE'">{{m.NAMESPACE}}</td>
                        <td data-title="'名称'" width="80" filter="{ NAME: 'text'}" sortable="'NAME'">{{m.NAME}}</td>
                        <td data-title="'READY'" width="80" filter="{ READY: 'text'}" sortable="'READY'">{{m.READY}}</td>
                        <td data-title="'AGE'" width="80" filter="{ AGE: 'text'}" sortable="'AGE'">{{m.AGE}}</td>
                        <td data-title="'CONTAINERS'" width="80" filter="{ CONTAINERS: 'text'}" sortable="'CONTAINERS'">{{m.CONTAINERS}}</td>
                        <td data-title="'IMAGES'" width="80" filter="{ IMAGES: 'text'}" sortable="'IMAGES'">{{m.IMAGES}}</td>
                        <td data-title="'操作'" width="80" >
                            <i class="fa fa-search fa-2x" aria-hidden="true" ng-click="kubernetesmanage.describe('statefulset',m.INAME,m.NAMESPACE)" uib-tooltip="查看" style="cursor:pointer;color: #339094;" ></i>
                            <i class="fa fa-edit fa-2x" aria-hidden="true" ng-click="kubernetesmanage.edityaml('statefulset',m.INAME,m.NAMESPACE)" uib-tooltip="编辑yaml" style="cursor:pointer;color: #339094;" ></i>
                            <i class="fa fa-minus-circle fa-2x" aria-hidden="true" ng-click="kubernetesmanage.deleteApp('statefulset',m.INAME,m.NAMESPACE)" uib-tooltip="删除" style="cursor:pointer;color: #f63;" ></i>
                        </td> 
                    </tr>
                </table>
              </div>
            </div>
        </div>
    </div>





</div>
