<div class="row block">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <span class="panel-controls">
                <button class="btn btn-primary" uib-tooltip="刷新" ng-click="kubernetessecret.reload()" ><i class="fa fa-refresh fa-fw" ng-class="{'fa-spin':!kubernetessecret.loadover}" ></i></button>
                <button class="btn btn-primary" uib-tooltip="关闭" ng-click="kubernetessecret.cancel()"><i class="fa fa-times" aria-hidden="true"></i></button>
            </span>
            <h5>Secret管理 集群:{{kubernetessecret.clusterinfo.name}}</h5>
        </div>


        <div class="panel-body" style="margin-top: 2px">
                    <button class="btn btn-info" uib-tooltip="创建secret" ng-click="kubernetessecret.createSecret()"><i class="fa fa-cubes" aria-hidden="true">创建dockerconfigjson</i></button>
                    <button class="btn btn-info" uib-tooltip="创建secret" ng-click="kubernetessecret.createSecretOpaque('','','Opaque')"><i class="fa fa-cubes" aria-hidden="true">创建Opaque</i></button>
                    <button class="btn btn-info" uib-tooltip="创建secret" ng-click="kubernetessecret.createSecretOpaque('','','kubernetes.io/service-account-token')"><i class="fa fa-cubes" aria-hidden="true">创建service-account-token</i></button>
            <div class="pt20" style="overflow: auto;">
                <table ng-table="kubernetessecret.nodeTable" class="table table-scroll table-hover text-left table-condensed" show-filter="true">
                    <tr ng-repeat="m in $data">
                        <td ng-if="!kubernetessecret.namespace" data-title="'命名空间'" width="80" filter="{ NAMESPACE: 'text'}" sortable="'NAMESPACE'">{{m.NAMESPACE}}</td>
                        <td data-title="'名称'" width="80" filter="{ NAME: 'text'}" sortable="'NAME'">
                            <i class="fa fa-cog fa-2x" aria-hidden="true" ng-if="kubernetessecret.clusterinfo.auth==='X'" ng-click="kubernetessecret.createSecretOpaque(m.NAMESPACE||kubernetessecret.namespace,m.NAME,m.TYPE)" uib-tooltip="编辑" style="cursor:pointer;color: #339094;" ></i>
                            <i class="fa fa-cog fa-2x" aria-hidden="true" ng-if="kubernetessecret.clusterinfo.auth!=='X'" style="color: #685e5e;" uib-tooltip="无编辑权限" style="cursor:pointer;color: #339094;" ></i>
                            {{m.NAME}}
                        </td>
                        <td data-title="'类型'" width="80" filter="{ TYPE: 'text'}" sortable="'TYPE'">{{m.TYPE}}</td>
                        <td data-title="'数据'" width="80" filter="{ DATA: 'text'}" sortable="'DATA'">{{m.DATA}}</td>
                        <td data-title="'AGE'" width="80" filter="{ AGE: 'text'}" sortable="'AGE'">{{m.AGE}}</td>
                        <td data-title="'操作'" width="80" >
                            <i class="fa fa-search fa-2x" aria-hidden="true" ng-if="kubernetessecret.clusterinfo.auth==='X'" ng-click="kubernetessecret.describe('secrets',m.NAME,m.NAMESPACE||kubernetessecret.namespace)" uib-tooltip="查看" style="cursor:pointer;color: #339094;" ></i>
                            <i class="fa fa-search fa-2x" aria-hidden="true" ng-if="kubernetessecret.clusterinfo.auth!=='X'" style="color: #685e5e;" uib-tooltip="无查看权限" style="cursor:pointer;color: #339094;" ></i>
                            <i class="fa fa-edit fa-2x" aria-hidden="true" ng-if="kubernetessecret.clusterinfo.auth==='X'" ng-click="kubernetessecret.edityaml('secrets',m.NAME,m.NAMESPACE||kubernetessecret.namespace)" uib-tooltip="编辑yaml" style="cursor:pointer;color: #339094;" ></i>
                            <i class="fa fa-edit fa-2x" aria-hidden="true" ng-if="kubernetessecret.clusterinfo.auth!=='X'" style="color: #685e5e;" uib-tooltip="无编辑权限" style="cursor:pointer;color: #339094;" ></i>
                            <i class="fa fa-minus-circle fa-2x" aria-hidden="true" ng-click="kubernetessecret.deleteApp('secrets',m.NAME,m.NAMESPACE)" uib-tooltip="删除" style="cursor:pointer;color: #f63;" ></i>
                        </td> 
                    </tr>
                </table>
            </div>
        </div>

    </div>

</div>

<style>.modal-dialog {width: 60%;} </style>
