<div class="row block">
    <div class="modal-header">
        <h4 class="modal-title">{{'C3T.升级'|translate}}</h4>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" name="myForm" role="form">
            <div class="row">
                <div class="col-sm-10 form-group">
                    <label class="col-sm-3 control-label">{{'C3T.镜像'|translate}}</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" placeholder="镜像" ng-model="kubernetessetimage.image" required>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-5 form-group pull-right">
                    <button class="btn btn-info" ng-disabled="myForm.$invalid" ng-click="kubernetessetimage.assignment()">{{'C3T.操作协助'|translate}}</button>
                    <button class="btn btn-primary" ng-disabled="myForm.$invalid" ng-click="kubernetessetimage.setimage()">{{'C3T.确认'|translate}}</button>
                    <button class="btn btn-warning" ng-click="kubernetessetimage.cancel()">{{'C3T.取消'|translate}}</button>
                </div>
            </div>
        </form>
    </div>

</div>
<style>.modal-dialog {width: 60%;} </style>
