<div class="row block">

    <div class="panel panel-primary">

        <div class="panel-heading">
            <span class="panel-controls">
                <button class="btn btn-primary" uib-tooltip="{{'C3T.刷新'|translate}}" ng-click="proxy.reload()" ><i class="fa fa-refresh fa-fw" ng-class="{'fa-spin':!proxy.loadover}" ></i></button>
                <button class="btn btn-primary" uib-tooltip="{{'C3T.关闭'|translate}}" ng-click="proxy.cancel()"><i class="fa fa-times" aria-hidden="true"></i></button>
            </span>
            <h5> {{ proxy.nodeStr }} {{'C3T.区域'|translate}}:{{proxy.regionname}}</h5>
        </div>

        <div class="panel-body" ng-init="s = { 'fail': '失败', 'success': '成功'}">
            <div class="pt20">
                <table ng-table="proxy.proxylistTable" class="table table-hover text-center table-condensed">
                    <tr ng-repeat="m in $data">
                        <td data-title="'ID'">{{m.id}}</td>
                        <td data-title="'IP'">{{m.ip}}</td>
                        <td data-title="'C3T.状态'|translate">{{s[m.status]}}</td>
                        <td data-title="'C3T.版本'|translate">{{m.version||'未知'}}</td>
                        <td data-title="'C3T.失败次数'|translate">{{m.fail}}</td>
                        <td data-title="'C3T.理由'|translate">{{m.reason}}</td>
                        <td data-title="'C3T.删除'|translate"> <button class="btn btn-effect-ripple btn-xs btn-danger ng-scope"  uib-tooltip="{{'C3T.删除区域'|translate}}" ng-click="proxy.deleteProxy( m.id )"><i class="fa fa-trash"></i></button></td>
                    </tr>
                </table>

                <hr>

                <div >
                    <div class="col-md-1">
                        <a class="fwbold label label-info" href="javascript:void(0)" uib-tooltip="{{'C3T.点击从服务树选择机器'|translate}}" ng-click="proxy.selectIpFromTree()">{{'C3T.服务树'|translate}}</a>
                    </div>
                    <div class="col-md-8"> <input class="form-control" ng-model="proxy.install.ip" placeholder="ip列表,用逗号或者空格分开"/> </div>

                    <button class="btn btn-primary" ng-click="proxy.installProxy( 'import' )"> {{'C3T.导入代理'|translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>

