---
name: 申请业务ses账户
option:
  - name: email
    describe: 邮箱
    type: input
    value: ""

  - name: note
    describe: 申请理由
    type: text
    value: ""

template_argv:
  title:    "BPM/${_bpmuuid_}/申请业务ses账户"
  content:  |
    BPM标题: 申请业务ses账户
    BPM地址: ${_caseurl_}

    邮箱: ${email}
    申请理由: ${note}
