<div class="modal-header">
    <h4  class="modal-title">{{'C3T.模版'|translate}}</h4>
</div>
<div class="modal-body">
    <form class="form-horizontal" name="myForm" role="form">
        <div class="row">
            <div class="col-sm-10 form-group">
                <label class="col-sm-3 control-label">{{'C3T.名称'|translate}}</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="adduser" ng-disabled="k8sapptplcreate.nn" placeholder="{{'C3T.名称'|translate}}" ng-model="k8sapptplcreate.name" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-10 form-group">
                <label class="col-sm-3 control-label">{{'C3T.内容'|translate}}</label>
                <div class="col-sm-9">
                    <textarea type="text" rows="30" cols="100" class="form-control" name="adduser" placeholder="{{'C3T.配置'|translate}}" ng-model="k8sapptplcreate.postdata.config" required></textarea>
                </div>
            </div>
        </div>
 
        <div class="row">
            <div class="col-sm-5 form-group pull-right">
                <button class="btn btn-primary" ng-disabled="myForm.$invalid" ng-click="k8sapptplcreate.add()">{{'C3T.确认'|translate}}</button>
                <button class="btn btn-warning" ng-click="k8sapptplcreate.cancel()">{{'C3T.取消'|translate}}</button>
            </div>
        </div>
    </form>
</div>

