<div class="row block">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <span class="panel-controls">
                <button class="btn btn-primary" uib-tooltip="刷新" ng-click="kanbanconfig.reload()" ><i class="fa fa-refresh fa-fw" ng-class="{'fa-spin':!kanbanconfig.loadover}" ></i></button>
                <button class="btn btn-primary" uib-tooltip="关闭" ng-click="kanbanconfig.cancel()"><i class="fa fa-times" aria-hidden="true"></i></button>
            </span>
            <h5>本节点看版管理</h5>
        </div>

        <div class="panel-body" style="margin-top: 2px">

            <div>
                <div style="float: right;">
                     <form class="form-inline" name="myForm" novalidate>
                        <div class="form-group">
                            <input type="text" class="form-control" ng-model="kanbanconfig.kanbanName"  placeholder="看版名称" required>
                            <input type="text" class="form-control" ng-model="kanbanconfig.kanbanUrl"  placeholder="看版url地址" style="width: 600px;" required>
                        </div>
                        <button type="submit" ng-disabled="myForm.$invalid" class="btn btn-primary" ng-click="kanbanconfig.addKanban()"><i class="fa fa-plus fa-lg" aria-hidden="true"></i>添加看版</button>
                    </form>
                </div>
                <div style="clear: both;">&nbsp;</div>
            </div>

            <div class="pt20" style="overflow: auto;">
                <table ng-table="kanbanconfig.kanbanTable" class="table table-scroll table-hover text-left table-condensed" show-filter="true">
                    <tr ng-repeat="m in $data">
                        <td data-title="'名称'" width="80" filter="{ name: 'text'}" sortable="'name'"> {{m.name}} </td>
                        <td data-title="'URL地址'" filter="{ url: 'text'}" sortable="'url'">{{m.url}}</td>
 
                        <td data-title="'创建人'" width="80" filter="{ edit_user: 'text'}" sortable="'edit_user'"> {{m.edit_user}} </td>
                        <td data-title="'创建时间'" width="80" filter="{ edit_time: 'text'}" sortable="'edit_time'"> {{m.edit_time}} </td>
                        <td data-title="'删除'" width="80" >
                            <i class="fa fa-minus-circle fa-2x" aria-hidden="true" ng-click="kanbanconfig.delKanban(m.id)" uib-tooltip="删除看版" style="cursor:pointer;color: red;" ></i>
                        </td> 
                    </tr>
                </table>
            </div>
        </div>

    </div>

</div>

<style>.modal-dialog {width: 60%;} </style>
