.alert {
    padding: 15px;
    margin-bottom: 19px;
    border: 1px solid transparent;
    border-radius: 1px;
}
.alert h4 {
    margin-top: 0;
    color: inherit;
}
.alert .alert-link {
    font-weight: bold;
}
.alert > p,
.alert > ul {
    margin-bottom: 0;
}
.alert > p + p {
    margin-top: 5px;
}
.alert-dismissable,
.alert-dismissible {
    padding-right: 35px;
}
.alert-dismissable .close,
.alert-dismissible .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit;
}
.alert-success {
    color: #fff;
    background-color: #8cd481;
}
.alert-success hr {
    border-top-color: #5fc450;
}
.alert-success.alert-border-right {
    border-right-color: #4aaf3c;
}
.alert-success.alert-border-top {
    border-top-color: #4aaf3c;
}
.alert-success.alert-border-bottom {
    border-bottom-color: #4aaf3c;
}
.alert-success.alert-border-left {
    border-left-color: #4aaf3c;
}
.alert-success.light {
    background-color: #a4dd9c;
}
.alert-success.dark {
    background-color: #66c658;
}
.alert-success.pastel {
    color: #47a839;
    background-color: #d9f1d5;
    border-color: rgba(0, 0, 0, 0.1);
}
.alert-success.pastel .alert-link {
    color: #47a839;
}
.alert-success.pastel.alert-micro {
    border-color: #93d789;
}
.alert-success.pastel .close {
    color: #47a839;
}
.alert-success.pastel .close:hover {
    color: #47a839;
}
.alert-info {
    color: #fff;
    background-color: #5dbde0;
}
.alert-info hr {
    border-top-color: #28a5d4;
}
.alert-info.alert-border-right {
    border-right-color: #218ab1;
}
.alert-info.alert-border-top {
    border-top-color: #218ab1;
}
.alert-info.alert-border-bottom {
    border-bottom-color: #218ab1;
}
.alert-info.alert-border-left {
    border-left-color: #218ab1;
}
.alert-info.light {
    background-color: #7bc9e6;
}
.alert-info.dark {
    background-color: #2eaad8;
}
.alert-info.pastel {
    color: #2084a9;
    background-color: #bce4f2;
    border-color: rgba(0, 0, 0, 0.1);
}
.alert-info.pastel .alert-link {
    color: #2084a9;
}
.alert-info.pastel.alert-micro {
    border-color: #66c1e2;
}
.alert-info.pastel .close {
    color: #2084a9;
}
.alert-info.pastel .close:hover {
    color: #2084a9;
}
.alert-warning {
    color: #fff;
    background-color: #f8c969;
}
.alert-warning hr {
    border-top-color: #f5b22a;
}
.alert-warning.alert-border-right {
    border-right-color: #eba10b;
}
.alert-warning.alert-border-top {
    border-top-color: #eba10b;
}
.alert-warning.alert-border-bottom {
    border-bottom-color: #eba10b;
}
.alert-warning.alert-border-left {
    border-left-color: #eba10b;
}
.alert-warning.light {
    background-color: #f9d58b;
}
.alert-warning.dark {
    background-color: #f5b633;
}
.alert-warning.pastel {
    color: #e19b0b;
    background-color: #fdf0d4;
    border-color: rgba(0, 0, 0, 0.1);
}
.alert-warning.pastel .alert-link {
    color: #e19b0b;
}
.alert-warning.pastel.alert-micro {
    border-color: #f8cd73;
}
.alert-warning.pastel .close {
    color: #e19b0b;
}
.alert-warning.pastel .close:hover {
    color: #e19b0b;
}
.alert-danger {
    color: #fff;
    background-color: #ed7764;
}
.alert-danger hr {
    border-top-color: #e64328;
}
.alert-danger.alert-border-right {
    border-right-color: #ce3118;
}
.alert-danger.alert-border-top {
    border-top-color: #ce3118;
}
.alert-danger.alert-border-bottom {
    border-bottom-color: #ce3118;
}
.alert-danger.alert-border-left {
    border-left-color: #ce3118;
}
.alert-danger.light {
    background-color: #f19384;
}
.alert-danger.dark {
    background-color: #e74b31;
}
.alert-danger.pastel {
    color: #c52f17;
    background-color: #f9cfc8;
    border-color: rgba(0, 0, 0, 0.1);
}
.alert-danger.pastel .alert-link {
    color: #c52f17;
}
.alert-danger.pastel.alert-micro {
    border-color: #ee7f6d;
}
.alert-danger.pastel .close {
    color: #c52f17;
}
.alert-danger.pastel .close:hover {
    color: #c52f17;
}
