/* BLOCKQUOTE CONTEXTUALS
 */
blockquote.blockquote-primary {
    border-color: #4a89dc;
}
blockquote.blockquote-success {
    border-color: #70ca63;
}
blockquote.blockquote-info {
    border-color: #3bafda;
}
blockquote.blockquote-warning {
    border-color: #f6bb42;
}
blockquote.blockquote-danger {
    border-color: #e9573f;
}
blockquote.blockquote-alert {
    border-color: #967adc;
}
blockquote.blockquote-system {
    border-color: #37bc9b;
}
blockquote.blockquote-dark {
    border-color: #3b3f4f;
}
blockquote.blockquote-rounded {
    border-radius: 11px;
}
blockquote.blockquote-thin {
    border-width: 3px;
}
blockquote:before,
blockquote:after {
    content: "";
}

.dropcap {
    min-height: 75px;
}
.dropcap:first-letter {
    font-family: 'Droid Serif', serif;
    float: left;
    color: #555;
    font-size: 60px;
    font-weight: 600;
    line-height: 45px;
    padding: 5px;
    margin: 0px 5px 0 0;
}
.dropcap.lead:first-letter {
    font-size: 90px;
    line-height: 25px;
}
.dropcap.dropcap-fill:first-letter {
    border-radius: 6px;
    color: #FFF;
    margin: 0px 10px 0 0;
}
.dropcap.lead.dropcap-fill:first-letter {
    border-radius: 6px;
    color: #FFF;
    margin: 0px 10px 0 0;
    padding-bottom: 26px;
}
.dropcap.dropcap-default:first-letter {
    color: #666;
}
.dropcap.dropcap-primary:first-letter {
    color: #4a89dc;
}
.dropcap.dropcap-success:first-letter {
    color: #70ca63;
}
.dropcap.dropcap-info:first-letter {
    color: #3bafda;
}
.dropcap.dropcap-warning:first-letter {
    color: #f6bb42;
}
.dropcap.dropcap-danger:first-letter {
    color: #e9573f;
}
.dropcap.dropcap-alert:first-letter {
    color: #967adc;
}
.dropcap.dropcap-system:first-letter {
    color: #37bc9b;
}
.dropcap.dropcap-dark:first-letter {
    color: #111;
}
.dropcap.dropcap-muted:first-letter {
    color: #AAA;
}
.dropcap.dropcap-fill:first-letter {
    color: #FFF;
}
.dropcap.dropcap-fill.dropcap-default:first-letter {
    color: #444;
    background-color: #f0f0f0;
}
.dropcap.dropcap-fill.dropcap-primary:first-letter {
    background-color: #4a89dc;
}
.dropcap.dropcap-fill.dropcap-success:first-letter {
    background-color: #70ca63;
}
.dropcap.dropcap-fill.dropcap-info:first-letter {
    background-color: #3bafda;
}
.dropcap.dropcap-fill.dropcap-warning:first-letter {
    background-color: #f6bb42;
}
.dropcap.dropcap-fill.dropcap-danger:first-letter {
    background-color: #e9573f;
}
.dropcap.dropcap-fill.dropcap-alert:first-letter {
    background-color: #967adc;
}
.dropcap.dropcap-fill.dropcap-system:first-letter {
    background-color: #37bc9b;
}
.dropcap.dropcap-fill.dropcap-dark:first-letter {
    background-color: #3b3f4f;
}
.dropcap.dropcap-fill.dropcap-muted:first-letter {
    color: #888;
    background-color: #f0f0f0;
}
