/*==================================================
Buttons - CHECK
==================================================== */
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 9px 12px;
    font-size: 13px;
    line-height: 1.49;
    border-radius: 1px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.btn:hover,
.btn:focus,
.btn.focus {
    color: #666;
    text-decoration: none;
}
.btn:active,
.btn.active {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
    cursor: not-allowed;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
}
a.btn.disabled,
fieldset[disabled] a.btn {
    pointer-events: none;
}
.btn-default {
    color: #666;
    background-color: #f0f0f0;
    border-color: rgba(0, 0, 0, 0.1);
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    color: #666;
    background-color: #eaeaea;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    background-color: #f0f0f0;
    border-color: #ddd;
}
.btn {
    border-color: rgba(0, 0, 0, 0);
}
.btn.btn-gradient {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    border-color: rgba(0, 0, 0, 0.07) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.18);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
    background-repeat: repeat-x;
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3) 1%, rgba(255, 255, 255, 0.15) 100%);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 1%, rgba(255, 255, 255, 0.15) 100%);
}
.btn.btn-rounded {
    border-radius: 20px;
}
.btn-link {
    cursor: pointer;
}
.btn.btn-alt {
    position: relative;
    padding: 7px 11px;
    margin: 5px 3px;
    color: #999;
    font-size: 11px;
    font-weight: 600;
    text-decoration: none;
    background-color: #fbfbfb;
    border-radius: 1px;
    border: 1px solid #EEE;
    border-left: 4px solid #EEE;
    transition: opacity 0.1s ease;
}
.btn.btn-alt.item-active,
.btn.btn-alt:hover,
.btn.btn-alt:focus {
    color: #666 !important;
    background-color: #fefefe !important;
}
.btn.btn-alt.btn-gradient {
    border-color: rgba(0, 0, 0, 0.07) rgba(0, 0, 0, 0.08) rgba(0, 0, 0, 0.14);
    border-left: 4px solid #DDD;
    background-color: #f0f0f0;
    text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.4);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
    background-repeat: repeat-x;
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.9) 10%, rgba(255, 255, 255, 0.3) 100%);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.9) 10%, rgba(255, 255, 255, 0.3) 100%);
}
.btn.btn-alt.btn-gradient:hover,
.btn.btn-alt.btn-gradient:focus {
    background-color: #eee;
}
.btn.btn-alt.item-checked {
    opacity: 1;
    color: #666;
    border-left-color: #70ca63 !important;
    transition: all 0.2s ease;
}
.btn-default {
    color: #666;
    background-color: #f0f0f0;
    border-color: rgba(0, 0, 0, 0.1);
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    color: #666;
    background-color: #eaeaea;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    background-color: #f0f0f0;
    border-color: #ddd;
}
.btn-default .badge {
    color: #f0f0f0;
    background-color: #666;
}
.btn-default.btn-gradient {
    text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.4);
    border-color: rgba(0, 0, 0, 0.07) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.09);
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.9) 10%, rgba(255, 255, 255, 0.3) 100%);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.9) 10%, rgba(255, 255, 255, 0.3) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80ffffff', endColorstr='#00ffffff', GradientType=0);
}
.btn-default.light {
    background-color: #FAFAFA;
}
.btn-default.light:hover,
.btn-default.light:focus,
.btn-default.light:active,
.btn-default.light.active,
.open > .dropdown-toggle.btn-default.light {
    background-color: #ececec;
}
.btn-default.dark {
    background-color: #e8e8e8;
}
.btn-default.dark:hover,
.btn-default.dark:focus,
.btn-default.dark:active,
.btn-default.dark.active,
.open > .dropdown-toggle.btn-default.dark {
    background-color: #e1e1e1;
}
.btn-primary {
    color: #fff;
    background-color: #4a89dc;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #2a74d6;
    border-color: rgba(0, 0, 0, 0.05);
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    background-color: #4a89dc;
    border-color: #4a89dc;
}
.btn-primary .badge {
    color: #4a89dc;
    background-color: #fff;
}
.btn-primary.light {
    background-color: #649ae1;
}
.btn-primary.light:hover,
.btn-primary.light:focus,
.btn-primary.light:active,
.btn-primary.light.active,
.open > .dropdown-toggle.btn-primary.light {
    background-color: #3078d7;
}
.btn-primary.dark {
    background-color: #3078d7;
}
.btn-primary.dark:hover,
.btn-primary.dark:focus,
.btn-primary.dark:active,
.btn-primary.dark.active,
.open > .dropdown-toggle.btn-primary.dark {
    background-color: #266ac3;
}
.btn-success {
    color: #fff;
    background-color: #70ca63;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
    color: #fff;
    background-color: #56c046;
    border-color: rgba(0, 0, 0, 0.05);
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
    background-image: none;
}
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
    background-color: #70ca63;
    border-color: #70ca63;
}
.btn-success .badge {
    color: #70ca63;
    background-color: #fff;
}
.btn-success.light {
    background-color: #85d27a;
}
.btn-success.light:hover,
.btn-success.light:focus,
.btn-success.light:active,
.btn-success.light.active,
.open > .dropdown-toggle.btn-success.light {
    background-color: #5bc24c;
}
.btn-success.dark {
    background-color: #5bc24c;
}
.btn-success.dark:hover,
.btn-success.dark:focus,
.btn-success.dark:active,
.btn-success.dark.active,
.open > .dropdown-toggle.btn-success.dark {
    background-color: #4cb33d;
}
.btn-info {
    color: #fff;
    background-color: #3bafda;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
    color: #fff;
    background-color: #269dc9;
    border-color: rgba(0, 0, 0, 0.05);
}
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
    background-image: none;
}
.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
    background-color: #3bafda;
    border-color: #3bafda;
}
.btn-info .badge {
    color: #3bafda;
    background-color: #fff;
}
.btn-info.light {
    background-color: #55badf;
}
.btn-info.light:hover,
.btn-info.light:focus,
.btn-info.light:active,
.btn-info.light.active,
.open > .dropdown-toggle.btn-info.light {
    background-color: #27a2cf;
}
.btn-info.dark {
    background-color: #27a2cf;
}
.btn-info.dark:hover,
.btn-info.dark:focus,
.btn-info.dark:active,
.btn-info.dark.active,
.open > .dropdown-toggle.btn-info.dark {
    background-color: #228eb6;
}
.btn-warning {
    color: #fff;
    background-color: #f6bb42;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
    color: #fff;
    background-color: #f4ae1d;
    border-color: rgba(0, 0, 0, 0.05);
}
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
    background-image: none;
}
.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
    background-color: #f6bb42;
    border-color: #f6bb42;
}
.btn-warning .badge {
    color: #f6bb42;
    background-color: #fff;
}
.btn-warning.light {
    background-color: #f7c65f;
}
.btn-warning.light:hover,
.btn-warning.light:focus,
.btn-warning.light:active,
.btn-warning.light.active,
.open > .dropdown-toggle.btn-warning.light {
    background-color: #f5b025;
}
.btn-warning.dark {
    background-color: #f5b025;
}
.btn-warning.dark:hover,
.btn-warning.dark:focus,
.btn-warning.dark:active,
.btn-warning.dark.active,
.open > .dropdown-toggle.btn-warning.dark {
    background-color: #efa50b;
}
.btn-danger {
    color: #fff;
    background-color: #e9573f;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
    color: #fff;
    background-color: #e5391d;
    border-color: rgba(0, 0, 0, 0.05);
}
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
    background-image: none;
}
.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
    background-color: #e9573f;
    border-color: #e9573f;
}
.btn-danger .badge {
    color: #e9573f;
    background-color: #fff;
}
.btn-danger.light {
    background-color: #ec6f5a;
}
.btn-danger.light:hover,
.btn-danger.light:focus,
.btn-danger.light:active,
.btn-danger.light.active,
.open > .dropdown-toggle.btn-danger.light {
    background-color: #e63f24;
}
.btn-danger.dark {
    background-color: #e63f24;
}
.btn-danger.dark:hover,
.btn-danger.dark:focus,
.btn-danger.dark:active,
.btn-danger.dark.active,
.open > .dropdown-toggle.btn-danger.dark {
    background-color: #d33218;
}
.btn-alert {
    color: #fff;
    background-color: #967adc;
}
.btn-alert:hover,
.btn-alert:focus,
.btn-alert:active,
.btn-alert.active,
.open > .dropdown-toggle.btn-alert {
    color: #fff;
    background-color: #7e5cd4;
    border-color: rgba(0, 0, 0, 0.05);
}
.btn-alert:active,
.btn-alert.active,
.open > .dropdown-toggle.btn-alert {
    background-image: none;
}
.btn-alert.disabled,
.btn-alert[disabled],
fieldset[disabled] .btn-alert,
.btn-alert.disabled:hover,
.btn-alert[disabled]:hover,
fieldset[disabled] .btn-alert:hover,
.btn-alert.disabled:focus,
.btn-alert[disabled]:focus,
fieldset[disabled] .btn-alert:focus,
.btn-alert.disabled:active,
.btn-alert[disabled]:active,
fieldset[disabled] .btn-alert:active,
.btn-alert.disabled.active,
.btn-alert[disabled].active,
fieldset[disabled] .btn-alert.active {
    background-color: #967adc;
    border-color: #967adc;
}
.btn-alert .badge {
    color: #967adc;
    background-color: #fff;
}
.btn-alert.light {
    background-color: #a992e2;
}
.btn-alert.light:hover,
.btn-alert.light:focus,
.btn-alert.light:active,
.btn-alert.light.active,
.open > .dropdown-toggle.btn-alert.light {
    background-color: #8362d6;
}
.btn-alert.dark {
    background-color: #8362d6;
}
.btn-alert.dark:hover,
.btn-alert.dark:focus,
.btn-alert.dark:active,
.btn-alert.dark.active,
.open > .dropdown-toggle.btn-alert.dark {
    background-color: #704acf;
}
.btn-system {
    color: #fff;
    background-color: #37bc9b;
}
.btn-system:hover,
.btn-system:focus,
.btn-system:active,
.btn-system.active,
.open > .dropdown-toggle.btn-system {
    color: #fff;
    background-color: #2e9e83;
    border-color: rgba(0, 0, 0, 0.05);
}
.btn-system:active,
.btn-system.active,
.open > .dropdown-toggle.btn-system {
    background-image: none;
}
.btn-system.disabled,
.btn-system[disabled],
fieldset[disabled] .btn-system,
.btn-system.disabled:hover,
.btn-system[disabled]:hover,
fieldset[disabled] .btn-system:hover,
.btn-system.disabled:focus,
.btn-system[disabled]:focus,
fieldset[disabled] .btn-system:focus,
.btn-system.disabled:active,
.btn-system[disabled]:active,
fieldset[disabled] .btn-system:active,
.btn-system.disabled.active,
.btn-system[disabled].active,
fieldset[disabled] .btn-system.active {
    background-color: #37bc9b;
    border-color: #37bc9b;
}
.btn-system .badge {
    color: #37bc9b;
    background-color: #fff;
}
.btn-system.light {
    background-color: #48c9a9;
}
.btn-system.light:hover,
.btn-system.light:focus,
.btn-system.light:active,
.btn-system.light.active,
.open > .dropdown-toggle.btn-system.light {
    background-color: #30a487;
}
.btn-system.dark {
    background-color: #30a487;
}
.btn-system.dark:hover,
.btn-system.dark:focus,
.btn-system.dark:active,
.btn-system.dark.active,
.open > .dropdown-toggle.btn-system.dark {
    background-color: #298d74;
}
.btn-dark {
    color: #fff;
    background-color: #3b3f4f;
}
.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active,
.btn-dark.active,
.open > .dropdown-toggle.btn-dark {
    color: #fff;
    background-color: #2b2e39;
    border-color: rgba(0, 0, 0, 0.05);
}
.btn-dark:active,
.btn-dark.active,
.open > .dropdown-toggle.btn-dark {
    background-image: none;
}
.btn-dark.disabled,
.btn-dark[disabled],
fieldset[disabled] .btn-dark,
.btn-dark.disabled:hover,
.btn-dark[disabled]:hover,
fieldset[disabled] .btn-dark:hover,
.btn-dark.disabled:focus,
.btn-dark[disabled]:focus,
fieldset[disabled] .btn-dark:focus,
.btn-dark.disabled:active,
.btn-dark[disabled]:active,
fieldset[disabled] .btn-dark:active,
.btn-dark.disabled.active,
.btn-dark[disabled].active,
fieldset[disabled] .btn-dark.active {
    background-color: #3b3f4f;
    border-color: #3b3f4f;
}
.btn-dark .badge {
    color: #3b3f4f;
    background-color: #fff;
}
.btn-dark.light {
    background-color: #484d61;
}
.btn-dark.light:hover,
.btn-dark.light:focus,
.btn-dark.light:active,
.btn-dark.light.active,
.open > .dropdown-toggle.btn-dark.light {
    background-color: #2e313d;
}
.btn-dark.dark {
    background-color: #2e313d;
}
.btn-dark.dark:hover,
.btn-dark.dark:focus,
.btn-dark.dark:active,
.btn-dark.dark.active,
.open > .dropdown-toggle.btn-dark.dark {
    background-color: #21232c;
}
/* ALT BUTTON CONTEXTUALS
 */
.btn.btn-alt.btn-default {
    border-left-color: #AAA;
}
.btn.btn-alt.btn-primary {
    border-left-color: #4a89dc;
}
.btn.btn-alt.btn-success {
    border-left-color: #70ca63;
}
.btn.btn-alt.btn-info {
    border-left-color: #3bafda;
}
.btn.btn-alt.btn-warning {
    border-left-color: #f6bb42;
}
.btn.btn-alt.btn-danger {
    border-left-color: #e9573f;
}
.btn.btn-alt.btn-alert {
    border-left-color: #967adc;
}
.btn.btn-alt.btn-system {
    border-left-color: #37bc9b;
}
.btn.btn-alt.btn-dark {
    border-left-color: #3b3f4f;
}
