/*===============================================
C. Text Helpers
================================================= */
.text-lowercase{
    text-transform: lowercase !important;
}
.text-uppercase {
    text-transform: uppercase !important;
}
.fw200 {
    font-weight: 200 !important;
}
.fw300 {
    font-weight: 300 !important;
}
.fw400 {
    font-weight: 400 !important;
}
.fw600 {
    font-weight: 600 !important;
}
.fwbold {
    font-weight: bold !important;
}
.fs3 {
    font-size: 4px !important;
}
.fs4 {
    font-size: 4px !important;
}
.fs5 {
    font-size: 5px !important;
}
.fs6 {
    font-size: 6px !important;
}
.fs7 {
    font-size: 7px !important;
}
.fs8 {
    font-size: 8px !important;
}
.fs9 {
    font-size: 9px !important;
}
.fs10 {
    font-size: 10px !important;
}
.fs11 {
    font-size: 11px !important;
}
.fs12 {
    font-size: 12px !important;
}
.fs13 {
    font-size: 13px !important;
}
.fs14 {
    font-size: 14px !important;
}
.fs15 {
    font-size: 15px !important;
}
.fs16 {
    font-size: 16px !important;
}
.fs17 {
    font-size: 17px !important;
}
.fs18 {
    font-size: 18px !important;
}
.fs20 {
    font-size: 20px !important;
}
.fs22 {
    font-size: 22px !important;
}
.fs24 {
    font-size: 24px !important;
}
.fs26 {
    font-size: 26px !important;
}
.fs28 {
    font-size: 28px !important;
}
.fs30 {
    font-size: 30px !important;
}
.fs35 {
    font-size: 35px !important;
}
.fs40 {
    font-size: 40px !important;
}
.fs45 {
    font-size: 45px !important;
}
.fs50 {
    font-size: 50px !important;
}
.fs60 {
    font-size: 60px !important;
}
.fs70 {
    font-size: 70px !important;
}
.fs80 {
    font-size: 80px !important;
}
.fs90 {
    font-size: 90px !important;
}
.fs100 {
    font-size: 100px !important;
}
/*===============================================
D. Padding Helpers
================================================= */
.pn {
    padding: 0 !important;
}
.p1 {
    padding: 1px !important;
}
.p2 {
    padding: 2px !important;
}
.p3 {
    padding: 3px !important;
}
.p4 {
    padding: 4px !important;
}
.p5 {
    padding: 5px !important;
}
.p6 {
    padding: 6px !important;
}
.p7 {
    padding: 7px !important;
}
.p8 {
    padding: 8px !important;
}
.p10 {
    padding: 10px !important;
}
.p12 {
    padding: 12px !important;
}
.p15 {
    padding: 15px !important;
}
.p20 {
    padding: 20px !important;
}
.p25 {
    padding: 25px !important;
}
.p30 {
    padding: 30px !important;
}
.p35 {
    padding: 35px !important;
}
.p40 {
    padding: 40px !important;
}
.p50 {
    padding: 50px !important;
}
.ptn {
    padding-top: 0 !important;
}
.pt5 {
    padding-top: 5px !important;
}
.pt10 {
    padding-top: 10px !important;
}
.pt15 {
    padding-top: 15px !important;
}
.pt20 {
    padding-top: 20px !important;
}
.pt25 {
    padding-top: 25px !important;
}
.pt30 {
    padding-top: 30px !important;
}
.pt35 {
    padding-top: 35px !important;
}
.pt40 {
    padding-top: 40px !important;
}
.pt50 {
    padding-top: 50px !important;
}
.prn {
    padding-right: 0 !important;
}
.pr5 {
    padding-right: 5px !important;
}
.pr10 {
    padding-right: 10px !important;
}
.pr15 {
    padding-right: 15px !important;
}
.pr20 {
    padding-right: 20px !important;
}
.pr25 {
    padding-right: 25px !important;
}
.pr30 {
    padding-right: 30px !important;
}
.pr35 {
    padding-right: 35px !important;
}
.pr40 {
    padding-right: 40px !important;
}
.pr50 {
    padding-right: 50px !important;
}
.pbn {
    padding-bottom: 0 !important;
}
.pb5 {
    padding-bottom: 5px !important;
}
.pb10 {
    padding-bottom: 10px !important;
}
.pb15 {
    padding-bottom: 15px !important;
}
.pb20 {
    padding-bottom: 20px !important;
}
.pb25 {
    padding-bottom: 25px !important;
}
.pb30 {
    padding-bottom: 30px !important;
}
.pb35 {
    padding-bottom: 35px !important;
}
.pb40 {
    padding-bottom: 40px !important;
}
.pb50 {
    padding-bottom: 50px !important;
}
.pln {
    padding-left: 0 !important;
}
.pl5 {
    padding-left: 5px !important;
}
.pl10 {
    padding-left: 10px !important;
}
.pl15 {
    padding-left: 15px !important;
}
.pl20 {
    padding-left: 20px !important;
}
.pl25 {
    padding-left: 25px !important;
}
.pl30 {
    padding-left: 30px !important;
}
.pl35 {
    padding-left: 35px !important;
}
.pl40 {
    padding-left: 40px !important;
}
.pl50 {
    padding-left: 50px !important;
}
/* Axis Padding (both top/bottom or left/right) */
.pv5 {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}
.pv8 {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}
.pv10 {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
.pv15 {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}
.pv20 {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}
.pv25 {
    padding-top: 25px !important;
    padding-bottom: 25px !important;
}
.pv30 {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}
.pv40 {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
}
.pv50 {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
}
.ph5 {
    padding-left: 5px !important;
    padding-right: 5px !important;
}
.ph8 {
    padding-left: 8px !important;
    padding-right: 8px !important;
}
.ph10 {
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.ph15 {
    padding-left: 15px !important;
    padding-right: 15px !important;
}
.ph20 {
    padding-left: 20px !important;
    padding-right: 20px !important;
}
.ph25 {
    padding-left: 25px !important;
    padding-right: 25px !important;
}
.ph30 {
    padding-left: 30px !important;
    padding-right: 30px !important;
}
.ph40 {
    padding-left: 40px !important;
    padding-right: 40px !important;
}
.ph50 {
    padding-left: 50px !important;
    padding-right: 50px !important;
}
/* responsive padding helpers */
@media (min-width: 1140px) {
    .ptn-lg {
        padding-top: 0 !important;
    }
    .prn-lg {
        padding-right: 0 !important;
    }
    .pbn-lg {
        padding-bottom: 0 !important;
    }
    .pln-lg {
        padding-left: 0 !important;
    }
    .pt5-lg {
        padding-top: 5px !important;
    }
    .pr5-lg {
        padding-right: 5px !important;
    }
    .pb5-lg {
        padding-bottom: 5px !important;
    }
    .pl5-lg {
        padding-left: 5px !important;
    }
}
@media (min-width: 992px) {
    .ptn-md {
        padding-top: 0 !important;
    }
    .prn-md {
        padding-right: 0 !important;
    }
    .pbn-md {
        padding-bottom: 0 !important;
    }
    .pln-md {
        padding-left: 0 !important;
    }
    .pt5-md {
        padding-top: 5px !important;
    }
    .pr5-md {
        padding-right: 5px !important;
    }
    .pb5-md {
        padding-bottom: 5px !important;
    }
    .pl5-md {
        padding-left: 5px !important;
    }
}
/*===============================================
E. Margin Helpers
================================================= */
/* margin center helper */
.mauto {
    margin-left: auto;
    margin-right: auto;
}
.mn {
    margin: 0 !important;
}
.m1 {
    margin: 1px !important;
}
.m2 {
    margin: 2px !important;
}
.m3 {
    margin: 3px !important;
}
.m4 {
    margin: 4px !important;
}
.m5 {
    margin: 5px !important;
}
.m8 {
    margin: 8px !important;
}
.m10 {
    margin: 10px !important;
}
.m15 {
    margin: 15px !important;
}
.m20 {
    margin: 20px !important;
}
.m25 {
    margin: 25px !important;
}
.m30 {
    margin: 30px !important;
}
.m35 {
    margin: 35px !important;
}
.m40 {
    margin: 40px !important;
}
.m50 {
    margin: 50px !important;
}
.mtn {
    margin-top: 0 !important;
}
.mt5 {
    margin-top: 5px !important;
}
.mt10 {
    margin-top: 10px !important;
}
.mt15 {
    margin-top: 15px !important;
}
.mt20 {
    margin-top: 20px !important;
}
.mt25 {
    margin-top: 25px !important;
}
.mt30 {
    margin-top: 30px !important;
}
.mt35 {
    margin-top: 35px !important;
}
.mt40 {
    margin-top: 40px !important;
}
.mt50 {
    margin-top: 50px !important;
}
.mt70 {
    margin-top: 70px !important;
}
.mrn {
    margin-right: 0 !important;
}
.mr5 {
    margin-right: 5px !important;
}
.mr10 {
    margin-right: 10px !important;
}
.mr15 {
    margin-right: 15px !important;
}
.mr20 {
    margin-right: 20px !important;
}
.mr25 {
    margin-right: 25px !important;
}
.mr30 {
    margin-right: 30px !important;
}
.mr35 {
    margin-right: 35px !important;
}
.mr40 {
    margin-right: 40px !important;
}
.mr50 {
    margin-right: 50px !important;
}
.mbn {
    margin-bottom: 0 !important;
}
.mb5 {
    margin-bottom: 5px !important;
}
.mb10 {
    margin-bottom: 10px !important;
}
.mb15 {
    margin-bottom: 15px !important;
}
.mb20 {
    margin-bottom: 20px !important;
}
.mb25 {
    margin-bottom: 25px !important;
}
.mb30 {
    margin-bottom: 30px !important;
}
.mb35 {
    margin-bottom: 35px !important;
}
.mb40 {
    margin-bottom: 40px !important;
}
.mb50 {
    margin-bottom: 50px !important;
}
.mb70 {
    margin-bottom: 70px !important;
}
.mln {
    margin-left: 0 !important;
}
.ml5 {
    margin-left: 5px !important;
}
.ml10 {
    margin-left: 10px !important;
}
.ml15 {
    margin-left: 15px !important;
}
.ml20 {
    margin-left: 20px !important;
}
.ml25 {
    margin-left: 25px !important;
}
.ml30 {
    margin-left: 30px !important;
}
.ml35 {
    margin-left: 35px !important;
}
.ml40 {
    margin-left: 40px !important;
}
.ml50 {
    margin-left: 50px !important;
}
/* Axis Margins (both top/bottom or left/right) */
.mv5 {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}
.mv10 {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}
.mv15 {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}
.mv20 {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}
.mv25 {
    margin-top: 25px !important;
    margin-bottom: 25px !important;
}
.mv30 {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}
.mv40 {
    margin-top: 40px !important;
    margin-bottom: 40px !important;
}
.mv50 {
    margin-top: 50px !important;
    margin-bottom: 50px !important;
}
.mv70 {
    margin-top: 70px !important;
    margin-bottom: 70px !important;
}
.mh5 {
    margin-left: 5px !important;
    margin-right: 5px !important;
}
.mh10 {
    margin-left: 10px !important;
    margin-right: 10px !important;
}
.mh15 {
    margin-left: 15px !important;
    margin-right: 15px !important;
}
.mh20 {
    margin-left: 20px !important;
    margin-right: 20px !important;
}
.mh25 {
    margin-left: 25px !important;
    margin-right: 25px !important;
}
.mh30 {
    margin-left: 30px !important;
    margin-right: 30px !important;
}
.mh40 {
    margin-left: 40px !important;
    margin-right: 40px !important;
}
.mh50 {
    margin-left: 50px !important;
    margin-right: 50px !important;
}
.mh70 {
    margin-left: 70px !important;
    margin-right: 70px !important;
}
/* Negative Margin Helpers */
.mtn5 {
    margin-top: -5px !important;
}
.mtn10 {
    margin-top: -10px !important;
}
.mtn15 {
    margin-top: -15px !important;
}
.mtn20 {
    margin-top: -20px !important;
}
.mtn30 {
    margin-top: -30px !important;
}
.mrn5 {
    margin-right: -5px !important;
}
.mrn10 {
    margin-right: -10px !important;
}
.mrn15 {
    margin-right: -15px !important;
}
.mrn20 {
    margin-right: -20px !important;
}
.mrn30 {
    margin-right: -30px !important;
}
.mbn5 {
    margin-bottom: -5px !important;
}
.mbn10 {
    margin-bottom: -10px !important;
}
.mbn15 {
    margin-bottom: -15px !important;
}
.mbn20 {
    margin-bottom: -20px !important;
}
.mbn30 {
    margin-bottom: -30px !important;
}
.mln5 {
    margin-left: -5px !important;
}
.mln10 {
    margin-left: -10px !important;
}
.mln15 {
    margin-left: -15px !important;
}
.mln20 {
    margin-left: -20px !important;
}
.mln30 {
    margin-left: -30px !important;
}
/* Vertical Negative Margin "mv" + "n" + "x" */
.mvn5 {
    margin-top: -5px !important;
    margin-bottom: -5px !important;
}
.mvn10 {
    margin-top: -10px !important;
    margin-bottom: -10px !important;
}
.mvn15 {
    margin-top: -15px !important;
    margin-bottom: -15px !important;
}
.mvn20 {
    margin-top: -20px !important;
    margin-bottom: -20px !important;
}
.mvn30 {
    margin-top: -30px !important;
    margin-bottom: -30px !important;
}
/* Horizontal Negative Margin "mh" + "n" + "x" */
.mhn5 {
    margin-left: -5px !important;
    margin-right: -5px !important;
}
.mhn10 {
    margin-left: -10px !important;
    margin-right: -10px !important;
}
.mhn15 {
    margin-left: -15px !important;
    margin-right: -15px !important;
}
.mhn20 {
    margin-left: -20px !important;
    margin-right: -20px !important;
}
.mhn30 {
    margin-left: -30px !important;
    margin-right: -30px !important;
}
/*===============================================
F. LineHeight Helpers
================================================= */
.lh0 {
    line-height: 0 !important;
}
.lh5 {
    line-height: 5px !important;
}
.lh10 {
    line-height: 10px !important;
}
.lh15 {
    line-height: 15px !important;
}
.lh20 {
    line-height: 20px !important;
}
.lh25 {
    line-height: 25px !important;
}
.lh30 {
    line-height: 30px !important;
}
.lh35 {
    line-height: 35px !important;
}
.lh40 {
    line-height: 40px !important;
}
/*===============================================
G. Border Helpers
================================================= */
/* Border Disables */
.br-l-n {
    border-left: none !important;
}
.br-r-n {
    border-right: none !important;
}
.br-t-n {
    border-top: none !important;
}
.br-b-n {
    border-bottom: none !important;
}
.br-n {
    border: none !important;
}
.br-v-n {
    border-top: none !important;
    border-bottom: none !important;
}
.br-h-n {
    border-left: none !important;
    border-right: none !important;
}
/* Default Borders */
.br-a {
    border: 1px solid #EEE !important;
}
.br-l {
    border-left: 1px solid #EEE !important;
}
.br-r {
    border-right: 1px solid #EEE !important;
}
.br-t {
    border-top: 1px solid #EEE !important;
}
.br-b {
    border-bottom: 1px solid #EEE !important;
}
/* Border Style */
.br-dashed {
    border-style: dotted !important;
}
/* Border Radius */
.br0 {
    border-radius: 0px !important;
}
.br1 {
    border-radius: 1px !important;
}
.br2 {
    border-radius: 2px !important;
}
.br3 {
    border-radius: 3px !important;
}
.br4 {
    border-radius: 4px !important;
}
.br6 {
    border-radius: 6px !important;
}
.br8 {
    border-radius: 8px !important;
}
.br12 {
    border-radius: 12px !important;
}
.br24 {
    border-radius: 24px !important;
}
.br64 {
    border-radius: 64px !important;
}
/* Border Width */
.bw1 {
    border-width: 1px !important;
}
.bw2 {
    border-width: 2px !important;
}
.bw3 {
    border-width: 3px !important;
}
.bw4 {
    border-width: 4px !important;
}
.bw5 {
    border-width: 5px !important;
}
.bw8 {
    border-width: 8px !important;
}
.bw10 {
    border-width: 10px !important;
}
.bw15 {
    border-width: 15px !important;
}
/*Border Colors Generate contextual modifier classes for colorizing the alert.
 */
.br-white {
    border-color: #FFF !important;
}
.br-lighter {
    border-color: #EEE !important;
}
.br-light {
    border-color: #E7E7E7 !important;
}
.br-grey {
    border-color: #d9d9d9 !important;
}
.br-greyer {
    border-color: #CCC !important;
}
.br-dark {
    border-color: #3b3f4f !important;
}
.br-dark-light {
    border-color: #51566c !important;
}
.br-primary {
    border-color: #4a89dc !important;
}
.br-primary-light {
    border-color: #75a5e4 !important;
}
.br-info {
    border-color: #3bafda !important;
}
.br-info-light {
    border-color: #66c1e2 !important;
}
.br-success {
    border-color: #70ca63 !important;
}
.br-success-light {
    border-color: #93d789 !important;
}
.br-warning {
    border-color: #f6bb42 !important;
}
.br-warning-light {
    border-color: #f8cd73 !important;
}
.br-danger {
    border-color: #e9573f !important;
}
.br-danger-light {
    border-color: #ee7f6d !important;
}
.br-alert {
    border-color: #967adc !important;
}
.br-alert-light {
    border-color: #b6a2e7 !important;
}
.br-system {
    border-color: #37bc9b !important;
}
.br-system-light {
    border-color: #58ceb1 !important;
}
.br-tp-top {
    border-top-color: rgba(0, 0, 0, 0.1);
}
.br-tp-right {
    border-right-color: rgba(0, 0, 0, 0.1);
}
.br-tp-left {
    border-left-color: rgba(0, 0, 0, 0.1);
}
/*===============================================
H. Max Width Helpers
================================================= */
.fluid-width {
    width: 100% !important;
}
.mw10 {
    max-width: 10px !important;
}
.mw20 {
    max-width: 20px !important;
}
.mw30 {
    max-width: 30px !important;
}
.mw35 {
    max-width: 35px !important;
}
.mw40 {
    max-width: 40px !important;
}
.mw45 {
    max-width: 45px !important;
}
.mw50 {
    max-width: 50px !important;
}
.mw60 {
    max-width: 60px !important;
}
.mw80 {
    max-width: 80px !important;
}
.mw100 {
    max-width: 100px !important;
}
.mw140 {
    max-width: 140px !important;
}
.mw160 {
    max-width: 160px !important;
}
.mw180 {
    max-width: 180px !important;
}
.mw200 {
    max-width: 200px !important;
}
.mw240 {
    max-width: 240px !important;
}
.mw280 {
    max-width: 280px !important;
}
.mw320 {
    max-width: 320px !important;
}
.mw400 {
    max-width: 400px !important;
}
.mw450 {
    max-width: 450px !important;
}
.mw500 {
    max-width: 500px !important;
}
.mw600 {
    max-width: 600px !important;
}
.mw700 {
    max-width: 700px !important;
}
.mw800 {
    max-width: 800px !important;
}
.mw900 {
    max-width: 900px !important;
}
.mw1000 {
    max-width: 1000px !important;
}
.mw1100 {
    max-width: 1100px !important;
}
.mw1200 {
    max-width: 1200px !important;
}
/*Regular Width Helpers. Primarily used
on tables, feel free to add more*/
.w20 {
    width: 20px !important;
}
.w30 {
    width: 30px !important;
}
.w40 {
    width: 40px !important;
}
.w50 {
    width: 50px !important;
}
.w75 {
    width: 75px !important;
}
.w100 {
    width: 100px !important;
}
.w125 {
    width: 125px !important;
}
.w150 {
    width: 150px !important;
}
.w175 {
    width: 175px !important;
}
.w200 {
    width: 200px !important;
}
.w225 {
    width: 225px !important;
}
.w250 {
    width: 250px !important;
}
.w300 {
    width: 300px !important;
}
.w320 {
    width: 320px !important;
}
.w350 {
    width: 350px !important;
}
.w400 {
    width: 400px !important;
}
.w450 {
    width: 450px !important;
}
.mnw20 {
    min-width: 20px !important;
}
.mnw30 {
    min-width: 30px !important;
}
.mnw40 {
    min-width: 40px !important;
}
.mnw50 {
    min-width: 50px !important;
}
.mnw75 {
    min-width: 75px !important;
}
.mnw100 {
    min-width: 100px !important;
}
.mnw125 {
    min-width: 125px !important;
}
.mnw150 {
    min-width: 150px !important;
}
.mnw175 {
    min-width: 175px !important;
}
.mnw200 {
    min-width: 200px !important;
}
.mnw250 {
    min-width: 250px !important;
}
.mnw300 {
    min-width: 300px !important;
}
.mnw500 {
    min-width: 500px !important;
}
.mnw700 {
    min-width: 700px !important;
}
.mnw1000 {
    min-width: 1000px !important;
}

/* TEXT COLOR CONTEXTUALS
 */
.text-white {
    color: #fff;
}
a.text-white:hover,
a.text-white:focus {
    color: #808080;
}
.text-white-light {
    color: #ffffff;
}
.text-white-lighter {
    color: #ffffff;
}
.text-white-dark {
    color: #f6f6f6;
}
.text-white-darker {
    color: #ececec;
}
.text-muted {
    color: #999;
}
a.text-muted:hover,
a.text-muted:focus {
    color: #191919;
}
.text-muted-light {
    color: #a2a2a2;
}
.text-muted-lighter {
    color: #acacac;
}
.text-muted-dark {
    color: #909090;
}
.text-muted-darker {
    color: #868686;
}
.text-primary {
    color: #4a89dc;
}
a.text-primary:hover,
a.text-primary:focus {
    color: #061221;
}
.text-primary-light {
    color: #5993df;
}
.text-primary-lighter {
    color: #6a9ee2;
}
.text-primary-dark {
    color: #3b7fd9;
}
.text-primary-darker {
    color: #2a74d6;
}
.text-success {
    color: #70ca63;
}
a.text-success:hover,
a.text-success:focus {
    color: #0f220c;
}
.text-success-light {
    color: #7ccf70;
}
.text-success-lighter {
    color: #8ad480;
}
.text-success-dark {
    color: #64c556;
}
.text-success-darker {
    color: #56c046;
}
.text-info {
    color: #3bafda;
}
a.text-info:hover,
a.text-info:focus {
    color: #030e13;
}
.text-info-light {
    color: #4ab5dd;
}
.text-info-lighter {
    color: #5bbce0;
}
.text-info-dark {
    color: #2ca9d7;
}
.text-info-darker {
    color: #269dc9;
}
.text-warning {
    color: #f6bb42;
}
a.text-warning:hover,
a.text-warning:focus {
    color: #362503;
}
.text-warning-light {
    color: #f7c153;
}
.text-warning-lighter {
    color: #f8c867;
}
.text-warning-dark {
    color: #f5b531;
}
.text-warning-darker {
    color: #f4ae1d;
}
.text-danger {
    color: #e9573f;
}
a.text-danger:hover,
a.text-danger:focus {
    color: #250904;
}
.text-danger-light {
    color: #eb654f;
}
.text-danger-lighter {
    color: #ed7561;
}
.text-danger-dark {
    color: #e7492f;
}
.text-danger-darker {
    color: #e5391d;
}
.text-alert {
    color: #967adc;
}
a.text-alert:hover,
a.text-alert:focus {
    color: #211245;
}
.text-alert-light {
    color: #a188e0;
}
.text-alert-lighter {
    color: #ae98e4;
}
.text-alert-dark {
    color: #8b6cd8;
}
.text-alert-darker {
    color: #7e5cd4;
}
.text-system {
    color: #37bc9b;
}
a.text-system:hover,
a.text-system:focus {
    color: #000000;
}
.text-system-light {
    color: #3ec7a5;
}
.text-system-lighter {
    color: #4ecbac;
}
.text-system-dark {
    color: #33ae90;
}
.text-system-darker {
    color: #2e9e83;
}
.text-dark {
    color: #3b3f4f;
}
a.text-dark:hover,
a.text-dark:focus {
    color: #000000;
}
.text-dark-light {
    color: #434759;
}
.text-dark-lighter {
    color: #4b5065;
}
.text-dark-dark {
    color: #333745;
}
.text-dark-darker {
    color: #2b2e39;
}
.text-tp {
    color: rgba(0, 0, 0, 0.2);
}
a.text-tp:hover {
    color: rgba(0, 0, 0, 0.3);
}

/* Vertical Align Helpers */
.va-t {
    vertical-align: top !important;
}
.va-m {
    vertical-align: middle !important;
}
.va-b {
    vertical-align: bottom !important;
}
.va-s {
    vertical-align: super !important;
}

/*diy*/
.pointer{
    cursor: pointer;
}

/*===============================================
D. Dividers
================================================= */
hr {
    margin: 35px 0;
    border-top: 1px solid #DDD;
}
hr.alt {
    border-top: 1px dashed #CCC;
}
hr.short {
    margin: 20px 0;
}
hr.tall {
    margin: 55px 0;
}
hr.dotted {
    border-style: dotted;
}
.divider {
    height: 1px;
    margin: 25px 0;
    background: #e2e2e2;
}
