.label {
    padding: .3em .7em .4em;
    font-size: 84%;
    font-weight: 600;
    line-height: 24px;
}
.label.label-xs {
    padding: 0 .35em .1em;
    font-size: 75%;
}
.label.label-sm {
    padding: .1em .65em .2em;
    font-size: 75%;
}
.label.label-lg {
    padding: .4em .9em .5em;
    font-size: 95%;
}
.label.label-rounded {
    padding: .2em 0.85em .3em;
    border-radius: 1em;
}
.label.label-rounded.label-xs {
    padding: 0 .35em .1em;
}
.label.label-rounded.label-sm {
    padding: .1em .65em .2em;
}
.label.label-rounded.label-lg {
    padding: .4em .9em .5em;
}
.label-muted {
    background-color: #AAA;
}
.label-muted[href]:hover,
.label-muted[href]:focus {
    background-color: #919191;
}
.label-default {
    background-color: #777777;
}
.label-default[href]:hover,
.label-default[href]:focus {
    background-color: #5e5e5e;
}
.label-primary {
    background-color: #4a89dc;
}
.label-primary[href]:hover,
.label-primary[href]:focus {
    background-color: #276ecc;
}
.label-success {
    background-color: #70ca63;
}
.label-success[href]:hover,
.label-success[href]:focus {
    background-color: #4fbb3f;
}
.label-info {
    background-color: #3bafda;
}
.label-info[href]:hover,
.label-info[href]:focus {
    background-color: #2494be;
}
.label-warning {
    background-color: #f6bb42;
}
.label-warning[href]:hover,
.label-warning[href]:focus {
    background-color: #f4a911;
}
.label-danger {
    background-color: #e9573f;
}
.label-danger[href]:hover,
.label-danger[href]:focus {
    background-color: #dc3519;
}
.label-alert {
    background-color: #967adc;
}
.label-alert[href]:hover,
.label-alert[href]:focus {
    background-color: #7652d1;
}
.label-system {
    background-color: #37bc9b;
}
.label-system[href]:hover,
.label-system[href]:focus {
    background-color: #2b957a;
}
.label-dark {
    background-color: #3b3f4f;
}
.label-dark[href]:hover,
.label-dark[href]:focus {
    background-color: #252832;
}
