$openc3-color: #f63; 
/*e9573f*/
$openc3-color1: #e52;
/*#e63f24*/

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 15px;
    color: inherit;
}
.panel-title > a,
.panel-title > small,
.panel-title > .small,
.panel-title > small > a,
.panel-title > .small > a {
    color: inherit;
}
.panel-heading {
    padding: 0 8px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 1px;
    border-top-left-radius: 1px;
}
.panel-heading > .dropdown .dropdown-toggle {
    color: inherit;
}

.panel {
    position: relative;
    margin-bottom: 20px;
    border: 0;
    box-shadow: none;
}
.panel.panel-transparent {
    background: none;
    border: 0;
    margin: 0;
    padding: 0;
}
.panel.panel-border {
    border-style: solid;
    border-width: 0;
}
.panel.panel-border.top {
    border-top-width: 5px;
}
.panel.panel-border.right {
    border-right-width: 5px;
}
.panel.panel-border.bottom {
    border-bottom-width: 5px;
}
.panel.panel-border.left {
    border-left-width: 5px;
}
.panel.panel-border > .panel-heading {
    background-color: #fafafa;
    border-color: #e5e5e5;
    border-top: 1px solid transparent;
}
.panel.panel-border > .panel-heading > .panel-title {
    color: #666;
}
.panel.panel-border > .panel-heading > h5 {
    color: #666;
}
.panel.panel-border.panel-default {
    border-color: #DDD;
}
.panel.panel-border.panel-default > .panel-heading {
    border-top: 1px solid transparent;
}
.panel-menu {
    background-color: #fafafa;
    padding: 12px;
    border: 1px solid #e5e5e5;
}
.panel-menu.dark {
    background-color: #f8f8f8;
}
.panel-body .panel-menu {
    border-left: 0;
    border-right: 0;
}
.panel-heading + .panel-menu,
.panel-menu + .panel-body,
.panel-body + .panel-menu,
.panel-body + .panel-body {
    border-top: 0;
}
.panel-body {
    position: relative;
    border: 1px solid #e5e5e5;
}
.panel-body + .panel-footer {
    border-top: 0;
}
.panel-heading {
    position: relative;
    height: 40px;
    line-height: 36px;
    background: #fafafa;
    color: #666;
    font-size: 13px;
    font-weight: 600;
    border: 1px solid #e5e5e5;
}
.panel-heading + .panel-body {
    border-top: 0;
}
.panel-heading .widget-menu .btn-group {
    margin-top: -3px;
}
.panel-heading .widget-menu .form-control {
    margin-top: 6px;
    font-size: 11px;
    height: 27px;
    padding: 2px 10px;
    border-radius: 1px;
}
.panel-heading .widget-menu .form-control.input-sm {
    margin-top: 9px;
    height: 22px;
}
.panel-heading .widget-menu .progress {
    margin-top: 11px;
    margin-bottom: 0;
}
.panel-heading .widget-menu .progress-bar-lg {
    margin-top: 10px;
}
.panel-heading .widget-menu .progress-bar-sm {
    margin-top: 15px;
}
.panel-heading .widget-menu .progress-bar-xs {
    margin-top: 17px;
}
.panel-icon {
    padding-left: 5px;
}
.panel-title {
    padding-left: 6px;
    font-size: 13px;
}
.panel-title > .fa,
.panel-title > .glyphicon,
.panel-title > .glyphicons,
.panel-title > .imoon {
    top: 2px;
    min-width: 22px;
    color: inherit;
    font-size: 14px;
}
.panel-footer {
    border: 1px solid #e5e5e5;
}
.panel-body + .list-group .list-group-item:first-child {
    border-top-width: 0;
}
.panel-group {
    margin-bottom: 19px;
}
.panel-group .panel-title {
    padding-left: 0;
}
.panel-group .panel-heading,
.panel-group .panel-heading a {
    position: relative;
    display: block;
    width: 100%;
}
.panel-group.accordion-lg .panel + .panel {
    margin-top: 12px;
}
.panel-group.accordion-lg .panel-heading {
    font-size: 14px;
    height: 54px;
    line-height: 52px;
}
.panel-group .accordion-icon {
    padding-left: 35px;
}
.panel-group .accordion-icon:after {
    position: absolute;
    content: "\f068";
    font-family: "FontAwesome";
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    color: #555;
    left: 10px;
    top: 0;
}
.panel-group .accordion-icon.collapsed:after {
    content: "\f067";
}
.panel-group .accordion-icon.icon-right {
    padding-left: 10px;
    padding-right: 30px;
}
.panel-group .accordion-icon.icon-right:after {
    left: auto;
    right: 5px;
}
.panel-primary.panel-border {
    border-color: #4a89dc;
}
.panel-primary > .panel-heading {
    color: #fff;
    background-color: #4a89dc;
    border-color: #4a89dc;
}
.panel-primary > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #4a89dc;
}
.panel-primary > .panel-heading .badge {
    color: #4a89dc;
    background-color: #fff;
}
.panel-primary > .panel-heading > .panel-title {
    color: #fff;
}
.panel-primary > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #4a89dc;
}
.panel-primary > .panel-body.fill {
    color: #FFF;
    border-color: #82ade7;
    background-color: #82ade7;
}
.panel-primary > .panel-body.border {
    border: 3px solid #4a89dc;
}
.panel-success.panel-border {
    border-color: #70ca63;
}
.panel-success > .panel-heading {
    color: #fff;
    background-color: #70ca63;
    border-color: #70ca63;
}
.panel-success > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #70ca63;
}
.panel-success > .panel-heading .badge {
    color: #70ca63;
    background-color: #fff;
}
.panel-success > .panel-heading > .panel-title {
    color: #fff;
}
.panel-success > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #70ca63;
}
.panel-success > .panel-body.fill {
    color: #FFF;
    border-color: #9ddb94;
    background-color: #9ddb94;
}
.panel-success > .panel-body.border {
    border: 3px solid #70ca63;
}
.panel-info.panel-border {
    border-color: #3bafda;
}
.panel-info > .panel-heading {
    color: #fff;
    background-color: #3bafda;
    border-color: #3bafda;
}
.panel-info > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #3bafda;
}
.panel-info > .panel-heading .badge {
    color: #3bafda;
    background-color: #fff;
}
.panel-info > .panel-heading > .panel-title {
    color: #fff;
}
.panel-info > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #3bafda;
}
.panel-info > .panel-body.fill {
    color: #FFF;
    border-color: #73c6e5;
    background-color: #73c6e5;
}
.panel-info > .panel-body.border {
    border: 3px solid #3bafda;
}
.panel-warning.panel-border {
    border-color: #f6bb42;
}
.panel-warning > .panel-heading {
    color: #fff;
    background-color: #f6bb42;
    border-color: #f6bb42;
}
.panel-warning > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #f6bb42;
}
.panel-warning > .panel-heading .badge {
    color: #f6bb42;
    background-color: #fff;
}
.panel-warning > .panel-heading > .panel-title {
    color: #fff;
}
.panel-warning > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #f6bb42;
}
.panel-warning > .panel-body.fill {
    color: #FFF;
    border-color: #f9d281;
    background-color: #f9d281;
}
.panel-warning > .panel-body.border {
    border: 3px solid #f6bb42;
}
.panel-danger.panel-border {
    border-color: $openc3-color1;
}
.panel-danger > .panel-heading {
    color: #fff;
    background-color: $openc3-color1;
    border-color: $openc3-color1;
}
.panel-danger > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: $openc3-color1;
}
.panel-danger > .panel-heading .badge {
    color: $openc3-color1;
    background-color: #fff;
}
.panel-danger > .panel-heading > .panel-title {
    color: #fff;
}
.panel-danger > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: $openc3-color1;
}
.panel-danger > .panel-body.fill {
    color: #FFF;
    border-color: #f08b7a;
    background-color: #f08b7a;
}
.panel-danger > .panel-body.border {
    border: 3px solid $openc3-color1;
}
.panel-alert.panel-border {
    border-color: #967adc;
}
.panel-alert > .panel-heading {
    color: #fff;
    background-color: #967adc;
    border-color: #967adc;
}
.panel-alert > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #967adc;
}
.panel-alert > .panel-heading .badge {
    color: #967adc;
    background-color: #fff;
}
.panel-alert > .panel-heading > .panel-title {
    color: #fff;
}
.panel-alert > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #967adc;
}
.panel-alert > .panel-body.fill {
    color: #FFF;
    border-color: #bfaeea;
    background-color: #bfaeea;
}
.panel-alert > .panel-body.border {
    border: 3px solid #967adc;
}
.panel-system.panel-border {
    border-color: #37bc9b;
}
.panel-system > .panel-heading {
    color: #fff;
    background-color: #37bc9b;
    border-color: #37bc9b;
}
.panel-system > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #37bc9b;
}
.panel-system > .panel-heading .badge {
    color: #37bc9b;
    background-color: #fff;
}
.panel-system > .panel-heading > .panel-title {
    color: #fff;
}
.panel-system > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #37bc9b;
}
.panel-system > .panel-body.fill {
    color: #FFF;
    border-color: #64d2b6;
    background-color: #64d2b6;
}
.panel-system > .panel-body.border {
    border: 3px solid #37bc9b;
}
.panel-dark.panel-border {
    border-color: #3b3f4f;
}
.panel-dark > .panel-heading {
    color: #fff;
    background-color: #3b3f4f;
    border-color: #3b3f4f;
}
.panel-dark > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #3b3f4f;
}
.panel-dark > .panel-heading .badge {
    color: #3b3f4f;
    background-color: #fff;
}
.panel-dark > .panel-heading > .panel-title {
    color: #fff;
}
.panel-dark > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #3b3f4f;
}
.panel-dark > .panel-body.fill {
    color: #FFF;
    border-color: #575d75;
    background-color: #575d75;
}
.panel-dark > .panel-body.border {
    border: 3px solid #3b3f4f;
}

.panel-controls {
    float: right;
    display: block;
    cursor: pointer;
}
.panel-controls > a {
    padding-top: 1px;
    display: inline-block;
    opacity: 0.7;
    width: 30px;
    color: #999;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
}
.panel-controls > a:hover {
    text-decoration: none;
    opacity: 1;
}
/* Icon colors for panel contextuals */
.panel-primary .panel-controls > a,
.panel-info .panel-controls > a,
.panel-success .panel-controls > a,
.panel-warning .panel-controls > a,
.panel-danger .panel-controls > a,
.panel-alert .panel-controls > a,
.panel-system .panel-controls > a,
.panel-dark .panel-controls > a {
    color: #FFF;
}
/* control button icons */
.panel-controls > a:after {
    font-family: "FontAwesome";
}

.heading-border:before {
    content: "";
    background-color: #9999A3;
    position: absolute;
    height: 10px;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
}
.heading-border .panel-heading {
    padding: 30px 22px 17px;
}
.heading-border .panel-title {
    color: #999;
}

.panel-primary.heading-border:before,
.panel-primary .heading-border:before {
    background-color: #4a89dc;
}

.panel-info.heading-border:before,
.panel-info .heading-border:before {
    background-color: #3bafda;
}

.panel-success.heading-border:before,
.panel-success .heading-border:before {
    background-color: #70ca63;
}

.panel-warning.heading-border:before,
.panel-warning .heading-border:before {
    background-color: #f6bb42;
}

.panel-danger.heading-border:before,
.panel-danger .heading-border:before {
    background-color: $openc3-color1;
}
.panel-alert.heading-border:before,
.panel-alert .heading-border:before {
    background-color: #967adc;
}

.panel-system.heading-border:before,
.panel-system .heading-border:before {
    background-color: #37bc9b;
}

.panel-dark.heading-border:before,
.panel-dark .heading-border:before {
    background-color: #3b3f4f;
}
