.table thead tr th,
.table thead tr td {
    border-bottom: 0;
}
.table.table-sm {
    font-size: .875em;
}
.table.table-lg {
    font-size: 1.2em;
}
.table > input[type='text'] {
    font-weight: normal;
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
}
.table select {
    font-weight: normal;
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
}
.table.table-advanced thead tr th {
    border-bottom-width: 1px !important;
    background-color: #efefef;
}
.table.table-advanced thead.primary tr th {
    background: #e74c3c;
    color: #FFFFFF;
}
.table.table-advanced thead.success tr th {
    background: #5cb85c;
    color: #FFFFFF;
}
.table.table-advanced thead.warning tr th {
    background: #f0ad4e;
    color: #FFFFFF;
}
.table.table-advanced thead.info tr th {
    background: #5bc0de;
    color: #FFFFFF;
}
.table.table-advanced thead.danger tr th {
    background: #d9534f;
    color: #FFFFFF;
}
.table.table-advanced thead.red tr th {
    background: #bf4346;
    color: #FFFFFF;
}
.table.table-advanced thead.orange tr th {
    background: #e9662c;
    color: #FFFFFF;
}
.table.table-advanced thead.green tr th {
    background: #488c6c;
    color: #FFFFFF;
}
.table.table-advanced thead.yellow tr th {
    background: #f2994b;
    color: #FFFFFF;
}
.table.table-advanced thead.blue tr th {
    background: #0a819c;
    color: #FFFFFF;
}
.table.table-advanced thead.pink tr th {
    background: #bf3773;
    color: #FFFFFF;
}
.table.table-advanced thead.violet tr th {
    background: #9351ad;
    color: #FFFFFF;
}
.table.table-advanced thead.grey tr th {
    background: #4b5d67;
    color: #FFFFFF;
}
.table.table-advanced thead.dark tr th {
    background: #594857;
    color: #FFFFFF;
}
.table.table-advanced thead.white tr th {
    background: #ffffff;
    color: #777777;
}
.table.table-advanced tfoot tr th {
    border-bottom: 0 !important;
    background: #efefef;
}
.table.table-advanced tfoot.primary tr th {
    background: #e74c3c;
    color: #FFFFFF;
}
.table.table-advanced tfoot.success tr th {
    background: #5cb85c;
    color: #FFFFFF;
}
.table.table-advanced tfoot.warning tr th {
    background: #f0ad4e;
    color: #FFFFFF;
}
.table.table-advanced tfoot.info tr th {
    background: #5bc0de;
    color: #FFFFFF;
}
.table.table-advanced tfoot.danger tr th {
    background: #d9534f;
    color: #FFFFFF;
}
.table.table-advanced tfoot.red tr th {
    background: #bf4346;
    color: #FFFFFF;
}
.table.table-advanced tfoot.orange tr th {
    background: #e9662c;
    color: #FFFFFF;
}
.table.table-advanced tfoot.green tr th {
    background: #488c6c;
    color: #FFFFFF;
}
.table.table-advanced tfoot.yellow tr th {
    background: #f2994b;
    color: #FFFFFF;
}
.table.table-advanced tfoot.blue tr th {
    background: #0a819c;
    color: #FFFFFF;
}
.table.table-advanced tfoot.pink tr th {
    background: #bf3773;
    color: #FFFFFF;
}
.table.table-advanced tfoot.violet tr th {
    background: #9351ad;
    color: #FFFFFF;
}
.table.table-advanced tfoot.grey tr th {
    background: #4b5d67;
    color: #FFFFFF;
}
.table.table-advanced tfoot.dark tr th {
    background: #594857;
    color: #FFFFFF;
}
.table.table-advanced tfoot.white tr th {
    background: #ffffff;
    color: #777777;
}
.table.table-hover-color tbody tr:hover td:first-child {
    border-left: 4px solid #e74c3c;
}
.table-actions {
    margin-bottom: 20px;
}
.table-actions.bottom {
    margin-bottom: 0;
    margin-top: 20px;
}
.table-actions .pagination {
    margin: 0;
}
