<div class="row block">
    <h2>{{'C3T.CMDB'|translate}}</h2>
    <hr class="mv20 clear">

    <div class="panel panel-primary">
        <div class="panel-heading">
            <span class="panel-controls">
                <button class="btn btn-primary" uib-tooltip="{{'C3T.刷新'|translate}}" ng-click="cmdbmanage.reload()" ><i class="fa fa-refresh fa-fw" ng-class="{'fa-spin':!cmdbmanage.loadover}" ></i></button>
            </span>
            <h5>{{'C3T.CMDB'|translate}}</h5>
        </div>

        <div class="panel-body">
            <div class="pt20" style="overflow: auto;">
                <table ng-table="cmdbmanage.dataTable" class="table table-scroll table-hover text-left table-condensed" show-filter="true">
                    <tr ng-repeat="m in $data">
                        <td data-title="'C3T.名称'|translate"     width="80" filter="{ name: 'text'}"      sortable="'name'">     {{m.name}}     </td>
                        <td data-title="'C3T.类型'|translate"     width="80" filter="{ type: 'text'}"      sortable="'type'">     {{m.type}}     </td>
                        <td style="width: 10%" data-title="'C3T.操作'|translate">
                            <button class="btn btn-primary btn-sm" ng-click="cmdbmanage.create(m.name)">{{'C3T.编辑'|translate}}</button>
                            <button class="btn btn-danger btn-sm"  ng-click="cmdbmanage.delete(m.name)">{{'C3T.删除'|translate}}</button>
                            <button ng-if="m.name=='aws'" class="btn btn-primary btn-sm" ng-click="cmdbmanage.editaws(m.name)">{{'C3T.编辑(新方式)'|translate}}</button>
                            <button ng-if="m.name=='huawei'" class="btn btn-primary btn-sm" ng-click="cmdbmanage.edithuawei(m.name)">{{'C3T.编辑(新方式)'|translate}}</button>
                            <button ng-if="m.name=='aliyun'" class="btn btn-primary btn-sm" ng-click="cmdbmanage.editaliyun(m.name)">{{'C3T.编辑(新方式)'|translate}}</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</div>
