html {
    height: 100%;
    background: #aaa;
}
body {
    font-size: 13px;
    width: 100%;
    height: 100%;
    min-height: 700px;
    margin: 0;
    padding: 0;
    background: #e9e9e9;
    overflow-x: hidden;
    /* Fix for webkit rendering */
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    font-size-adjust: 100%;
    font-family: 'Helvetica Neue', 'Microsoft Yahei', Helvetica, 'Open Sans', sans-serif;
}
#main {
    position: relative;
    min-height: 100%;
    background: #fff;
}
/* psuedo background */
/**
#main:before {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #eee;
}
**/
#content_wrapper {
    position: relative;
    left: 0px;
    margin-left: 240px;
    padding-bottom:30px;
}
body.sb-l-m #content_wrapper {
    margin-left: 60px;
}
@media (max-width: 1100px) {
    /* Sidebar Left Open/Default */
    #content_wrapper {
        margin-left: 0;
        left: 240px;
    }
    /* Sidebar Left Minified */
    .sb-l-m #content_wrapper {
        left: 0;
    }
}
cmnavbar + cmmenu + #content_wrapper {
    padding-top: 60px;
}
.page-content {
    padding: 20px 20px 50px 20px;
    min-height: 700px;
    clear: both;
}

.clearfix:before,
.clearfix:after,
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-header:before,
.modal-header:after,
.modal-footer:before,
.modal-footer:after,
#topbar:before,
#topbar:after {
    content: " ";
    display: table;
}
.clearfix:after,
.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-header:after,
.modal-footer:after,
#topbar:after {
    clear: both;
}
.center-block {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: #777777;
    text-decoration: none;
}
a:hover,
a:focus {
    color: #e74c3c;
    text-decoration: underline;
}
a:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

/* openc3 color == start */

.br-openc3{
    border-color: #f63;
    border-color: #f63 !important;
}
.br-openc3-dark{
    border-color: #e52;
    border-color: #e52 !important;
}
.bg-openc3{
    background-color: #f63;
    background-color: #f63 !important;
}
.bg-openc3-dark{
    background-color: #e52;
    background-color: #e52 !important;
}
.text-openc3{
    color: #f63;
    color: #f63 !important;
}
.text-openc3-dark{
    color: #e52;
    color: #e52 !important;
}
.btn-openc3{
    background-color: #f63;
    border:none;
    color: #fff !important;
}
.btn-openc3:hover, .btn-openc3:focus{
    background-color: #e52;
    color: #fff !important;
}

/* openc3 color == end */

.toast-top-right{
    top: 70px;
}

.toggle-menu,.toggle-menu ul {
    list-style: none;
    margin: 0;
    padding: 0
}


.toggle-menu a {
    font-size: 14px;
    font-weight: 600;
    display: inline-block;
    padding: 5px 10px;
    color: #454e59;
    border-radius: 3px
}

.toggle-menu a.active,.toggle-menu a:focus,.toggle-menu a:hover {
    text-decoration: none;
    font-weight: bold;
}

.toggle-menu>li>a {
    font-weight: 700
}

.toggle-menu a.submenu>i {
    margin-right: 7px;
    -webkit-transition: -webkit-transform .1s ease-out;
    transition: transform .1s ease-out
}

.toggle-menu ul {
    display: none
}

.toggle-menu ul a {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 15px;
    font-size: 13px;
    font-weight: 400
}

.toggle-menu ul ul a {
    padding-top: 3px;
    padding-bottom: 3px;
    margin-left: 30px
}

.toggle-menu .open>a.submenu>i {
    -webkit-transform: rotateZ(90deg);
    transform: rotateZ(90deg)
}

.toggle-menu .open>ul {
    display: block
}


.block {
    margin: 0 0 10px;
    padding: 20px 15px 1px;
    background-color: #fff;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    -webkit-box-shadow: 0 2px 0 rgba(218,224,232,.5);
    box-shadow: 0 2px 0 rgba(218,224,232,.5)
}

.table-scroll {
    white-space: nowrap;
    overflow-x: scroll;
}

*::-webkit-scrollbar-thumb{
    background:#777;
}
*::-webkit-scrollbar-track{
    background:#ddd;
}
*::-webkit-scrollbar{
    height: 10px;
    width: 15px;
}

.dis-btn{
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    color: #666;
    background-color: #fff;
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.1);
    white-space: nowrap;
    padding: 9px 5px;
    font-size: 13px;
    line-height: 1.49;
    border-radius: 1px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.clear{
    clear: both;
}

table, th , td {
  border: 1px solid #dfe6ec;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tbody tr:nth-child(odd) {
  background-color: #fff;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
