body.login{
    background:#627aad
}
#login {
    width:300px;
    margin:100px auto 0px;
}

#login .logo a{
    display:block;
    width:300px;
    height:30px;
    margin-bottom:30px;
    -o-transition:all .7s;
    -moz-transition:all .7s;
    -webkit-transition:all .7s;
    transition:all .7s;opacity:1
}

#login .logo a:hover{
    opacity:.7
}
#login>span{
    display:block;
    margin:25px 0 0;
    font-size:12px;
    color:#fff
}
#login>span a{
    color:#fff;
    margin:0 5px
}
.wrapper-login{
    margin-bottom:20px
}
.wrapper-login .input-icon{
    position:relative;
    display:block
}
.wrapper-login input{
    display:block;
    border:none;
    width:100%;
    height:43px;
    padding-left:60px!important;
    font-size:15px;
    color:#96999f;
    line-height:43px;
    border-bottom:1px solid #e5e7e8;
    font-weight:500;
    background:#f7f7f7
}
.wrapper-login .input-icon i{
    width:47px;
    font-size:20px;
    padding-left:15px;
    border-right:#e5e7e8 solid 1px;
    line-height:42px;
    position:absolute;
    left:0;
    top:0;
    display:inline-block;
    color:#627aad;
    background-color:#f5f5f5
}
.wrapper-login .input-icon span.glyphicon{position:absolute;right:15px;top:15px;display:inline-block}
.login-button,.reg-button{
    display:block;
    height:43px;
    width:300px;
    line-height:43px;
    color:#627aad;
    font-size:15px;
    font-weight:500;
    background:#fff;
    border-radius:3px;
    border:none;
    -o-transition:all 160ms;
    -moz-transition:all 160ms;
    -webkit-transition:all 160ms;
    transition:all 160ms
}

/* loading 加载动画 */
.spinner {
margin: 100px auto;
width: 50px;
height: 60px;
text-align: center;
font-size: 10px;
}

.spinner > div {
background-color: #fff;
height: 100%;
width: 6px;
display: inline-block;
-webkit-animation: stretchdelay 1.2s infinite ease-in-out;
animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
-webkit-animation-delay: -1.1s;
animation-delay: -1.1s;
}

.spinner .rect3 {
-webkit-animation-delay: -1.0s;
animation-delay: -1.0s;
}

.spinner .rect4 {
-webkit-animation-delay: -0.9s;
animation-delay: -0.9s;
}

.spinner .rect5 {
-webkit-animation-delay: -0.8s;
animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
0%, 40%, 100% { -webkit-transform: scaleY(0.4) } 
20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
0%, 40%, 100% {
  transform: scaleY(0.4);
  -webkit-transform: scaleY(0.4);
}  20% {
  transform: scaleY(1.0);
  -webkit-transform: scaleY(1.0);
}
}

.other-third-party-way {
  text-align: center;
  width: 300px;
  margin: 0 auto;
  color: #fff;

  &-select {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &-text {
      font-size: 15px;
      font-weight: 600;
    }

    &-arr {
      margin-left: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-logo {
      width: 30px;
      height: 30px;
      margin: 0 10px;
      background-color: #fff;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      img {
        width: 26px;
        height: 26px;
      }
    }

    &-disable-logo {
      width: 30px;
      height: 30px;
      opacity: 0.8;
      margin: 0 10px;
      cursor: not-allowed;
      background-color: #fff;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 26px;
        height: 26px;
      }
    }
  }
}