<div class="row block" id="changewidth" style="background: #fff;margin:0;padding:0;height:100%;width:100%;position:absolute;">
    <div class="panel panel-primary">

        <div class="panel-heading">
            <span class="panel-controls">
                <button class="btn btn-primary" uib-tooltip="刷新" ng-click="ack.reload()" ><i class="fa fa-refresh fa-fw" ng-class="{'fa-spin':!( ack.loadover ) }" ></i></button>
            </span>
            <h5>监控ACK</h5>
        </div>

        <div class="panel-body">
            <div class="panel-tabs">
                <table ng-table="ack.dataTable" class="table table-hover text-center table-condensed">
                    <tr ng-repeat="d in $data">
                        <td style="width: 10%" data-title="'NAME'">{{d.name}}</td>
                        <td style="width: 10%" data-title="'VALUE'">{{d.value}}</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="panel-footer text-right">
            <button class="btn btn-success" ng-disabled="ack.acked"   ng-click="ack.edit('ackcase', 'P')">事件屏蔽(个人)</button>
            <button class="btn btn-success" ng-disabled="ack.acked"   ng-click="ack.edit('ack',     'P')">监控屏蔽(个人)</button>
            <button class="btn btn-success" ng-disabled="ack.acked"   ng-click="ack.edit('ackcase', '' )">事件屏蔽(组)</button>
            <button class="btn btn-success" ng-disabled="ack.acked"   ng-click="ack.edit('ack',     '' )">监控屏蔽(组)</button>
            <button class="btn btn-danger"  ng-disabled="ack.amacked" ng-click="ack.edit('ackam',   '' )">AM屏蔽</button>
        </div>

    </div>

</div>
