<div class="modal-header">
    <h4  class="modal-title">{{'C3T.GooglePlay回复评论'|translate}}</h4>
</div>
<div class="modal-body">
    <form class="form-horizontal" name="myForm" role="form">
        <div class="row">
            <div class="col-sm-10 form-group">
                <label class="col-sm-3 control-label">{{'C3T.编号'|translate}}</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="adduser" placeholder="{{'C3T.编号'|translate}}" ng-model="googleplayreviewreply.data.review_id" ng-disabled="true" required/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-10 form-group">
                <label class="col-sm-3 control-label">{{'C3T.评论'|translate}}</label>
                <div class="col-sm-9">
                    <textarea type="text" rows="6" cols="200" class="form-control" name="adduser" placeholder="{{'C3T.评论'|translate}}" ng-model="googleplayreviewreply.data.user_comment" ng-disabled="true" required></textarea>
                </div>
            </div>
        </div>
 
        <div class="row">
            <div class="col-sm-10 form-group">
                <label class="col-sm-3 control-label">{{'C3T.回复'|translate}}</label>
                <div class="col-sm-9">
                    <textarea type="text" rows="6" cols="200" class="form-control" name="adduser" placeholder="{{'C3T.回复'|translate}}" ng-model="googleplayreviewreply.replycontent" required></textarea>
                </div>
            </div>
        </div>
 
        <div class="row">
            <div class="col-sm-5 form-group pull-right">
                <button class="btn btn-primary" ng-if="googleplayreviewreply.showsubmit ==1" ng-disabled="myForm.$invalid" ng-click="googleplayreviewreply.add()">{{'C3T.确认'|translate}}</button>
                <button class="btn btn-primary" ng-if="googleplayreviewreply.showsubmit ==0" ng-disabled="true" >{{'C3T.提交中'|translate}} ...</button>
                <button class="btn btn-warning" ng-click="googleplayreviewreply.cancel()">{{'C3T.取消'|translate}}</button>
            </div>
        </div>
    </form>
</div>

