.select-modal-default-detail-content {
  width: 100%;
  overflow: auto;
  padding: 0 20px;
  min-height: 400px;
}

.select-modal-label-style-flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}