---
name: '工单处理'
option:
  - describe: 域名
    name: domain
    type: text
    value: ""
  - describe: 解析目的(IP/线路/域名)
    name: target
    type: text
    value: ""
  - describe: 是否经营网站(必选)
    name: business
    type: select
    option: ["是", "否"]
    value: ""
  - describe: 所属业务
    name: belong
    type: input
    value: ""
  - describe: 申请理由
    name: note
    type: text
    value: ""

template_argv:
  title:    "BPM/${_bpmuuid_}/域名解析/新申请"
  content:  |
    BPM标题: 域名解析/新申请
    BPM地址: ${_caseurl_}

    域名: ${domain}
    解析目的(IP/线路/域名): ${target}
    是否经营网站(必选): ${business}
    所属业务:${belong}
    申请理由: ${note}"
