---
name: '工单处理'
option:
  - describe: 域名
    name: domain
    type: text
    value: ""
  - describe: 解析目的(IP/线路/域名)
    name: target
    type: text
    value: ""
  - describe: 是否经营网站(必选)
    name: business
    type: select
    option:
      - Yes
      - No
    value: ""
  - describe: 所属业务
    name: belong
    type: input
    value: ""
  - describe: 申请理由
    name: note
    type: text
    value: ""

template_argv:
  title:    "BPM/域名解析新申请"
  content:  "域名:\n${domain}\n解析目的(IP/线路/域名):\n${target}\n是否经营网站(必选):\n${business}\n所属业务:${belong}\n申请理由:\n${note}"
