host: [[:host:]]
username: [[:username:]]
password: [[:password:]]
port: [[:port:]]
database: [[:database:]]
dbi_params:
  mysql_enable_utf8: 1
  RaiseError: 1
  AutoCommit: 1
  on_connect_do: ["SET NAMES 'utf8'", "SET CHARACTER SET 'utf8'" ]
