<div class="row block" >

<div>
    <div class="panel panel-primary">

        <div class="panel-heading">
            <span class="panel-controls">
                <button class="btn btn-primary" uib-tooltip="{{'C3T.刷新'|translate}}" ng-click="mycase.reload()" ><i class="fa fa-refresh fa-fw" ng-class="{'fa-spin':!mycase.loadover}" ></i></button>
            </span>
            <h5>{{'C3T.我的告警事件'|translate}}</h5>
        </div>

        <div class="panel-body">
            <div class="panel-tabs">
                <table ng-table="mycase.dataTable" class="table table-hover text-center table-condensed" show-filter="true">
                    <tr ng-repeat="d in $data">
                        <td style="width: 10%" data-title="'C3T.时间'|translate" filter="{ edit_time: 'text'}" sortable="'edit_time'">{{d.edit_time}}</td>
                        <td style="width: 10%" data-title="'C3T.实例'|translate" filter="{ instance: 'text'}" sortable="'d.instance'">{{d.instance}}</td>
                        <td style="width: 10%" data-title="'C3T.标题'|translate" filter="{ title: 'text'}" sortable="'d.title'">{{d.title}}</td>
                        <td style="width: 10%" data-title="'C3T.操作'|translate">
                            <button class="btn btn-primary btn-sm" ng-click="mycase.openOneTab(d.ackuuid)">{{'C3T.屏蔽'|translate}}</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>



</div>
