<div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <span class="panel-controls">
                <button class="btn btn-primary" uib-tooltip="{{'C3T.保存'|translate}}" ng-click="notify.save()"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
                <button class="btn btn-primary" uib-tooltip="{{'C3T.刷新'|translate}}" ng-click="notify.reload()" ><i class="fa fa-refresh fa-fw" ng-class="{'fa-spin':!notify.loadover}" ></i></button>
            </span>
            <h5>{{'C3T.通知出口开关设置'|translate}}</h5>
        </div>


        <div class="panel-body">
            <div class="form-horizontal">
                <!-- tag 匹配规则 -->
                <div class="container-fluid">
                    <div class="row">

                        <table class="table table-bordered" style="text-align: center">
                            <thead>
                            <tr class="notice-bg">
                                <th colspan="2" class="right-bor" style="text-align: center;">{{'C3T.分类'|translate}}</th>
                                <th class="right-bor" style="text-align: center;"><label for="email" class="notice-top allmes" >{{'C3T.邮件'|translate}}<input type="checkbox" ng-model="emailall" id="email" ng-click="notify.checkAllEmail()"></label></th>
                                <th class="right-bor" style="text-align: center;"><label for="sms" class="notice-top allout" style="text-align: center;">{{'C3T.短信'|translate}}<input type="checkbox" ng-model="smsall" id="sms" ng-click="notify.checkAllSms()"></label></th>
                                <th class="right-bor" style="text-align: center;"><label for="call" class="notice-top allout" style="text-align: center;">{{'C3T.语音'|translate}}</label></th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td rowspan="3" class="right-bor line">{{'C3T.页面执行作业'|translate}}</td>
                                    <td class="right-bor">{{'C3T.执行成功'|translate}}</td>
                                    <td class="right-bor"><input type="checkbox" check-class="email"  ng-model = "isPageSuccessEmail" name="isPageSuccessEmail" ></td>
                                    <td class="right-bor"><input type="checkbox" check-class="sms"   ng-model="isPageSuccessSms"  name="isPageSuccessSms" ></td>
                                    <td class="right-bor"></td>
                                </tr>
                                <tr>
                                    <td class="right-bor">{{'C3T.执行失败'|translate}}</td>
                                    <td class="right-bor"><label class="notice-top"><input type="checkbox" check-class="email"  ng-model="isPageFailEmail" name="isPageFailEmail" ></label></td>
                                    <td class="right-bor"><label class="notice-top"><input type="checkbox" check-class="sms"   ng-model="isPageFailSms" name="isPageFailSms" ></label></td>
                                    <td class="right-bor"></td>
                                </tr>
                                <tr>
                                    <td class="right-bor">{{'C3T.等待用户'|translate}}</td>
                                    <td class="right-bor"><label class="notice-top"><input type="checkbox" check-class="email" ng-model="isPageWaitingEmail" name="isPageWaitingEmail" ></label></td>
                                    <td class="right-bor"><label class="notice-top"><input type="checkbox" check-class="sms" ng-model="isPageWaitingSms" name="isPageWaitingSms" ></label></td>
                                    <td class="right-bor"></td>
                                </tr>

                                <tr>
                                    <td rowspan="3" class="right-bor line">{{'C3T.分组启动作业'|translate}}</td>
                                    <td class="right-bor">{{'C3T.执行成功'|translate}}</td>
                                    <td class="right-bor"><label class="notice-top"><input type="checkbox" check-class="email" ng-model="isApiSuccessEmail" name="isApiSuccessEmail" ></label></td>
                                    <td class="right-bor"><label class="notice-top"><input type="checkbox" check-class="sms" ng-model="isApiSuccessSms"  name="isApiSuccessSms" ></label></td>
                                    <td class="right-bor"></td>
                                </tr>
                                <tr>
                                    <td class="right-bor">{{'C3T.执行失败'|translate}}</td>
                                    <td class="right-bor"><label class="notice-top"><input type="checkbox" check-class="email" ng-model="isApiFailEmail" name="isApiFailEmail" ></label></td>
                                    <td class="right-bor"><label class="notice-top"><input type="checkbox" check-class="sms" ng-model="isApiFailSms" name="isApiFailSms" ></label></td>
                                    <td class="right-bor"></td>
                                </tr>
                                <tr>
                                    <td class="right-bor">{{'C3T.等待用户'|translate}}</td>
                                    <td class="right-bor"><label class="notice-top"><input type="checkbox" check-class="email" ng-model="isApiWaitingEmail" name="isApiWaitingEmail" ></label></td>
                                    <td class="right-bor"><label class="notice-top"><input type="checkbox" check-class="sms" ng-model="isApiWaitingSms" name="isApiWaitingSms" ></label></td>
                                    <td class="right-bor"></td>
                                </tr>

                                <tr>
                                    <td rowspan="3" class="right-bor line">{{'C3T.定时启动作业'|translate}}</td>
                                    <td class="right-bor">{{'C3T.执行成功'|translate}}</td>
                                    <td class="right-bor"><label class="notice-top"><input type="checkbox" check-class="email" ng-model="isCrontabSuccessEmail" name="isCrontabSuccessEmail" ></label></td>
                                    <td class="right-bor"><label class="notice-top"><input type="checkbox" check-class="sms"  ng-model="isCrontabSuccessSms" name="isCrontabSuccessSms" ></label></td>
                                    <td class="right-bor"></td>
                                </tr>
                                <tr>
                                    <td class="right-bor">{{'C3T.执行失败'|translate}}</td>
                                    <td class="right-bor"><label class="notice-top"><input type="checkbox" check-class="email" ng-model="isCrontabFailEmail" name="isCrontabFailEmail" ></label></td>
                                    <td class="right-bor"><label class="notice-top"><input type="checkbox" check-class="sms"  ng-model="isCrontabFailSms"  name="isCrontabFailSms" ></label></td>
                                    <td class="right-bor"></td>
                                </tr>
                                <tr>
                                    <td class="right-bor">{{'C3T.等待用户'|translate}}</td>
                                    <td class="right-bor"><label class="notice-top"><input type="checkbox" check-class="email" ng-model="isCrontabWaitingEmail" name="isCrontabWaitingEmail" ></label></td>
                                    <td class="right-bor"><label class="notice-top"><input type="checkbox" check-class="sms"   ng-model="isCrontabWaitingSms" name="isCrontabWaitingSms" ></label></td>
                                    <td class="right-bor"></td>
                                </tr>
                                <tr>
                                    <td rowspan="2" class="right-bor line">{{'C3T.构建任务'|translate}}</td>
                                    <td class="right-bor">{{'C3T.执行成功'|translate}}</td>
                                    <td class="right-bor"><label class="notice-top"><input type="checkbox" check-class="email" ng-model="isCiSuccessEmail" name="isCiSuccessEmail" ></label></td>
                                    <td class="right-bor"><label class="notice-top"><input type="checkbox" check-class="sms"  ng-model="isCiSuccessSms" name="isCiSuccessSms" ></label></td>
                                    <td class="right-bor"></td>
                                </tr>
                                <tr>
                                    <td class="right-bor">{{'C3T.执行失败'|translate}}</td>
                                    <td class="right-bor"><label class="notice-top"><input type="checkbox" check-class="email" ng-model="isCiFailEmail" name="isCiFailEmail" ></label></td>
                                    <td class="right-bor"><label class="notice-top"><input type="checkbox" check-class="sms"  ng-model="isCiFailSms"  name="isCiFailSms" ></label></td>
                                    <td class="right-bor"></td>
                                </tr>
                                <tr>
                                    <td rowspan="2" class="right-bor line">{{'C3T.发布任务'|translate}}</td>
                                    <td class="right-bor">{{'C3T.执行成功'|translate}}</td>
                                    <td class="right-bor"><label class="notice-top"><input type="checkbox" check-class="email" ng-model="isFlowSuccessEmail" name="isFlowSuccessEmail" ></label></td>
                                    <td class="right-bor"><label class="notice-top"><input type="checkbox" check-class="sms"  ng-model="isFlowSuccessSms" name="isFlowSuccessSms" ></label></td>
                                    <td class="right-bor"></td>
                                </tr>
                                <tr>
                                    <td class="right-bor">{{'C3T.执行失败'|translate}}</td>
                                    <td class="right-bor"><label class="notice-top"><input type="checkbox" check-class="email" ng-model="isFlowFailEmail" name="isFlowFailEmail" ></label></td>
                                    <td class="right-bor"><label class="notice-top"><input type="checkbox" check-class="sms"  ng-model="isFlowFailSms"  name="isFlowFailSms" ></label></td>
                                    <td class="right-bor"></td>
                                </tr>
                                <tr>
                                    <td rowspan="1" class="right-bor line">{{'C3T.审批'|translate}}</td>
                                    <td class="right-bor">{{'C3T.审批事件'|translate}}</td>
                                    <td class="right-bor"><label class="notice-top"><input type="checkbox" check-class="email" ng-model="isApprovalSuccessEmail" name="isApprovalSuccessEmail" ></label></td>
                                    <td class="right-bor"><label class="notice-top"><input type="checkbox" check-class="sms"  ng-model="isApprovalSuccessSms" name="isApprovalSuccessSms" ></label></td>
                                    <td class="right-bor"></td>
                                </tr>
                                <tr>
                                    <td rowspan="2" class="right-bor line">{{'C3T.监控系统'|translate}}</td>
                                    <td class="right-bor">{{'C3T.告警通知'|translate}}</td>
                                    <td class="right-bor"><label class="notice-top"><input type="checkbox" check-class="email" ng-model="isMonitorSuccessEmail" name="isMonitorSuccessEmail" ></label></td>
                                    <td class="right-bor"><label class="notice-top"><input type="checkbox" check-class="sms"  ng-model="isMonitorSuccessSms" name="isMonitorSuccessSms" ></label></td>
                                    <td class="right-bor"><label class="notice-top"><input type="checkbox" check-class="call"  ng-model="isMonitorSuccessCall" name="isMonitorSuccessCall" ></label></td>
                                </tr>
                                <tr>
                                    <td class="right-bor">{{'C3T.邮件内容监控'|translate}}</td>
                                    <td class="right-bor"><label class="notice-top"><input type="checkbox" check-class="email" ng-model="isMailmonSuccessEmail" name="isMailmonSuccessEmail" ></label></td>
                                    <td class="right-bor"><label class="notice-top"><input type="checkbox" check-class="sms"  ng-model="isMailmonSuccessSms" name="isMailmonSuccessSms" ></label></td>
                                    <td class="right-bor"><label class="notice-top"><input type="checkbox" check-class="call"  ng-model="isMailmonSuccessCall" name="isMailmonSuccessCall" ></label></td>
                                </tr>
 
                            </tbody>

                        </table>
                    </div>

        </div>
    </div>
</div>


