<div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <span class="panel-controls">
            </span>
            <h5>{{'C3T.聚云立方对接'|translate}}</h5>
        </div>

        <div class="panel-body">
            <div class="form-horizontal">
                <div class="container-fluid">

                    <div class="row" >
                        <div class="col-sm-10 form-group">
                            <label class="col-sm-2 control-label">AppName</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" ng-model="connectorconfig.config.juyunappname" required />
                            </div>

                            <label class="col-sm-2 control-label">AppKey</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" ng-model="connectorconfig.config.juyunappkey" required />
                            </div>
                        </div>
                        <div class="col-sm-2 form-group">
                            <button class="btn btn-primary" ng-disabled="! ( connectorconfig.config.juyunappname && connectorconfig.config.juyunappkey )" ng-click="connectorconfig.save()">{{'C3T.聚云连接器初始化'|translate}}</button>
                        </div>
                    </div>
            </div>
        </div>
    </div>

    <br>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <span class="panel-controls">
                <button class="btn btn-primary" uib-tooltip="{{'C3T.保存'|translate}}" ng-click="connectorconfig.save()"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
                <button class="btn btn-primary" uib-tooltip="{{'C3T.刷新'|translate}}" ng-click="connectorconfig.reload()" ><i class="fa fa-refresh fa-fw" ng-class="{'fa-spin':!connectorconfig.loadover}" ></i></button>
            </span>
            <h5>{{'C3T.连接器配置管理'|translate}}</h5>
        </div>


        <div class="panel-body">
            <div class="form-horizontal">
                <div class="container-fluid">

                   <h4>{{'C3T.历史连接器'|translate}}</h4>

                   <div class="row" >
                        <div class="col-sm-10 form-group">
                        <label class="col-md-2 control-label fwbold">{{'C3T.连接器切换'|translate}}({{'C3T.保存后生效'|translate}})</label>
                        <div class="col-md-9 form-inline">
                            <select class="form-control"  ng-model="connectorconfig.name" ng-change="connectorconfig.reload()">
                                 <option ng-repeat="x in connectorconfig.configlist" value="{{x}}">{{x}}</option>
                            </select>
                        </div>
                        </div>
                    </div>

                  <hr>
                  <h4>{{'C3T.登录'|translate}}</h4>

                    <div class="row">
                        <div class="col-sm-10 form-group">
                            <label class="col-sm-2 control-label">{{'C3T.获取用户信息'|translate}}</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="connectorconfig.config.ssousername" required />
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-10 form-group">
                            <label class="col-sm-2 control-label">{{'C3T.用户登出'|translate}}</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="connectorconfig.config.ssologoutapi" required />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-10 form-group">
                            <label class="col-sm-2 control-label">{{'C3T.回调'|translate}}</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="connectorconfig.config.ssocallback" required />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-10 form-group">
                            <label class="col-sm-2 control-label">cookie {{'C3T.名称'|translate}}</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="connectorconfig.config.cookiekey" required />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-10 form-group">
                            <label class="col-sm-2 control-label">{{'C3T.修改密码'|translate}}</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="connectorconfig.config.ssochpasswd" required />
                            </div>
                        </div>
                    </div>



                  <h4>{{'C3T.服务树'|translate}}</h4>

                    <div class="row">
                        <div class="col-sm-10 form-group">
                            <label class="col-sm-2 control-label">{{'C3T.用户服务树'|translate}}</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="connectorconfig.config.usertree" required />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-10 form-group">
                            <label class="col-sm-2 control-label">{{'C3T.全量服务树'|translate}}</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="connectorconfig.config.treemap" required />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-10 form-group">
                            <label class="col-sm-2 control-label"></label>
                            <label class="col-sm-2 control-label">appname</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" ng-model="connectorconfig.config.treemapenv.appname" required />
                            </div>

                            <label class="col-sm-2 control-label">appkey</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" ng-model="connectorconfig.config.treemapenv.appkey" required />
                            </div>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-sm-10 form-group">
                            <label class="col-sm-2 control-label">{{'C3T.服务树资源'|translate}}</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="connectorconfig.config.nodeinfo" required />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-10 form-group">
                            <label class="col-sm-2 control-label"></label>
                            <label class="col-sm-2 control-label">appname</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" ng-model="connectorconfig.config.nodeinfoenv.appname" required />
                            </div>

                            <label class="col-sm-2 control-label">appkey</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" ng-model="connectorconfig.config.nodeinfoenv.appkey" required />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-10 form-group">
                            <label class="col-sm-2 control-label">{{'C3T.权限控制'|translate}}</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="connectorconfig.config.pmspoint" required />
                            </div>
                        </div>
                    </div>


                  <h4>{{'C3T.消息出口'|translate}}</h4>


                    <div class="row">
                        <div class="col-sm-10 form-group">
                            <label class="col-sm-2 control-label">{{'C3T.邮件'|translate}}</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="connectorconfig.config.usermail" required />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-10 form-group">
                            <label class="col-sm-2 control-label"></label>
                            <label class="col-sm-2 control-label">appname</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" ng-model="connectorconfig.config.usermailenv.appname" required />
                            </div>

                            <label class="col-sm-2 control-label">appkey</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" ng-model="connectorconfig.config.usermailenv.appkey" required />
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-10 form-group">
                            <label class="col-sm-2 control-label">{{'C3T.短信'|translate}}</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="connectorconfig.config.usermesg" required />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-10 form-group">
                            <label class="col-sm-2 control-label"></label>
                            <label class="col-sm-2 control-label">appname</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" ng-model="connectorconfig.config.usermesgenv.appname" required />
                            </div>

                            <label class="col-sm-2 control-label">appkey</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" ng-model="connectorconfig.config.usermesgenv.appkey" required />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-10 form-group">
                            <label class="col-sm-2 control-label">{{'C3T.语音'|translate}}</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="connectorconfig.config.usercall" required />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-10 form-group">
                            <label class="col-sm-2 control-label"></label>
                            <label class="col-sm-2 control-label">appname</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" ng-model="connectorconfig.config.usercallenv.appname" required />
                            </div>

                            <label class="col-sm-2 control-label">appkey</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" ng-model="connectorconfig.config.usercallenv.appkey" required />
                            </div>
                        </div>
                    </div>


                  <h4>{{'C3T.外部辅助审批'|translate}}</h4>

                    <div class="row">
                        <div class="col-sm-10 form-group">
                            <label class="col-sm-2 control-label">{{'C3T.审批接口'|translate}}</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="connectorconfig.config.approver" required />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-10 form-group">
                            <label class="col-sm-2 control-label"></label>
                            <label class="col-sm-2 control-label">appname</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" ng-model="connectorconfig.config.approverenv.appname" required />
                            </div>

                            <label class="col-sm-2 control-label">appkey</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" ng-model="connectorconfig.config.approverenv.appkey" required />
                            </div>
                        </div>
                    </div>

                  <h4>{{'C3T.工单扩展'|translate}}({{'C3T.用户详情'|translate}})</h4>

                    <div class="row">
                        <div class="col-sm-10 form-group">
                            <label class="col-sm-2 control-label">{{'C3T.审批接口'|translate}}</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="connectorconfig.config.userinfo" required />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-10 form-group">
                            <label class="col-sm-2 control-label"></label>
                            <label class="col-sm-2 control-label">appname</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" ng-model="connectorconfig.config.userinfoenv.appname" required />
                            </div>

                            <label class="col-sm-2 control-label">appkey</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" ng-model="connectorconfig.config.userinfoenv.appkey" required />
                            </div>
                        </div>
                    </div>

                  <h4>{{'C3T.连接器存活检测'|translate}}</h4>

                    <div class="row">
                        <div class="col-sm-10 form-group">
                            <label class="col-sm-2 control-label">{{'C3T.探活地址'|translate}}</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="connectorconfig.config.alive" required />
                            </div>
                        </div>
                    </div>

                  <h4>{{'C3T.前端风格'|translate}}</h4>

                    <div class="row">
                        <div class="col-sm-10 form-group">
                            <label class="col-sm-2 control-label">{{'C3T.选择前端风格'|translate}}</label>
                            <div class="col-sm-9" ng-init="frontendstylelist = {'openc3': 'openc3','juyun':'juyun'}" >
                                <select id="selecteddataval" class="form-control"  ng-model="connectorconfig.config.frontendstyle" style="width: 20%" >
                                    <option ng-repeat="x in frontendstylelist" value="{{x}}">{{x}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                  <h4>{{'C3T.连接器设置'|translate}}</h4>

                    <div class="row">
                        <div class="col-sm-10 form-group">
                            <label class="col-sm-2 control-label">{{'C3T.调试日志'|translate}}[debug]</label>
                            <div class="col-sm-9" ng-init="debuglist = {'off': '0','on':'1'}" >
                                <select id="selecteddataval" class="form-control"  ng-model="connectorconfig.config.debug" style="width: 20%" >
                                    <option ng-repeat="x in debuglist" value="{{x}}">{{x}}</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-10 form-group">
                            <label class="col-sm-2 control-label">{{'C3T.接口缓存'|translate}}[{{'C3T.秒'|translate}}]</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="connectorconfig.config.apicache" style="width: 20%" required />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-10 form-group">
                            <label class="col-sm-2 control-label">{{'C3T.仅使用作业系统'|translate}}</label>
                            <div class="col-sm-9" ng-init="openc3_job_system_onlylist = {'off': '0','on':'1'}" >
                                <select id="selecteddataval" class="form-control"  ng-model="connectorconfig.config.openc3_job_system_only" style="width: 20%" >
                                    <option ng-repeat="x in openc3_job_system_onlylist" value="{{x}}">{{x}}</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-10 form-group">
                            <label class="col-sm-2 control-label">{{'C3T.使用原生'|translate}} Node Exporter</label>
                            <div class="col-sm-9" ng-init="debuglist = {'off': '0','on':'1'}" >
                                <select id="selecteddataval" class="form-control"  ng-model="connectorconfig.config.monagent9100" style="width: 20%" >
                                    <option ng-repeat="x in debuglist" value="{{x}}">{{x}}</option>
                                </select>
                            </div>
                        </div>
                    </div>

                  <hr>
                  <h4>{{'C3T.报告'|translate}}</h4>

                    <div class="row">
                        <div class="col-sm-10 form-group">
                            <label class="col-sm-2 control-label">GIT {{'C3T.报告'|translate}} {{'C3T.合并'|translate}}</label>
                            <div class="col-sm-9" ng-init="gitreport2companylist = {'off': '0','on':'1'}" >
                                <select id="selecteddataval" class="form-control"  ng-model="connectorconfig.config.gitreport2company" style="width: 20%" >
                                    <option ng-repeat="x in gitreport2companylist" value="{{x}}">{{x}}</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-10 form-group">
                            <label class="col-sm-2 control-label">{{'C3T.流水线'|translate}} {{'C3T.报告'|translate}} {{'C3T.合并'|translate}}</label>
                            <div class="col-sm-9" ng-init="flowreport2companylist = {'off': '0','on':'1'}" >
                                <select id="selecteddataval" class="form-control"  ng-model="connectorconfig.config.flowreport2company" style="width: 20%" >
                                    <option ng-repeat="x in flowreport2companylist" value="{{x}}">{{x}}</option>
                                </select>
                            </div>
                        </div>
                    </div>

        </div>
    </div>
</div>


