<div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <span class="panel-controls">
            </span>
            <h5>聚云立方对接</h5>
        </div>

        <div class="panel-body">
            <div class="form-horizontal">
                <div class="container-fluid">

                    <div class="row" >
                        <div class="col-sm-10 form-group">
                            <label class="col-sm-2 control-label">AppName</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" ng-model="connectorconfig.config.juyunappname" required />
                            </div>

                            <label class="col-sm-2 control-label">AppKey</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" ng-model="connectorconfig.config.juyunappkey" required />
                            </div>
                        </div>
                        <div class="col-sm-2 form-group">
                            <button class="btn btn-primary" ng-disabled="! ( connectorconfig.config.juyunappname && connectorconfig.config.juyunappkey )" ng-click="connectorconfig.save()">聚云连接器初始化</button>
                        </div>
                    </div>
            </div>
        </div>
    </div>

    <br>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <span class="panel-controls">
                <button class="btn btn-primary" uib-tooltip="保存" ng-click="connectorconfig.save()"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
                <button class="btn btn-primary" uib-tooltip="刷新" ng-click="connectorconfig.reload()" ><i class="fa fa-refresh fa-fw" ng-class="{'fa-spin':!connectorconfig.loadover}" ></i></button>
            </span>
            <h5>连接器配置管理</h5>
        </div>


        <div class="panel-body">
            <div class="form-horizontal">
                <div class="container-fluid">

                   <h4>历史连接器</h4>

                   <div class="row" >
                        <div class="col-sm-10 form-group">
                        <label class="col-md-2 control-label fwbold">连接器切换(保存后生效)</label>
                        <div class="col-md-9 form-inline">
                            <select class="form-control"  ng-model="connectorconfig.name" ng-change="connectorconfig.reload()">
                                 <option ng-repeat="x in connectorconfig.configlist" value="{{x}}">{{x}}</option>
                            </select>
                        </div>
                        </div>
                    </div>

                  <hr>
                  <h4>登录</h4>

                    <div class="row">
                        <div class="col-sm-10 form-group">
                            <label class="col-sm-2 control-label">获取用户信息</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="connectorconfig.config.ssousername" required />
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-10 form-group">
                            <label class="col-sm-2 control-label">用户登出</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="connectorconfig.config.ssologoutapi" required />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-10 form-group">
                            <label class="col-sm-2 control-label">回调</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="connectorconfig.config.ssocallback" required />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-10 form-group">
                            <label class="col-sm-2 control-label">cookie名</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="connectorconfig.config.cookiekey" required />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-10 form-group">
                            <label class="col-sm-2 control-label">修改密码</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="connectorconfig.config.ssochpasswd" required />
                            </div>
                        </div>
                    </div>



                  <h4>服务树</h4>

                    <div class="row">
                        <div class="col-sm-10 form-group">
                            <label class="col-sm-2 control-label">用户服务树</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="connectorconfig.config.usertree" required />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-10 form-group">
                            <label class="col-sm-2 control-label">全量服务树</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="connectorconfig.config.treemap" required />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-10 form-group">
                            <label class="col-sm-2 control-label"></label>
                            <label class="col-sm-2 control-label">appname</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" ng-model="connectorconfig.config.treemapenv.appname" required />
                            </div>

                            <label class="col-sm-2 control-label">appkey</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" ng-model="connectorconfig.config.treemapenv.appkey" required />
                            </div>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-sm-10 form-group">
                            <label class="col-sm-2 control-label">服务树资源</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="connectorconfig.config.nodeinfo" required />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-10 form-group">
                            <label class="col-sm-2 control-label"></label>
                            <label class="col-sm-2 control-label">appname</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" ng-model="connectorconfig.config.nodeinfoenv.appname" required />
                            </div>

                            <label class="col-sm-2 control-label">appkey</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" ng-model="connectorconfig.config.nodeinfoenv.appkey" required />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-10 form-group">
                            <label class="col-sm-2 control-label">权限控制</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="connectorconfig.config.pmspoint" required />
                            </div>
                        </div>
                    </div>


                  <h4>消息出口</h4>


                    <div class="row">
                        <div class="col-sm-10 form-group">
                            <label class="col-sm-2 control-label">邮件</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="connectorconfig.config.usermail" required />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-10 form-group">
                            <label class="col-sm-2 control-label"></label>
                            <label class="col-sm-2 control-label">appname</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" ng-model="connectorconfig.config.usermailenv.appname" required />
                            </div>

                            <label class="col-sm-2 control-label">appkey</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" ng-model="connectorconfig.config.usermailenv.appkey" required />
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-10 form-group">
                            <label class="col-sm-2 control-label">短信</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="connectorconfig.config.usermesg" required />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-10 form-group">
                            <label class="col-sm-2 control-label"></label>
                            <label class="col-sm-2 control-label">appname</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" ng-model="connectorconfig.config.usermesgenv.appname" required />
                            </div>

                            <label class="col-sm-2 control-label">appkey</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" ng-model="connectorconfig.config.usermesgenv.appkey" required />
                            </div>
                        </div>
                    </div>

                  <h4>外部辅助审批</h4>

                    <div class="row">
                        <div class="col-sm-10 form-group">
                            <label class="col-sm-2 control-label">审批接口</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="connectorconfig.config.approver" required />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-10 form-group">
                            <label class="col-sm-2 control-label"></label>
                            <label class="col-sm-2 control-label">appname</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" ng-model="connectorconfig.config.approverenv.appname" required />
                            </div>

                            <label class="col-sm-2 control-label">appkey</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" ng-model="connectorconfig.config.approverenv.appkey" required />
                            </div>
                        </div>
                    </div>

                  <h4>前端风格</h4>

                    <div class="row">
                        <div class="col-sm-10 form-group">
                            <label class="col-sm-2 control-label">选择前端风格</label>
                            <div class="col-sm-9" ng-init="frontendstylelist = {'openc3': 'openc3','juyun':'juyun'}" >
                                <select id="selecteddataval" class="form-control"  ng-model="connectorconfig.config.frontendstyle" style="width: 20%" >
                                    <option ng-repeat="x in frontendstylelist" value="{{x}}">{{x}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                  <h4>连接器调试</h4>

                    <div class="row">
                        <div class="col-sm-10 form-group">
                            <label class="col-sm-2 control-label">debug</label>
                            <div class="col-sm-9" ng-init="debuglist = {'off': '0','on':'1'}" >
                                <select id="selecteddataval" class="form-control"  ng-model="connectorconfig.config.debug" style="width: 20%" >
                                    <option ng-repeat="x in debuglist" value="{{x}}">{{x}}</option>
                                </select>
                            </div>
                        </div>
                    </div>


        </div>
    </div>
</div>


