<div class="modal-header">
    <h4  class="modal-title">{{'C3T.华为云账号'|translate}}</h4>
</div>
<div class="modal-body">
    <form class="form-horizontal" name="myForm" role="form">
        <div class="row">
            <div class="col-sm-12 form-group">
                <label class="col-sm-1 control-label">{{'C3T.账号名称'|translate}}</label>
                <div class="col-sm-11">
                    <input type="text" class="form-control" ng-model="cmdbmanagehuaweicreate.postdata.accountname" />
                </div>
            </div>
        </div>

         <div class="row">
            <div class="col-sm-12 form-group">
                <label class="col-sm-1 control-label">AccessKey</label>
                <div class="col-sm-11">
                    <input type="text" class="form-control" ng-model="cmdbmanagehuaweicreate.postdata.accesskey" />
                </div>
            </div>
        </div>

         <div class="row">
            <div class="col-sm-12 form-group">
                <label class="col-sm-1 control-label">SecretKey</label>
                <div class="col-sm-11">
                    <input type="text" class="form-control" ng-model="cmdbmanagehuaweicreate.postdata.secretkey" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 form-group">
                <label class="col-sm-1 control-label">{{'C3T.项目'|translate}}</label>
                <div class="col-sm-11">
                    <input type="text" class="form-control" ng-model="cmdbmanagehuaweicreate.postdata.project" />
                </div>
            </div>
        </div>

         <div class="row">
            <div class="col-sm-12 form-group">
                <label class="col-sm-1 control-label">{{'C3T.区域'|translate}}</label>
                <div class="col-sm-11">
                    <input type="text" class="form-control" ng-model="cmdbmanagehuaweicreate.postdata.region" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 form-group">
                <label class="col-sm-1 control-label">{{'C3T.iam用户id'|translate}}</label>
                <div class="col-sm-11">
                    <input type="text" class="form-control" ng-model="cmdbmanagehuaweicreate.postdata.iamid" />
                </div>
            </div>
        </div>

 
        <div class="row">
            <div class="col-sm-12 form-group">
                <label class="col-sm-1 control-label">{{'C3T.备注'|translate}}</label>
                <div class="col-sm-11">
                    <input type="text" class="form-control" ng-model="cmdbmanagehuaweicreate.postdata.note" />
                </div>
            </div>
        </div>

 
        <div class="row">
            <div class="col-sm-5 form-group pull-right">
                <button class="btn btn-primary" ng-disabled="myForm.$invalid" ng-click="cmdbmanagehuaweicreate.add()">{{'C3T.确认'|translate}}</button>
                <button class="btn btn-warning" ng-click="cmdbmanagehuaweicreate.cancel()">{{'C3T.取消'|translate}}</button>
            </div>
        </div>
    </form>
</div>

<style>.modal-dialog {width: 80%;} </style>
