<div class="row block">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <span class="panel-controls">
                <button class="btn btn-primary" uib-tooltip="刷新" ng-click="createMonitorOncallList.reload()" ><i class="fa fa-refresh fa-fw" ng-class="{'fa-spin':!createMonitorOncallList.loadover}" ></i></button>
                <button class="btn btn-primary" uib-tooltip="关闭" ng-click="createMonitorOncallList.cancel()"><i class="fa fa-times" aria-hidden="true"></i></button>
            </span>
            <h5>值班表</h5>
        </div>


        <div class="modal-body">

            <form class="form-horizontal" name="myForm" role="form">

                <div class="row">
                    <div class="col-sm-10 form-group">
                        <label class="col-sm-3 control-label">名称<a style="color: red;">*</a></label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" placeholder="组名" ng-model="createMonitorOncallList.postData.name" readonly required>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-10 form-group">
                        <label class="col-sm-3 control-label">描述</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" placeholder="监控值班组描述" ng-model="createMonitorOncallList.postData.description" readonly>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 form-group">
                        <div class="col-sm-12">
                            <div class="form-horizontal">
                                 <div style="height:900px;" class="form-group" id="editor" ></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-5 form-group pull-right">
                        <button class="btn btn-warning" ng-click="createMonitorOncallList.cancel()">关闭</button>
                    </div>
                </div>
            </form>

        </div>

    </div>
</div>

<style>.modal-dialog {width: 90%;} </style>
