<div class="modal-header">
    <h4 class="modal-title">{{createMonitorOncallOncall.title|translate}} {{'C3T.值班组'|translate}}</h4>
</div>
<div class="modal-body">

    <form class="form-horizontal" name="myForm" role="form">

        <div class="row">
            <div class="col-sm-10 form-group">
                <label class="col-sm-3 control-label">{{'C3T.名称'|translate}}<a style="color: red;">*</a></label>
                <div class="col-sm-9">
                    <input ng-if="createMonitorOncallOncall.title!=='编辑'" type="text" class="form-control" placeholder="{{'C3T.组名'|translate}}" ng-model="createMonitorOncallOncall.postData.name" required>
                    <input ng-if="createMonitorOncallOncall.title=='编辑'" type="text" class="form-control" placeholder="{{'C3T.组名'|translate}}" ng-model="createMonitorOncallOncall.postData.name" readonly required>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-10 form-group">
                <label class="col-sm-3 control-label">{{'C3T.描述'|translate}}</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="{{'C3T.监控值班组描述'|translate}}" ng-model="createMonitorOncallOncall.postData.description">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 form-group">
                <div class="col-sm-12">
                    <div class="form-horizontal">
                         <div style="height:900px;" class="form-group" id="editor" ></div>
                    </div>
                </div>
            </div>
       </div>

        <div class="row">
            <div class="col-sm-5 form-group pull-right">
                <button class="btn btn-primary" ng-disabled="myForm.$invalid" ng-click="createMonitorOncallOncall.add()">{{'C3T.确认'|translate}}</button>
                <button class="btn btn-warning" ng-click="createMonitorOncallOncall.cancel()">{{'C3T.取消'|translate}}</button>
            </div>
        </div>
    </form>

</div>
