<div class="row block" id="changewidth">

    <div class="panel panel-primary">

        <div class="panel-heading">
            <span class="panel-controls">

                <button class="btn btn-primary" uib-tooltip="{{'C3T.刷新'|translate}}" ng-click="assignmentedit.reload()" ><i class="fa fa-refresh fa-fw" ng-class="{'fa-spin':!assignmentedit.loadover}" ></i></button>
                <button class="btn btn-primary" ng-click="assignmentedit.cancel()" uib-tooltip="{{'C3T.关闭'|translate}}">
                    <i class="fa fa-times fa-fw"></i>
                </button>
            </span>
            <h5>{{'C3T.名称'|translate}}:{{assignmentedit.data.name}}</h5>
        </div>

        <div class="table-responsive" style="width: 100%">
            <table class="table table-bordered" style="font-weight: bold;border: 0px;">
                <tbody>
                    <tr>
                        <td>{{'C3T.创建时间'|translate}}</td>
                        <td>{{assignmentedit.data.create_time}}</td>
                        <td>{{'C3T.结束时间'|translate}}</td>
                        <td>{{assignmentedit.data.finish_time}}</td>
                    </tr>
                    <tr>
                        <td>{{'C3T.提交人'|translate}}</td>
                        <td>{{assignmentedit.data.submitter}}</td>
                        <td>{{'C3T.处理人'|translate}}</td>
                        <td>{{assignmentedit.data.handler}}</td>
                    </tr>

                    <tr>
                        <td>{{'C3T.类型'|translate}}</td>
                        <td>{{assignmentedit.data.type}}</td>
                        <td>{{'C3T.审批名称'|translate}}</td>
                        <td>{{assignmentedit.data.name}}</td>
                    </tr>

                </tbody>
            </table>
        </div>

        <a><pre>{{'C3T.申请详情'|translate}}: {{assignmentedit.data.remarks}}</pre></a>
        <a><pre>{{'C3T.申请理由'|translate}}: {{assignmentedit.data.submit_reason}}</pre></a>
        <a ng-show="!(assignmentedit.show && assignmentedit.data.status==='todo')"><pre>{{'C3T.处理答复'|translate}}: {{assignmentedit.data.handle_reason}}</pre></a>
        <a ng-show="assignmentedit.show && assignmentedit.data.status==='todo'">{{'C3T.处理答复'|translate}}:</a>
        <textarea style="min-height: 100px;" ng-show="assignmentedit.show && assignmentedit.data.status==='todo'" class="form-control" rows="3" cols="100" ng-model="assignmentedit.data.handle_reason" > </textarea>

        <div ng-if="assignmentedit.show" class="panel-footer text-right">
            <button class="btn btn-success" ng-disabled="assignmentedit.data.status!=='todo'" ng-click="assignmentedit.commit()">{{'C3T.提交'|translate}}</button>
            <button class="btn btn-danger" ng-disabled="assignmentedit.data.status!=='todo'"ng-click="assignmentedit.updateStatus('refuse')">{{'C3T.拒绝'|translate}}</button>
        </div>

    </div>

</div>
