<div class="modal-header">
    <h4  class="modal-title">{{'C3T.添加'|translate}} {{'C3T.轻应用'|translate}}</h4>
</div>
<div class="modal-body">
    <form class="form-horizontal" name="myForm" role="form">
        <div ng-show="(!smallapplicationcreate.selectall) && smallapplicationcreate.id==0" class="row">
            <div class="col-sm-10 form-group">
                <label class="col-sm-3 control-label">{{'C3T.作业'|translate}}</label>
                <div class="col-sm-9">
                    <select  class="form-control " style="font-size: 15px;height: 42px"  ng-model="choiceJob" ng-options="s.alias for s in allJobs">
                    </select>
                </div>
            </div>
        </div>
        <div ng-show="( !smallapplicationcreate.selectall ) && smallapplicationcreate.id!=0" class="row">
            <div class="col-sm-10 form-group">
                <label class="col-sm-3 control-label">{{'C3T.作业'|translate}}</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-disabled="1" name="adduser" placeholder="{{'C3T.作业'|translate}}" ng-model="smallapplicationcreate.postdata.jobname">
                </div>
            </div>
        </div>
 
        <div ng-show="!smallapplicationcreate.selectall" class="row">
            <div class="col-sm-10 form-group">
                <label class="col-sm-3 control-label">{{'C3T.标题'|translate}}</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="adduser" placeholder="{{'C3T.标题'|translate}}" ng-model="smallapplicationcreate.postdata.title">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 form-group">
                <label class="col-sm-3 control-label">{{'C3T.类型'|translate}}</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="adduser" placeholder="{{'C3T.类型'|translate}}" ng-model="smallapplicationcreate.postdata.type" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 form-group">
                <label class="col-sm-3 control-label">{{'C3T.描述'|translate}}</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="adduser" placeholder="{{'C3T.描述'|translate}}" ng-model="smallapplicationcreate.postdata.describe" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 form-group">
                <label class="col-sm-3 control-label">{{'C3T.存放位置'|translate}}</label>
                <div class="col-sm-9">
                    <a ng-if="smallapplicationcreate.postdata.treeid!=0" class="fa fa-toggle-off fa-2x" data-toggle="tooltip" data-placement="left" uib-tooltip="轻应用使用的位置" aria-hidden="true"style="padding-top: 11px;font-size: larger;" ng-click="smallapplicationcreate.postdata.treeid=0">{{'C3T.本服务树'|translate}}</a>
                    <a ng-if="smallapplicationcreate.postdata.treeid==0" class="fa fa-toggle-on fa-2x" data-toggle="tooltip" data-placement="left" uib-tooltip="轻应用使用的位置" aria-hidden="true"style="padding-top: 11px;font-size: larger;" ng-click="smallapplicationcreate.postdata.treeid=smallapplicationcreate.treeid">{{'C3T.全局可见'|translate}}</a>
 
                </div>
            </div>
        </div>
 
        <div class="row" ng-if="smallapplicationcreate.id==0">
            <div class="col-sm-5 form-group pull-right">
                <button class="btn btn-primary" ng-disabled="myForm.$invalid || ( (!smallapplicationcreate.selectall) && ( ! choiceJob || ! smallapplicationcreate.postdata.title  ))" ng-click="smallapplicationcreate.add()">{{'C3T.确认'|translate}}</button>
                <button class="btn btn-warning" ng-click="smallapplicationcreate.cancel()">{{'C3T.取消'|translate}}</button>
            </div>
            <div class="col-sm-2">
                <a ng-if="smallapplicationcreate.selectall" class="fa fa-toggle-on fa-2x" data-toggle="tooltip" data-placement="left" uib-tooltip="导入本节点所有JOB" aria-hidden="true"style="padding-top: 11px;font-size: larger;" ng-click="smallapplicationcreate.selectall=0">{{'C3T.全部导入'|translate}}</a>
                <a ng-if="!smallapplicationcreate.selectall" class="fa fa-toggle-off fa-2x" data-toggle="tooltip" data-placement="left" uib-tooltip="导入本节点所有JOB" aria-hidden="true"style="padding-top: 11px;font-size: larger;" ng-click="smallapplicationcreate.selectall=1">{{'C3T.全部导入'|translate}}</a>
            </div>
        </div>

        <div class="row" ng-if="smallapplicationcreate.id!=0">
            <div class="col-sm-5 form-group pull-right">
                <button class="btn btn-primary" ng-disabled="myForm.$invalid || ( ! smallapplicationcreate.postdata.title ) " ng-click="smallapplicationcreate.update()">{{'C3T.确认'|translate}}</button>
                <button class="btn btn-warning" ng-click="smallapplicationcreate.cancel()">{{'C3T.取消'|translate}}</button>
            </div>
        </div>

    </form>
</div>

