<div class="modal-header">
    <h4  class="modal-title">添加轻应用</h4>
</div>
<div class="modal-body">
    <form class="form-horizontal" name="myForm" role="form">
        <div class="row">
            <div class="col-sm-10 form-group">
                <label class="col-sm-3 control-label">作业: &nbsp;</label>
                <div class="col-sm-9">
                    <select  class="form-control " style="font-size: 15px;height: 42px"  ng-model="choiceJob" ng-options="s.alias for s in allJobs" required>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 form-group">
                <label class="col-sm-3 control-label">标题</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="adduser" placeholder="标题" ng-model="smallapplicationcreate.postdata.title" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 form-group">
                <label class="col-sm-3 control-label">类型</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="adduser" placeholder="类型" ng-model="smallapplicationcreate.postdata.type" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 form-group">
                <label class="col-sm-3 control-label">描述</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="adduser" placeholder="描述" ng-model="smallapplicationcreate.postdata.describe" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5 form-group pull-right">
                <button class="btn btn-primary" ng-disabled="myForm.$invalid" ng-click="smallapplicationcreate.add()">确认</button>
                <button class="btn btn-warning" ng-click="smallapplicationcreate.cancel()">取消</button>
            </div>
        </div>
    </form>
</div>

