<div style="background-color: #fff;" >
    <div class="row" style="padding: 0 20px 0;">
        <nodestr></nodestr>
    </div>

    <hr class="mv10 clear">

    <div class="panel panel-primary">

        <div class="panel-heading">
            <h5>{{'C3T.查询条件'|translate}}</h5>
        </div>

        <div class="panel-body">

            <div class="form-horizontal">

                <form class="form-inline" name="searchForm" novalidate>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="form-group col-sm-4" style="padding: 0">
                                <label style="float: left;line-height: 34px;min-width: 90px;text-align: right;">{{'C3T.作业名称'|translate}}：</label>
                                <input type="text" class="form-control"  ng-model="historybpm.taskname" placeholder="{{'C3T.作业名称'|translate}}">
                            </div>
                            <div class="form-group col-sm-4" style="padding: 0">
                                <label style="float: left;line-height: 34px;min-width: 90px;text-align: right;">{{'C3T.发起人'|translate}}：</label>
                                <input type="text" class="form-control" ng-model="historybpm.startuser" placeholder="{{'C3T.发起人'|translate}}">
                                <button type="submit" class="btn btn-default" ng-click="historybpm.getMe()">{{'C3T.我'|translate}}</button>
                            </div>  <div class="form-group col-sm-4" style="padding: 0">
                                <label style="float: left;line-height: 34px;min-width: 90px;text-align: right;">{{'C3T.任务状态'|translate}}：</label>
                            <select class="form-control" ng-init='statusType= [ {"status":null, "name":"C3T.全部"}, {"status":"fail", "name":"C3T.失败"}, {"status":"success", "name":"C3T.成功"}, { "status": "refuse", "name":"C3T.审批拒绝"},{"status":"running", "name":"C3T.执行中"}, {"status":"waiting", "name":"C3T.等待"} ]' ng-model="historybpm.searchStatus"  ng-options="o.status as o.name|translate for o in statusType" > </select>
                            </div>
                        </div>

                        <div class="row" style="margin-top: 23px">

                            <div class="form-group col-sm-6" style="padding: 0">
                                <label style="float: left;line-height: 34px;min-width: 90px;text-align: right;">{{'C3T.日期'|translate}}：</label>
                                <div style="width: 30%" class='input-group date' id='starttime'>
                                    <input type='text' class="form-control"  ng-model="historybpm.starttime" placeholder="{{'C3T.发起时间'|translate}}"/>
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                                <span style="margin: 0 5px;">-</span>
                                <div style="width: 30%" class='input-group date' id='finishtime'>
                                    <input type='text' class="form-control" ng-model="historybpm.finishtime" placeholder="{{'C3T.结束时间'|translate}}"/>
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>

                        </div>


                    </div>

                </form>

                <hr class="mv20 clear" style="margin-top: 30px!important;">
                <div class="col-md-10">
                    <button class="btn btn-primary" ng-click="historybpm.reload()">
                        <i class="fa fa-search fa-fw"></i>{{'C3T.查询'|translate}}
                    </button>
                    <button class="btn btn-success" ng-click="historybpm.Reset()">
                        <i class="fa fa-refresh fa-fw"></i>{{'C3T.重置'|translate}}
                    </button>
                </div>

            </div>

        </div>
    </div>

    <div class="panel panel-dark">

        <div class="panel-heading">
            <span class="panel-controls">
                <button class="btn btn-dark" uib-tooltip="{{'C3T.刷新'|translate}}" ng-click="historybpm.reload()" ><i class="fa fa-refresh fa-fw" style="" ng-class="{'fa-spin':!historybpm.loadover}" ></i></button>
            </span>
            <h5>{{'C3T.列表'|translate}}</h5>
        </div>

        <div class="panel-body" ng-init='openc3_job_system_only=0'>
            <div class="panel-tabs" ng-init='calltype = { "page":"C3T.页面", "api":"API", "crontab":"C3T.计划任务" }'>
                <table ng-table="historybpm.data_Table" class="table table-hover text-center table-condensed">
                    <tr ng-repeat="ss in $data">
                        <td data-title="'C3T.BPM单号'|translate">{{ss.extid}}</td>
                        <td data-title="'C3T.任务名称'|translate">{{ss.alias}}</td>
                        <td data-title="'C3T.发起人'|translate">{{ss.user}}</td>
                        <td data-title="'C3T.处理人'|translate">{{ss.handler}}</td>
                        <td data-title="'C3T.状态'|translate">{{historybpm.statuszh[ss.status]}}</td>
                        <td data-title="'C3T.发起时间'|translate">{{ss.starttime}}</td>
                        <td data-title="'C3T.结束时间'|translate">{{ss.finishtime}}</td>
                        <td data-title="'C3T.耗时'|translate">{{historybpm.seftime(ss.starttime,ss.finishtime)}}</td>
                        <td data-title="'C3T.操作'|translate">
                            <button ng-if="ss.jobtype =='jobs'" class="btn btn-warning btn-sm" ng-click="historybpm.editBpmForm(ss.extid)">{{'C3T.详情'|translate}}</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</div>
