.form-submit-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  &-top {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  &-bottom {
    width: 75%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}

.ui-select-bootstrap>.ui-select-choices,
.ui-select-bootstrap>.ui-select-no-choice {
  width: 100%;
  height: auto;
  overflow-x: hidden;
  margin-top: -1px;
  max-height: 400px !important;
}