<div class="modal-header">
    <h4  class="modal-title">{{'C3T.IDC节点'|translate}}</h4>
</div>
<div class="modal-body">
    <form class="form-horizontal" name="myForm" role="form">

        <div class="row">
            <div class="col-sm-12 form-group">
                <label class="col-sm-3 control-label">{{'C3T.资产编号'|translate}}</label>
                <div class="col-sm-9">
                    <input type="text" ng-disabled="cmdbmanageidcnodecreate.postdata.id" class="form-control" ng-model="cmdbmanageidcnodecreate.postdata.asset_number" placeholder="{{'C3T.如果不填写ID，系统自动会自动生成'|translate}}"/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 form-group">
                <label class="col-sm-3 control-label">{{'C3T.服务器名'|translate}}/Hostname<a style="color: red;">*</a></label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="cmdbmanageidcnodecreate.postdata.server_name" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 form-group">
                <label class="col-sm-3 control-label">{{'C3T.类型'|translate}}<a style="color: red;">*</a></label>
                <div class="col-sm-9">
                    <select id="resource_type" class="form-control"  ng-model="cmdbmanageidcnodecreate.postdata.resource_type">
                        <option ng-repeat="x in ['Physical Serve','Virtual Server','Bare Metal Server','PC','Other']" value="{{x}}">{{x}}</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 form-group">
                <label class="col-sm-3 control-label">{{'C3T.内网IP'|translate}}<a style="color: red;">*</a></label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="cmdbmanageidcnodecreate.postdata.private_ip" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 form-group">
                <label class="col-sm-3 control-label">{{'C3T.公网IP'|translate}}</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="cmdbmanageidcnodecreate.postdata.public_ip" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 form-group">
                <label class="col-sm-3 control-label">{{'C3T.操作系统类型'|translate}}<a style="color: red;">*</a></label>
                <div class="col-sm-9">
                    <select id="operating_system_type" class="form-control"  ng-model="cmdbmanageidcnodecreate.postdata.operating_system_type">
                        <option ng-repeat="x in ['Windows','Linux','Unix','macOS','Chrome OS','Other']" value="{{x}}">{{x}}</option>
                    </select>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 form-group">
                <label class="col-sm-3 control-label">{{'C3T.状态'|translate}}<a style="color: red;">*</a></label>
                <div class="col-sm-9">
                    <select id="status" class="form-control"  ng-model="cmdbmanageidcnodecreate.postdata.status">
                        <option ng-repeat="x in ['Running','Stopped','Maintenance','Deactivated','Retired','Other']" value="{{x}}">{{x}}</option>
                    </select>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 form-group">
                <label class="col-sm-3 control-label">{{'C3T.城市'|translate}}<a style="color: red;">*</a></label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="cmdbmanageidcnodecreate.postdata.city" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 form-group">
                <label class="col-sm-3 control-label">{{'C3T.机房区域'|translate}}<a style="color: red;">*</a></label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="cmdbmanageidcnodecreate.postdata.data_center_area" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 form-group">
                <label class="col-sm-3 control-label">{{'C3T.CPU物理数(颗)'|translate}}<a style="color: red;">*</a></label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="cmdbmanageidcnodecreate.postdata.cpu_physical_count" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 form-group">
                <label class="col-sm-3 control-label">{{'C3T.每颗CPU核数(核)'|translate}}<a style="color: red;">*</a></label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="cmdbmanageidcnodecreate.postdata.cpu_cores_per_chip" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 form-group">
                <label class="col-sm-3 control-label">{{'C3T.内存大小(GB)'|translate}}<a style="color: red;">*</a></label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="cmdbmanageidcnodecreate.postdata.memory_size" />
                </div>
            </div>
        </div>


        <div class="row">
            <label class="col-md-2 control-label fwbold">{{'C3T.展示更多信息'|translate}}:</label>
            <a ng-if="cmdbmanageidcnodecreate.showmore === '1'" class="fa fa-toggle-on fa-2x" data-toggle="tooltip" data-placement="left" uib-tooltip="{{'C3T.隐藏高级配置'|translate}}" aria-hidden="true"style="padding-top: 11px;font-size: larger;" ng-click="cmdbmanageidcnodecreate.showmore='0'"></a>
            <a ng-if="!(cmdbmanageidcnodecreate.showmore === '1' )" class="fa fa-toggle-off fa-2x" data-toggle="tooltip" data-placement="left" uib-tooltip="{{'C3T.显示高级配置'|translate}}" aria-hidden="true"style="padding-top: 11px;font-size: larger;" ng-click="cmdbmanageidcnodecreate.showmore='1'"></a>

        </div>

<div ng-if="cmdbmanageidcnodecreate.showmore === '1'" >
        <hr>

        <div class="row">
            <div class="col-sm-12 form-group">
                <label class="col-sm-3 control-label">{{'C3T.业务负责人'|translate}}</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="cmdbmanageidcnodecreate.postdata.product_owner" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 form-group">
                <label class="col-sm-3 control-label">{{'C3T.运维负责人'|translate}}</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="cmdbmanageidcnodecreate.postdata.ops_owner" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 form-group">
                <label class="col-sm-3 control-label">{{'C3T.部门'|translate}}</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="cmdbmanageidcnodecreate.postdata.department" />
                </div>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-sm-12 form-group">
                <label class="col-sm-3 control-label">{{'C3T.SN设备序列号'|translate}}</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="cmdbmanageidcnodecreate.postdata.serial_number" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 form-group">
                <label class="col-sm-3 control-label">{{'C3T.子类'|translate}}</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="cmdbmanageidcnodecreate.postdata.sub_type" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 form-group">
                <label class="col-sm-3 control-label">{{'C3T.品牌'|translate}}</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="cmdbmanageidcnodecreate.postdata.brand" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 form-group">
                <label class="col-sm-3 control-label">{{'C3T.型号'|translate}}</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="cmdbmanageidcnodecreate.postdata.model" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 form-group">
                <label class="col-sm-3 control-label">{{'C3T.用途'|translate}}</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="cmdbmanageidcnodecreate.postdata.usage" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 form-group">
                <label class="col-sm-3 control-label">{{'C3T.机柜列（例：F2-01）'|translate}}</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="cmdbmanageidcnodecreate.postdata.rack_column" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 form-group">
                <label class="col-sm-3 control-label">{{'C3T.机柜号'|translate}}</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="cmdbmanageidcnodecreate.postdata.rack_number" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 form-group">
                <label class="col-sm-3 control-label">{{'C3T.机架开始位置'|translate}}</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="cmdbmanageidcnodecreate.postdata.rack_start_position" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 form-group">
                <label class="col-sm-3 control-label">{{'C3T.机架结束位置'|translate}}</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="cmdbmanageidcnodecreate.postdata.rack_end_position" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 form-group">
                <label class="col-sm-3 control-label">{{'C3T.质保开始时间'|translate}}</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="cmdbmanageidcnodecreate.postdata.warranty_start_date" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 form-group">
                <label class="col-sm-3 control-label">{{'C3T.质保结束时间'|translate}}</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="cmdbmanageidcnodecreate.postdata.warranty_end_date" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 form-group">
                <label class="col-sm-3 control-label">{{'C3T.Gpu'|translate}}</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="cmdbmanageidcnodecreate.postdata.gpu" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 form-group">
                <label class="col-sm-3 control-label">{{'C3T.Gpu型号'|translate}}</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="cmdbmanageidcnodecreate.postdata.gpu_model" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 form-group">
                <label class="col-sm-3 control-label">{{'C3T.Gpu规格'|translate}}</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="cmdbmanageidcnodecreate.postdata.gpu_specification" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 form-group">
                <label class="col-sm-3 control-label">{{'C3T.CPU型号'|translate}}</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="cmdbmanageidcnodecreate.postdata.cpu_model" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 form-group">
                <label class="col-sm-3 control-label">{{'C3T.CPU主频'|translate}}</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="cmdbmanageidcnodecreate.postdata.cpu_frequency" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 form-group">
                <label class="col-sm-3 control-label">{{'C3T.内存通道数(个)'|translate}}</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="cmdbmanageidcnodecreate.postdata.memory_channel_count" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 form-group">
                <label class="col-sm-3 control-label">{{'C3T.内存插槽总数(个)'|translate}}</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="cmdbmanageidcnodecreate.postdata.memory_slot_count" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 form-group">
                <label class="col-sm-3 control-label">{{'C3T.内存规格（例：DDR4）'|translate}}</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="cmdbmanageidcnodecreate.postdata.memory_specification" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 form-group">
                <label class="col-sm-3 control-label">{{'C3T.内存数量'|translate}}</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="cmdbmanageidcnodecreate.postdata.memory_count" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 form-group">
                <label class="col-sm-3 control-label">{{'C3T.非RAID磁盘类型(例：SAS)'|translate}}</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="cmdbmanageidcnodecreate.postdata.non_raid_disk_type" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 form-group">
                <label class="col-sm-3 control-label">{{'C3T.非RAID磁盘大小(GB)'|translate}}</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="cmdbmanageidcnodecreate.postdata.non_raid_disk_size" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 form-group">
                <label class="col-sm-3 control-label">{{'C3T.非RAID磁盘数量'|translate}}</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="cmdbmanageidcnodecreate.postdata.non_raid_disk_count" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 form-group">
                <label class="col-sm-3 control-label">{{'C3T.非RAID后磁盘容量（GB）'|translate}}</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="cmdbmanageidcnodecreate.postdata.non_raid_disk_capacity" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 form-group">
                <label class="col-sm-3 control-label">{{'C3T.RAID类型(例：Raid1)'|translate}}</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="cmdbmanageidcnodecreate.postdata.raid_type" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 form-group">
                <label class="col-sm-3 control-label">{{'C3T.RAID磁盘类型(例：SAS)'|translate}}</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="cmdbmanageidcnodecreate.postdata.raid_disk_type" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 form-group">
                <label class="col-sm-3 control-label">{{'C3T.RAID磁盘大小（单位/GB）'|translate}}</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="cmdbmanageidcnodecreate.postdata.raid_disk_size" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 form-group">
                <label class="col-sm-3 control-label">{{'C3T.RAID磁盘数量'|translate}}</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="cmdbmanageidcnodecreate.postdata.raid_disk_count" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 form-group">
                <label class="col-sm-3 control-label">{{'C3T.RAID后磁盘容量（单位/GB）'|translate}}</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="cmdbmanageidcnodecreate.postdata.raid_disk_capacity" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 form-group">
                <label class="col-sm-3 control-label">{{'C3T.RAID卡型号(例：LSI MegaRAID ASA 9260-8i)'|translate}}</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="cmdbmanageidcnodecreate.postdata.raid_card_model" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 form-group">
                <label class="col-sm-3 control-label">{{'C3T.RAID卡数量'|translate}}</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="cmdbmanageidcnodecreate.postdata.raid_card_count" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 form-group">
                <label class="col-sm-3 control-label">{{'C3T.RAID卡背板带宽(Gb/s)'|translate}}</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="cmdbmanageidcnodecreate.postdata.raid_card_bandwidth" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 form-group">
                <label class="col-sm-3 control-label">{{'C3T.网卡详情(例：EXPI9400PTBLK)'|translate}}</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="cmdbmanageidcnodecreate.postdata.network_card_details" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 form-group">
                <label class="col-sm-3 control-label">{{'C3T.操作系统版本'|translate}}</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="cmdbmanageidcnodecreate.postdata.operating_system_version" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 form-group">
                <label class="col-sm-3 control-label">{{'C3T.操作系统位数'|translate}}</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="cmdbmanageidcnodecreate.postdata.operating_system_bit" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 form-group">
                <label class="col-sm-3 control-label">{{'C3T.带外管理MAC(公网管理MAC地址)'|translate}}</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="cmdbmanageidcnodecreate.postdata.out_of_band_management_mac" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 form-group">
                <label class="col-sm-3 control-label">{{'C3T.带外管理IP（公网管理IP地址）'|translate}}</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="cmdbmanageidcnodecreate.postdata.out_of_band_management_ip" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 form-group">
                <label class="col-sm-3 control-label">{{'C3T.报警接收人'|translate}}</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="cmdbmanageidcnodecreate.postdata.alarm_recipient" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 form-group">
                <label class="col-sm-3 control-label">{{'C3T.备注'|translate}}</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="cmdbmanageidcnodecreate.postdata.remarks" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 form-group">
                <label class="col-sm-3 control-label">{{'C3T.采购时间'|translate}}</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="cmdbmanageidcnodecreate.postdata.purchase_time" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 form-group">
                <label class="col-sm-3 control-label">{{'C3T.采购申请人'|translate}}</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="cmdbmanageidcnodecreate.postdata.purchaser" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 form-group">
                <label class="col-sm-3 control-label">{{'C3T.采购合同号'|translate}}</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="cmdbmanageidcnodecreate.postdata.purchase_contract_number" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 form-group">
                <label class="col-sm-3 control-label">{{'C3T.采购价格'|translate}}</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="cmdbmanageidcnodecreate.postdata.purchase_price" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 form-group">
                <label class="col-sm-3 control-label">{{'C3T.发票号'|translate}}</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="cmdbmanageidcnodecreate.postdata.invoice_number" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 form-group">
                <label class="col-sm-3 control-label">{{'C3T.资本化日期(设备正式使用日期)'|translate}}</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="cmdbmanageidcnodecreate.postdata.capitalization_date" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 form-group">
                <label class="col-sm-3 control-label">{{'C3T.资源展示名称（资源在列表中展示名称）'|translate}}</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="cmdbmanageidcnodecreate.postdata.resource_display_name" />
                </div>
            </div>
        </div>

</div>
        <div class="row">
            <div class="col-sm-5 form-group pull-right">
                <button class="btn btn-primary" ng-disabled="myForm.$invalid" ng-click="cmdbmanageidcnodecreate.add()">{{'C3T.确认'|translate}}</button>
                <button class="btn btn-warning" ng-click="cmdbmanageidcnodecreate.cancel()">{{'C3T.取消'|translate}}</button>
            </div>
        </div>
    </form>
</div>

<style>.modal-dialog {width: 60%;} </style>
