<cmloading ng-if="!allalerts.loadover"></cmloading>
<div class="row block" >

<div>
  <div style="position: fixed; top: 80px; right: 10px; display: flex; flex-direction: column; align-items: flex-end; z-index: 9999;">
    <button ng-click="allalerts.debugswitch()" style="width: 50px; height: 50px; border-radius: 50%; background-color: #FF6633; color: white;">debug</button>
</div> 
  <div class="admin-form row filter-switch">
    <div class="filter-switch-items">
      <button class="btn btn-primary interval-button-style" ng-disabled="allalerts.checkboxes.itemsNumber === 0 " uib-tooltip="{{'C3T.批量认领'|translate}}" ng-click="allalerts.handleBatchClaim()">{{'C3T.批量认领'| translate}}</button>
    </div>
    <div class="filter-switch-items">
      <div class="filter-switch-items-label control-label fwbold">{{'C3T.显示已抑制的告警'|translate}}：</div>
      <div class="filter-switch-items-context">
        <label class="switch switch-system filter-switch-items-context-label">
          <input type="checkbox" id="check_status" ng-model="allalerts.checknewstatus" ng-change="allalerts.handleSaveStatusChange()">
          <label for="check_status" data-on="ON" data-off="OFF"></label>
        </label>
      </div>
    </div>

    <div class="filter-switch-items">
      <div class="filter-switch-items-label control-label fwbold">{{'C3T.显示已认领'|translate}}：</div>
      <div class="filter-switch-items-context">
        <label class="switch switch-system  filter-switch-items-context-label">
          <input type="checkbox" id="claim_status" ng-model="allalerts.claimStatus" ng-change="allalerts.handleSaveStatusChange()">
          <label for="claim_status" data-on="ON" data-off="OFF"></label>
        </label>
    </div>
    </div>

    <div class="filter-switch-items">
      <div class="filter-switch-items-label control-label fwbold">{{'C3T.告警级别'|translate}}：</div>
      <div class="filter-switch-items-context">
        <ui-select class="" ng-model="allalerts.alarmLevel" placeholder="{{'C3T.告警级别'|translate}}" ng-change="allalerts.handleAlarmChange($select.selected.value)">
          <ui-select-match placeholder="{{'C3T.告警级别'| translate}}"><span class="item-label">{{$select.selected.label}}</span></ui-select-match>
          <ui-select-choices repeat="item.value as item in allalerts.levelOption | filter: $select.search"><div ng-bind-html="item.label | highlight: $select.search"></div></ui-select-choices>
        </ui-select>
      </div>
    </div>
    
    <div class="filter-switch-items">
      <div class="filter-switch-items-label control-label fwbold">{{'C3T.定时刷新'| translate}}：</div>
      <div class="filter-switch-items-context">
        <button class="btn btn-success interval-button-style" ng-disabled="allalerts.isInterval" uib-tooltip="{{'C3T.开启定时刷新'|translate}}" ng-click="allalerts.handleOpenChange('open')">{{'C3T.开启'| translate}}</button>
        <button class="btn btn-danger interval-button-style" ng-disabled="!allalerts.isInterval" uib-tooltip="{{'C3T.暂定定时刷新'|translate}}" ng-click="allalerts.handleOpenChange('close')">{{'C3T.暂停'| translate}}</button>
      </div>
    </div>
  </div>

    <div class="panel panel-primary">

        <div class="panel-heading">
            <span class="panel-controls">
                <button ng-disabled="allalerts.dataTable.length === 0" class="device-export" uib-tooltip="{{'C3T.导出'|translate}}" 
                ng-click="allalerts.downloadFunc('当前告警.xlsx')">
                   <i class="fa fa-download fa-1x" aria-hidden="true"></i></i>
                </button>
                <button class="btn btn-primary refresh-style" uib-tooltip="{{'C3T.刷新'|translate}}" ng-click="allalerts.reload()" ><i class="fa fa-refresh fa-fw" ng-class="{'fa-spin':!allalerts.loadAover || !allalerts.loadBover || !allalerts.loadCover}" ></i></button>
            </span>
            <h5>{{'C3T.当前告警'|translate}}</h5>
        </div>

        <div class="panel-body">
            <div class="panel-tabs">
                <table ng-table="allalerts.dataTable" class="table table-hover text-center table-condensed" show-filter="true">
                    <tr ng-repeat="m in $data" ng-class="{'first-almost': m.labels.severity === 'level1','second-almost': m.labels.severity === 'level2','third-almost': m.labels.severity === 'level3','forth-almost': m.labels.severity === 'level4'}">
                        <td header="'headerCheckbox.html'" data-title="">
                          <input type="checkbox" name="selected" ng-model="allalerts.checkboxes.items[m.uuid]" />
                        </td>  
                        <td data-title="'uuid'"  filter="{uuid: 'text'}" ng-if="allalerts.hasDebugStatus">{{m.uuid}}</td>  
                        <td data-title="'C3T.开始时间'|translate" sortable="'startsAt'" filter="{startsAt: 'text'}">{{m.startsAt}}</td>
                        <td data-title="'C3T.名称'|translate" sortable="'labels.alertname'" filter="{labelsAlertname: 'text'}">{{m.labels.alertname}}</td>
                        <td data-title="'C3T.监控对象'|translate" sortable="'labels.instance'" filter="{labelsObj: 'text'}">{{allalerts.getinstancename(m.labels)}}</td>
                        <td data-title="'Owner'" sortable="'labels.owner'" filter="{owner: 'text'}">{{m.owner}}</td>
                        <td data-title="'C3T.资源别名'|translate" sortable="'labels.hostname'" filter="{hostname: 'text'}">{{m.hostname}}</td>
                        <td width="70" data-title="'C3T.状态'|translate" sortable="'status.state'" filter="{statueState: 'text'}">{{m.status.state}}</td>
                        <td width="90" data-title="'C3T.告警级别'|translate" sortable="'labels.severity'" filter="{labelsSeverity: 'text'}">{{m.labels.severity}}</td>
                        <td data-title="'C3T.概要'|translate" sortable="'annotations.summary'" filter="{annotationsSummary: 'text'}">{{m.annotations.summary}}</td>
                        <td width="60" data-title="'C3T.值'|translate" sortable="'annotations.value'" filter="{annotationsValue: 'text'}">{{m.annotations.value}}</td>
                        <td class="textcenter"  data-title="'C3T.认领人'|translate" filter="{claimUuid: 'text'}"> {{allalerts.dealinfo[m.uuid]}} </td>
                        <td class="textcenter"  data-title="'C3T.关联工单'|translate">
                            <div ng-repeat="caseuuid in allalerts.tottbind[m.uuid]">
                                <i class="fa fa-search fa-1x" aria-hidden="true" ng-click="allalerts.openTT(m.uuid, caseuuid)" uib-tooltip="{{'C3T.查看'|translate}}" style="cursor:pointer;color: #339094;" >{{caseuuid}}</i>
                            </div>
                        </td>
 
                        <td class="textcenter"  data-title="'C3T.操作'|translate" width="200">
                           <button class="btn btn-primary btn-sm" ng-click="allalerts.openOneTab(m.generatorURL)">{{'C3T.查看图表'|translate}}</button>
                           <button class="btn btn-primary btn-sm" ng-click="allalerts.tott(m)">{{'C3T.转工单'|translate}}</button>
                           <button class="btn btn-primary btn-sm" ng-click="allalerts.deal(m, 'single', [])">{{'C3T.认领'|translate}}</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="headerCheckbox.html">
  <input type="checkbox" ng-model="allalerts.checkboxes.checked"  class="select-all"/>
</script>

</div>

<style>
  .filter-switch {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 15px;
    flex:1
  }

  .filter-switch-items {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 20px;
  }

  .filter-switch-items-label {
    margin-right: 5px;
  }

  .filter-switch-items-context {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .filter-switch-items-context-label {
    margin-bottom: 0!important;
  }

  .first-almost {
    background-color: #f5a2a2!important;
  }

  .second-almost {
    background-color: #ebcccc!important;
  }

  .third-almost {
    background-color: #faf2cc!important;
  }

  .forth-almost {
    background-color: #d9edf7!important;
  }

  .interval-button-style {
    margin:0 10px!important;
  }

  .device-export {
    text-align: right;
    background-color: transparent;
    line-height: normal;
    border-color: transparent;
    padding: 12px;
  }
  .refresh-style {
    margin-top: -10px;
    padding-bottom: 3px;
  }
</style>
