<div class="modal-header">
    <h4  class="modal-title">添加用户地址簿</h4>
</div>
<div class="modal-body">
    <form class="form-horizontal" name="myForm" role="form">
        <div class="row">
            <div class="col-sm-10 form-group">
                <label class="col-sm-3 control-label">用户</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="adduser" placeholder="用户" ng-model="useraddrcreate.postdata.user" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 form-group">
                <label class="col-sm-3 control-label">邮箱地址</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="adduser" placeholder="邮箱地址" ng-model="useraddrcreate.postdata.email" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 form-group">
                <label class="col-sm-3 control-label">手机号</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="adduser" placeholder="手机号" ng-model="useraddrcreate.postdata.phone" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 form-group">
                <label class="col-sm-3 control-label">语音信箱</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="adduser" placeholder="语音信箱,为空时为和手机号一致" ng-model="useraddrcreate.postdata.voicemail">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5 form-group pull-right">
                <button class="btn btn-primary" ng-disabled="myForm.$invalid" ng-click="useraddrcreate.add()">确认</button>
                <button class="btn btn-warning" ng-click="useraddrcreate.cancel()">取消</button>
            </div>
        </div>
    </form>
</div>

