<div class="row block">
    <h2>{{'C3T.用户地址簿管理'|translate}}</h2>
    <hr class="mv20 clear">

    <div>
        <div style="float: right;">
            <form class="form-inline" name="myForm" novalidate>
                <button type="submit" class="btn btn-primary" style="padding: 10px 25px" ng-click="useraddr.createUseraddr()"><i class="fa fa-plusecircle fa-lg" aria-hidden="true"></i> {{'C3T.添加通信地址'|translate}}</button>
            </form>
        </div>
        <div style="clear: both;">&nbsp;</div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <span class="panel-controls">
                <button class="btn btn-primary" uib-tooltip="{{'C3T.刷新'|translate}}" ng-click="useraddr.reload()" ><i class="fa fa-refresh fa-fw" ng-class="{'fa-spin':!useraddr.loadover}" ></i></button>
            </span>
            <h5>{{'C3T.地址簿'|translate}}</h5>
        </div>

        <div class="panel-body">
            <div class="pt20" style="overflow: auto;">
                <table ng-table="useraddr.dataTable" class="table table-scroll table-hover text-center table-condensed" show-filter="true">
                    <tr ng-repeat="m in $data">
                        <td width="60" class="textcenter" data-title="'ID'" filter="{ id: 'text'}" sortable="'id'"> {{m.id}} </td>
                        <td data-title="'C3T.用户'|translate" width="80" filter="{ user: 'text'}" sortable="'user'">{{m.user}}</td>
                        <td data-title="'C3T.邮箱地址'|translate" width="80" filter="{ email: 'text'}" sortable="'email'">{{m.email}}</td>
                        <td data-title="'C3T.手机号'|translate" width="80" filter="{ phone: 'text'}" sortable="'phone'">{{m.phone}}</td>
                        <td data-title="'C3T.语音信箱'|translate" width="80" filter="{ voicemail: 'text'}" sortable="'voicemail'">{{m.voicemail}}</td>
                        <td data-title="'C3T.最后编辑人'|translate" width="80" filter="{ edit_user: 'text'}" sortable="'edit_user'">{{m.edit_user}}</td>
                        <td data-title="'C3T.更新时间'|translate" width="80" filter="{ edit_time: 'text'}" sortable="'edit_time'">{{m.edit_time}}</td>
                        <td data-title="'C3T.操作'|translate" width="80" >
                            <i class="fa fa-times-circle fa-2x" aria-hidden="true" ng-click="useraddr.deleteUseraddr(m.id)" uib-tooltip="{{'C3T.删除'|translate}}" style="cursor:pointer;color: red;" ></i>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
