<div class="row block">

    <div>
        <div style="float: right;">
            <form class="form-inline" name="myForm" novalidate>
                <button type="submit" class="btn btn-primary" style="padding: 10px 25px" ng-click="monitoroncall.createOncall({},'添加')"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i> 添加告警值班组</button>
            </form>
        </div>
        <div style="clear: both;">&nbsp;</div>
    </div>


    <div class="panel panel-primary">
        <div class="panel-heading">
            <span class="panel-controls">
                <button class="btn btn-primary" uib-tooltip="刷新" ng-click="monitoroncall.reload()" ><i class="fa fa-refresh fa-fw" ng-class="{'fa-spin':!monitoroncall.loadover}" ></i></button>
            </span>
            <h5>值班表管理</h5>
        </div>

        <div class="panel-body flowline">
            <div class="pt20" style="overflow: auto;">
                <table ng-table="monitoroncall.oncallTable" class="table table-scroll table-hover text-center table-condensed" show-filter="true">
                    <tr ng-repeat="m in $data">
                        <td data-title="'编号'" sortable="'id'">{{m.id}}</td>
                        <td data-title="'名称'" sortable="'name'">{{m.name}}</td>
                        <td data-title="'描述'" sortable="'summary'">{{m.description}}</td>
                        <td data-title="'编辑者'" sortable="'edit_user'">{{m.edit_user}}</td>
                        <td data-title="'编辑时间'" sortable="'edit_time'">{{m.edit_time}}</td>
                        <td class="textcenter"  data-title="'操作'">
                            <nobr>
                                <i class="fa fa-list fa-2x" aria-hidden="true" ng-click="monitoroncall.oncallList(m)" uib-tooltip="值班表" style="cursor:pointer;color: #339094;" ></i>
                                <i class="fa fa-calendar fa-2x" aria-hidden="true" ng-click="monitoroncall.oncallCal(m)" uib-tooltip="值班日历" style="cursor:pointer;color: #339094;" ></i>
                                <i class="fa fa-cog fa-2x" aria-hidden="true" ng-click="monitoroncall.createOncall(m,'编辑')" uib-tooltip="编辑" style="cursor:pointer;color: #339094;" ></i>
                                <i class="fa fa-times-circle fa-2x" aria-hidden="true" ng-click="monitoroncall.deleteOncall(m.id)" uib-tooltip="删除" style="cursor:pointer;color: red;" ></i>
                            </nobr>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</div>
