---
name: SQS权限
option:
  - name: sqs_addr
    describe: SQS地址
    type: input
    value: ""

  - name: auth_ip
    describe: 授权访问IP
    type: input
    value: ""

  - name: note
    describe: 申请理由
    type: text
    value: ""

template_argv:
  title:    "BPM/${_bpmuuid_}/SQS权限"
  content:  |
    BPM标题: SQS权限
    BPM地址: ${_caseurl_}

    SQS地址: ${sqs_addr}
    授权访问IP: ${auth_ip}
    申请理由: ${note}
