.showtt .form-group{
    margin-bottom: 5px;
}

.newtt .form-group{
    margin-bottom: 5px;
}

.status-flow{
    padding:5px;
}
.status-flow span{
    text-align:center;
}
.status-flow span h5, .status-flow span h4{
    display:inline-block;
    position:relative;
    padding:0 15px;
}
.status-flow span h4{
    font-size:14px;
    color:red;
}
.status-flow span h5:after{
    content:"->";
    position:absolute;
    right:-10px;
    top:5px;
}

.tteditor{
    overflow:scroll;
    height:200px;
    border:1px solid #ccc;
    padding:10px;
}

.tt-closed{
    position:absolute;
    top:100px;
    right:30px;
    width:140px;
    height:140px;
    background:url("/assets/images/stamp_closed.png");
    background-repeat:no-repeat;
    background-position:top right;
    z-index:1000;
}

.solution-highlight{
    border: 2px solid #f00;
}

.reply-log{
    padding:0 0 10px 5px;
    border-bottom: 1px solid #eee;
}
.reply-log h5{
    font-size:16px;
    font-weight: bold;
}
.reply-log h5 small{
    font-size:12px;
    color: #333;
}

/* nav tabs */
ul.nav.nav-tabs {
    border-bottom: 5px solid #e52 !important;
}
ul.nav.nav-tabs li a {
    border: 0px;
    background: none;
    padding: 10px 20px;
    font-size: 14px;
}
ul.nav.nav-tabs li.active a {
    background: #e52;
    color: #fff;
    border: 0px;
}

ul.nav.nav-tabs li.active a:focus {
    border:none;
}
ul.nav.nav-tabs li.active a:hover {
    border:none;
}

.nav-tabs {
    border-color: #e5e5e5 !important;
}
.nav-tabs li a {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

.tab-content {
    background: #fff;
    padding: 20px 15px;
    margin-bottom: 20px;
    border: 1px solid;
    border-color: #e5e5e5 !important;
    border-top: 0;
}

/* table */

.table.br-n th, .table.br-n td{
    border: none;
}

.table-layout {
    display: table;
    table-layout: fixed;
    width: 100%;
    margin: 0;
}

label{
    font-weight:bold;
} 

.form-control-static {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0;
    min-height: 32px;
}
