.navigation-table-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  &-content {
    background-color: #FF6633;
    width: 30px;
    height: 30px;
    min-width: 30px;
    min-height: 30px;
    padding: 5px;
    border-radius: 50%;
    margin: 10px 10px 10px;
    img {
      width: 100%;
      height: 100%;
    }
  }

}

.line-feed {
  white-space: pre-wrap;
  margin: 0 auto;
}
.line-feed-min {
  min-width: 300px;
  margin: 0 10px;

}