<div class="row block">
    <h2>CI {{'C3T.任务监视器'|translate}} {{'C3T.内存使用'|translate}}({{ciwatcher.mem.used}}/{{ciwatcher.mem.total}}) {{'C3T.剩余'|translate}}{{ciwatcher.mem.free}}M</h2>
    <hr class="mv20 clear">

    <div class="panel panel-primary">
        <div class="panel-heading">
            <span class="panel-controls">
                <button class="btn btn-primary" uib-tooltip="刷新" ng-click="ciwatcher.reload()" ><i class="fa fa-refresh fa-fw" ng-class="{'fa-spin':!ciwatcher.loadover}" ></i></button>
            </span>
            <h5>CI {{'C3T.队列'|translate}}</h5>
        </div>

        <div class="panel-body">
            <div class="pt20" style="overflow: auto;">
                <table ng-table="ciwatcher.readyTable" class="table table-scroll table-hover text-center table-condensed" show-filter="true">
                    <tr ng-repeat="m in $data">
                        <td width="60" class="textcenter" data-title="'C3T.流水线ID'|translate" filter="{ project_id: 'text'}" sortable="'project_id'"> {{m.project_id}} </td>
                        <td width="60" class="textcenter" data-title="'C3T.服务树ID'|translate" filter="{ project_groupid: 'text'}" sortable="'project_groupid'"> {{m.project_groupid}} </td>
                        <td data-title="'C3T.流水线名称'|translate" width="80" filter="{ project_name: 'text'}" sortable="'project_name'">{{m.project_name}}</td>
                        <td data-title="'C3T.TAG版本'|translate" width="80" filter="{ version_name: 'text'}" sortable="'version_name'">{{m.version_name}}</td>
                        <td data-title="'C3T.运行节点'|translate" width="80" filter="{ version_slave: 'text'}" sortable="'version_slave'">{{m.version_slave}}</td>
                        <td data-title="'C3T.CPU限制(核)'|translate" width="80" filter="{ project_cpulimit: 'text'}" sortable="'project_cpulimit'">{{m.project_cpulimit}}</td>
                        <td data-title="'C3T.内存限制(兆)'|translate" width="80" filter="{ project_memlimit: 'text'}" sortable="'project_memlimit'">{{m.project_memlimit}}</td>
                        <td data-title="'C3T.当前状态'|translate" width="80" filter="{ version_status: 'text'}" sortable="'version_status'">{{m.version_status}}</td>
                        <td data-title="'C3T.队列序号'|translate" width="80" filter="{ version_queueid: 'text'}" sortable="'version_queueid'">{{m.version_queueid}}</td>
                        <td data-title="'C3T.操作'|translate" width="80" >
                            <i class="fa fa-chevron-circle-right fa-2x" aria-hidden="true" ng-click="ciwatcher.versiondetail(m.project_groupid, m.project_id)" uib-tooltip="进入" style="cursor:pointer;color: #339094;" ></i>
                            <i class="fa fa-chevron-circle-up fa-2x" aria-hidden="true" ng-click="ciwatcher.jump(m.version_uuid)" uib-tooltip="插队" style="cursor:pointer;color: red;" ></i>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <span class="panel-controls">
                <button class="btn btn-primary" uib-tooltip="刷新" ng-click="ciwatcher.reload()" ><i class="fa fa-refresh fa-fw" ng-class="{'fa-spin':!ciwatcher.loadover}" ></i></button>
            </span>
            <h5>{{'C3T.正在运行'|translate}}</h5>
        </div>

        <div class="panel-body">
            <div class="pt20" style="overflow: auto;">
                <table ng-table="ciwatcher.runningTable" class="table table-scroll table-hover text-center table-condensed" show-filter="true">
                    <tr ng-repeat="m in $data">
                        <td width="60" class="textcenter" data-title="'C3T.流水线ID'|translate" filter="{ project_id: 'text'}" sortable="'project_id'"> {{m.project_id}} </td>
                        <td width="60" class="textcenter" data-title="'C3T.服务树ID'|translate" filter="{ project_groupid: 'text'}" sortable="'project_groupid'"> {{m.project_groupid}} </td>
                        <td data-title="'C3T.流水线名称'|translate" width="80" filter="{ project_name: 'text'}" sortable="'project_name'">{{m.project_name}}</td>
                        <td data-title="'C3T.TAG版本'|translate" width="80" filter="{ version_name: 'text'}" sortable="'version_name'">{{m.version_name}}</td>
                        <td data-title="'C3T.运行节点'|translate" width="80" filter="{ version_slave: 'text'}" sortable="'version_slave'">{{m.version_slave}}</td>
                        <td data-title="'C3T.CPU限制(核)'|translate" width="80" filter="{ project_cpulimit: 'text'}" sortable="'project_cpulimit'">{{m.project_cpulimit}}</td>
                        <td data-title="'C3T.内存限制(兆)'|translate" width="80" filter="{ project_memlimit: 'text'}" sortable="'project_memlimit'">{{m.project_memlimit}}</td>
                        <td data-title="'C3T.当前状态'|translate" width="80" filter="{ version_status: 'text'}" sortable="'version_status'">{{m.version_status}}</td>
                        <td data-title="'C3T.队列序号'|translate" width="80" filter="{ version_queueid: 'text'}" sortable="'version_queueid'">{{m.version_queueid}}</td>
                        <td data-title="'C3T.操作'|translate" width="80" >
                            <i class="fa fa-chevron-circle-right fa-2x" aria-hidden="true" ng-click="ciwatcher.versiondetail(m.project_groupid, m.project_id)" uib-tooltip="进入" style="cursor:pointer;color: #339094;" ></i>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</div>
