---
name: 工单处理
option:
  - describe: 域名
    name: domain
    type: text
    value: ""
  - describe: 原解析
    name: target
    type: text
    value: ""
  - describe: 申请理由
    name: note
    type: text
    value: ""

template_argv:
  title:    "BPM/${_bpmuuid_}/域名解析/删除"
  content:  |
    BPM标题: 域名解析/删除
    BPM地址: ${_caseurl_}

    域名: ${domain}
    原解析: ${target}
    申请理由: ${note}
