<div class="modal-header">
    <h4 class="modal-title">负载详情</h4>
</div>
<div class="modal-body">

    <form class="form-horizontal" name="myForm" role="form">

        <div class="panel panel-primary">
            <div class="panel-heading">
                <span class="panel-controls">
                    <button class="btn btn-primary" uib-tooltip="{{'C3T.刷新'|translate}}" ng-click="MonitorNodeLowDetail.reload()" ><i class="fa fa-refresh fa-fw" ng-class="{'fa-spin':!MonitorNodeLowDetail.loadover}" ></i></button>
                </span>
                <h5>机器负载详情:{{MonitorNodeLowDetail.ip}}</h5>
            </div>

            <div class="panel-body flowline">
                <div class="pt20" style="overflow: auto;">
                    <table ng-table="MonitorNodeLowDetail.dataTable" class="table table-scroll table-hover text-center table-condensed" show-filter="true">
                        <tr ng-repeat="m in $data">
                            <td data-title="'日期'" sortable="'id'">{{m.date}}</td>
                            <td data-title="'状态'" sortable="'status'" filter="{ status: 'text'}" >
                                <a ng-if="m.status=='low'"    style="color: red"     >{{m.status}}<a>
                                <a ng-if="m.status=='warn'"   style="color: #f6bb42" >{{m.status}}<a>
                                <a ng-if="m.status=='normal'" style="color: green"   >{{m.status}}<a>
                                <a ng-if="m.status=='nodata'" style="color: #555"    >{{m.status}}<a>
                                <a ng-if="m.status=='unkown'" >{{m.status}}<a>
                            </td>
                            <td data-title="'CPU(%)'"         sortable="'cpu'"   >{{m.cpu}}</td>
                            <td data-title="'内存(%)'"        sortable="'mem'"   >{{m.mem}}</td>
                            <td data-title="'下载带宽'"    sortable="'netin'" >
                                <a ng-if="1048576 < m.netin"                    >{{m.netin / 1048576 | number : 2 }} Mb/s<a>
                                <a ng-if="1024 < m.netin && m.netin <= 1048576" >{{m.netin / 1024    | number : 2 }} kb/s<a>
                                <a ng-if="m.netin <= 1024"                      >{{m.netin                        }}  b/s<a>
                            </td>
                            <td data-title="'上传带宽'"    sortable="'netout'" >
                                <a ng-if="1048576 < m.netout"                     >{{m.netout / 1048576 | number : 2 }} Mb/s<a>
                                <a ng-if="1024 < m.netout && m.netout <= 1048576" >{{m.netout / 1024    | number : 2 }} kb/s<a>
                                <a ng-if="m.netout <= 1024"                       >{{m.netout                        }}  b/s<a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-5 form-group pull-right">
                <button class="btn btn-warning" ng-click="MonitorNodeLowDetail.cancel()">取消</button>
            </div>
        </div>
    </form>

</div>
