<div class="row block">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <span class="panel-controls">
                <button class="btn btn-primary" uib-tooltip="刷新" ng-click="monitornodelow.reload()" ><i class="fa fa-refresh fa-fw" ng-class="{'fa-spin':!monitornodelow.loadover}" ></i></button>
            </span>
            <h5>资源利用率低:  (低利用率计算方式: CPU平均利用率小于10% or 网卡最大速率小于10kb/s)  统计最近14天</h5>
        </div>

        <div class="panel-body flowline">
            <div class="pt20" style="overflow: auto;">
                <table ng-table="monitornodelow.groupTable" class="table table-scroll table-hover text-center table-condensed" show-filter="true">
                    <tr ng-repeat="m in $data">
                        <td data-title="'编号'"   sortable="'id'"    >{{m.id}}</td>
                        <td data-title="'主机名'" sortable="'name'" filter="{ name: 'text'}" >{{m.name}}</td>
                        <td data-title="'内网IP'" sortable="'inip'"  >{{m.inip}}</td>
                        <td data-title="'外网IP'" sortable="'exip'"  >{{m.exip}}</td>
                        <td data-title="'资源类型'" sortable="'type'">{{m.type}}</td>
                        <td data-title="'状态'" sortable="'status'" filter="{ status: 'text'}" >
                            <a ng-if="m.status=='low'" style="color: red" >{{m.status}}<a>
                            <a ng-if="m.status!='low'" >{{m.status}}<a>
                        </td>
                        <td data-title="'低利用率天数/14天'" sortable="'lowcnt'">{{m.lowcnt}}</td>
                        <td data-title="'CPU(%)'"            sortable="'cpu'"   >{{m.cpu}}</td>
                        <td data-title="'内存(%)'"           sortable="'mem'"   >{{m.mem}}</td>
                        <td data-title="'下载带宽(kb/s)'"    sortable="'netin'" >{{m.netin}}</td>
                        <td data-title="'上传带宽(kb/s)'"    sortable="'netout'">{{m.netout}}</td>
                        <td data-title="'最后统计日期'"      sortable="'date'"  >{{m.date}}</td>
                        <td class="textcenter"  data-title="'操作'">
                            <nobr>
                                <i class="fa fa-search fa-2x" aria-hidden="true" ng-click="monitornodelow.showDetail(m.inip)" uib-tooltip="详情" style="cursor:pointer;color: #339094;" ></i>
                            </nobr>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</div>
