.monitor-panel {
  padding-left: 0;
}
.monitor-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.monitor-item-class {
  flex-basis: 20%; /* 将每个项的基础宽度设置为 20% */
  margin: 0 10px;
  &:first-child {
    margin-left: 0; /* 第一个元素的左边距为 0 */
  }
  &:last-child {
    margin-right: 0; /* 最后一个元素的右边距为 0 */
  }
}

.monitor-nodeflow-card {
  height: 200px;
  box-shadow: -2px 0 10px 3px rgba(0, 0, 0, .1);
  cursor: pointer;
  &-description {
    font-size: 12px;
    text-indent: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}

.monitor-nodeflow-common {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  &-body {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    cursor:pointer; 
    display: flex;
    align-items: center;
    justify-content: center;
    span {
      line-height: normal;
      margin-bottom: 20px;
    }
  }
}


.mark-color {
  background-color: green !important;
  color: #FFFFFF;
}

.mark-icon-color {
  color: #FFFFFF !important;
  cursor: pointer
}

.owner-mark {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.owner-text {
  min-width: 80px;
}

.owner-mark-button {
  margin-left: 5px;
  font-size: 12px;
  padding: 3px;
}

.owner-mark-button:active {
  outline: none !important;
  box-shadow: none !important;
}

.owner-mark-button:focus {
  outline: none !important;
}

.owner-mark-button:focus-visible {
  outline: none !important;
}

.mark-select {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.ui-select-bootstrap>.ui-select-choices,
.ui-select-bootstrap>.ui-select-no-choice {
  width: 100%;
  height: auto;
  overflow-x: hidden;
  margin-top: -1px;
  max-height: 400px !important;
}

.ui-select-bootstrap>.ui-select-match>.form-control {
  width: 100%;
  min-width: 100px;
}

.tab-set {
  margin-top: 20px;
}

.tab-heading {
  display: flex;
  justify-content: center;
  align-items: center;

  &-text {
    vertical-align: middle;
  }

  &-icon {
    margin-left: 10px;
    cursor: pointer;
  }
}

.tab-content {
  margin-top: 30px;
}

.card-active-class {
  border: 1px solid blue;
}

.line-feed {
  word-break: break-all;
}

.service-tree-text {
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}