<div class="modal-header">
    <h4  class="modal-title">{{'C3T.构建文件'|translate}}</h4>
</div>
<div>
    <div class="panel-tabs" style="width: 100%">
        <table class="table table-hover text-center table-condensed">
            <thead>
            <tr>
                <th style="text-align: center;">{{'C3T.构建ID(流水线ID)'|translate}}</th>
                <th ng-if="!fileci" style="text-align: center;">{{'C3T.版本'|translate}}</th>
            </tr>
            </thead>
            <tr>
                <td ><input type="text" class="form-control input-global" ng-model="ciData.ci" ></td>
                <td ><input type="text" class="form-control input-global" ng-model="ciData.version" ></td>

            </tr>
        </table>
    </div>
    <div class="row">
        <div class="col-sm-5 form-group pull-right">
            <button class="btn btn-primary" ng-disabled="addForm.$invalid" ng-click="choicevar.chioceover()">{{'C3T.确认'|translate}}</button>
            <button class="btn btn-warning" ng-click="choicevar.cancel()">{{'C3T.取消'|translate}}</button>
        </div>
    </div>

</div>

