<div>
    <nodestr></nodestr>
    <hr class="mv20 clear">

    <div class="panel panel-primary">

        <div class="panel-heading">
            <h5>{{'C3T.查询条件'|translate}}</h5>
        </div>

        <div class="panel-body">
            <div class="form-horizontal">

                <form class="form-inline" name="searchForm" novalidate>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="form-group col-sm-4" style="padding: 0">
                                <label style="float: left;line-height: 34px;min-width: 90px;text-align: right;">{{'C3T.账户名称'|translate}}：</label>
                                <input type="text" class="form-control"  ng-model="user.username" placeholder="账户关键字">
                            </div>
                            <div class="form-group col-sm-4" style="padding: 0">
                                <label style="float: left;line-height: 34px;min-width: 90px;text-align: right;">{{'C3T.创建人'|translate}}：</label>
                                <input type="text" class="form-control" ng-model="user.createuser" placeholder="创建人全称">
                                <button type="submit" class="btn btn-default" ng-click="user.getMe()">{{'C3T.我'|translate}}</button>
                            </div>
                        </div>

                        <div class="row" style="margin-top: 23px">
                            <div class="form-group col-sm-6" style="padding: 0">
                                <label style="float: left;line-height: 34px;min-width: 90px;text-align: right;">{{'C3T.创建时间'|translate}}：</label>
                                <div style="width: 30%" class='input-group date' id='createstart'>
                                    <input type='text' class="form-control"  ng-model="user.createStart" placeholder="开始时间"/>
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>

                                <span style="margin: 0 5px;">-</span>

                                <div style="width: 30%" class='input-group date' id='createend'>
                                    <input type='text' class="form-control" ng-model="user.createEnd" placeholder="结束时间"/>
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                    <hr class="mv20 clear" style="margin-top: 55px!important;">
                    <div class="col-md-10">
                        <button class="btn btn-primary" ng-click="user.reload()">
                            <i class="fa fa-search fa-fw"></i>{{'C3T.查询'|translate}}
                        </button>
                        <button class="btn btn-success" ng-click="user.Reset()">
                            <i class="fa fa-refresh fa-fw"></i>{{'C3T.重置'|translate}}
                        </button>
                    </div>

                </div>
        </div>
    </div>
    </div>

    <div>
        <div style="float: right;">
            <form class="form-inline" name="myForm" novalidate>

                <div class="form-group" ng-init="newUser=''">
                    <input type="text" class="form-control" ng-model="newUser"  placeholder="新建账户名" required>
                    <span></span>
                </div>
                <button type="submit" class="btn btn-primary" ng-disabled="myForm.$invalid" ng-click="user.createUser()"><i class="fa fa-user-circle-o fa-lg" aria-hidden="true"></i>{{'C3T.新建账户'|translate}}</button>
            </form>
        </div>
        <div style="clear: both;">&nbsp;</div>
    </div>
    <div class="panel panel-dark">

        <div class="panel-heading">
            <span class="panel-controls">
                <button class="btn btn-dark" uib-tooltip="刷新" ng-click="user.reload()" ><i class="fa fa-refresh fa-fw" ng-class="{'fa-spin':!user.loadover}" ></i></button>
            </span>
            <h5>{{'C3T.账户信息'|translate}}</h5>
        </div>

        <div class="panel-body">
            <div class="panel-tabs">

            <table ng-table="user.user_Table" class="table table-hover text-center table-condensed">
                <tr ng-repeat="ss in $data">
                    <td data-title="'C3T.账户名'|translate" >{{ss.username}}</td>
                    <td data-title="'C3T.创建人'|translate">{{ss.create_user}}</td>
                    <td data-title="'C3T.创建时间'|translate">{{ss.create_time}}</td>
                    <td data-title="'C3T.操作'|translate">
                        <button class="btn btn-primary btn-sm" ng-disabled="ss.projectid == 0 && user.treeid != 0" ng-click="user.delete(ss.id)">{{'C3T.删除'|translate}}</button>
                    </td>
                </tr>
            </table>
            </div>
        </div>
    </div>

