---
name: SQL操作
option:
  - name: database_addr
    describe: 数据库地址
    type: input
    value: ""
  - name: database_name
    describe: 数据库名称
    type: input
    value: ""
  - name: database_owner
    describe: 数据库所属人
    type: input
    value: ""
  - name: sql
    describe: SQL语句
    type: text
    value: ""
  - name: note
    describe: 申请理由
    type: text
    value: ""

template_argv:
  title:    "BPM/${_bpmuuid_}/SQL操作"
  content:  |
    BPM标题: SQL操作
    BPM地址: ${_caseurl_}

    数据库地址: ${database_addr}
    数据库名称: ${database_name}
    数据库所属人: ${database_owner}
    SQL语句: base64__${sql__base64}__base64
    申请理由: ${note}
