<div>

    <div class="row" style="padding: 0 20px 0;">
        <nodestr></nodestr>
    </div>

    <hr class="mv10 clear">

    <div class="panel"  ng-hide="saveHide">

        <div class="panel-heading">
            <h5 ng-if="!businessjobedit.copyjob">{{'C3T.编辑作业'|translate}}</h5>
            <h5 ng-if="businessjobedit.copyjob">{{'C3T.克隆作业'|translate}}</h5>
        </div>

        <div class="panel-body">

            <div class="form-horizontal">

                <form class="form-inline" name="searchForm" novalidate>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="form-group col-sm-10" style="padding: 0">
                                <label style="float: left;line-height: 34px;min-width: 90px;text-align: right;" for="jobName">{{'C3T.作业名称'|translate}}：</label>
                                <input type="text" id="jobName" class="form-control" style="width: 50%"  ng-model="newjobname" >
                                <button class="btn btn-default" style="margin-left: 20%; font-size: 14px" ng-click="businessjobedit.hideGlobalVar()">
                                    {{'C3T.全局变量设置'|translate}}
                                </button>
                                <button ng-show="businessjobedit.copyjob" class="btn btn-default" style="font-size: 14px;margin-right: 3px" ng-click="businessjobedit.cloneToNode()">
                                    {{'C3T.克隆至目标节点'|translate}}
                                </button>
                            </div>
                        </div>
                        <div class="row" ng-show="businessjobedit.hashCloneNodes" style="padding-top: 10px;">
                            <div class="form-group col-sm-10" style="padding: 0">
                                <div class="panel-tabs">
                                    <label style="float: left;line-height: 29px;min-width: 90px;text-align: right;" for="jobName">{{'C3T.克隆节点'|translate}}：</label>
                                    <table class="table-hover text-center table-condensed">
                                        <tbody>
                                        <tr style="font-weight: bold;font-size: 14px;color: red">
                                            <td ng-repeat="(n, node) in businessjobedit.hashCloneNodes">
                                                {{node.name}}
                                            </td>
                                        </tr>
                                        </tbody>

                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
    {{ businessjobedit.vartoken }}
    <div class="panel panel-default" ng-hide="globalVar">
        <div class="panel-heading">
            <h5>{{'C3T.全局变量参数'|translate}}</h5>
        </div>
        <div class="panel-body" style="padding: 10px">
            <div class="panel-tabs">
                <table class="table table-hover text-center table-condensed">
                    <!--<table class="table table-hover text-center table-condensed">-->
                    <thead>
                    <tr>
                        <th style="text-align: center;">{{'C3T.变量名称'|translate}}</th>
                        <th style="text-align: center;">{{'C3T.变量默认值'|translate}}</th>
                        <th style="text-align: center;">{{'C3T.变量描述'|translate}}</th>
                        <th style="text-align: center;">{{'C3T.选项'|translate}}</th>
                        <th style="text-align: center;">{{'C3T.操作'|translate}}</th>
                    </tr>
                    </thead>
                    <tr ng-repeat="ss in businessjobedit.allVar">
                        <td ><input type="text" class="form-control input-global" ng-model="ss.name" ng-readonly="ss.id"></td>
                        <td ><input type="text" class="form-control input-global" ng-model="ss.value" ></td>
                        <td ><input type="text" class="form-control input-global" ng-model="ss.describe" ></td>
                        <td ><input type="text" class="form-control input-global" ng-model="ss.option" ></td>
                        <td >
                            <button class="btn btn-danger btn-sm" ng-click="businessjobedit.delVar($index, ss)">{{'C3T.删除'|translate}}</button>
                            <button class="btn btn-info btn-sm" ng-click="businessjobedit.getVarToken(ss.name, ss.option)">{{'C3T.获取更新链接'|translate}}</button>
                        </td>
                    </tr>
                </table>
                <button class="btn btn-primary col-sm-1" style="width: 5%;padding: 6px 12px" uib-tooltip="{{'C3T.添加变量'|translate}}" ng-click="businessjobedit.addVar()"><i class="fa fa-plus"></i></button>
            </div>
        </div>
    </div>
    <div style="margin-bottom: 15px;"  ng-hide="saveHide" ng-init='openc3_job_system_only=0'>
        <button class="btn btn-success " ng-click="businessjobedit.createScriptJob()">
            <i class="glyphicon glyphicon-copy"></i> {{'C3T.添加脚本步骤'|translate}}</button>
        <button class="btn btn-primary file-dist" ng-click="businessjobedit.createScpJob()">
            <i class="glyphicon glyphicon-file"></i> {{'C3T.添加分发文件步骤'|translate}}</button>

        <button class="btn btn-primary" ng-if="openc3_job_system_only==0" ng-click="businessjobedit.createApprovalJob()">
            <i class="fa fa-id-card"></i> {{'C3T.添加审批步骤'|translate}}</button>
    </div>

    <div ng-repeat="item in businessjobedit.allNewJob" ng-init='openc3_job_system_only=0'>
        <div ng-if="item.plugin_type == 'cmd'" class="panel panel-success">
            <div style="padding: 2px">
                <strong style="font-size: 15px">{{'C3T.步骤'|translate}}.{{$index+1}}</strong>
                <button class="btn btn-success btn-xs" ng-click="businessjobedit.createScriptJob($index)" ng-hide="saveHide"><i class="fa fa-plus"></i>{{'C3T.脚本'|translate}}</button>
                <button class="btn btn-primary btn-xs file-dist" ng-click="businessjobedit.createScpJob($index)" ng-hide="saveHide"><i class="fa fa-plus"></i>{{'C3T.文件'|translate}}</button>
                <button class="btn btn-primary btn-xs" ng-if="openc3_job_system_only==0" ng-click="businessjobedit.createApprovalJob($index)" ng-hide="saveHide"><i class="fa fa-plus"></i>{{'C3T.审批'|translate}}</button>
            </div>
            <div class="panel-heading">
                <h5>{{'C3T.脚本作业'|translate}}

                    <span ng-if="item.batches==='firsttime'" style="color: gray" >[{{'C3T.仅第一组'|translate}}]</span>
                    <span ng-if="item.batches==='thelasttime'" style="color: gray" >[{{'C3T.仅最后一组'|translate}}]</span>
                    <span ng-if="item.batches==='notfirsttime'" style="color: gray" >[{{'C3T.非第一组'|translate}}]</span>
                    <span ng-if="item.batches==='notthelasttime'" style="color: gray" >[{{'C3T.非最后一组'|translate}}]</span>
                    <span ng-if="item.deployenv==='test'" style="color: gray" >[{{'C3T.仅测试'|translate}}]</span>
                    <span ng-if="item.deployenv==='online'" style="color: gray" >[{{'C3T.仅线上'|translate}}]</span>
                    <span ng-if="item.action==='deploy'" style="color: gray" >[{{'C3T.仅发布'|translate}}]</span>
                    <span ng-if="item.action==='rollback'" style="color: gray">[{{'C3T.仅回滚'|translate}}]</span>

                </h5>
            </div>
            <div class="panel-body" style="padding: 10px">
                <div class="panel-tabs">
                    <table class="table table-hover text-center table-condensed" style="margin-bottom: 0">
                        <!--<table class="table table-hover text-center table-condensed">-->
                        <thead>
                            <tr>
                                <th style="text-align: center;">{{'C3T.作业名称'|translate}}</th>
                                <th style="text-align: center;">{{'C3T.执行账户'|translate}}</th>
                                <th style="text-align: center;">{{'C3T.服务器类型'|translate}}</th>
                                <th style="text-align: center;">{{'C3T.脚本参数'|translate}}</th>
                                <th style="text-align: center;width: 20%;">{{'C3T.操作'|translate}}</th>
                            </tr>
                        </thead>
                        <tr>
                            <td width="200" class="line-feed">{{item.name}}</td>
                            <td width="300" class="line-feed">{{item.user}}</td>
                            <td width="300" class="line-feed">{{item.node_type}}</td>
                            <td width="400" class="line-feed">{{item.scripts_argv}}</td>
                            <td width="200" class="line-feed" style="width: 20%;">
                                <button class="btn btn-info btn-sm" ng-hide="saveHide" ng-click="businessjobedit.copyScript($index)">{{'C3T.复制'|translate}}</button>
                                <button class="btn btn-warning btn-sm" ng-hide="saveHide" ng-click="businessjobedit.editScript($index)">{{'C3T.编辑'|translate}}</button>
                                <button class="btn btn-danger btn-sm" ng-hide="saveHide" ng-click="businessjobedit.deljobdata($index)">{{'C3T.删除'|translate}}</button>
                                <button class="btn btn-danger btn-sm" ng-hide="saveHide" ng-click="businessjobedit.up($index)"><i class="fa fa-arrow-up"></i></button>
                                <button class="btn btn-danger btn-sm" ng-hide="saveHide" ng-click="businessjobedit.down($index)"><i class="fa fa-arrow-down"></i></button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div ng-if="item.plugin_type == 'scp'" class="panel panel-primary">
            <div style="padding: 1px">
                <strong style="font-size: 15px">{{'C3T.步骤'|translate}}.{{$index+1}}</strong>
                <button class="btn btn-success btn-xs" ng-click="businessjobedit.createScriptJob($index)" ng-hide="saveHide"><i class="fa fa-plus"></i>{{'C3T.脚本'|translate}}</button>
                <button class="btn btn-primary btn-xs file-dist" ng-click="businessjobedit.createScpJob($index)" ng-hide="saveHide"><i class="fa fa-plus"></i>{{'C3T.文件'|translate}}</button>
                <button class="btn btn-primary btn-xs" ng-click="businessjobedit.createApprovalJob($index)" ng-hide="saveHide"><i class="fa fa-plus"></i>{{'C3T.审批'|translate}}</button>
            </div>
            <div class="panel-heading file-dist">
                <h5>{{'C3T.文件作业'|translate}}

                    <span ng-if="item.batches==='firsttime'" style="color: gray" >[{{'C3T.仅第一组'|translate}}]</span>
                    <span ng-if="item.batches==='thelasttime'" style="color: gray" >[{{'C3T.仅最后一组'|translate}}]</span>
                    <span ng-if="item.batches==='notfirsttime'" style="color: gray" >[{{'C3T.非第一组'|translate}}]</span>
                    <span ng-if="item.batches==='notthelasttime'" style="color: gray" >[{{'C3T.非最后一组'|translate}}]</span>
                    <span ng-if="item.deployenv==='test'" style="color: gray" >[{{'C3T.仅测试'|translate}}]</span>
                    <span ng-if="item.deployenv==='online'" style="color: gray" >[{{'C3T.仅线上'|translate}}]</span>
                    <span ng-if="item.action==='deploy'" style="color: gray" >[{{'C3T.仅发布'|translate}}]</span>
                    <span ng-if="item.action==='rollback'" style="color: gray">[{{'C3T.仅回滚'|translate}}]</span>

                </h5>
            </div>
            <div class="panel-body"  style="padding: 10px">
                <div class="panel-tabs">
                    <table class="table table-hover text-center table-condensed" style="margin-bottom: 0;width: 100%">
                        <thead>
                            <tr>
                                <th style="text-align: center;">{{'C3T.作业名称'|translate}}</th>
                                <th style="text-align: center;">{{'C3T.执行账户'|translate}}</th>
                                <th style="text-align: center;max-width:600px;">{{'C3T.目标服务器'|translate}}</th>
                                <th style="text-align: center;">{{'C3T.目标路径'|translate}}</th>
                                <th style="text-align: center;width: 20%;">{{'C3T.操作'|translate}}</th>
                            </tr>
                        </thead>
                        <!--<table class="table table-hover text-center table-condensed">-->
                        <tbody>
                            <tr>
                                <td width="200" class="line-feed">{{item.name}}</td>
                                <td width="300" class="line-feed">{{item.user}}</td>
                                <td width="300" class="line-feed" style="max-width:600px;">{{item.dst}}</td>
                                <td width="400" class="line-feed">{{item.dp}}</td>
                                <td width="200" class="line-feed" style="width: 20%;">
                                    <button class="btn btn-info btn-sm" ng-hide="saveHide" ng-click="businessjobedit.copyScp($index)">{{'C3T.复制'|translate}}</button>
                                    <button class="btn btn-warning btn-sm" ng-hide="saveHide" ng-click="businessjobedit.editScp($index)">{{'C3T.编辑'|translate}}</button>
                                    <button class="btn btn-danger btn-sm" ng-hide="saveHide" ng-click="businessjobedit.deljobdata($index)">{{'C3T.删除'|translate}}</button>
                                    <button class="btn btn-danger btn-sm" ng-hide="saveHide" ng-click="businessjobedit.up($index)"><i class="fa fa-arrow-up"></i></button>
                                    <button class="btn btn-danger btn-sm" ng-hide="saveHide" ng-click="businessjobedit.down($index)"><i class="fa fa-arrow-down"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div ng-if="item.plugin_type == 'approval'" class="panel panel-primary">
            <div style="padding: 1px">
                <strong style="font-size: 15px">{{'C3T.步骤'|translate}}.{{$index+1}}</strong>
                <button class="btn btn-success btn-xs" ng-click="businessjobedit.createScriptJob($index)" ng-hide="saveHide"><i class="fa fa-plus"></i>{{'C3T.脚本'|translate}}</button>
                <button class="btn btn-primary btn-xs file-dist" ng-click="businessjobedit.createScpJob($index)" ng-hide="saveHide"><i class="fa fa-plus"></i>{{'C3T.文件'|translate}}</button>
                <button class="btn btn-primary btn-xs" ng-click="businessjobedit.createApprovalJob($index)" ng-hide="saveHide"><i class="fa fa-plus"></i>{{'C3T.审批'|translate}}</button>
            </div>
            <div class="panel-heading">
                <h5>{{'C3T.审批作业'|translate}}

                    <span ng-if="item.batches==='firsttime'" style="color: gray" >[{{'C3T.仅第一组'|translate}}]</span>
                    <span ng-if="item.batches==='thelasttime'" style="color: gray" >[{{'C3T.仅最后一组'|translate}}]</span>
                    <span ng-if="item.batches==='notfirsttime'" style="color: gray" >[{{'C3T.非第一组'|translate}}]</span>
                    <span ng-if="item.batches==='notthelasttime'" style="color: gray" >[{{'C3T.非最后一组'|translate}}]</span>
                    <span ng-if="item.deployenv==='test'" style="color: gray" >[{{'C3T.仅测试'|translate}}]</span>
                    <span ng-if="item.deployenv==='online'" style="color: gray" >[{{'C3T.仅线上'|translate}}]</span>
                    <span ng-if="item.action==='deploy'" style="color: gray" >[{{'C3T.仅发布'|translate}}]</span>
                    <span ng-if="item.action==='rollback'" style="color: gray">[{{'C3T.仅回滚'|translate}}]</span>

                </h5>
            </div>
            <div class="panel-body"  style="padding: 10px">
                <div class="panel-tabs">
                    <table class="table table-hover text-center table-condensed" style="margin-bottom: 0;width: 100%">
                        <thead>
                            <tr>
                                <th style="text-align: center;">{{'C3T.作业名称'|translate}}</th>
                                <th style="text-align: center;">{{'C3T.审批人'|translate}}</th>
                                <th style="text-align: center;max-width:600px;">{{'C3T.审批内容'|translate}}</th>
                                <th style="text-align: center;width: 20%;">{{'C3T.操作'|translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td width="200" class="line-feed">{{item.name}}</td>
                                <td width="200" class="line-feed">{{item.approver}}</td>
                                <td width="300" class="line-feed" style="max-width:600px;">{{item.cont}}</td>
                                <td width="200" class="line-feed" style="width: 20%;">
                                    <button class="btn btn-info btn-sm" ng-hide="saveHide" ng-click="businessjobedit.copyApproval($index)">{{'C3T.复制'|translate}}</button>
                                    <button class="btn btn-warning btn-sm" ng-hide="saveHide" ng-click="businessjobedit.editApproval($index)">{{'C3T.编辑'|translate}}</button>
                                    <button class="btn btn-danger btn-sm" ng-hide="saveHide" ng-click="businessjobedit.deljobdata($index)">{{'C3T.删除'|translate}}</button>
                                    <button class="btn btn-danger btn-sm" ng-hide="saveHide" ng-click="businessjobedit.up($index)"><i class="fa fa-arrow-up"></i></button>
                                    <button class="btn btn-danger btn-sm" ng-hide="saveHide" ng-click="businessjobedit.down($index)"><i class="fa fa-arrow-down"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>



    </div>

    <hr class="mv10 clear">
    <div style="margin-bottom: 15px">
        <div style="margin-left: 40%;">

            <button ng-if="businessjobedit.copyjob" class="btn btn-warning" ng-click="businessjobedit.saveCloneData()">
                {{'C3T.克隆作业'|translate}}
            </button>
            <button ng-if="!businessjobedit.copyjob" class="btn btn-warning" ng-hide="saveHide" ng-click="businessjobedit.saveCreateData()">
                {{'C3T.保存作业'|translate}}
            </button>
            <button ng-if="!businessjobedit.copyjob" class="btn btn-danger"  ng-click="businessjobedit.runJob()" ng-disabled="saveOK">
                {{'C3T.立即执行'|translate}}
            </button>
        </div>
    </div>

</div>

<style>
.line-feed {
  word-break: break-all;
}
.file-dist {
  background-color:#4c40dd!important;
}
.file-dist:hover {
  background-color:#5d56aa!important;
}
</style>
