<div class="modal-header">
    <h4  class="modal-title">添加用户</h4>
</div>
<div class="modal-body">
    <form class="form-horizontal" name="addForm" role="form">
        <div class="row">
            <div class="col-sm-10 form-group">
                <label class="col-sm-3 control-label">账户名</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="adduser" placeholder="username" ng-minlength="2" ng-model="username" required>
                    <span style="color:red" ng-show="addForm.adduser.$error.minlength">不少于2字符</span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-5 form-group pull-right">
                <button class="btn btn-primary" ng-disabled="addForm.$invalid" ng-click="addUser.add()">确认</button>
                <button class="btn btn-warning" ng-click="addUser.cancel()">取消</button>
            </div>
        </div>
    </form>

</div>

