<div id="topbar">
    <div class="topbar-left">
        <ol class="breadcrumb">
            <li>
                <select class="form-control" ng-change="devicedata.reload()" ng-model="devicedata.selectedtimemachine" >
                    <option value="curr">current</option>
                    <option ng-repeat="t in devicedata.timemachine" value="{{t}}">{{t}}</option>
                </select>
            </li>
            <li>CMDB</li>
            <li>{{devicedata.nodeStr}}</li>
            <li>{{devicedata.type}}</li>
            <li>{{devicedata.subtype}}</li>
        </ol>
    </div>
</div>

<div class="page-content">

    <div class="panel panel-dark">

        <div class="panel-heading">
            <span class="panel-icon">
                <i class="fa fa-filter"></i>
            </span>
            <span class="panel-title">
                <strong>{{'C3T.过滤器'|translate}}</strong>
            </span>
        </div>

        <div class="panel-body">
             <form ng-submit="devicedata.reload()">
                  <div class="input-group input-hero input-hero-sm">
                      <span class="input-group-addon" style="padding-top: 4px">
                          <input  type="button"  ng-click="devicedata.chshowfilter(1)" value="{{'C3T.显示更多过滤器'|translate}}" class="btn-gradient red"   style="font-size: 12px;padding-top: 10px;padding-bottom: 10px" ng-hide="devicedata.showfilter">
                          <input  type="button"  ng-click="devicedata.chshowfilter(0)" value="{{'C3T.隐藏过滤器'|translate}}"     class="btn-gradient green" style="font-size: 12px;padding-top: 10px;padding-bottom: 10px" ng-show="devicedata.showfilter">
                          <i class="fa fa-search"></i>
                     </span>
                     <input ng-disabled="!devicedata.loadover" type="text" style="padding-left: 150px" class="form-control searchInput"  ng-model="devicedata.grepdata._search_" placeholder="Enter search terms..">
                      <span class="append-icon right fs18 pointer" ng-click="devicedata.grepdata._search_=''" ng-if="devicedata.grepdata._search_!=''">
                            <i class="fa fa-times"></i>
                     </span>
                 </div>
            </form>

            <form class="form-inline"> 
              <ui-select class="form-group" appendToBody="true" ng-model="devicedata.tablePageSize"
              ng-change="devicedata.pageSizeChange($select.selected.value)" ng-disabled="!devicedata.loadover">
              <ui-select-match><span class="item-label">{{$select.selected.label}}</span></ui-select-match>
              <ui-select-choices repeat="item.value as item in devicedata.tablePageSizeOption | filter: $select.search">
                <div ng-bind-html="item.label | highlight: devicedata.tablePageSizeOption"></div>
              </ui-select-choices>
                </ui-select>
                <div class="form-group" ng-repeat="f in devicedata.filtergrep"  style="padding-right: 10px;" >
                    <div class="form-filter-select">
                      <ui-select appendToBody="true" ng-model="devicedata.grepdata[f.name]" ng-change="devicedata.reload()"  ng-disabled="!devicedata.loadover">
                        <ui-select-match>
                           <span ng-if="$select.selected.count !== f.name" class="item-label"> {{($select.selected.name + '(' + $select.selected.count + ')') || f.alias }}</span>
                           <span ng-if="$select.selected.count === f.name" class="item-label">{{f.alias}}</span>
                          </ui-select-match>
                        <ui-select-choices repeat="item.name as item in devicedata.filterdata[f.name] | filter: $select.search">
                          <div ng-if="item.count !== f.name" ng-bind-html="item.name + '(' + item.count + ')'| highlight: devicedata.filterdata[f.name]"></div>
                          <div ng-if="item.count === f.name" ng-bind-html="f.alias | highlight: devicedata.filterdata[f.name]"></div>
                        </ui-select-choices>
                      </ui-select>
                    </div>
                </div>

                <div class="form-group"  style="padding-right: 10px;" >
                    <button class="btn btn-info" uib-tooltip="{{'C3T.重置查询条件'|translate}}" ng-click="devicedata.reset()">{{'C3T.重置'|translate}}</button>
                </div>
             </form> 
       </div>

    </div>

    <a ng-if="devicedata.pointout!=''" style="color: red">{{devicedata.pointout}}<a>
    <div class="service-tree-button-style" ng-if="devicedata.checkboxes.itemsNumber !== 0 ">
      <button class="btn btn-primary" uib-tooltip="{{'C3T.复制到服务树'|translate}}" ng-click="devicedata.handleServiceTree('copy')">{{'C3T.复制到'| translate}}</button>
      <button class="btn btn-primary" uib-tooltip="{{'C3T.移动到服务树'|translate}}"  ng-click="devicedata.handleServiceTree('move')">{{'C3T.移动到'| translate}}</button>
      <button class="btn btn-danger" uib-tooltip="{{'C3T.归还资源到资源池'|translate}}"  ng-click="devicedata.handleServiceTree('x')">{{'C3T.归还'| translate}}</button>
    </div>

    <div class="panel panel-border top">

        <div class="panel-heading panel-device-heading">
          <span class="panel-title">Total: {{devicedata.dataTable.total()}}</span>
          <div>
            <span class="panel-controls"><a ng-click="devicedata.reload()"><i class="fa fa-refresh" ng-class="{'fa-spin': !devicedata.loadover}"></i></a></span>
            <button ng-disabled="devicedata.tableData.length === 0 || devicedata.exportloadover" class="device-export" uib-tooltip="{{'C3T.导出'|translate}}" 
             ng-click="devicedata.downloadFunc(devicedata.type + '-' + devicedata.subtype + '-' + 'resource.xlsx')">
                <i class="fa fa-download fa-1x" aria-hidden="true"></i></i>
            </button>
          </div>
        </div>

        <div class="panel-body">

            <div class="loading-container" ng-if="!devicedata.loadover">
                <div class="loading">
                    <div class="l1">
                        <div></div>
                    </div>
                    <div class="l2">
                        <div></div>
                    </div>
                    <div class="l3">
                        <div></div>
                    </div>
                    <div class="l4">
                        <div></div>
                    </div>
                </div>
            </div>

            <div class="table-scroll" ng-if="devicedata.loadover">
                <table ng-table="devicedata.dataTable" class="table table-hover text-center table-condensed va-m">
                    <tr ng-repeat="m in $data" toggle-class="info">
                      <td header="'headerCheckbox.html'" data-title="">
                        <input type="checkbox" name="selected" ng-model="devicedata.checkboxes.items[m.uuid]" />
                      </td>
                        <td data-title="'#'">
                            <span>
                                {{ (devicedata.dataTable.page() - 1)*devicedata.dataTable.count() + $index + 1 }}
                            </span>
                        </td>
                        <td data-title="'C3T.资源类型'|translate">
                            <a ng-click="devicedata.showdetail( m.uuid, m.type, m.subtype )" style="cursor:pointer;color: #339094;" >{{m.subtype}}</a>
                        </td>
                        <td data-title="'C3T.基本信息'|translate">{{m.baseinfo}}</td>
                        <td data-title="'C3T.系统信息'|translate">
                            <a ng-if="m.match=='2'" style="color: green;" >{{m.system}}</a>
                            <a ng-if="m.match!='2'" >{{m.system}}</a>
                        </td>
                        <td data-title="'C3T.联系信息'|translate"><a uib-tooltip="{{m.contact}}" >{{m.contact |cut61}}</a></td>
                        <td data-title="'C3T.资源操作'|translate">
                            <div ng-repeat="c in m.control">
                                <a style="cursor:pointer;color: #339094;" ng-click="devicedata.show( m.uuid, m.type, m.subtype, c)" >{{'C3T.' + c.name|translate}} </a>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>

        </div>

    </div>

</div>

<script type="text/ng-template" id="headerCheckbox.html">
  <input type="checkbox" ng-model="devicedata.checkboxes.checked"  class="select-all"/>
</script>

<style lang="scss">
  .device-header {
    width: 100%;
  }
  .device-export {
    text-align: right;
    background-color: transparent;
    line-height: normal;
    border-color: transparent;
    padding: 12px;
  }
  .panel-device-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .form-filter-select {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0;
  }
  .ui-select-bootstrap > .ui-select-choices, .ui-select-bootstrap > .ui-select-no-choice {
    width: 100%;
    height: auto;
    overflow-x: hidden;
    margin-top: -1px;
    max-height: 400px!important;
  }
  .ui-select-bootstrap  >  .ui-select-match > .form-control {
    width: 100%;
    min-width: 100px;
  }
  .service-tree-button-style {
    display: inline-block;
    margin: 20px;
  }
</style>
