<div class="row block">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <span class="panel-controls">
                <button class="btn btn-primary" uib-tooltip="{{'C3T.刷新'|translate}}" ng-click="devicedatadetail.reload()" ><i class="fa fa-refresh fa-fw" ng-class="{'fa-spin':!devicedatadetail.loadover}" ></i></button>
                <button class="btn btn-primary" uib-tooltip="{{'C3T.关闭'|translate}}" ng-click="devicedatadetail.cancel()"><i class="fa fa-times" aria-hidden="true"></i></button>
            </span>
            <h5>{{ devicedatadetail.selectedtimemachine }} / {{ devicedatadetail.type }} / {{ devicedatadetail.subtype }} / {{ devicedatadetail.uuid }} </h5>
        </div>

        <div ng-show="devicedatadetail.selectedtimemachine != 'curr'" class="panel-body">
            <div class="pt20">
                <div>
                    <div class="form-group admin-form" ng-repeat="data in devicedatadetail.data" >
                        <div class="row" ng-repeat="d in data" >
                            <div >
                                <label class="col-md-4  control-label fwbold">{{d[0]|cut30}}</label>
                                <label class="col-md-8 control-label fwbold" >{{d[1]}}</label>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div ng-show="devicedatadetail.selectedtimemachine =='curr'" class="panel-body">
            <div class="pt20">
                <div>
                    <div class="form-group admin-form" ng-repeat="data in devicedatadetail.data" >
                        <div class="row" ng-repeat="d in data" >
                            <div ng-if="devicedatadetail.treenamecol!=d[0] && '_tree_'!=d[0] && '_mysqlauth_'!=d[0] && '_redisauth_'!=d[0] && '_mongodbauth_'!=d[0] && '_auth_'!=d[0] && ! devicedatadetail.extcol[d[0]]" >
                                <label class="col-md-4  control-label fwbold">{{d[0]|cut30}}</label>
                                <label class="col-md-8 control-label fwbold" >{{d[1]}}</label>
                            </div>
                            <div ng-if="devicedatadetail.treenamecol==d[0]">
                                <label class="col-md-4  control-label fwbold" >全量服务树</label>
                                <label class="col-md-8 control-label fwbold" >{{d[1]}}</label>
                            </div>
                            <div ng-if="'_tree_'==d[0]">
                                <label class="col-md-4  control-label fwbold" >内部服务树</label>
                                <div class="col-md-6"> <input class="form-control" ng-click="devicedatadetail.search_init()" typeahead="name for name in devicedatadetail.names.sort()|filter:$viewValue| limitTo:20" ng-model="d[1]" /> </div>
                                <a class="btn btn-system" ng-click="devicedatadetail.bindtree( d[1], '绑定服务树')">绑定</a>
                                <a class="btn btn-danger" ng-click="devicedatadetail.bindtree( 'x',  '归还资源到资源池' )">归还</a>
                            </div>
                            <div ng-if="devicedatadetail.extcol[d[0]]">
                                <label class="col-md-4  control-label fwbold" >{{devicedatadetail.extcol[d[0]].alias}}</label>
                                <div class="col-md-6" >
                                    <input ng-if="!devicedatadetail.extcol[d[0]].select" class="form-control" ng-model="d[1]" />
                                    <select ng-if="devicedatadetail.extcol[d[0]].select" class="form-control" ng-model="d[1]" >
                                        <option ng-repeat="t in devicedatadetail.extcol[d[0]].select" value="{{t}}">{{t}}</option>
                                    </select>
                                </div>
                                <a class="btn btn-system" ng-click="devicedatadetail.saveextcol( d[0], d[1])">保存</a>
                            </div>
 
                            <div ng-if="'_mysqlauth_'==d[0]">
                                <label class="col-md-4  control-label fwbold" >{{d[0]}}</label>
                                <div class="col-md-6"> <input class="form-control" ng-model="d[1]" /> </div>
                                <a class="btn btn-system" ng-click="devicedatadetail.chpasswd( data, '_mysqladdr_', 'mysql', d[1])">修改Mysql密码</a>
                            </div>
                            <div ng-if="'_redisauth_'==d[0]">
                                <label class="col-md-4  control-label fwbold" >{{d[0]}}</label>
                                <div class="col-md-6"> <input class="form-control" ng-model="d[1]" /> </div>
                                <a class="btn btn-system" ng-click="devicedatadetail.chpasswd( data, '_redisaddr_', 'redis', d[1])">修改Redis密码</a>
                            </div>
                            <div ng-if="'_mongodbauth_'==d[0]">
                                <label class="col-md-4  control-label fwbold" >{{d[0]}}</label>
                                <div class="col-md-6"> <input class="form-control" ng-model="d[1]" /> </div>
                                <a class="btn btn-system" ng-click="devicedatadetail.chpasswd( data, '_mongodbaddr_', 'mongodb', d[1])">修改MongoDB密码</a>
                            </div>
                            <div ng-if="'_auth_'==d[0]">
                                <label class="col-md-4  control-label fwbold" >登录账号</label>
                                <div class="col-md-6"> <input class="form-control" ng-model="d[1]" /> </div>
                                <a class="btn btn-system" ng-click="devicedatadetail.chauth( d[1])">修改账号</a>
                            </div>
 
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="panel-footer text-right">
            <button class="btn btn-warning" ng-click="devicedatadetail.cancel()">关闭</button>
        </div>

    </div>

</div>
