<div class="row block">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <span class="panel-controls">
                <button class="btn btn-primary" uib-tooltip="{{'C3T.刷新'|translate}}" ng-click="devicedatadetail.reload()" ><i class="fa fa-refresh fa-fw" ng-class="{'fa-spin':!devicedatadetail.loadover}" ></i></button>
                <button class="btn btn-primary" uib-tooltip="{{'C3T.关闭'|translate}}" ng-click="devicedatadetail.cancel()"><i class="fa fa-times" aria-hidden="true"></i></button>
            </span>
            <h5>{{ devicedatadetail.selectedtimemachine }} / {{ devicedatadetail.type }} / {{ devicedatadetail.subtype }} / {{ devicedatadetail.uuid }} </h5>
        </div>

        <div class="panel-body">
          <div class="pt20">
              <div>
                <div ng-repeat="infoItems in devicedatadetail.grpcol">
                <!-- 主要信息 -->
                <div ng-if="infoItems.baseinfo.length>0">
                  <div class="detail-card-header" ng-click="devicedatadetail.showFlag($index,'baseinfoFlag',infoItems.baseinfoFlag)">
                    <div class="detail-card-header-text">主要信息</div>
                    <div class="detail-card-header-button">
                      <div ng-if="!infoItems.baseinfoFlag" class="detail-card-header-button-top"></div>
                      <div ng-if="infoItems.baseinfoFlag" class="detail-card-header-button-bottom"></div>
                    </div>
                  </div>
                  <div ng-if="infoItems.baseinfoFlag" class="detail-card" ng-show="devicedatadetail">
                    <div  class="detail-card-content">
                      <div class="row" ng-repeat="item in infoItems.baseinfo">
                        <div class="label-content">
                          <label class="col-md-4  control-label fwbold overflow-wraps">
                            <div ng-if="item.color">
                              <div ng-style="{color: item.color}">{{item.name || cut30}}</div>
                            </div>
                            <div ng-if="!item.color">
                              {{item.name || cut30}}
                            </div>
                          </label>
                          <label class="col-md-8 control-label fwbold" >
                            <div ng-if="item.success">
                              <div ng-if="item.isSuccess" class="label-active">
                                {{item.value}}{{item.tail ? item.tail: ''}}
                              </div>
                              <div ng-if="!item.isSuccess" class="label-cancel">
                                {{item.value}}{{item.tail ? item.tail: ''}}
                              </div>
                            </div>
                            <div ng-if="!item.success">
                              {{item.value}}{{item.tail ? item.tail: ''}}
                            </div>
                          </label>
                      </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- 系统信息 -->
                <div ng-if="infoItems.system.length>0">
                  <div class="detail-card-header" ng-click="devicedatadetail.showFlag($index,'systemFlag',infoItems.systemFlag)">
                    <div class="detail-card-header-text">系统信息</div>
                    <div class="detail-card-header-button">
                      <div ng-if="!infoItems.systemFlag" class="detail-card-header-button-top"></div>
                      <div ng-if="infoItems.systemFlag" class="detail-card-header-button-bottom"></div>
                    </div>
                  </div>
                  <div ng-if="infoItems.systemFlag" class="detail-card" ng-show="infoItems">
                    <div class="detail-card-content">
                      <div class="row" ng-repeat="item in infoItems.system">
                        <div class="label-content">
                          <label class="col-md-4  control-label fwbold overflow-wraps">
                            <div ng-if="item.color">
                              <div ng-style="{color: item.color}">{{item.name || cut30}}</div>
                            </div>
                            <div ng-if="!item.color">
                              {{item.name || cut30}}
                            </div>
                          </label>
                          <label class="col-md-8 control-label fwbold" >
                            <div ng-if="item.success">
                              <div ng-if="item.isSuccess" class="label-active">
                                {{item.value}}{{item.tail ? item.tail: ''}}
                              </div>
                              <div ng-if="!item.isSuccess" class="label-cancel">
                                {{item.value}}{{item.tail ? item.tail: ''}}
                              </div>
                            </div>
                            <div ng-if="!item.success">
                              {{item.value}}{{item.tail ? item.tail: ''}}
                            </div>
                          </label>
                      </div>
                      </div>
                    </div>
                  </div>
                </div>
        
                <!-- 其他信息 -->
                <div class="detail-card-header" 
                     ng-click="devicedatadetail.showFlag($index,'otherinfoFlag',infoItems.otherinfoFlag)"
                     ng-if="infoItems.system.length>0 || infoItems.baseinfo.length>0">
                  <div class="detail-card-header-text">其他信息</div>
                  <div class="detail-card-header-button">
                    <div ng-if="!infoItems.otherinfoFlag" class="detail-card-header-button-top" ></div>
                    <div ng-if="infoItems.otherinfoFlag" class="detail-card-header-button-bottom"></div>
                  </div>
                </div>
        
                <div class="detail-card" ng-if="( infoItems.system.length===0 && infoItems.baseinfo.length===0 ) || infoItems.otherinfoFlag" ng-show="infoItems">
                  <div class="detail-card-content">
                    <div class="row" ng-repeat="item in infoItems.otherinfo">
                        <div ng-if="
                        devicedatadetail.treenamecol!=item[0]">
                          <div ng-if="devicedatadetail.treenamecol!==item[0]" class="label-content">
                            <label class="col-md-4  control-label fwbold overflow-wraps">
                              <div ng-if="item.color">
                                <div ng-style="{color: item.color}">{{item[0] || cut30}}</div>
                              </div>
                              <div ng-if="!item.color">
                                {{item[0] || cut30}}
                              </div>
                            </label>
                            <label class="col-md-8 control-label fwbold" >
                                {{item[1]}}
                            </label>
                        </div>
                        </div>
                    </div>
                  </div>
                </div>

                <!-- 操作 -->
                <div class="detail-card-header" 
                     ng-click="devicedatadetail.showFlag($index,'operationFlag',infoItems.operationFlag)"
                     ng-if="infoItems.system.length>0 || infoItems.baseinfo.length>0">
                  <div class="detail-card-header-text">操作</div>
                  <div class="detail-card-header-button">
                    <div ng-if="!infoItems.operationFlag" class="detail-card-header-button-top" ></div>
                    <div ng-if="infoItems.operationFlag" class="detail-card-header-button-bottom"></div>
                  </div>
                </div>
                <div ng-if="infoItems.operationFlag" class="detail-card" ng-show="devicedatadetail">
                  <div class="detail-card-content">
                    <div class="row" ng-repeat="item in infoItems.otherinfo">
                      <div>
                        <div ng-if="devicedatadetail.treenamecol===item[0]" class="label-content">
                          <label class="col-md-4  control-label fwbold" >全量服务树</label>
                          <label class="col-md-8 control-label fwbold" >
                            <div class="service-standard-tags" ng-repeat="cItem in item[1].split(',')">
                              {{cItem}}
                            </div>
                          </label>
                        </div>

                        <div ng-if="'_tree_'==item[0]">
                          <label class="col-md-4  control-label fwbold" >内部服务树</label>
                          <div class="col-md-6"> 
                            <ui-select multiple ng-model="item[2]">
                              <ui-select-match>{{$item}}</ui-select-match>
                              <ui-select-choices repeat="item in devicedatadetail.names.sort() | filter:$select.search">
                                {{item}}
                              </ui-select-choices>
                            </ui-select>
                          </div>
                          <a ng-show="devicedatadetail.selectedtimemachine =='curr'" class="btn btn-system" ng-click="devicedatadetail.bindtree( item[2], '绑定服务树')">绑定</a>
                          <a ng-show="devicedatadetail.selectedtimemachine =='curr'" class="btn btn-danger" ng-click="devicedatadetail.bindtree( 'x',  '归还资源到资源池' )">归还</a>
                        </div>

                        <div ng-if="devicedatadetail.extcol[item[0]]">
                          <label class="col-md-4  control-label fwbold" >{{devicedatadetail.extcol[item[0]].alias}}</label>
                          <div class="col-md-6" >
                              <input ng-if="!devicedatadetail.extcol[item[0]].select" class="form-control" ng-model="item[1]" />
                              <select ng-if="devicedatadetail.extcol[item[0]].select" class="form-control" ng-model="item[1]" >
                                  <option ng-repeat="t in devicedatadetail.extcol[item[0]].select" value="{{t}}">{{t}}</option>
                              </select>
                          </div>
                          <a ng-show="devicedatadetail.selectedtimemachine =='curr'" class="btn btn-system" ng-click="devicedatadetail.saveextcol( item[0], item[1])">保存</a>
                        </div>

                        <div ng-if="'_mysqlauth_'==item[0]">
                          <label class="col-md-4  control-label fwbold" >{{item[0]}}</label>
                          <div class="col-md-6"> <input class="form-control" ng-model="item[1]" /> </div>
                          <a ng-show="devicedatadetail.selectedtimemachine =='curr'" class="btn btn-system" ng-click="devicedatadetail.chpasswd( infoItems.otherinfo, '_mysqladdr_', 'mysql', item[1])">修改Mysql密码</a>
                        </div>

                        <div ng-if="'_redisauth_'==item[0]">
                          <label class="col-md-4  control-label fwbold" >{{item[0]}}</label>
                          <div class="col-md-6"> <input class="form-control" ng-model="item[1]" /> </div>
                          <a ng-show="devicedatadetail.selectedtimemachine =='curr'" class="btn btn-system" ng-click="devicedatadetail.chpasswd( infoItems.otherinfo, '_redisaddr_', 'redis', item[1])">修改Redis密码</a>
                        </div>

                        <div ng-if="'_mongodbauth_'==item[0]">
                          <label class="col-md-4  control-label fwbold" >{{item[0]}}</label>
                          <div class="col-md-6"> <input class="form-control" ng-model="item[1]" /> </div>
                          <a ng-show="devicedatadetail.selectedtimemachine =='curr'" class="btn btn-system" ng-click="devicedatadetail.chpasswd( infoItems.otherinfo, '_mongodbaddr_', 'mongodb', item[1])">修改MongoDB密码</a>
                        </div>

                        <div ng-if="'_auth_'==item[0]">
                          <label class="col-md-4  control-label fwbold" >登录账号/密码</label>
                          <div class="col-md-6"> <input class="form-control" ng-model="item[1]" /> </div>
                          <a ng-show="devicedatadetail.selectedtimemachine =='curr'" class="btn btn-system" ng-click="devicedatadetail.chauth( item[1])">修改账号</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div ng-if="devicedatadetail.grpcol.length > 1" class="infoItems-divider"></div>
              </div>
                </div>
          </div>
        
        </div>
        <div class="panel-footer text-right">
            <button class="btn btn-warning" ng-click="devicedatadetail.cancel()">关闭</button>
        </div>

    </div>

</div>
