.service-standard-tags {
  display: inline-block;
  border: 1px solid #e7e6e3;
  padding: 5px;
  border-radius: 4px;
  background-color: #e7e6e3;
  margin: 5px 5px 5px 0;
}

.detail-card {
  background-color:#f6f6f6;
  margin: 0px auto 20px;
  width: 95%;
  border-radius:0 0 8px 8px;
  padding: 12px 24px;
  color: rgba(0,0,0,.88);
  font-size: 14px;
  line-height: 1.5714285714285714;
  list-style: none;
  border: 1px solid #f0f0f0;
}

.detail-card-header {
  width: 95%;
  margin: 20px auto 0;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fafafa;
  position: relative;
  height: 40px;
  line-height: 36px;
  background: #fafafa;
  color: #666;
  font-size: 13px;
  font-weight: 600;
  border: 1px solid #e5e5e5;
  border-top: 1px solid black;
  border-top-width: 5px;
  border-radius: 5px 5px 0 0;
}

.detail-card-header-button {
  display: flex;
  align-items: center;
}

.detail-card-header-text {
  font-weight: 600;
  font-weight: 600;
  font-size: 16px;
  margin: 10px 0;
}

.detail-card-header-button-top {
  width: 12px;
  height: 12px;
  border-top: 3px solid black;
  border-right: 3px solid black;
  transform: rotate(45deg);
  cursor: pointer;
  outline: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-attachment: scroll;
}
.detail-card-header-button-bottom {
  width: 12px;
  height: 12px;
  border-top: 3px solid black;
  border-right: 3px solid black;
  transform: rotate(135deg);
  cursor: pointer;
  outline: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.detail-card-content {
  font-weight: normal;
}
.overflow-wraps {
  overflow-wrap: break-word;
}
.label-content {
  display: flex;
  align-items: center;
}
.label-active {
  color: green
}
.label-cancel {
  color: red
}