<div class="modal-header">
    <h4  class="modal-title">创建空白流水线</h4>
</div>
<div class="modal-body">
    <form class="form-horizontal" name="myForm" role="form">
        <div class="row">
            <div class="col-sm-10 form-group">
                <label class="col-sm-3 control-label">流水线名称</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="adduser" placeholder="流水线名" ng-model="projectname" required>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-5 form-group pull-right">
                <button class="btn btn-primary" ng-disabled="myForm.$invalid" ng-click="createProject.add()">确认</button>
                <button class="btn btn-warning" ng-click="createProject.cancel()">取消</button>
            </div>
        </div>
    </form>
</div>

