<div class="modal-header">
	<h4 class="modal-title">{{'C3T.修改服务树属性'| translate}}:{{cmdbsearchDialogTreeAttr.attrname}}</h4>
</div>
<div class="modal-body">
  <form class="form-horizontal" name="myForm" role="form">
    <div class="row">
      <div class="col-sm-10 form-group">

        <div class="col-sm-3">
        </div>
        <div class="col-sm-6">
          <input type="text" class="form-control" placeholder="{{'C3T.内容'|translate}}" ng-model="cmdbsearchDialogTreeAttr.value">
        </div>
        <div class="col-sm-3">
            <button ng-click="cmdbsearchDialogTreeAttr.save()" class="btn btn-info menu-panel-form-button" style="padding: 5px 55px"><i class="fa fa-save fa-lg" aria-hidden="true"></i>{{'C3T.保存'|translate}}</button>
        </div>
      </div>
    </div>


     <hr>
     <div class="row">
       <div class="col-sm-5 form-group pull-right">
         <button class="btn btn-warning" ng-click="cmdbsearchDialogTreeAttr.cancel()">{{'C3T.取消'|translate}}</button>
       </div>
     </div>

  </form>
</div>
