<cmloading ng-if="!devicemenu.loadover"></cmloading>
<div id="topbar">
    <div class="topbar-left">
        <ol class="breadcrumb">
            <li>
                <select class="form-control" ng-change="devicemenu.reload()" ng-model="devicemenu.selectedtimemachine" >
                    <option value="curr">current</option>
                    <option ng-repeat="t in devicemenu.timemachine" value="{{t}}">{{t}}</option>
                </select>
            </li>
            <li>CMDB</li>
            <li>{{devicemenu.nodeStr}}</li>
        </ol>
    </div>
</div>

    <div>
        <div style="float: left;">
            <form class="form-inline" name="myForm" novalidate>
                <button type="submit" class="btn btn-primary" style="padding: 10px 25px" ng-click="devicemenu.gotosubtype('all','all')"> <i class="fa fa-search fa-lg" aria-hidden="true"></i>{{'C3T.全局搜索'|translate}}</button>
            </form>
        </div>
        <div style="float: right;">
            <form class="form-inline" name="myForm" novalidate>
                <button type="submit" class="btn btn-info" style="padding: 10px 25px" ng-click="devicemenu.openNewWindow('c3_cmdb_resources_count', 0 )">{{'C3T.数量'|translate}}</button>
                <button type="submit" class="btn btn-info" style="padding: 10px 25px" ng-click="devicemenu.openNewWindow('c3_cmdb_sync_usetime',    0 )">{{'C3T.耗时'|translate}}</button>
                <button type="submit" class="btn btn-info" style="padding: 10px 25px" ng-click="devicemenu.openNewWindow('c3_cmdb_resources_mtime', 1 )">{{'C3T.过期'|translate}}</button>
            </form>
        </div>
        <div style="clear: both;">&nbsp;</div>
    </div>

<div class="page-content">

    <div ng-repeat="type in [ [ 'compute', 'C3T.计算资源' ], [ 'networking', 'C3T.网络' ], [ 'storage', 'C3T.存储' ], [ 'database','C3T.数据库' ], [ 'domain', 'C3T.域名' ], [ 'others', 'C3T.其他'] ]">
        <div class="panel panel-border top">
            <div class="panel-heading">
                <span class="panel-title">{{type[1]|translate}}</span>
            </div>
            <div class="panel-body">

                <table  class="table table-hover text-left table-condensed va-m" style="font-size: 20px" >
                    <tr ng-repeat="row in devicemenu.menu[type[0]]" toggle-class="info">
                        <td data-title="'基本信息'" ng-repeat="m in row"  >
                          <div ng-if="m[0]" >
                            <img ng-if="m[0]==='qcloud'" src="/assets/images/QCloud.jpeg" style="width: 42px;"/>
                            <img ng-if="m[0]==='aws'"    src="/assets/images/AWS.jpeg"    style="width: 42px;"/>
                            <img ng-if="m[0]==='aliyun'" src="/assets/images/AliYun.jpeg" style="width: 52px;"/>
                            <img ng-if="m[0]==='ksyun'"  src="/assets/images/KSYun.jpeg"  style="width: 52px;"/>
                            <img ng-if="m[0]==='google'" src="/assets/images/GCP.jpeg"    style="width: 22px;"/>
                            <img ng-if="m[0]==='huawei'" src="/assets/images/huawei.jpeg" style="width: 26px;"/>

                            <a ng-if="   m[0] === 'qcloud' || m[0] === 'aws' || m[0] === 'aliyun' || m[0] === 'ksyun' || m[0] === 'google' || m[0] === 'huawei' "  ng-click="devicemenu.gotosubtype(type[0],m[1])" style="cursor:pointer;color: #339094;"> {{m[3]}}({{m[2]}}) </a>
                            <a ng-if="!( m[0] === 'qcloud' || m[0] === 'aws' || m[0] === 'aliyun' || m[0] === 'ksyun' || m[0] === 'google' || m[0] === 'huawei' )" ng-click="devicemenu.gotosubtype(type[0],m[1])" style="cursor:pointer;color: #339094;"> {{m[1]}}({{m[2]}}) </a>

                          </div>
                        </td>
                    </tr>
                    <a ng-if="! devicemenu.menu[type[0]].length && devicemenu.loadover" > {{'C3T.无'|translate}} </a>
                </table>

            </div>

        </div>

    </div>
</div>
